﻿@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.WebApp.Areas.Configuration.Models
@using Smt.Atomic.WebApp.Areas.Configuration.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel
@{
    var yearModel = (FilterYearsViewModel) Model.EmptyListViewModel;
    var otherYears = yearModel.GetOtherYearsWithEntries();
    var message = string.Format(CalendarResources.EmptyCalendarMessageFormat, yearModel.CurrentYear);
}

<div class="empty-list-message">@message

@if (yearModel.CanCopyEntries())
{
    var separators = FormattingHelper.GetOrSeparators(otherYears.Count);

    <text>@CalendarResources.CloneEntriesFromMessageStart</text>
    for (var i = 0; i < otherYears.Count; i++)
    {
        var year = otherYears[i].Year;{
            
        }<text>@separators[i]</text><a href="#" onclick="Forms.submit('@Url.Action("CopyEntries", new { area = "Configuration", calendarId = yearModel.CalendarId, fromYear = year, toYear = yearModel.CurrentYear })')">@year</a>{
    }}<text>@CalendarResources.CloneEntriesFromMessageEnd</text>
}
</div>

