﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.EditDialogViewModel<Smt.Atomic.WebApp.Areas.GDPR.Models.MergeDataOwnerViewModel>

@using (Html.BeginCommonDialog(Model))
{
    using (Html.BeginForm("Merge", "DataOwner", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Bootstrap().EditorForModel(Model.Model, new HorizontalFormLayout())
    }
    if (Model.Alerts != null)
    {
        <div class="issue-list">
            @Html.Partial("_Alerts", Model.Alerts)
        </div>
    }
}
