.row {
    margin-bottom: 5px;
    margin-top: 5px;
}

.panel {
    margin-bottom: 0;
}

.panel-body {
    padding: 0;
}

.panel-footer .pagination {
    margin: 0;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-body .radio, .checkbox {
    display: inline-block;
    margin: 0;
    margin-left: 0;
}

.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0;
}

.col-xs-3 > label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.checkbox > label {
    padding-top: 3px;
}

.full-name {
    float: right;
    margin-left: 5px;
    padding-top: 3px;
}
