﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.ICardIndexRecordViewModel

<form method="POST" class="form-horizontal" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    @Html.AntiForgeryToken()
    @Html.Bootstrap().EditorForModel(Model.ViewModelRecord, new HorizontalFormLayout(), Model.AddFormCustomization)
</form>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@AtomicResources.AddButtonText" onclick="Feedback.submit(this);" form="main-form" data-hotkey="ctrl+return" />
                <input type="button" class="btn btn-default" value="@AtomicResources.CancelButtonText" onclick="Forms.redirect(Globals.parameters['MeetMe.AddFeedbackEmptyContextCancelUrl'])" data-hotkey="esc" />
            </div>
        </div>
    </div>
}
