﻿@using Smt.Atomic.WebApp.Resources

<div class="well well-lg">
    <p>@Html.Raw(AtomicResources.AboutAtomicTeamPrompt)</p>
    <ul>
        <li>Michał Czerwiński</li>
        <li>Robert Górecki</li>
        <li>Tomasz Perlak</li>
        <li>Grzegorz Wilczura</li>
    </ul>
</div>
