﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Business.Compensation.EmailModels.CompensationChangedNotificationEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    @{ var invoiceDate = Model.SuggestedInvoiceIssue.ToString("dd.MM.yyyy"); }
    <p>Hello @(Model.FullName),</p>
    <p>
        Your invoice value has been calculated.
        Please send your invoice directly to: <a href="mailto:invoices@smtsoftware.com">invoices@smtsoftware.com</a>.<br />
        Set the email title to <b>Invoice no <i>«your invoice number»</i>; Document date @invoiceDate</b>
    </p>
    <p>
        Please split your invoice into positions:
        <ol>
            @if (Model.ServicesTotal != default(decimal))
            {
                <li>Usługi informatyczne za @Model.SuggestedInvoiceIssue.ToString("MM/yyyy"): @Model.ServicesTotal.ToString("0.00") @Model.CurrencyIsoCode</li>
            }
            @if (Model.ExpensesTotal != default(decimal))
            {
                <li>Wydatki niezbędne do realizacji usług: @Model.ExpensesTotal.ToString("0.00") @Model.CurrencyIsoCode</li>
            }
        </ol>
    </p>
    <p>
        Remember to put total number of hours used for calculation (any of invoice fields: quantity, service description, remarks).
    </p>
    <p>
        Number of hours accepted for settlement: @Model.HoursAccepted.ToString("0.00")<br />
        Invoice net amount: @Model.CompensationTotal.ToString("0.00") @Model.CurrencyIsoCode<br />
        Invoice issue and sales date: @invoiceDate<br />
        Invoice should be issued for company:
    </p>
    <pre>@(Model.InvoiceInformation)</pre>
    @(Raw(EmailTemplateHelper.SharedSignature))

    <hr />
    <p style="font-size: smaller;">
        @foreach (var costItem in Model.CostItems)
        {
            <text>@NamingConventionHelper.ConvertPascalCaseToLabel(costItem.Group.GetDescriptionOrValue()) = @costItem.Value.ToString("0.00") @costItem.CurrencyIsoCode<br /></text>
        }
    </p>
</body>
</html>
