﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <p>Hello,</p>
    <p>Please find attached Report.xlsx for one of the intive Inc. employees.</p>
</body>
</html>
