﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Compensation.Dto.InvoiceStatusEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your invoice has been accepted</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <br />
    <div id="content">
        Hi @Model.EmployeeFullName,<br />
        Your <a href="@Model.InvoiceLink">invoice</a> has been accepted.<br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>