﻿@using Microsoft.Ajax.Utilities
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.Candidate
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var consents = (List<CandidateDataConsentViewModel>)Model.ControlModel;
    var generalConsent = consents.IsNullOrEmpty() ? null : consents.FirstOrDefault(c => c.ConsentType == DataConsentType.CandidateConsentGeneral);
}
@if (!consents.IsNullOrEmpty())
{
<div class="form-group">
    <label class="col-sm-2 col-vs-3 control-label">@CandidateResources.CurrentConsents</label>
    <div class="col-sm-10 col-vs-9 text-list">
        @if (generalConsent != null)
        {
            <span>
                @generalConsent.ConsentType.GetLocalizedDescription()
                @if (generalConsent.ExpiresOn.HasValue)
                {
                    @generalConsent.ExpiresOn.Value.ToShortDateString()
                }
                @if (!generalConsent.Scope.IsNullOrWhiteSpace())
                {
                    @generalConsent.Scope
                }
            </span>
        }
        else
        {
            foreach (var consent in consents)
            {
                <span class="list-row">
                    @consent.ConsentType.GetLocalizedDescription()
                    @if (consent.ExpiresOn.HasValue)
                    {
                        @consent.ExpiresOn.Value.ToShortDateString()
                    }
                    @if (!consent.Scope.IsNullOrWhiteSpace())
                    {
                        @consent.Scope
                    }
                </span>
            }
        }
    </div>
</div>
}