﻿@using Smt.Atomic.Presentation.Common.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var documentViewModel = (DocumentViewModel)Model.ControlModel;
}

@if (@documentViewModel != null)
{
    <div class="form-group">
        <label class="col-sm-2 col-vs-3 control-label">@documentViewModel.DocumentName</label>
        <div class="col-sm-10 col-vs-9">
            <div class="take-full-width">
                <button type="button" class="btn btn-default" onclick="Dialogs.showDialog({ actionUrl: '/Recruitment/CandidateFile/ViewFile?id=@(documentViewModel.DocumentId)' });"><i class="fa fa-file-text-o before-text" aria-hidden="true"></i>@CandidateResources.OpenButton</button>
            </div>
        </div>
    </div>
}