﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.Candidate
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var consents = (List<CandidateFileDetailsViewModel>)Model.ControlModel;
}
@if (!consents.IsNullOrEmpty())
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="grid-column-header">
                <span>
                    @CandidateFileResources.DocumentName
                </span>
            </th>
            <th class="grid-column-header">
                <span>
                    @CandidateFileResources.DocumentType
                </span>
            </th>
            <th class="grid-column-header">
                <span>
                    @CandidateFileResources.ModifiedOn
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var consent in consents)
        {
            <tr>
                <td>
                    <a href="#" onclick="Dialogs.showDialog({ actionUrl:'@(consent.DocumentUrl)' });"><i class="fa fa-file-text-o before-text" aria-hidden="true"></i>@consent.DocumentName</a>
                </td>
                <td>
                    @consent.DocumentType.GetLocalizedDescription()
                </td>
                <td class="date-column">
                    @consent.ModifiedOn.ToShortDateString()
                </td>
            </tr>
        }
        </tbody>
    </table>
}