﻿@using Smt.Atomic.WebApp.Areas.Recruitment.Helpers
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.Recruitment.Models.DocumentViewerViewModel
@{
    var documentModel = Model.Model;
    var downloadUrl = Url.Action("PerformDownload", "CandidateFile", new { area = "Recruitment", Id = documentModel.DocumentId });
}

@using (Html.BeginCommonDialog(Model))
{
    if (DocumentViewerHelper.IsViewerJsSupportedFormat(documentModel.DocumentName))
    {
        <iframe allowFullScreen="true" src="/Scripts/ViewerJS/#../..@downloadUrl" class="pdf-frame"></iframe>
    }
    else if (DocumentViewerHelper.IsImageSupportedFormat(documentModel.DocumentName))
    {
        <img src="@downloadUrl" class="img-frame" />
        <script>
            $('.img-frame').bind('contextmenu', function (e) {
                return false;
            });
        </script>
    }
    else
    {
        <div>
            @Html.Raw(DocumentViewerResources.UnsupportedFileType)
        </div>
    }
    <script>
        $("[data-button='download']").click(function () {
            DocumentViewer.showDownloadDialog('@Url.Action("Download", "CandidateFile", new { area = "Recruitment", Id = documentModel.DocumentId })')
        })
    </script>
}