﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.GDPR.Resources
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.Candidate
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var consents = (List<CandidateDataConsentViewModel>)Model.ControlModel;
}
@if (!consents.IsNullOrEmpty())
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="grid-column-header">
                <span>
                    @DataConsentResources.DataAdministrator
                </span>
            </th>
            <th class="grid-column-header">
                <span>
                    @DataConsentResources.DataConsentType
                </span>
            </th>
            <th class="grid-column-header">
                <span>
                    @DataConsentResources.Scope
                </span>
            </th>
            <th class="grid-column-header">
                <span>
                    @DataConsentResources.ExpiresOn
                </span>
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var consent in consents)
        {
            <tr>
                <td>
                    @consent.DataAdministrator
                </td>
                <td>
                    @consent.ConsentType.GetLocalizedDescription()
                </td>
                <td>
                    @consent.Scope
                </td>
                <td class="date-column">
                    @if (consent.ExpiresOn.HasValue)
                    {
                        @consent.ExpiresOn.Value.ToShortDateString()
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}