﻿@using Microsoft.Ajax.Utilities
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.Candidate
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var contextViewModel = (CandidateViewModel)Model.ContextViewModel;
}
<div class="panel panel-default list-view-context">
    <div class="panel-body">
        <div><h2>@contextViewModel.ToString()</h2></div>
        <div>
            <span class="model-property">
                @if (!contextViewModel.EmailAddress.IsNullOrWhiteSpace())
                {
                    <span>@CandidateResources.EmailAddress: @contextViewModel.EmailAddress </span>
                }

                @if (!contextViewModel.OtherEmailAddress.IsNullOrWhiteSpace())
                {
                    <span>@CandidateResources.OtherEmailAddress: @contextViewModel.OtherEmailAddress </span>
                }

                @if (!contextViewModel.MobilePhone.IsNullOrWhiteSpace())
                {
                    <span>@CandidateResources.MobilePhone: @contextViewModel.MobilePhone </span>
                }

                @if (!contextViewModel.OtherPhone.IsNullOrWhiteSpace())
                {
                    <span>@CandidateResources.OtherPhone: @contextViewModel.OtherPhone </span>
                }

                @if (!contextViewModel.SkypeLogin.IsNullOrWhiteSpace())
                {
                    <span>@CandidateResources.SkypeLogin: @contextViewModel.SkypeLogin </span>
                }
            </span>
        </div>
    </div>
</div>