﻿@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var entries = new List<HistoryEntryViewModel>();

    if (Model.ControlModel != null)
    {
        entries = (List<HistoryEntryViewModel>)Model.ControlModel;
    }
}
<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed table-hover table-striped timeline-table" data-model="@Model.Name">
            <tbody>
                @foreach (var entry in entries)
                {
                    <tr>
                        <td>
                            <div class="timeline-item-header">
                                @entry.PerformedOn · @entry.PerformedByUserFullName
                            </div>
                            <div class="timeline-item-content">
                                <div class="pre">@entry.ActivityDescription</div>
                            </div>
                            @if (entry.SnapshotChanges.Any())
                            {
                                <div class="timeline-item-content">
                                    <table class="table table-condensed table-auto table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>@ActivityHistoryResources.FieldNameLabel</th>
                                                <th>@ActivityHistoryResources.BeforeLabel</th>
                                                <th>@ActivityHistoryResources.AfterLabel</th>
                                            </tr>
                                            @foreach (var change in entry.SnapshotChanges)
                                            {
                                                <tr>
                                                    <td>
                                                        @change.Key
                                                    </td>
                                                    <td>
                                                        @change.Value.Before
                                                    </td>
                                                    <td>
                                                        @change.Value.After
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
