﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var emailBody = (string)Model.ControlModel;
}
<div class="form-group">
    <div class="col-lg-12">
        <iframe class="email-body-frame" srcdoc="@emailBody"></iframe>
    </div>
</div>