﻿@using Smt.Atomic.Presentation.Common.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var documentsViewModel = (List<DocumentViewModel>)Model.ControlModel;
}

@if (documentsViewModel.Count != 0)
{
    <div class="form-group">
        <label class="col-sm-2 col-vs-3 control-label">@CandidateFileResources.File</label>

        @foreach (var document in documentsViewModel)
        {
        <div class="col-sm-10 col-vs-9">
            <div class="take-full-width">
                <button id="@Model.Id" name="@Model.Name" type="button" onclick="Dialogs.showDialog({ actionUrl:'/Recruitment/InboundEmail/ViewFile/@document.DocumentId' })" documentId ="@document.DocumentId" class="btn btn-default"><i class="fa fa-file-text-o before-text" aria-hidden="true"></i>@document.DocumentName</button>
            </div>
        </div>
        }
    </div>
}