﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var inboundEmailValuesItems = (List<InboundEmailValueViewModel>)Model.ControlModel;
}
<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed table-hover table-striped" data-model="@Model.Name">
            <tr>
                <th>
                    <span>@InboundEmailResources.Key</span>
                </th>
                <th>
                    <span>@InboundEmailResources.Value</span>
                </th>
            </tr>
            <tbody>               
                @foreach (var inboundEmailItem in inboundEmailValuesItems)
                {
                <tr>
                    <td>
                        <span>@inboundEmailItem.Key.GetLocalizedDescription()</span>
                    </td>
                    <td>
                        <span>@inboundEmailItem.GetDisplayValue()</span>
                    </td>
                </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
