﻿@using RazorEngine.Text
@using Smt.Atomic.CrossCutting.Common.Consts
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.JobOpening
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var noteItems = new List<JobOpeningNoteViewModel>();

    if (Model.ControlModel != null)
    {
        noteItems = (List<JobOpeningNoteViewModel>)Model.ControlModel;
    }
}
<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed table-hover table-striped timeline-table" data-model="@Model.Name">
            <tbody>
                @foreach (var note in noteItems)
                {
                    <tr>
                        <td>
                            <div class="timeline-item-header">
                                @note.CreatedOn · @note.CreatedByFullName · @note.NoteVisibility.GetDescription()
                            </div>
                            <div class="timeline-item-content">
                                <div class="pre">@(new RawString(note.Content))</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
