﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.JobOpening
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var contextViewModel = (JobOpeningViewModel)Model.ContextViewModel;
}

<div class="panel panel-default list-view-context">
    <div class="panel-body">
        <div><h2>@contextViewModel.ToString()</h2></div>
        <div>
            <span class="model-property">
                <span>@JobOpeningResources.CreatedBy: @contextViewModel.CreatedByFullName</span>
                <span>@JobOpeningResources.Status: @contextViewModel.Status.GetDescription()</span>
            </span>
        </div>
    </div>
</div>