﻿@using Microsoft.Ajax.Utilities
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var contextViewModel = (RecommendingPersonViewModel)Model.ContextViewModel;
}

<div class="panel panel-default list-view-context">
    <div class="panel-body">
        <div><h2>@contextViewModel.ToString()</h2></div>
        <div>
            <span class="model-property">
            @if (!contextViewModel.EmailAddress.IsNullOrWhiteSpace())
            {
                <span>@RecommendingPersonResources.EmailAddress: @contextViewModel.EmailAddress</span>
            }

            @if (!contextViewModel.PhoneNumber.IsNullOrWhiteSpace())
            {
                <span>@RecommendingPersonResources.PhoneNumber: @contextViewModel.PhoneNumber</span>
            }
            </span>
        </div>
    </div>
</div>