﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var contextViewModel = (RecruitmentProcessViewModel)Model.ContextViewModel;
}

<div class="panel panel-default list-view-context">
    <div class="panel-body">
        <div><h2>@contextViewModel.ToString()</h2></div>
        <div>
            <span class="model-property">
                <span>@RecruitmentProcessResources.Status: @contextViewModel.Status.GetDescription()</span>
            </span>
        </div>
    </div>
</div>