﻿@using Microsoft.Ajax.Utilities
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.RecruitmentProcessStep
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel
@{
    var controlModel = (RecruitmentProcessStepDetailsViewModel)Model.ControlModel;
    var candidateModel = controlModel.Candidate;
    var jobOpeningModel = controlModel.JobOpening;
    var recruitmentProcessModel = controlModel.RecruitmentProcess;
}

<div class="model-details">
    <div class="panel panel-default list-view-context recruitment-step-details-panel">
        <div class="panel-heading collapsed accordion-toggle" data-toggle="collapse" href="#candidate-panel-body">
            <h3 class="panel-title">
                <i class="fa fa-address-card-o before-text" aria-hidden="true"></i>
                @if (controlModel.CanViewCandidates)
                {
                    <a class="no-click" href="/Recruitment/Candidate/Details/@(candidateModel.Id)">@candidateModel.ToString()</a>
                }
                else
                {
                    <text>@candidateModel.ToString()</text>
                }
            </h3>
            <span class="model-property model-property-list">
                @foreach (var skill in candidateModel.JobProfileNames)
                {
                    <span class="property-value">@skill</span>
                }
            </span>
        </div>
        <div id="candidate-panel-body" class="collapse">
            <div class="panel-body">
                @if (!candidateModel.EmailAddress.IsNullOrWhiteSpace())
                {
                    <span class="model-property">
                        <span class="property-label">@CandidateResources.EmailAddress</span>
                        <span class="property-value">@candidateModel.EmailAddress </span>
                    </span>
                }

                @if (!candidateModel.OtherEmailAddress.IsNullOrWhiteSpace())
                {
                    <span class="model-property">
                        <span class="property-label">@CandidateResources.OtherEmailAddress</span>
                        <span class="property-value">@candidateModel.OtherEmailAddress </span>
                    </span>
                }

                @if (!candidateModel.MobilePhone.IsNullOrWhiteSpace())
                {
                    <span class="model-property">
                        <span class="property-label">@CandidateResources.MobilePhone</span>
                        <span class="property-value">@candidateModel.MobilePhone </span>
                    </span>
                }

                @if (!candidateModel.OtherPhone.IsNullOrWhiteSpace())
                {
                    <span class="model-property">
                        <span class="property-label">@CandidateResources.OtherPhone</span>
                        <span class="property-value">@candidateModel.OtherPhone </span>
                    </span>
                }

                @if (!candidateModel.SkypeLogin.IsNullOrWhiteSpace())
                {
                    <span class="model-property">
                        <span class="property-label">@CandidateResources.SkypeLogin</span>
                        <span class="property-value">@candidateModel.SkypeLogin</span>
                    </span>
                }
            </div>
            <div class="panel-body">
                <span class="model-property model-property-list">
                    <span class="property-label">@CandidateResources.LanguageWithLevelIds</span>
                    @foreach (var language in candidateModel.LanguageNames)
                    {
                        <span class="property-value">@language</span>
                    }
                </span>
            </div>
            <div class="panel-body">
                <span class="model-property">
                    <span class="property-label">@CandidateResources.ResumeLabel</span>

                    @if (candidateModel.LastCompanyResumeDocument != null)
                    {
                        <span class="property-value"><button type="button" class="btn btn-default" onclick="Dialogs.showDialog({ actionUrl:'/Recruitment/CandidateFile/ViewFile?id=@(candidateModel.LastCompanyResumeDocument.DocumentId)' });"><i class="fa fa-file-text-o before-text" aria-hidden="true"></i>@candidateModel.LastCompanyResumeDocument.DocumentName</button></span>
                    }

                    @if (candidateModel.LastOriginalResumeDocument != null)
                    {
                        <span class="property-value"><button type="button" class="btn btn-default" onclick="Dialogs.showDialog({ actionUrl:'/Recruitment/CandidateFile/ViewFile?id=@(candidateModel.LastOriginalResumeDocument.DocumentId)' });"><i class="fa fa-file-text-o before-text" aria-hidden="true"></i>@candidateModel.LastOriginalResumeDocument.DocumentName</button></span>
                    }
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default list-view-context recruitment-step-details-panel">
        <div class="panel-heading collapsed accordion-toggle" data-toggle="collapse" href="#job-opening-panel-body">
            <h3 class="panel-title">
                <i class="fa fa-briefcase before-text" aria-hidden="true"></i>
                @if (controlModel.CanViewJobOpenings)
                {
                    <a class="no-click" href="/Recruitment/JobOpening/Details/@(jobOpeningModel.Id)">@jobOpeningModel.PositionName</a>
                }
                else
                {
                    <text>@jobOpeningModel.PositionName</text>
                }
            </h3>
            <span class="model-property model-property-list">
                @foreach (var skill in jobOpeningModel.JobProfileNames)
                {
                    <span class="property-value">@skill</span>
                }
            </span>
        </div>
        <div id="job-opening-panel-body" class="collapse">
            <div class="panel-body">
                <span class="model-property">
                    <span class="property-label">@JobOpeningResources.CreatedBy</span>
                    <span class="property-value">@jobOpeningModel.CreatedByFullName</span>
                </span>
                @if (!string.IsNullOrWhiteSpace(jobOpeningModel.AcceptingEmployeeFullName))
                {
                    <span class="model-property">
                        <span class="property-label">@JobOpeningResources.AcceptingEmployeeId</span>
                        <span class="property-value">@jobOpeningModel.AcceptingEmployeeFullName</span>
                    </span>
                }
                <span class="model-property">
                    <span class="property-label">@JobOpeningResources.Status</span>
                    <span class="property-value">@jobOpeningModel.Status.GetDescription()</span>
                </span>
            </div>
            <div class="panel-body">
                <span class="model-property">
                    <span class="property-label">@JobOpeningResources.HiringModeLabel</span>
                    <span class="property-value">@jobOpeningModel.HiringMode.GetDescription()</span>
                </span>
                @if (!string.IsNullOrWhiteSpace(jobOpeningModel.CustomerName))
                {
                    <span class="model-property">
                        <span class="property-label">@JobOpeningResources.AccountId</span>
                        <span class="property-value">@jobOpeningModel.CustomerName</span>
                    </span>
                }
            </div>
            <div class="panel-body">
                <span class="model-property model-property-list">
                    <span class="property-label">@JobOpeningResources.CityIds</span>
                    @foreach (var city in jobOpeningModel.CityNames)
                    {
                        <span class="property-value">@city</span>
                    }
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default list-view-context recruitment-step-details-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-file-text-o before-text" aria-hidden="true"></i>
                @if (controlModel.CanViewCandidates)
                {
                    <a class="no-click" href="/Recruitment/RecruitmentProcessStep/List/?parent-id=@(recruitmentProcessModel.Id)">@RecruitmentProcessStepResources.RecruitmentProcess</a>
                }
                else
                {
                    <text>@RecruitmentProcessStepResources.RecruitmentProcess</text>
                }
            </h3>
            <span class="model-property">
                <span class="property-label">@RecruitmentProcessResources.RecruiterId</span>
                <span class="property-value">@recruitmentProcessModel.RecruiterName</span>
            </span>
            <span class="model-property">
                <span class="property-label">@JobOpeningResources.DecisionMaker</span>
                <span class="property-value">@recruitmentProcessModel.DecisionMakerName</span>
            </span>
        </div>
    </div>
</div>
