﻿@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel
@{
    var steps = (IList<RecruitmentProcessStepInfoViewModel>)Model.ControlModel;
}

<div class="model-details">
    <table class="table table-bordered table-condensed table-hover table-striped" data-model="@Model.Name">
        <thead>
            <tr>
                <th>
                    @RecruitmentProcessStepResources.Type
                </th>
                <th>
                    @RecruitmentProcessStepResources.Status
                </th>
                <th>
                    @RecruitmentProcessStepResources.PlannedOn
                </th>
                <th>
                    @RecruitmentProcessStepResources.DueOn
                </th>
                <th>
                    @RecruitmentProcessStepResources.AssignedEmployeeId
                </th>
                <th>
                    @RecruitmentProcessStepResources.RecruitmentHint
                </th>

                <th>
                    @RecruitmentProcessStepResources.Decision
                </th>
                <th>
                    @RecruitmentProcessStepResources.DecidedOn
                </th>
                <th>
                    @RecruitmentProcessStepResources.Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var step in steps)
            {
                <tr @if (step.IsPending) { <text> class="warning" </text>  }>
                    <td>
                        @if (step.CanBeEdited)
                        {
                            <a href="/Recruitment/RecruitmentProcessStep/Edit/@(step.Id)">
                                @step.Type.GetDescription()
                            </a>
                        }
                        else if ((step.CanBeViewed && step.Status != RecruitmentProcessStepStatus.Done) || (step.CanBeViewed && step.CanViewDoneStep))
                        {
                        <a href="/Recruitment/RecruitmentProcessStep/View/@(step.Id)">
                            @step.Type.GetDescription()
                        </a>
                        }
                        else
                        {
                            @step.Type.GetDescription()
                        }
                    </td>
                    <td>
                        @step.Status.GetDescription()
                    </td>
                    <td>
                        @if (step.PlannedOn.HasValue)
                        {
                            @step.PlannedOn.Value.ToShortDateString()
                        }
                    </td>
                    <td>
                        @if (step.DueOn.HasValue)
                        {
                            @step.DueOn.Value.ToShortDateString()
                        }
                    </td>
                    <td>
                        @step.AssigneeFullName
                    </td>
                    <td>
                        @step.Hint
                    </td>

                    <td>
                        @step.Decision
                    </td>
                    <td>
                        @if (step.DecidedOn.HasValue)
                        {
                            @step.DecidedOn.Value.ToShortDateString()
                        }
                    </td>
                    <td>
                        @step.Comment
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>