﻿@using Microsoft.Security.Application;
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var noteContent = (String)Model.ControlModel;
    var messageContent = string.Empty;
}

@if (@noteContent != null)
{
    messageContent = Sanitizer.GetSafeHtmlFragment(noteContent);
}

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="@Model.ControlWidthClass">
        <textarea maxlength="@Model.MaxLength" @(Model.GetInputTagAttributes()) data-ck-editor="true" data-ck-editor-presets="basic" 
                  data-ck-editor-mention="Dante.Mentions.EmployeeMentionValuePicker({mode: 'RecruitmentDataCertified'})">@messageContent</textarea>
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>
