﻿@using System
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models.RecruitmentProcessStep
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources

@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var timelineDetailItems = (List<RecruitmentProcessStepTimelineViewModel>)Model.ControlModel;
}

<ol class="recruitment-process-step-timeline">
    @foreach (var item in timelineDetailItems)
    {
        var decisionName = Enum.GetName(typeof(RecruitmentProcessStepDecision), item.Decision).ToLower();
        var currentStepStyle = item.Id == item.CurrentId ? "current-step" : string.Empty;
        var currentStepDetailsUrl = "/Recruitment/RecruitmentProcessStep/Details/" + item.Id;

        <li class="timeline-item @decisionName @currentStepStyle">
            <a href=@(item.CanBeViewedByCurrentUser ? currentStepDetailsUrl : "#")>
                <div class="timeline-details">
                    <i class="@decisionName-status"></i><label class="timeline-status-description control-label">@item.Type.GetLocalizedDescription()</label>
                    <div>
                        <span class="timeline-assignee">
                            @if (!item.AssignedEmployeeName.IsNullOrEmpty())
                            {
                                @item.AssignedEmployeeName
                            }
                            else
                            {
                                @RecruitmentProcessStepResources.StepNotAssigned
                            }
                        </span>

                        @if (item.PlannedOn != null)
                        {
                            <span class="timeline-assignee">@item.PlannedOn.ToInvariantString("g")</span>
                        }
                    </div>
                </div>
            </a>
        </li>
    }
</ol>
