﻿@using RazorEngine.Text
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var technicalReviews = new List<TechnicalReviewDetailViewModel>();

    if (Model.ControlModel != null)
    {
        technicalReviews = (List<TechnicalReviewDetailViewModel>)Model.ControlModel;
    }
}
<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed table-hover table-striped timeline-table" data-model="@Model.Name">
            <tbody>
                @foreach (var technicalReview in technicalReviews)
                {
                    <tr>
                        <td>
                            <div class="timeline-item-header">
                                <div class="col-md-10">
                                    <h4 class="panel-title">
                                        <i class="fa fa-address-card-o before-text" aria-hidden="true"></i>
                                        @string.Join(", ", technicalReview.JobProfilesNames) · @TechnicalReviewResources.SeniorityLevelAssessmentShort: @technicalReview.SeniorityLevelAssessment.GetDescription() (@technicalReview.Decision.GetDescription())
                                    </h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm btn-default " data-action="execute" onclick="RecruitmentProcessStep.GenerateTechnicalReviewSummaryReport(@technicalReview.StepId)">
                                        <i class="fa fa-download before-text" aria-hidden="true"></i> @TechnicalReviewResources.Download
                                    </button>
                                </div>
                                <br />
                                <p> @technicalReview.AssigneeFullName · @technicalReview.HappenedOn</p>
                                <span class="pre"> @TechnicalReviewResources.SoftwareEngineeringAssessment: <br />@technicalReview.TechnicalKnowledgeAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.TechnicalAssignmentAssessment: <br />@technicalReview.TechnicalAssignmentAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.EnglishUsageAssessment: <br />@technicalReview.EnglishUsageAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.StrengthAssessment: <br />@technicalReview.StrengthAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.RiskAssessment: <br />@technicalReview.RiskAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.ExperienceAssessment: <br />@technicalReview.TeamProjectSuitabilityAssessment</span>
                                <span class="pre"> @TechnicalReviewResources.OtherRemarks: <br />@technicalReview.OtherRemarks</span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
