﻿@using RazorEngine.Text
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Recruitment.Models
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var timelineDetailItems = (List<TimelineDetailViewModel>)Model.ControlModel;
}
<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed table-hover table-striped timeline-table" data-model="@Model.Name">
            <tbody>
                @foreach (var detailItem in timelineDetailItems)
                {
                    <tr>
                        <td>
                            <div class="timeline-item-header">
                                @detailItem.HappenedOn
                                @if (!string.IsNullOrWhiteSpace(detailItem.CreatedByFullName))
                                {
                                    <text>· @detailItem.CreatedByFullName</text>
                                }
                                @if (!string.IsNullOrWhiteSpace(detailItem.Header))
                                {
                                    <text>· @detailItem.Header</text>
                                }
                            </div>
                            @if (!string.IsNullOrWhiteSpace(detailItem.Details))
                            {
                                <div class="timeline-item-content">
                                    @if (detailItem.RenderAsHtml)
                                    {
                                        @(new RawString(@detailItem.Details));
                                    }
                                    else
                                    {
                                        <div class="pre-wrap">@detailItem.Details</div>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
