﻿@using Smt.Atomic.Business.Recruitment.Dto
@using Smt.Atomic.WebApp.Areas.Recruitment.Resources;
@using Smt.Atomic.CrossCutting.Common.Extensions;
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var vacanciesValues = (VacanciesDto[])Model.ControlModel;
}
<div class="form-group">
    <div class="col-lg-2">
        <label class="control-label">
            <span>
                @RecruitmentProcessStepResources.VacanciesAvailable
            </span>
        </label>
    </div>
    <div class="col-lg-5">
        <table class="table table-bordered table-condensed table-hover table-striped" data-model="@Model.Name">
            <tr>
                @foreach (var vancancy in vacanciesValues)
                {
                    if (vancancy.Seniority != null)
                    {
                        <th class="text-center">@string.Format("L{0}", EnumExtensions.GetDescription(vancancy.Seniority.Value))</th>
                    }
                    else
                    {
                        <th class="text-center">@RecruitmentProcessStepResources.VacanciesNotApplicable</th>
                    }
                }
            </tr>
            <tbody>
                <tr>
                    @foreach (var vancancy in vacanciesValues)
                    {
                        if (vancancy.VacancyNumber != 0)
                        {
                            <td class="text-right">@vancancy.VacancyNumber</td>
                        }
                        else
                        {
                            <td class="text-right">-</td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
