﻿@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.Presentation.Renderers.Enums
@using Smt.Atomic.Presentation.Renderers.Extensions
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Resources
@using Smt.Atomic.WebApp.Areas.Workflows.Controllers
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.ServiceOperations.Models.RequestApproversChangeViewModel


@using (Html.BeginForm("ChangeApprovers", "RequestApproversChangeService", new {reportCode = ViewBag.ReportCode}, FormMethod.Post, new {id = "main-form", @class = "form-horizontal"}))
{
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model, new HorizontalFormLayout())
}

@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="@TimeReportChangeServiceResources.OkButtonText" form="main-form" onclick="Forms.submitRecordForm(this)"/>
            <a class="btn btn-default"
               href="@Url.UriActionGet(nameof(RequestController.List), RoutingHelper.GetControllerName<RequestController>(), KnownParameter.None, "area",
                         RoutingHelper.GetAreaName(typeof(RequestController)), "filter", "all-requests").Url">
                @TimeReportChangeServiceResources.BackButtonText</a>
        </div>
    </div>
}