﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Resources
@using Smt.Atomic.Presentation.Renderers.Extensions;
@using Smt.Atomic.Presentation.Renderers.Enums;
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Models;

@model PerformRequestApproversChangeViewModel
                

<div class="grid-table hide-content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@RequestApproversChangeServiceResources.RequestIdentifierLabel</th>
                <th>@RequestApproversChangeServiceResources.ApproverLabel</th>
                <th>@RequestApproversChangeServiceResources.NewApproverLabel</th>>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.ViewModel.RequestId</td>
                    <td>@Model.ViewModel.ApprovalId</td>
                    <td>@Model.ViewModel.EmployeeId</td>
                </tr>
        </tbody>
    </table>
</div>

@using (Html.BeginForm("ConfirmChangeApprovers", "RequestApproversChangeService", FormMethod.Post, new { id = "main-form", @class = "form-horizontal" }))
{
    @Html.Bootstrap().EditorForModel(Model.ViewModel, new HiddenLayout())
}


@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="@TimeReportChangeServiceResources.OkButtonText" form="main-form" onclick="$('#main-form').first().submit()" />
            <a class="btn btn-default" href="@Url.UriActionGet("List", "TimeReport", KnownParameter.None, "area", "TimeTracking", "filter", "this-month,all-employees").Url">@TimeReportChangeServiceResources.BackButtonText</a>
        </div>
    </div>
}