﻿﻿@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Controllers;
@using Smt.Atomic.WebApp.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Areas.KPI.Models
@using Smt.Atomic.CrossCutting.Common.Extensions
@model ModelBasedDialogViewModel<KpiDefinitionViewModel>

@{
    KpiDefinitionViewModel kpiDefinition = Model.Model;
}

@using (Html.BeginCommonDialog(Model))
{
    <div>
        <div>
            @Html.Raw(kpiDefinition.Description)
        </div>
    </div>
}
