﻿@using System.Threading
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources

@section header {
    <script id="loading-template" type="text/html">
        <div class="tt-loading">
            @TimeReportResources.LoadingProjectText<i class="fa fa-refresh fa-spinning pull-right" aria-hidden="true"></i>
        </div>
    </script>

    <script id="notFound-template" type="text/html">
        <div class="tt-notfound">@TimeReportResources.NotFoundProjectText</div>
    </script>

    <div id="time-tracking-report-header" class="time-report-page"></div>
}

<div id="time-tracking-component" class="time-report-page"></div>


@section scripts
{
    @Scripts.Render("~/Scripts/typeahead.bundle.js")
    @Scripts.Render(
        "~/scripts/react")

    @Scripts.Render(
        "~/scripts/timereport")

    <script>
        $(function() {
            var dayDictionary = @Html.Raw(Json.Encode(Thread.CurrentThread.CurrentUICulture.DateTimeFormat.AbbreviatedDayNames));
            dayDictionary = dayDictionary.map(function(day) { return day.substr(0, 1).toUpperCase() + day.replace('.', '').substr(1, 2) });

            var serviceUrls = @Html.Raw(Json.Encode(ViewBag.serviceUrls));
            TimeTracking.Sheet.Initialize(serviceUrls, $.extend(Globals.resources, { DayDictionary: dayDictionary }));
        });
    </script>
}