﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DatePicker
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DatePicker.DatePickerRenderingModel

<div class="inline-control @Model.CssClass @Model.GetVisibilityClass()">
    <div class="date">
        <div class="input-group data-component-date-picker">
            <input @(Model.GetInputTagAttributes()) />
            <span class="input-group-addon @Model.PickerButtonClass">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
    @if (Model.TimePickerRenderingModel != null)
    {
        <div class="time @Model.ControlWidthClass">
            <div class="input-group data-component-time-picker" data-component-type="timepicker">
                <input class="form-control"
                       value="@Model.TimePickerRenderingModel.DisplayText"
                       data-value="@Model.TimePickerRenderingModel.DisplayValue"
                       data-timeformat="@Model.TimePickerRenderingModel.TimeFormat"
                       data-interval="@Model.TimePickerRenderingModel.Interval"
                       @(Model.IsReadOnly ? "readonly=\"readonly\"" : string.Empty) />
                <input type="hidden" name="@(TimePickerRenderingModel.TimePickerControlName(Model.Name))" value="@Model.TimePickerRenderingModel.TotalMinutes" />
                <span class="input-group-addon @Model.PickerButtonClass">
                    <i class="glyphicon glyphicon-time"></i>
                </span>
            </div>
        </div>
    }
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>