﻿@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DatePicker
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DatePicker.DatePickerRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div id="@Model.Id" class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (Model.Value == null)
        {
            <span class="empty-text">@RenderersResources.EmptyText</span>
        }
        else
        {
            @Model.GetHtmlDisplayValue()
        }
    </div>
</div>
