﻿﻿@using RazorEngine.Text
@using RazorEngine.Text
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Repeater.RepeaterRenderingModel

<fieldset id="@(Model.Id)" name="@(Model.Name)" class="repeater repeater-horizontal @Model.GetVisibilityClass()" data-component="Repeater.RepeaterManager"
          @(Model.GetInputTagAttributes())
          data-item-title="@(Model.ItemTitle)"
          data-min-count="@(Model.MinCount)"
          data-max-count="@(Model.MaxCount)"
          data-add-button-text="@(Model.AddButtonText)"
          data-delete-button-text="@(Model.DeleteButtonText)"
          data-can-delete-record="@(HtmlMarkupHelper.ToInputValue(Model.CanDeleteRecord))"
          data-can-reorder="@(HtmlMarkupHelper.ToInputValue(Model.CanReorder))">
    <input name="repeaterContainer" type="hidden" class="hidden-but-validate" data-val-repeatercontainermin="@RenderersResources.RepeaterMinElementsValidationMessageFormat" data-val-repeatercontainermax="@RenderersResources.RepeaterMaxElementsValidationMessageFormat" />
    <span class="field-validation-valid" data-valmsg-for="repeaterContainer" data-valmsg-replace="true"></span>
    @(new RawString(Model.GetContent()))
</fieldset>