﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Accounts.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.Accounts.Models.LoginViewModel

@using (Html.BeginForm("Login", "Authentication", new { returnUrl = Request["returnUrl"] }, FormMethod.Post, new { @class = "form-horizontal login-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryAsAlerts(true)

    <div class="form-group">
        <div class="col-sm-12">
            <h1>@AuthenticationResources.SignInHeader</h1>
            <span>@Html.Raw(AuthenticationResources.LoginWelcomeMessage)</span>
        </div>
    </div>

    @Html.Bootstrap().EditorForModel(@Model, new SimpleLayout())

    <div class="form-group">
        <div class="col-sm-12">
            <input id="submit-button" type="submit" value="@AuthenticationResources.LoginButtonText" class="btn btn-primary" />
        </div>
    </div>
}

<div class="separator">
    <br class="clearfix"/> 
</div>

@if (Model.AuthorizationProviders.Count > 0)
{
    <div class="form-horizontal login-form">
        <div class="form-group text-center sign-in-block">
            <ul class="list-inline">
                @foreach (var descriptor in Model.AuthorizationProviders)
                {
                    <li>
                        <a href="@Url.Action("SignInVia", "Authentication", new {identifier = descriptor.Identifier})" class="btn btn-default"><i class="@descriptor.IconClass"></i> @descriptor.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
@if (Model.IsPassiveNtlm && !Model.SkipNtlm)
{
    <iframe class="auth-iframe" seamless="seamless" src="@Url.Action("NtlmAuthenticate", new {id=Guid.NewGuid(), returnUrl = Request["ReturnUrl"]})"></iframe>
}