﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Accounts.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.Accounts.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Authentication", null, FormMethod.Post, new { @class = "form-horizontal login-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryAsAlerts(true)
    <div class="form-group">
        <span>@AuthenticationResources.MustChangePasswordPrompt</span>        
    </div>

    @Html.Bootstrap().EditorForModel(@Model, new HorizontalFormLayout(4))

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <input type="submit" value="@AuthenticationResources.ChangePasswordButtonText" class="btn btn-primary col-sm-12" />
        </div>
    </div>
 }
