﻿@model Smt.Atomic.CrossCutting.Common.Results.BoolResultWithState<string>
@{
    Layout = null;
}
<html>
<body>
    <script language="javascript" type="text/javascript">
        window.parent.location = "@(Model != null ? Model.State : "/")";
    </script>
</body>
</html>
