﻿@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CheckboxGroup
@model CheckboxGroupRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div id="@(Model.Id)" class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width">
        @if (string.IsNullOrWhiteSpace(Model.GetDisplayName()))
        {
            <span class="empty-text">@RenderersResources.NoValueSelectedText</span>
        }
        else
        {
            @Model.GetDisplayName()
        }
    </div>
</div>
