﻿@using Smt.Atomic.Presentation.Common.ModelBinders
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CheckboxGroup
@model CheckboxGroupRenderingModel

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div id="@(Model.Id)" class="@Model.ControlWidthClass">
        @if (Model.IsReadOnly)
        {
            <input id="@(Model.Id)-display-value"
                   type="text"
                   class="form-control"
                   value="@Model.GetDisplayName()"
                   readonly="readonly" />

            <input @(Model.GetInputTagAttributes()) />
        }
        else
        {
            <input type="hidden" name="@Model.Name" value="@ModelBinderConstants.EmptyValueMarker" />

            foreach (var item in Model.Items)
            {
                string checkedAttribute = Model.IsSelected(item.Id.Value) ? "checked" : string.Empty;
                string itemClass = "checkbox-inline";
                <label class="@itemClass">
                    <input type="checkbox" value="@item.Id" name="@Model.Name" @checkedAttribute @Model.GetClientValidationAttributes()>@item.DisplayName
                </label>
            }
        }
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>