﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Textarea.TextareaRenderingModel

<div class="form-group row @Model.CssClass  @Model.GetVisibilityClass()">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }
    <div class="@Model.ControlWidthClass">
        <div class="textarea-wrapper">
            <textarea @(Model.GetInputTagAttributes())>@Model.Value</textarea>
            <span class="validation-hint"></span>
            <span class="@Model.GetValidationSpanClass()"
                    data-valmsg-replace="true"
                    data-valmsg-for="@Model.Name">
                @foreach (var error in Model.Errors)
                {
                    <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
                }
            </span>
        </div>
    </div>
</div>