﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Textarea.TextareaRenderingModel

<div class="inline-control @Model.CssClass  @Model.GetVisibilityClass()">
    <div class="textarea-wrapper">
	    <textarea @(Model.GetInputTagAttributes())>@Model.Value</textarea>
	    <span class="validation-hint"></span>
	    <span class="@Model.GetValidationSpanClass()"
	            data-valmsg-replace="true"
	            data-valmsg-for="@Model.Name">
	        @foreach (var error in Model.Errors)
	        {
	            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
	        }
	    </span>
	</div>
</div>