﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Textarea.TextareaRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass  @Model.GetVisibilityClass()" title="@Model.Tooltip">
    @if (string.IsNullOrWhiteSpace(Model.Value))
    {
        <span class="empty-text">@RenderersResources.EmptyText</span>
    }
    else
    {
        if (Model.Rows > 1)
        {
            <div class="pre-wrap">@Model.Value</div>
        }
        else
        {
            <div class="pre-wrap ellipsis">@Model.Value</div>
        }
    }
</div>
