﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Candidate</title>
    @Styles.Render("~/styles/libs")
    @Styles.Render("~/styles/atomic")
    @Styles.Render("~/styles/site")
    @Scripts.Render("~/scripts/modernizr")
    <link href="~/Areas/CustomerPortal/Content/Recommendation.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .col-xs-3 > label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: left;
        }

        .checkbox > label {
            padding-top: 3px;
        }
    </style>
    <!-- Script Section -->
    @Scripts.Render("~/scripts/libs")
    @Scripts.Render("~/scripts/atomic-bundle")
    <!-- / Script Section -->
    <script>
        $.ajax({
            method: "POST",
            url: '@Url.Action("StartCreate", "Recommendation")',
            data: { guid: '@ViewData["resourceId"]' }
        }).success(function (content) {
            $("#container").html(content);
        });
    </script>
</head>
<body>
    <div id="container" style="position: relative; height: 100%; width: 100%;">
        <img src="~/Areas/CustomerPortal/Content/images/loading_spinner.gif"
             style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
</body>
</html>
