﻿@using Smt.Atomic.Business.Accounts.Enums
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Areas.CustomerPortal.Resources
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Areas.CustomerPortal.Models.WithdrawRecommendationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Withdraw recommendation</title>
    @Styles.Render("~/styles/libs")
    @Styles.Render("~/styles/atomic")
    @Styles.Render("~/styles/site")
    @Scripts.Render("~/scripts/modernizr")
    <link href="~/Areas/CustomerPortal/Content/Recommendation.css" rel="stylesheet" />
    <style>
        .col-xs-3 > label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: left;
        }
    </style>
</head>
<body>
    <div style="margin: 15px;">
        @if (Model != null && Model.ResourceId != Guid.Empty)
        {
            using (Html.BeginForm("Withdraw", "Recommendation", new { resourceId = Model.ResourceId }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-9">
                        <div class="pull-right">
                            <img src="@Url.Action("Download", "UserPicture", new {area = "Accounts", userId = ViewBag.CurrentUser.Id, userPictureSize = UserPictureSize.Normal})"
                                 alt="@LayoutResources.UserPictureText"
                                 width="@((int) UserPictureSize.Small)"
                                 title="@ViewBag.CurrentUser.FullName" />
                            <span>
                                <p class="full-name">@ViewBag.CurrentUser.FullName</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">@Html.Bootstrap().InlineLabelFor(Model, m => m.CandidateName)</div>
                    <div class="col-xs-9">@Html.DisplayFor(m => m.CandidateName)</div>
                </div>

                <div class="row">
                    <div class="col-xs-3">@Html.Bootstrap().InlineLabelFor(Model, m => m.NeededResourceShortName)</div>
                    <div class="col-xs-9">@Html.DisplayFor(m => m.NeededResourceShortName)</div>
                </div>

                <div class="row">
                    <div class="col-xs-3">@Html.Bootstrap().InlineLabelFor(Model, m => m.ClientName)</div>
                    <div class="col-xs-9">@Html.DisplayFor(m => m.ClientName)</div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="margin-right: 10px;">
                        @if (ViewBag.Message != null)
                    {
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.Raw(string.Format(RecommendationResources.Warning, ViewBag.Message))
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">@Html.Bootstrap().InlineLabelFor(Model, m => m.CommentToCustomer)</div>
                    <div class="col-xs-9">@Html.Bootstrap().InlineEditorFor(Model, m => m.CommentToCustomer)</div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" value="@Html.Raw(RecommendationResources.InformTheCustomer)" class="btn btn-primary pull-right" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @Html.Raw(string.Format(RecommendationResources.Error, ViewBag.Message))
            </div>
        }
    </div>
</body>
</html>