﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.CandidateChangesNotificationDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Candidate <a href="@(Model.ServerAddress)Recruitment/Candidate/Details/@(Model.CandidateId)">@(Model.CandidateFullName)</a>, has been updated.</p>

        @if (Model.Changes != null && Model.Changes.Any())
        {
            <p>These changes were made by @Model.ChangedByFullName on @Model.ChangedOnDate at @Model.ChangedOnTime:</p>
            <table>
                <tr>
                    <th>Value</th>
                    <th>Before</th>
                    <th>After</th>
                </tr>
                @foreach (var change in Model.Changes)
                {
                    <tr>
                        <td>@(change.Key)</td>
                        <td>@(change.Value.Before)</td>
                        <td>@(change.Value.After)</td>
                    </tr>
                }
            </table>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>