﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.Candidates.CandidateNextFollowUpMissedReminderDto
@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Consts

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.RecipientDisplayName,</p>
        <p>You might want to get back to candidate <a href="@(Model.CandidateUrl)">@(Model.CandidateFullName)</a>, they wished to be contacted back on (@Model.NextFollowUpDate.ToString("D", new CultureInfo(CultureCodes.EnglishAmerican)))</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>