﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.Reminder.InboundEmailReminder.InboundEmailReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Inbound email notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <br />
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Inbound email <a href="@Model.InboundEmailUrl">@Model.Subject (@Model.From)</a> has been assigned to you.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>