﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.JobOpeningClosedReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Job Opening <a href="@(Model.ServerAddress)Recruitment/JobOpening/Details/@(Model.JobOpeningId)">@(Model.JobOpeningName)</a> has been closed by @Model.JobOpeningApproverFullName.</p>
        <p>Closed reason: @Model.ClosedReason</p>
        <p>Closed comment: @Model.ClosedComment</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>