﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.JobOpeningReminder.JobOpeningReopenReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Job Opening <a href="@(Model.ServerAddress)Recruitment/JobOpening/Details/@(Model.JobOpeningId)">@(Model.JobOpeningName)</a> has been reopened by @Model.JobOpeningReopenedByFullName.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>