﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.JobOpeningReminder.JobOpeningStatusChangedReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Job Opening <a href="@(Model.ServerAddress)Recruitment/JobOpening/Details/@(Model.JobOpeningId)">@(Model.JobOpeningName)</a> has been taken off hold.</p>
        @if (Model.RecruitmentProcesses.Any())
        {
            <p>This may affect your Recrutiment Processes:</p>
            <ul>
                @foreach (var recruitmentProcess in Model.RecruitmentProcesses)
                {
                    <li><a href="@(Model.ServerAddress)Recruitment/RecruitmentProcessStep/List?parent-id=@(recruitmentProcess.Id)">@(recruitmentProcess.Name)</a></li>
                }
            </ul>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>