﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.Reminder.JobOpeningReminder.JobOpeningNoteReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>@Model.ModifiedByFullName has edited a <a href="@Model.JobOpeningNoteUrl">note</a> for job opening <a href="@Model.JobOpeningUrl">@Model.JobOpeningName</a> </p>
        <p>Content:<br />@Raw(Model.NoteContent)</p>
        @if (Model.IsWatcher)
        {
            <p>(We notify you because you are watching <a href="@Model.JobOpeningNoteUrl">@Model.JobOpeningName</a>)</p>
        }
        else
        {
            <p>We notify you because you are mentioned in <a href="@Model.JobOpeningNoteUrl"> job opening note.</a></p>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>