﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.CandidateNoteReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>@Model.ModifiedByFullName has added a <a href="@Model.CandidateNoteUrl">note</a> for candidate <a href="@Model.CandidateUrl">@Model.CandidateName</a> </p>
        <p>Content:<br />@Raw(Model.NoteContent)</p>
        <p>We notify you because you are mentioned in <a href="@Model.CandidateNoteUrl"> candidate note.</a></p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>