﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessStepReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        @if (!string.IsNullOrWhiteSpace(Model.PreviousProcessStepUrl))
        {
            <p><a href="@Model.PreviousProcessStepUrl">@Model.PreviousProcessStepName</a> was approved.</p>
        }
        <p><a href="@Model.ProcessStepUrl">@Model.ProcessStepName</a> for <a href="@Model.PositionUrl">@Model.PositionName</a> with @Model.CandidateFullName is planned for @Model.PlannedOn.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>