﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessStepReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        @if (!string.IsNullOrWhiteSpace(Model.PreviousProcessStepUrl))
        {
            <p><a href="@Model.PreviousProcessStepUrl">@Model.PreviousProcessStepName</a> was approved.</p>
        }
        <p>Please review resume of <a href="@Model.ProcessStepUrl">@Model.CandidateFullName</a>, applying for a position of @Model.PositionName.</p>

        @if (Model.IsForWatcher)
        {
            <p>(We notify you because you are watching <a href="@Model.ProcessUrl">@Model.ProcessName</a>)</p>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>