﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>@Model.ModifiedByFullName has put on hold recruitment process <a href="@Model.ProcessUrl">@Model.ProcessName</a> regarding candidate @Model.CandidateFullName applying for position <a href="@Model.PositionUrl">@Model.PositionName</a>.</p>

        @if (Model.IsForWatcher)
        {
            <p>(We notify you because you are watching <a href="@Model.ProcessUrl">@Model.ProcessName</a>)</p>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>