﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessNoteReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>@Model.ModifiedByFullName has edited a <a href="@Model.ProcessNoteUrl">note</a> in recruitment process <a href="@Model.ProcessUrl">@Model.ProcessName</a> </p>
        <p>Content:<br />@Raw(Model.NoteContent)</p>
        <p>(We notify you because you are watching <a href="@Model.ProcessUrl">@Model.ProcessName</a>)</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>