﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessStepReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>
            @Model.ModifiedByFullName
            @if (Model.ModifiedByFullName != Model.AssigneeEmployeeFullName)
            {
                <text> (on behalf of @Model.AssigneeEmployeeFullName),</text>
            }
            has approved @Model.CandidateFullName in <a href="@Model.ProcessStepUrl">@Model.ProcessStepName</a> for <a href="@Model.PositionUrl">@Model.PositionName</a>
        </p>

        @if (Model.IsForWatcher)
        {
            <p>(We notify you because you are watching <a href="@Model.ProcessUrl">@Model.ProcessName</a>)</p>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>