﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.Reminder.JobOpeningReminder.JobOpeningAssignmentReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Job Opening <a href="@Model.JobOpeningUrl">@(Model.JobOpeningName)</a>, has been assigned to you by @Model.ModifiedByFullName.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>