﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessClosedReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @ViewBag.RecipientFirstNames,</p>
        <p>Recruitment Process <a href="@(Model.ServerAddress)Recruitment/RecruitmentProcessStep/List?parent-id=@(Model.RecruitmentProcessId)">@Model.DisplayName</a> has been closed.</p>
        <p>Reason: @Model.Reason</p>
        @if (!string.IsNullOrWhiteSpace(Model.Comment))
        {
            <p>Additional comment: @Model.Comment</p>
        }

        <p>(We notify you because you are watching this Recruitment Process.)</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>