﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Recruitment.Dto.RecruitmentProcessChangesNotificationDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recruitment process notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.RecipientFirstName,</p>
        <p>Recruitment process <a href="@Model.RecruitmentProcessUrl">@Model.RecruitmentProcessName</a>, has been updated.</p>

        @if (Model.Changes != null && Model.Changes.Count > 0)
        {
            <p>These changes were made by @Model.ChangedByFullName on @Model.ChangedOnDate at @Model.ChangedOnTime:</p>
            <table>
                <tr>
                    <th>Value</th>
                    <th>Before</th>
                    <th>After</th>
                </tr>
                @foreach (var change in Model.Changes)
                {
                    <tr>
                        <td>@(change.Key)</td>
                        <td>@(change.Value.Before)</td>
                        <td>@(change.Value.After)</td>
                    </tr>
                }
            </table>
        }

        <p>(We notify you because you are watching this Recruitment Process.)</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>