﻿<br />
    SMT Software Services, BLStream and Kupferwerk are now intive – learn more on <a href="http://intive.com">intive.com</a>.
<div id="legal">
    SMT Software Services S.A. | ul. Tadeusza Kościuszki 29 | 50-011 Wrocław<br />
    District Court of the Capital City of Warsaw in Warsaw<br />
    XIII Commercial Division of the National Court Register<br />
    KRS: 0000583206 | NIP: 5213634984 | REGON: 146245381 | Share Capital: PLN 77,001,600.00
</div>