﻿fieldset {
    @fullSize: 600px;
    @labelSize: 200px;

    .staticSize(@size) {
        min-width: @size;
        max-width: @size;
        width: @size;
    }

    margin: 10px auto 10px auto;
    max-width: @fullSize;

    .form-group {
        label {
            padding-left: 0;
        }
    }

    .row {
        > label {
            .staticSize(@labelSize);
        }

        > div {
            .staticSize(@fullSize - @labelSize);
        }

        #compensation-total-field, #services-total-field, #expenses-total-field {
            > .take-full-width {
                color: transparent;
                cursor: help;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='1em'><text x='0' y='1em'>X</text></svg>");
                filter: blur(4px);
                min-width: 100%;

                .empty-text {
                    visibility: hidden;
                }

                &:hover {
                    background-image: none;
                    color: #333;
                    filter: none;

                    .empty-text {
                        visibility: visible;
                    }
                }
            }

            &.sensitive-data {
                &-show {
                    > .take-full-width {
                        background-image: none;
                        color: #333;
                        filter: none;

                        .empty-text {
                            visibility: visible;
                        }
                    }

                    .show-sensitive {
                        &:before {
                            content: "\f070";
                        }
                    }
                }
            }

            .show-sensitive {
                cursor: pointer;
                position: absolute;
                top: 2px;
                right: 0;
                color: #808080;

                &:before {
                    content: "\f06e";
                }
            }
        }
    }
}
