﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.RadioGroup
@model RadioGroupRenderingModel
@{ var clientValidationAttributes = new RawString(Model.ClientValidationAttributes.Render()); }

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass()">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    <div class="@Model.ControlWidthClass">
        @if (Model.IsReadOnly)
        {
            <input id="@(Model.Id)-display-value"
                   type="text"
                   class="form-control"
                   value="@Model.DisplayValue"
                   readonly="readonly" />

            <input @(Model.GetInputTagAttributes()) />
        }
        else
        {
            foreach (var item in Model.OptionItems)
            {
                var checkedAttribute = Model.Value == item.Id ? "checked" : string.Empty;
                var itemClass = "radio-inline";

                if (item.Id == null)
                {
                    itemClass += " empty-text";
                }

                <label class="@itemClass">
                    <input type="radio" value="@item.OptionId" name="@Model.RadioButtonName" @clientValidationAttributes @checkedAttribute>@item.DisplayName
                </label>
            }
        }

        <span class="@Model.GetValidationSpanClass()"
              data-valmsg-replace="true"
              data-valmsg-for="@Model.Name">
            @foreach (var error in Model.Errors)
            {
                <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
            }
        </span>
    </div>
</div>