﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.RadioGroup
@model RadioGroupRenderingModel
@{ var clientValidationAttributes = new RawString(Model.ClientValidationAttributes.Render()); }

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="@Model.ControlWidthClass">
        @if (Model.IsReadOnly)
        {
            <input id="@(Model.Id)-display-value"
                   type="text"
                   class="form-control"
                   value="@Model.DisplayValue"
                   readonly="readonly" />

            <input @(Model.GetInputTagAttributes()) />
        }
        else
        {
            foreach (var item in Model.OptionItems)
            {
                var checkedAttribute = Model.Value == item.Id ? "checked" : string.Empty;
                var itemClass = "radio-inline";

                if (item.Id == null)
                {
                    itemClass += " empty-text";
                }

                <label class="@itemClass">
                    <input type="radio" value="@item.OptionId" name="@Model.RadioButtonName" @clientValidationAttributes @checkedAttribute>@item.DisplayName
                </label>
            }
        }
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>