﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.RadioGroup.RadioGroupRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width">
        @if (string.IsNullOrWhiteSpace(Model.DisplayValue))
        {
            <span class="empty-text">@RenderersResources.NoValueSelectedText</span>
        }
        else
        {
            @Model.DisplayValue
        }
    </div>
</div>
