﻿@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Helpers

@model Smt.Atomic.WebApp.Areas.Organization.Models.OrgChartViewModel

@section scripts
{
    <script type="text/javascript">
        var pageModel = @Html.Raw(JsonHelper.Serialize(Model));
    </script>
    @Scripts.Render("~/scripts/org-chart")
}
<div id="orgChartToolbar">
    <div id="viewDropdown" class="dropdown uninitializedDropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="@(IconHelper.GetCssClass(Glyphicons.EyeOpen))"></i>
            <span id="viewDropdownTitle"></span>
            <span class="caret"></span>
        </button>
        <ul id="viewDropdownItems" class="dropdown-menu filter-menu" role="menu" aria-labelledby="view"></ul>
    </div>
    <div id="directionDropdown" class="dropdown uninitializedDropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="@(IconHelper.GetCssClass(Glyphicons.Sort))"></i>
            <span id="directionDropdownTitle"></span>
            <span class="caret"></span>
        </button>
        <ul id="directionDropdownItems" class="dropdown-menu filter-menu" role="menu" aria-labelledby="direction"></ul>
    </div>
    <div id="zoomDropdown" class="dropdown uninitializedDropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="@(IconHelper.GetCssClass(Glyphicons.ZoomIn))"></i>
            <span id="zoomDropdownTitle"></span>
            <span class="caret"></span>
        </button>
        <ul id="zoomDropdownItems" class="dropdown-menu filter-menu" role="menu" aria-labelledby="zoom"></ul>
    </div>
</div>
<div id="orgChartContainer">
    <div id="orgChart" class="initiallyInvisible"></div>
</div>