﻿@using Smt.Atomic.WebApp.Areas.LittlePony.Resources

<div>
    <span>@PrintDemoResources.IntroductionText</span>
    <span>@Html.ActionLink(@PrintDemoResources.ClickHereText, "Print", null, new { target = "_blank" })</span>
</div>