﻿@using Smt.Atomic.WebApp.Areas.LittlePony.Resources
@model Smt.Atomic.WebApp.Areas.LittlePony.Models.PrintoutViewModel

<h1>@PrintDemoResources.WelcomeText</h1>

<div>
    <span class="print-demo-label">@PrintDemoResources.CurrentDateLabel</span>
    <span>@Model.CurrentDate</span>
</div>