﻿@using Smt.Atomic.Presentation.Common.Models;
@model IEnumerable<PerformanceTestViewModel>

<strong>General bandwidth test</strong>
<ul class="statusList">
    <li data="speedtest" class="hidden">
        Your speed is ?? Mb/s
    </li>
</ul>

@foreach (var group in Model.Select(p => p.Group).Distinct())
{
    <strong>@group</strong>
    <ul class="statusList">
        @foreach (var subject in Model.Where(p => p.Group == group))
        {
            <li data="@subject.Url" class="hidden">
                @(subject.Name ?? subject.Url)
            </li>
        }
    </ul>
}


    @section scripts {
    <script type="text/javascript">
    var urlQueue = [
        @foreach (var subject in Model)
        {
            @:{ 'url': '@subject.Url', 'timeout': '@subject.Timeout' },
        }
    ];

    var index = 0;

    //testing local urls
    function CheckNextUrl() {
        if (index > urlQueue.length - 1) {
            return;
        }

        var queueItem = urlQueue[index];
        var li = $("ul.statusList li[data='" + queueItem.url + "']");
        li.removeClass("hidden");
        li.addClass('loading');

        var done = (function (data) {
            li.addClass('success');
            var matches = data.match(/<title>(.*?)<\/title>/);
            var title = matches[1];
            li[0].innerText = title + ' [ ' + Math.round(window.performance.now() - start) + ' ms ]';
            index++;
            CheckNextUrl();
        });

        var fail = (function (jqXHR, textStatus) {
            li.addClass('failed');
            if (textStatus == 'timeout') {
                li[0].innerText += ' [ ' + Math.round(window.performance.now() - start) + ' ms ]';
            }
            else {
                var responseModel = jqXHR.responseJSON.model;
                li[0].innerText = responseModel.controllerName + '/' + responseModel.actionName + ':' + responseModel.exception.message;
            }
            
            index++;
            CheckNextUrl();
        });

        var start = window.performance.now();

        $.ajax({
            url: queueItem.url,
            method: "GET",
            timeout: queueItem.timeout,
            // supressing atomic global error handler
            error: function() {}
        }).then(done, fail);
    }

    // testing bandwidth
    function RunTests() {
        var li = $("ul.statusList li[data='speedtest']");
        li.removeClass("hidden");
        li.addClass('loading');

        start = new Date().getTime();

        $.ajax({
            type: "GET",
            url: "/Content/bootstrap.css?id=" + start,
            success: function (msg) {
                binfile = msg;
                end = new Date().getTime();
                diff = (end - start) / 1000;
                bytes = msg.length;
                speed = (bytes / diff) / 1024 / 1024 * 8;
                speed = Math.round(speed * 100) / 100;
                li[0].innerHTML = 'Your speed is <b>' + speed + ' Mb/s</b>';
                li.addClass('success');
            },
            complete: function (xhr, textStatus) {
                CheckNextUrl();
            }
        });
    }

    $(document).ready(function () {
        RunTests();
    });
    </script>
    }
