﻿.editable {
    @size: 12px;
    @vertical-padding: 6px;
    @height: @size + (2 * @vertical-padding);


    &-input {
        &-display {
            display: block;
            width: 100%;
            background-color: Transparent;
            background-image: none;
            border: 1px solid Transparent;
            padding: 0;

            & {
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        &-edit {
            padding: 0 12px;

            select& {
                padding: 0;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        &-display, &-edit {
            height: @height;
            font-size: @size;
            line-height: @height;
        }
    }

    &-valuepicker {
        position: relative;
        cursor: pointer;

        i {
            position: absolute;
            right: 0;
            top: @height - 16px;
        }
    }
}
