﻿
.file {
    &-input {
        &-button {
            input {
                display: none;
            }
        }
    }

    &-drop {
        width: 100%;
        min-height: 200px;

        .file-drop-box {
            display: block;
            border: 2px solid #DDD;
            border-style: dashed;
            padding: 10px;
            display: none;

            &-input {
                label {
                    color: #DDD;
                    width: 100%;
                    display: block;
                    text-align: center;

                    &:before {
                        content: "\f0c5";
                        font-family: FontAwesome;
                        width: 100%;
                        display: block;
                        font-size: 50px;
                    }
                }

                input {
                    display: none;
                }
            }
        }

        .file-drop-content {
            display: block;
        }

        &.file-over {
            .file-drop-content {
                display: none;
            }

            .file-drop-box {
                display: block;
            }
        }

        &-dragndrop,
        &-uploading,
        &-success,
        &-error {
            display: none;
        }
    }
}
