﻿.react {
    @font-size: 12px;

    &-grid {
        font-size: @font-size;

        .grid-column {
            overflow: hidden;
        }

        .row-line {
            @vertical-padding: 6px;
            @height: @font-size + (2 * @vertical-padding);

            height: @height;
            padding: 0 12px;
            font-size: @font-size;
            line-height: @height;
        }
    }
}
