﻿.cke_button__command-employee-mention_icon {
    &::after {
        content: "\f007";
        font-family: "FontAwesome";
        font-size: 16px;
        color: #555;
    }
}

.at-mention {
    @icon-size: 20px;

    position: relative;
    width: 100%;

    &.employee-mention {
        padding-left: @icon-size + 4px;
    }

    .mention-icon {
        position: absolute;
        left: -4px;
        width: @icon-size;
        height: @icon-size;
        display: block;
        border-radius: @icon-size / 2;
    }
}
