﻿.project-hub {
    .flex-table {
        .flex-table-row {
            display: table-row;
            .flex-table-cell {
                display: inline-block;
                &.td-label {
                    display: table-cell;
                    font-size: 12px;
                    color: #bbb;
                    padding-right: 10px;
                    vertical-align: bottom;
                }
            }
        }
    }
    .media-object.round {
        border-radius: 100%;
    }
    .profile-action {
        font-size: 20px;
        margin-right: 7px;
        color: #000;
        cursor: pointer;
        opacity: .3;
    }
    .hub-section {
        margin-top: 30px;
    }
}
