﻿.toggle-button {
    @toggle-size: 20px;
    @toggle-padding: 2px;
    @toggle-ball-size: @toggle-size - @toggle-padding;
    @toggle-color: #2196F3;
    @toggle-color-false: lighten(@toggle-color, 20%);
    @toggle-color-disabled: #ddd;

    position: relative;
    display: inline-block;
    min-width: 2 * @toggle-size;
    height: @toggle-size;
    right: @toggle-size;
    font-size: 12px;
    line-height: @toggle-size;

    input {
        display: none;

        &:checked + .slider {
            background-color: @toggle-color;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px @toggle-color;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(@toggle-size);
            -ms-transform: translateX(@toggle-size);
            transform: translateX(@toggle-size);
            content: "\f00c";
            color: @toggle-color;
        }

        &[disabled] + .slider {
            background-color: @toggle-color-disabled;
            cursor: default;

            &:before {
                color: @toggle-color-disabled;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @toggle-color-false;
        -webkit-transition: .3s;
        transition: .3s;

        &:before {
            position: absolute;
            content: "\f00d";
            font-family: "FontAwesome";
            line-height: @toggle-ball-size;
            text-align: center;
            height: @toggle-ball-size;
            width: @toggle-ball-size;
            left: @toggle-padding / 2;
            bottom: @toggle-padding / 2;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            color: @toggle-color-false;
        }

        &.round {
            border-radius: @toggle-size;

            &:before {
                border-radius: 50%;
            }
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
}
