﻿.user-employee-hub {
    .modal-header {
        border-bottom: none;
        padding: 0;

        .close {
            margin-top: 9px;
            margin-right: 10px;
            position: relative;
            z-index: 1;
        }
    }

    .modal-body {
        padding: 0 15px 15px 15px;
        width: 100%;

        .flex-row {
            display: flex;

            .profile-img {
                margin-right: 15px;

                img {
                    border-radius: 50%;
                }
            }

            .profile-description {
                .profile-header {
                    margin: 0;

                    .acronym {
                        color: #bbb;
                        font-size: 18px;
                    }
                }

                .profile-title {
                    margin-top: 1px;
                    color: #666;
                    margin-left: 2px;
                }
            }
        }
    }

    .profile-table {
        display: table;
        margin-top: 10px;
        font-size: 12px;

        .profile-table-row {
            display: table-row;

            .profile-table-cell {
                display: inline-block;

                &.td-label {
                    display: table-cell;
                    font-size: 12px;
                    color: #bbb;
                    padding-right: 10px;
                    vertical-align: bottom;
                }
            }
        }
    }

    .profile-actions {
        padding: 10px 15px 0 15px;
        text-align: left;

        .profile-action {
            font-size: 20px;
            margin-right: 7px;
            color: #000;
            cursor: pointer;
            opacity: .3;

            &:hover {
                opacity: .4;
                text-decoration: none;
            }

            &.show-profile-details {
                float: right;
                margin-right: 0;
            }
        }
    }
}
