﻿<div ng-controller="usersController as userCrtl">
    <h1>{{message}}</h1>
    <div class="row">
        <form>
            <button id="loadBtn" type="submit" data-loading-text="Loading..." autocomplete="off"
                    class="btn btn-default col-sm-1 col-lg-2 col-md-1 col-xs-11" style="margin-left: 10px" ng-click="userCrtl.getUsers()">
                Get users
            </button>
            <div class="col-sm-4 col-lg-5 col-md-5 col-xs-12">
                <input type="text" class="form-control" placeholder="Filter" ng-model="filter" />
            </div>
        </form>
    </div>
    <div class="row alert alert-info center-block" style="margin: 30px" role="alert" ng-show="loadingMessage!=null"><strong>Result: </strong>{{ loadingMessage }}</div>
    <table id="grid-basic" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric">ID</th>
                <th data-column-id="firstName">First name</th>
                <th data-column-id="lastName" data-order="desc">Last name</th>
                <th data-column-id="login">Login</th>
                <th data-column-id="email">Email</th>
                <th data-column-id="active" data-type="bool">Active</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.Id}}</td>
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.Login}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.IsActive}}</td>
        </tr>
        </tbody>
    </table>
</div>