table.pvtTable {
    font-family: Verdana;
}

table.pvtTable .pvtRowLabel {
    vertical-align: top;
    white-space: nowrap;
}

table.pvtTable .pvtColLabel {
    white-space: nowrap;
}

table.pvtTable .pvtAxisLabel {
    white-space: nowrap;
}

table.pvtTable .pvtRowSubtotal {
    background-color: #EFEFEF !important;
    font-weight:bold;
}

table.pvtTable .pvtColSubtotal {
    background-color: #EFEFEF !important;
    font-weight:bold;
}

table.pvtTable .expanded {
    cursor: pointer
}