﻿@legend-border-color: #333;
@legend-name-color: #777;
@color-available: #FFF;
@color-home-office: #FFBE40;
@color-absence: #dc3545;
@color-holiday: #B6D3EE;
@color-currentday:#808080;
@color-header: #ebebe0;
@select-cell-color: #007bff;
@weekend-background-color: #eee;
@project-separate-color: #aaa;
@table-border-color: #ddd;
@weekend-color: #dc3545;
@table-border-color: #ddd;
@project-separate-color: #aaa;
@project-backgroud-color: #F8F8F8;
@key-column-z-index: 150;

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.available {
    text-align: center;
}

.daySelector(@name, @background-color) {
    .@{name} {
        text-align: center;
        background-color: @background-color;     
    }
}

.daySelector(@name, @background-color, @text-color) {
    .@{name} {
        text-align: center;
        background-color: @background-color;
        color: @text-color;
    }
}

.daySelector(weekend, @weekend-background-color, @weekend-color);

.daySelector(holiday, @color-holiday);

.daySelector(home-office, @color-home-office);

.daySelector(absence, @color-absence);

.daySelector(currentday, @color-currentday);

.daySelector(not-contracted, @weekend-background-color);

.absence-schedule-sheet {
    padding: 10px 0 20px 0;

    &:last-child {
        padding-bottom: 0;
    }

    .schedule-sheet {
        border: none;
        border-collapse: separate;

        thead {
            tr {
                &:nth-child(2) {
                    th:first-child {
                        border-left: 1px solid @table-border-color;
                        border-right: 1px solid @table-border-color;
                    }
                }
            }
        }

        tfoot {
            tr:first-child {
                td {
                    border-top: 1px solid @project-separate-color;

                    &:first-child {
                        z-index: @key-column-z-index;
                    }

                    &.project-name {
                        z-index: @key-column-z-index + 1;
                    }
                }
            }

            tr:nth-child(1):nth-last-child(2),
            tr:nth-child(2):nth-last-child(1) {
                &:last-child {
                    td {
                        border-top: unset;
                    }
                }
            }

            tr:last-child {
                height: 29.6px;

                td {
                    &.key-column {
                        border-bottom: 1px solid @table-border-color;
                        z-index: @key-column-z-index;
                    }

                    border-right: 1px solid @table-border-color;
                }
            }
        }
    }
}


.day-number {
    border-right: 1px solid @table-border-color;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px 2px 10px;
    text-align: center;
}

.day-name {
    border-right: 1px solid @table-border-color;
    border-bottom: 1px solid @project-separate-color;
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 3px;
    text-align: center;
}

.week-number-row {
    .key-column {
        border-bottom: 1px solid @table-border-color;
        border-left: none;
    }
    th {
        padding: 5px;
    }
}

.week-number {
    border-bottom: 1px solid @table-border-color;
    border-top: 1px solid @table-border-color;
    border-right: 1px solid @table-border-color;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
}

.month-name {
    border: 1px solid @table-border-color;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 3px 5px;
}

.key-column {
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 3px;
    vertical-align: bottom;
    border-bottom: 1px solid @project-separate-color;
    font-style: italic;
}

thead {
    th {
        &.hours-summary-column {
            text-align: center;
            font-weight: bold;
            border-right: 1px solid @table-border-color;
        }
    }
}

th {
    position: relative;
}

td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid @table-border-color;

    &:first-child {
        border-left: 1px solid @table-border-color;
        border-right: 0;
    }

    &:last-child {
        border-right: 1px solid @table-border-color;
    }

    &.availability {
        border-right: 1px solid @table-border-color;
        font-size: 11px;
        line-height: 20px;
    }

    &.name {
        border-right: 1px solid @table-border-color;
        font-size: 12px;
        padding: 5px 0 3px 5px;
        min-width: 200px;
    }
}

.entryStyle(@color) {
    .icon {
        background-color: @color;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;

    .legend {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        padding: 5px 15px;

        .entry {
            display: block;
            list-style: none;
            margin-right: 10px;

            .icon {
                border: 1px solid @legend-border-color;
                display: inline-block;
                height: 10px;
                margin-right: 3px;
                width: 10px;
            }

            .name {
                color: @legend-name-color;
                font-size: 11px;
                line-height: 20px;
                white-space: nowrap;
            }

            &.home-office {
                .entryStyle(@color-home-office);
            }

            &.absence {
                .entryStyle(@color-absence);
            }

            &.available {
                .entryStyle(@color-available);
            }

            &.holiday {
                .entryStyle(@color-holiday);
            }

            &.currentday {
                .entryStyle(@color-currentday);
            }

            &.not-contracted {
                .entryStyle(@weekend-background-color);
            }
        }
    }
}
.total-absence-container {
    visibility: hidden;
}

.select-cell {
    background: @select-cell-color;
}