﻿@progress-color: #62da62;
@warning-color: #ffd800;
@error-color: #ffcaca;
@text-color: #333;
@row-height: 30px;
@default-background-color: #ececec;
@default-border-color: #ddd;

.enable-scrolls() {
    & {
        overflow: auto;
        overflow-x: scroll;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
        position: fixed;
        left: 0;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, .5);
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
    }
}

.btn-group {
    margin-right: 5px;

    .btn-group {
        margin-right: 0;
    }
}

.grid-time-sheet {
    .time-sheet {
        padding-right: 10px;
    }

    #time-sheet {
        thead, tfoot {
            .key-column {
                padding-left: 5px;
            }

            .week-number-row {
                .key-column {
                    border: none;
                }
            }
        }
    }
}

table#time-sheet {
    thead {
        .day-number-row {
            th {
                padding: 0;
                border-bottom: 1px solid @default-border-color;
                border-top: 1px solid @default-border-color;
            }
        }

        .week-number-row {
            th {
                border-bottom: none;
            }
        }
    }

    tbody {
        .enable-scrolls();

        .task-row {
            td {
                input {
                    &.validation-error {
                        &:focus {
                            background-color: @error-color;
                        }
                    }
                }
            }
        }

        &.with-attributes {
            .task-row {
                td {
                    &.name {

                        > .task-name-container {

                            input {
                                min-width: 80px;
                            }
                        }
                    }
                }
            }
        }

        .project-row {
            td {
                height: @row-height + 1px;
                border-top: 1px solid #aaa;
                border-bottom: 1px solid @default-border-color;
            }
        }

        .task-row {
            td {
                border-bottom: 1px solid @default-border-color;

                &.name {
                    padding-left: 0;
                    padding-right: 0;

                    > .task-name-container {
                        display: flex;
                        position: static;

                        input {
                            min-width: 160px;
                        }

                        .btn-container {
                            min-width: 72px;
                            height: 29px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .task-indicator-icons {
                                position: static;
                                right: 4px;
                                padding-right: 5px;
                                i {
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }

                &.weekend input[readonly] {
                    background-color: #eeeeee;
                }

                &.working-day input[readonly] {
                    background-color: #f8f8f8;
                }

                &.hours .ui-tooltip {
                    height: @row-height;
                }
            }
        }
    }

    thead {
        th {
            &.day-number {
                i {
                    &.tt-marker {
                        display: block;

                        &.ot-not-marked {
                            color: #fa2222;
                        }
                    }
                }
            }
        }
    }
}

tfoot {
    tr {
        height: @row-height;

        &.add-project-row {
            input {
                font-weight: normal;
            }
        }

        &.summary-row {
            td {
                border-top: 1px solid @default-border-color;
                border-bottom: 1px solid @default-border-color;
            }
        }

        td {
            &.hours-sum.working-day span {
                display: block;
                line-height: @row-height;

                &.workinglimit-exceeded {
                    background-color: #fcf8e0;
                }
            }

            &.key-column {
                position: relative;
                height: @row-height;

                .container-progress {
                    position: absolute;
                    background-color: @progress-color;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    -webkit-transition: width 2s;
                    transition: all 1s ease;
                    overflow: hidden;

                    &.warning {
                        background-color: @warning-color;
                    }
                }

                .container-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: row;
                    flex: 100% 1;
                    width: 100%;
                    padding-left: 5px;

                    .container-summary {
                        width: 100%;
                        font-style: italic;
                        font-weight: normal;
                        color: @text-color;
                        line-height: @row-height;
                        white-space: nowrap;
                    }

                    .container-sigma {
                        padding-right: 5px;
                        line-height: @row-height;
                        cursor: default;
                    }
                }
            }
        }
    }
}

/*.alert-container {
    min-width: 300px;
    max-width: 500px;
    width: auto;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 999;
}*/

.breadcrumb {
    li {
        line-height: 22px;
        display: inline-block;
    }

    .active {
        color: #777;
    }

    li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }
}

.static-width(@width) {
    width: @width;
    min-width: @width;
    max-width: @width;
}

.grid-time-sheet {
    margin: 0;
    padding: 0;
    position: static;
    overflow: auto;

    #time-sheet {
        display: flex;
        flex-flow: column;
        margin: 0;
        padding: 0;

        .key-column {
            position: relative;
            display: flex;
            flex-direction: row;
            border-right: 1px solid @default-border-color;

            input {
                min-width: 100px;
                padding: 4px 3px;
            }

            .btn-container {
                position: unset;
                min-width: 72px;
                border: none;
            }

            .attributes-container {
                border: none;
                padding:0;
                >span {
                    display: inline-block;
                    margin-right: 5px;
                    margin-top: 2px;
                    padding: 0 5px;
                    height: @row-height - 4px;
                    line-height: @row-height - 4px;

                    border: 1px solid @default-border-color;

                    cursor: help;
                    background-color: @default-background-color;
                }

                .btn-combobox {
                    padding: 0 4px;
                    line-height: @row-height - 2px;
                    border: none;
                }
            }
        }

        .hours-summary-column {
            .static-width(40px);
        }

        td, th {
            .static-width(40px);
            padding: 0;
        }

        tr {
            td, th {
                height: @row-height;
            }
        }

        tbody {
            overflow: hidden;
            overflow-y: auto;
            display: block;
            position: relative;
        }
    }
}

/*
    MyTimeReport overides
}*/

.grid-time-sheet .time-sheet tfoot tr:first-child td {
    border-top: none;
}
table .project-row td, table .hours-summary-row td {
    border-top: none;
    font-weight: bold;
}