﻿@import '../../../Content/Dante/Progress.less';

@progress-color: #70ad47;
@warning-color: #ffc000;
@error-color: #ffcaca;
@text-color: #333;
@row-height: 30px;
@cell-width: 40px;
@current-row-color: #cacaca;
@default-background-color: #ececec;
@default-border-color: #ddd;
@highlight-background-color: #eee;
@strong-background-color: #999;
@weekend-font-color: #c00;
@overtime-color: #f00;
@validation-warning-color: #fcf8e0;

@base-background-color: #FFF;

.enable-scrolls(@size) {
    & {
        overflow: auto;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: @size;
        position: fixed;
        left: 0;
    }

    &::-webkit-scrollbar:horizontal {
        height: @size;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        border: 2px solid white;
        background-color: lighten(@strong-background-color, 10%);

        &:hover {
            background-color: @default-border-color;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: @base-background-color;
        border-radius: 8px;
    }
}

.static-width(@width) {
    max-width: @width;
    min-width: @width;
    width: @width;
}

.static-height(@height) {
    max-height: @height;
    min-height: @height;
    height: @height;
}

#time-sheet {
    width: 100%;
    font-size: 12px;
    padding-right: 10px;
    border-collapse: separate;

    &.fixed-table {
        display: flex;
        flex-flow: column;

        thead {
            display: block;

            tr {
                &.day-number-row {

                    th {
                        &.day-number {
                            .static-width(@cell-width);

                            .ot {
                                color: @overtime-color;
                            }
                        }
                    }
                }
            }
        }

        tbody {
            overflow: hidden;
            display: block;

            &.time-sheet-body {
                tr {
                    td {
                        flex: 1;
                        .static-height(@row-height);
                    }
                }
            }
        }
    }

    .time-sheet-row {
        border-top: 1px solid @default-border-color;

        &.task-row, &.clock-card-row {
            &.focused td {
                border-bottom: 1px dashed @current-row-color;
            }

            .read-only-cell {
                background: @highlight-background-color;
            }
        }

        &.clock-card-row:first-child {
            td {
                border-top: 1px solid @strong-background-color;

                input {
                    padding: 0;
                }
            }
        }

        &.project-row {
            font-weight: bold;

            &:first-child {
                border-top: 1px solid transparent;

                td {
                    border-top: 1px solid @strong-background-color;
                }
            }

            td {
                border-top: 1px solid @strong-background-color;

                &.project-name {
                    .btn-toggle-tasks {
                        border: none;
                        padding: 3px 0px;
                        z-index: 1;
                        outline: none;
                        position: relative;
                        left: 2px;

                        i {
                            font-size: 14px;
                            width: 10px;
                            margin: 0;
                        }

                        &:hover, &:active, &:focus {
                            background-color: @base-background-color;
                            box-shadow: none;

                            i {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }



    .time-sheet-header {
        .hours-summary-column {
            border-right: 1px solid @strong-background-color;
            border-top: 1px solid @default-border-color;
            background-color: @base-background-color;
            position: relative;
            z-index: 100;
            text-align: center;
            font-weight: bold;
            .static-width(@cell-width);
        }

        .key-column {
            border-right: 1px solid @default-border-color;
            border-left: 1px solid @default-border-color;
            border-top: 1px solid @default-border-color;
            position: relative;
            padding-left: 5px;
            background-color: @base-background-color;
            z-index: 100;
        }

        .week-key-column {
            background-color: @base-background-color;
            border-right: 1px solid @default-border-color;

            &-sum {
                border-right: 1px solid @default-border-color;
            }
        }

        .day-name {
            border-right: 1px solid @default-border-color;
            font-weight: normal;
            text-align: center;
            padding: 3px 0;
            font-size: 10px;
            position: relative;

            .tt-marker {
                position: absolute;
                top: 2px;
                left: 2px;
            }

            > span {
                font-size: 12px;
            }

            &.weekend, &.holiday {
                background-color: @highlight-background-color;
                color: @weekend-font-color;
                background-clip: padding-box;
            }
        }

        .week-number {
            text-align: center;
            border: 1px solid @default-background-color;
            border-left: none;
            font-weight: normal;
        }

        .time-sheet-row {
            border-top: none;
        }
    }

    .time-sheet-footer {
        .add-project-row td {
            border-top: 1px solid @strong-background-color;
        }

        .hours-summary-row.summary-row {
            border-bottom: 1px solid @default-border-color;
            border-right: 1px solid @default-border-color;

            td {
                border-top: 1px solid @strong-background-color;
            }
        }

        .hours-sum {
            &.weekend, &.holiday {
                background-color: @highlight-background-color;
                color: @weekend-font-color;
                background-clip: padding-box;
            }
        }
    }

    td {
        .static-height(@row-height);
        padding: 0;
        border-bottom: 1px solid @default-background-color;

        input {
            border: none;
            width: 100%;
            .static-height(@row-height - 2px);
            line-height: @row-height;
            padding: 0 5px;

            &.validation-error:focus {
                background-color: @error-color;
            }
        }

        &.hours-sum {
            .static-width(@cell-width);
            text-align: center;
            border-right: 1px solid @default-border-color;

            &.hours-summary-column {
                border-right: 1px solid @strong-background-color;
            }

            background-color: @base-background-color;

            &.working-day span {
                display: block;
                line-height: @row-height;

                &.validation-warning {
                    background-color: @validation-warning-color;
                }
            }
        }

        &.hours, &.clock-card-time {
            .static-width(@cell-width);
            border-right: 1px solid @default-border-color;
            text-align: center;

            input {
                font-size: 11px;
                text-align: center;
                background-color: transparent;

                &.validation-warning {
                    background-color: @validation-warning-color;
                }
            }

            &.weekend, &.holiday {
                background: @highlight-background-color;
                color: @weekend-font-color;
            }
        }

        &.key-column {
            border-left: 1px solid @default-border-color;
            background-color: @base-background-color;
            border-right: 1px solid @default-background-color;
            will-change: transform;

            &.clock-card-name {
                padding-left: 5px;
                font-weight: normal;
                min-width: 270px;
            }

            &.name .task-name-container, &.name .clock-card-name-container {
                width: 100%;

                .btn-container {
                    min-width: 72px;
                    height: 29px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }

            .task-indicator-icons, .project-indicator-icons, .clock-card-indicator-icons {
                position: static;
                right: 4px;
                padding-right: 5px;

                i {
                    padding-left: 5px;
                }

                .overtime-indicator {
                    color: @overtime-color;
                }
            }

            &.name, &.name .task-name-container, &.name .clock-card-name-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;

                .twitter-typeahead {
                    width: 100%;
                }

                input {
                    min-width: 200px;
                    width: 100%;
                    outline: none;
                }

                .clock-card-name-label {
                    min-width: 200px;
                    width: 100%;
                }

                .attributes-container {
                    @attribute-margin: 5px;
                    border-left: 1px solid @default-border-color;
                    height: @row-height;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0 2px;

                    > span {
                        display: inline-block;
                        height: @row-height - @attribute-margin;
                        line-height: @row-height - @attribute-margin;
                        margin-right: @attribute-margin;
                        padding: 0 2px;
                        font-size: 10px;
                        border: 1px solid @default-border-color;
                        cursor: help;
                        background-color: @default-background-color;
                        white-space: nowrap;
                    }

                    .btn-combobox {
                        background-color: @base-background-color;
                        border-color: transparent;
                        color: #555;
                        margin-right: 1px;
                        padding: 0 4px;
                        float: unset;

                        &:hover {
                            background-color: #e6e6e6;
                            color: #333;
                        }
                    }
                }

                .btn-container {
                    flex: 2 4 10%;
                    .static-width(70px);
                    border-left: 1px solid @default-border-color;
                    height: @row-height;
                    padding: 5px 2px;

                    &, & > div {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                    }

                    &:hover {
                        .btn {
                            .fa, .caret {
                                color: @text-color;
                            }
                        }
                    }

                    .btn {
                        border: none;
                        text-align: center;

                        .fa, .caret {
                            margin: 0;
                            color: @default-border-color;
                        }
                    }
                }
            }
        }
    }

    td.contracted-hours {
        border-bottom: none;

        .time-report-progress-bar {
            position: relative;
            width: 100%;
            background-color: @base-background-color;
            color: @text-color;
            height: @row-height - 1;

            .container-progress {
                position: absolute;
                background-color: @progress-color;
                height: @row-height;
                width: 100%;
                top: 0;
                left: 0;
                -webkit-transition: width 2s;
                transition: all 1s ease;
                overflow: hidden;

                &.warning {
                    background-color: @warning-color;
                }

                &.error {
                    background-color: @error-color;
                }
            }

            .container-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-flow: row;
                flex: 100% 1;
                width: 100%;
                padding-left: 5px;
                height: @row-height + 1;
                border-bottom: 1px solid @default-background-color;

                .container-summary {
                    width: 100%;
                    font-style: italic;
                    font-weight: normal;
                    color: @text-color;
                    line-height: @row-height;
                    white-space: nowrap;
                    text-align: left;

                    &-overtime {
                        font-weight: bold;
                        padding-right: 5px;
                        color: @overtime-color;
                    }
                }

                .container-sigma {
                    padding-right: 5px;
                    line-height: @row-height;
                    font-weight: bold;
                }
            }
        }
    }
}

.breadcrumb {
    li {
        line-height: 22px;
        display: inline-block;
    }

    .active {
        color: #777;
    }

    li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    & &-container {
        position: relative;

        .fa.fa-info-circle {
            position: absolute;
            right: 0;
            line-height: 28px;
        }
    }
}

#time-tracking-report-header {
    .btn-group {
        padding-right: 5px;
    }
}

.tt-hint {
    color: #ddd;
}

.tt-menu {
    background-color: @base-background-color;
    border: 1px solid @default-border-color;
    z-index: 1000 !important;

    .tt-notfound, .tt-loading {
        padding: 5px 3px;
    }

    .tt-suggestion {
        b {
            width: 350px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 11px;
        }

        span {
            font-size: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: block;

            &.client-name {
            }

            &.pets-name {
            }
        }

        &.tt-selectable {
            border-bottom: 1px solid #ececec;
            padding: 5px 3px;

            &.tt-cursor, &:hover {
                background-color: #ececec;
                cursor: pointer;
            }
        }
    }
}

.page-layout .content-section .content-wrapper .content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 30px;
    width: calc(~"100vw - 33px");
    overflow: hidden;

    &.mobile-version {
        overflow: auto;
    }

    .alert-container {
        position: fixed;
        z-index: 999;
        top: 50px;
        right: 0;
        overflow: auto;
        max-height: calc(~"100% - 100px");
        border-bottom: 0;
        pointer-events: none;

        .alert {
            float: right;
            clear: right;
            min-width: 280px;
            max-width: 500px;
            pointer-events: auto;
            margin-bottom: 7px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    }

    table {
        position: absolute;
        z-index: 200;
    }

    .scrollbar-container {
        z-index: 100;
        overflow: auto;
        position: fixed;
        bottom: 30px;
        right: 0;

        &-body {
            position: relative;
            .enable-scrolls(15px);
        }
    }
}

.content.container-fluid {
    padding-left: 0;
    margin-left: 15px;
}

@media (max-height: 319px), (max-width: 479px) {
    .page-layout {
        display: table;

        .header-section {
            display: table-row;
        }

        .content-section {
            display: table-row;
            height: 100%;

            .content-wrapper {
                height: 100%;

                .content {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    overflow: scroll;
                }
            }
        }
    }
}

.project-reorder-box {
    display: inline-block;
    padding-left: 5px;
    width: 15px;
}
.double-project-move {
    .btn-project-move-down {
        bottom: 4px;
        background-color: transparent;
    }
    .btn-project-move-up {
        top: 6px;
        background-color: transparent;
    }
}
.btn-project-move-up, .btn-project-move-down {
    border: none;
    padding: 3px 0px;
    z-index: 1;
    outline: none;
    position: relative;
    left: 2px;

    i {
        font-size: 14px;
        width: 10px;
        margin: 0;
    }

    &:hover {
        background: transparent;
        i {
            color: silver;
        }
    }
}