﻿//Import
@import "ProjectAttributes.less";

//Variables
@table-border-color: #ddd;
@color1: #fff;
@color2: #c00;
@color3: #eee;
@color4: #999;
@project-separate-color: #aaa;
@project-backgroud-color: #F8F8F8;

@width0: 20px;

@cellPadding: 3px 5px;
@buttons-width: 72px;
@hoursAlign: center;

@key-column-z-index: 150;

.status {
    border: 1px dotted gray;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 0.9em;

    &.rejected {
        background-color: #c33;
        color: white;
    }

    &.rejected:after {
        font-family: 'FontAwesome';
        content: '\f071';
        margin-left: 5px;
    }
}

.page-title .fa-lock {
    font-size: smaller;
}

.twitter-typeahead {
    width: 100%;
}

.key-column {
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 3px;
    vertical-align: bottom;
    border-bottom: 1px solid @project-separate-color;
}

.key-column.hours-summary-column {
    padding-bottom: 11px;
    padding-right: 4px;
    border-right: 1px solid @table-border-color;
    border-bottom: 1px solid @project-separate-color;
}

.contracted-hours-container {
    font-weight: normal;
    width: auto;
    float: left;
    color: @color4;

    .contracted-hours {
        font-style: italic;
    }
}


.sigma-footer-container {
    width: auto;
    float: right;
    padding-right: 5px;
}

.day-number {
    border-right: 1px solid @table-border-color;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px 2px 10px;
    text-align: center;
}

.day-name {
    border-right: 1px solid @table-border-color;
    border-bottom: 1px solid @project-separate-color;
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 3px;
    text-align: center;
}

.weekend {
    background: @color3;
    color: @color2;
}

.holiday {
    background: @color3;
    color: @color2;
}

.read-only-cell {
    background: @color3;
}

thead {
    .weekend {
        text-shadow: 0 0 0.2em @color1, 0 0 0.2em @color1, 0 0 0.2em @color1;
    }

    .holiday {
        text-shadow: 0 0 0.2em @color1, 0 0 0.2em @color1, 0 0 0.2em @color1;
    }

    th {
        &.hours-summary-column {
            text-align: center;
            font-weight: bold;
            border-right: 1px solid @table-border-color;
        }
    }
}

td.hours, td.hours-sum {
    font-size: 12px;
    padding: 0;
    text-align: right;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    text-align: @hoursAlign;
    border-right: 1px solid @table-border-color;
}

th {
    position: relative;

    &.day-number {
        i.tt-marker {
            display: none;
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 10px;
            cursor: pointer;
            color: #333;
        }

        &.ot, &.ot-excited {
            i.tt-marker {
                display: block;
            }
        }

        &.ot-excited {
            i.tt-marker {
                color: red;
            }
        }

        &.ot-no-approvals, &.ot-not-marked {
            i.tt-marker {
                color: #fa2222;
            }
        }

        &.vacation-day-validation {
            i.tt-marker {
                color: orange;
            }
        }
    }
}

td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid @table-border-color;

    &:first-child {
        border-left: 1px solid @table-border-color;
        border-right: 0;
    }

    &:last-child {
        border-right: 1px solid @table-border-color;
    }

    &.hours {
        border-right: 1px solid @table-border-color;
    }

    &.hours, &.name {
        @zIndex: 100;

        .tooltip {
            z-index: @zIndex;
            min-width: 150px;
            max-width: 200px;
        }

        label.tt-marker {
            display: none;
            font-size: 2px;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 0;
            border-color: #e51323 transparent transparent transparent;
            z-index: @zIndex - 1;
            color: transparent;
            overflow: hidden;
        }

        input {
            &:invalid {
                box-shadow: none;
            }

            &:-moz-submit-invalid {
                box-shadow: none;
            }

            &:-moz-ui-invalid {
                box-shadow: none;
            }
        }

        input.tt-error:focus {
            background-color: #ffcaca;
        }

        input.tt-error + label.tt-marker, &.tt-error label {
            display: block;
        }
    }
}

.name {
    font-size: 12px;
    position: relative;
    padding-right: @buttons-width;

    .btn-container {
        text-align: right;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: @buttons-width;
        border-left: 1px solid @table-border-color;
        border-right: 1px solid @table-border-color;
        padding-top: 3px;
    }

    input {
        border: none;
        padding: 5px 3px;
        border: 1px solid Transparent;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &.project-name {
        pre {
            color: red;
        }
    }
}

.tt-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000 !important;

    .tt-notfound, .tt-loading {
        padding: 5px 3px;
    }

    .tt-suggestion {
        b {
            width: 350px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 11px;
        }

        span {
            font-size: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: block;

            &.client-name {
            }

            &.pets-name {
            }
        }

        &.tt-selectable {
            border-bottom: 1px solid #ececec;
            padding: 5px 3px;

            &.tt-cursor, &:hover {
                background-color: #ececec;
                cursor: pointer;
            }
        }
    }
}

table {
    :nth-child(2) {
        .project-row {
            td {
                border-top: unset;
            }
        }
    }

    tbody {
        :last-child {
            td {
                border-bottom: unset;
            }
        }

        .project-row {
            .hours {
                z-index: -1;
            }
        }

        .task-row {

            td {
                &.name {
                    padding-left: 160px;
                }
            }

            .name {
                .read-only-icons-container {
                    width: 100%;

                    @import "TaskIndicatorIcons.less";
                }

                .task-name-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    /*width: calc(~'(100% - @{buttons-width} )');*/
                    width: 100%;
                    @import "TaskIndicatorIcons.less";
                }

                .btn-container .task-indicator-icons {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                }
            }

            input {
                background: transparent;
            }

            .hours {
                z-index: -1;

                input, span {
                    padding: @cellPadding;
                }

                input {
                    border: 0;
                    text-align: @hoursAlign;
                    width: 100%;
                    height: 100%;
                    padding: 5px;

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
    }

    .project-row, .hours-summary-row {
        .working-day {
            background-color: @project-backgroud-color;
        }

        td {
            border-top: 1px solid @project-separate-color;
            font-weight: bold;

            &.hours {
                padding: @cellPadding;
            }

            .project-name-container {
                position: relative;

                .project-indicator-icons {
                    position: absolute;
                    right: 4px;
                    top: 6px;
                    cursor: default;
                }
            }
        }

        input {
            background: white;
        }
    }
}

thead:nth-child(1):nth-last-child(2),
tfoot:nth-child(2):nth-last-child(1) {
    &:last-child {
        td {
            border-top: unset !important;
        }
    }
}

.new-project-row {
    input {
        background: white;
    }
}

.enable-scrolls() {
    & {
        overflow: auto;
        overflow-x: scroll;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, .5);
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
    }
}

.grid-time-sheet {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 100%;
    padding-right: 10px;
    .enable-scrolls();

    .time-sheet {
        border: none;
        border-collapse: separate;

        .btn-default {
            border-color: transparent;
            color: @table-border-color;
            margin-right: 1px;
            padding: 0 4px;
            width: @width0;
        }

        td, th {
            &.fix-horizontal, &.fix-vertical, &.fix-vertical-footer {
                position: relative;
                left: 0;
                background-color: #FFF;
            }

            &.fix-horizontal.fix-vertical {
                z-index: @key-column-z-index;
            }

            &.fix-horizontal.fix-vertical-footer {
                z-index: @key-column-z-index;
            }
        }

        thead {
            tr {
                &:nth-child(2) {
                    th:first-child {
                        border-left: 1px solid @table-border-color;
                        border-right: 1px solid @table-border-color;
                    }
                }
            }
        }

        thead, tfoot {
            tr:not(.new-project-row) {
                th {
                    &.weekend, &.holiday {
                        background-color: @color3 !important;
                    }
                }

                td {
                    &.weekend, &.holiday {
                        background-color: @color3 !important;
                    }
                }
            }
        }

        tfoot {
            tr:first-child {
                td {
                    border-top: 1px solid @project-separate-color;

                    &:first-child {
                        z-index: @key-column-z-index;
                    }

                    &.project-name {
                        z-index: @key-column-z-index + 1;
                    }
                }
            }

            tr:nth-child(1):nth-last-child(2),
            tr:nth-child(2):nth-last-child(1) {
                &:last-child {
                    td {
                        border-top: unset;
                    }
                }
            }

            tr:last-child {
                height: 29.6px;

                td {
                    &.key-column {
                        border-bottom: 1px solid @table-border-color;
                        z-index: @key-column-z-index;
                    }

                    border-right: 1px solid @table-border-color;
                }
            }
        }

        tr {
            &:hover {
                .btn-default {
                    color: #777777;

                    &:hover {
                        color: #333333;
                    }
                }

                .btn-default.no {
                    &:hover {
                        color: #cc3333;
                    }
                }

                .btn-default.yes {
                    &:hover {
                        color: #33cc33;
                    }
                }
            }
        }
    }
}

.week-number-row {
    .key-column {
        border-bottom: 1px solid @table-border-color;
        border-left: none;
    }

    .hours-summary-column {
        border-bottom: 1px solid @table-border-color;
    }
}

.week-number {
    border-bottom: 1px solid @table-border-color;
    border-top: 1px solid @table-border-color;
    border-right: 1px solid @table-border-color;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
}

.tt-hint {
    color: #ddd;
}

.force-hide {
    display: none;
}
