﻿.attributes-container {
    position: relative;
    border-left: 1px solid #ddd;
    padding-top: 3px;
    white-space: nowrap;
    text-align: right;

    .button-dropdown-content {
        display: inline-block;
    }

    .attribute-content-readonly {
        border: 1px solid;
        border-radius: 5%;
        padding: 0 5px;
        background-color: #ececec;
        cursor: help;
        display: inline-block;

        &:first-child {
            margin-left: 5px;
        }

        &:last-child {
            margin-right: 5px;
        }
    }

    #taskRowProjectAttributeContextMenu {
        left: unset;
    }

    .btn-combobox {
        background-color: #fff;
        border-color: transparent;
        color: #555;
        margin-right: 1px;
        padding: 0 4px;
        float: unset;

        &:hover {
            background-color: #e6e6e6;
            color: #333;
        }
    }
}
