﻿.task-indicator-icons {
    position: relative;
    right: 4px;
    top: 6px;
    cursor: default;
    border: none;

    .task-icon {
        border: none;
    }

    .crossed-icon {
        position: relative;
    }

    .crossed-icon::after {
        position: absolute;
        content: '';
        top: 50%;
        left: -20%;
        width: 140%;
        border-bottom: 1px solid red;
        transform: rotate(25deg);
    }
}
