﻿.grid {

    .grid-table {

        tbody {

            td {
                &.single-line-date{
                    white-space: nowrap;
                }

                .tile {
                    width: 35%;
                    max-width: 200px;
                }

                &.fa {
                    display: table-cell;
                    white-space: nowrap;

                    &:before {
                        font-size: 10px;
                        position: relative;
                        bottom: 1px;
                    }

                    > span {
                        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                    }
                }

                > div.project-statuses i.fa {
                    font-size: 10px;
                    position: relative;
                    bottom: 1px;
                }

                .time-report-tile-content {
                    margin: 0;
                    padding: 10px;

                    .employee-name {
                        margin-bottom: 1px;

                        span {
                            text-overflow: ellipsis;
                            width: 80%;
                            max-width: 140px;
                            white-space: nowrap;
                            overflow: hidden;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }

                    .report-date {
                        margin-top: 1px;
                        color: #666;
                    }

                    .report-status {
                        color: #aaa;
                        font-size: 12px;
                        margin-top: -10px;
                    }

                    .progress {
                        margin-bottom: 10px;
                    }

                    .properties {
                        margin-bottom: 0;
                        color: #666;
                        text-align: justify;
                        overflow: hidden;

                        &:after {
                            width: 100%;
                            display: inline-block;
                            font-size: 0;
                            line-height: 0;
                            content: '';
                        }

                        span {
                            &.total, &.billable, &.overtime {
                                display: inline-block;

                                &.overtime {
                                    &:hover {
                                        .hidden-text {
                                            width: 50px;
                                        }
                                    }
                                }
                            }
                        }

                        .hidden-text {
                            transition: width 1s;
                            width: 0;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
