﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Survey.Dto.ServeyConfirmationAfterSubmitDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Thank you for completing our survey!</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Dear intiver<br />
        <br />
        Thank you for completing our survey <span class="bold">@Model.SurveyName</span>, we really appreciate your time and effort. <br />
        <a href="@Model.SurveyAnswersUrl">Click here</a> to see your answers.

        @if (!string.IsNullOrEmpty(Model.ContinueSurveyUrl))
        {
            <p>Survey is still open, so you can change your answers using following <a href="@Model.ContinueSurveyUrl">link</a>.</p>
        }
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Model.PollsterFullName<br />

    @(Raw(EmailTemplateHelper.SharedLegal))
</body>
</html>