﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Survey.Dto.RespondentReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your survey is still waiting for you!</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Dear intiver,<br />
        <br />
        Your survey <span class="bold">@Model.SurveyName</span> is still waiting for you.<br />
        Please fill it in as soon as possible. @Model.PollsterFullName is waiting for your response!<br />
        <br />
        <p><a href="@Model.SurveyUrl">Click here</a> to fill this survey now.</p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    
    @(Raw(EmailTemplateHelper.SharedLegal))
</body>
</html>