﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel
@{ var innerModel = (string)Model.ControlModel; }

<div class="employee-instruction @Model.LabelOffsetClass">
    <div class="@Model.ControlWidthClass">@innerModel</div>
</div>