﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.Toolbar.Actions
@model Smt.Atomic.Presentation.Renderers.CardIndex.ICardIndexRecordWithButtonsViewModel

@if (Model.Buttons.Any())
{
    <div class="form-footer">
        <div class="footer-sizer">
            @foreach (var button in Model.Buttons)
            {
                var dropDownAction = button.OnClickAction as DropdownAction;
                if (dropDownAction != null)
                {
                    <div class="btn-group dropup">
                        @Button(button)
                        @Html.Partial("~/Views/Grid/_ButtonDropDown.cshtml", dropDownAction.Items)
                    </div>
                }
                else
                {
                    @Button(button)
                }
            }
        </div>
    </div>
}


@helper Button(IFooterButton button) {
    <button type="@button.ButtonType.GetDescription()"
            name="@button.Id"
            @if (button.ShouldBeInitiallyDisabled()) {<text> disabled="disabled"</text>}
            @if (button.OnClickAction is DropdownAction) {<text> data-toggle="dropdown"</text>}
            class="@button.GetButtonCssClass() form-buttons"
            @Html.Raw(button.GetHtmlAttributes())>
            @Html.Raw(button.GetInnerHtml())
    </button>
}