﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.EditDialogViewModel<object>

@using (Html.BeginCommonDialog(Model))
{
    <form method="POST" class="form-horizontal" id="main-form" action="@(Url.Action("HandleEditDialog") + Request.Url.Query)">
        @Html.ValidationSummaryAsAlerts(true)
        @Html.AntiForgeryToken()
        @Html.Bootstrap().EditorForModel(Model.Model, new HorizontalFormLayout(), Model.EditFormCustomization)
        <div class="issue-list">
            @Html.Partial("_Alerts", Model.Alerts)
        </div>
    </form>
}
