﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.ImportDialogViewModel

@using (Html.BeginCommonDialog(Model))
{
    <form method="POST" action="@Model.SubmitUrl" class="form-horizontal" id="main-form">
        @Html.ValidationSummaryAsAlerts(true)
        @Html.Bootstrap().EditorForModel(Model.Model, new HorizontalFormLayout())
        <div class="issue-list">
            @Html.Partial("_Alerts", Model.Issues)
        </div>
    </form>
}