﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ViewDialogViewModel<object>

@using (Html.BeginCommonDialog(Model))
{
    <div class="summary-layout">
        <form method="POST" class="form-horizontal" id="main-form">
            @Html.Bootstrap().DisplayForModel(Model.Model, new SummaryLayout(1), Model.ViewFormCustomization)
        </form>
    </div>
}
