﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.ICardIndexRecordViewModel

<div class="summary-layout">
    <form method="POST" class="form-horizontal" id="main-form">
        @Html.Bootstrap().DisplayForModel(Model.ViewModelRecord, new SummaryLayout(1), Model.ViewFormCustomization)
    </form>
</div>

@section footer
{
    @Html.Partial("~/Views/CardIndex/Buttons.cshtml", Model)
}
