﻿.chore-tile {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 2;
    flex-basis: ~"calc((100% / 3) - 7px)";

    .tile-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .tile-title {
            flex: 2 2;
        }

        .tile-date {
            font-size: 12px;
            text-align: right;
            flex: 1;
            margin-left: 5px;
            margin-top: 3px;
        }
    }

    .tile-description {
        margin-bottom: 10px;
        flex-grow: 1;
        color: #777;
    }

    .tile-actions {
        margin-bottom: auto;
        text-align: right;
    }
}

@media (max-width: 991px) {
    .chore-tile {
        flex: 2 1;
        flex-basis: ~"calc((100% / 2) - 20px)";

        &:nth-child(2n) {
            margin-right: 5px;
        }
    }
}

@media (max-width: 768px) {
    .chore-tile {
        flex: 1 1 100%;
        margin: 0 5px 5px;
    }
}