﻿.user-tile {

    .full-name {
        font-size: 130%;
        margin: 0;
        white-space: nowrap;
    }

    .login {
        color: #999;
        white-space: pre;
    }

    &.has-hamburger {
        .full-name {
            margin-right: 30px;
        }
    }

    .email {
        font-size: 90%;
    }

    .properties {
        font-size: 90%;
        color: #999;
        margin: 0;
        padding-bottom: 4px;
    }

    .user-tile-image {
        overflow: hidden;
    }

    &.user-inactive {
        .full-name {
            color: #666;
            text-decoration: line-through;
        }

        .user-tile-image{
            opacity: 0.5;
            filter: grayscale(100%);
        }
    }
}