﻿@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel
@using Smt.Atomic.Business.Allocation.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions

@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.CardIndex
@using EnumHelper = Smt.Atomic.CrossCutting.Common.Helpers.EnumHelper

@{
    ViewBag.GridViewModel = Model;
    Model.IsToolbarRenderedSeparately = true;
    Model.IsPaginationRenderedSeparately = true;
}

@{
    var gridParameters = Model.GridParameters;
    var paginationButtons = Model.GetPaginationButtons();
    var hasRows = Model.Rows.Any();
}

<div class="grid@(paginationButtons.IsNullOrEmpty() ? " no-pagination" : string.Empty)"
     data-component="Grid.GridComponent"
     @if (Model.IsRenderedInParts())
     {
         <text> data-component-id="@Model.ComponentId" </text>
     }
     data-allow-multiple-row-selection="@(HtmlMarkupHelper.ToInputValue(Model.AllowMultipleRowSelection))"
     data-has-rows="@HtmlMarkupHelper.ToInputValue(hasRows)"
     data-has-contextmenu="@(HtmlMarkupHelper.ToInputValue(Model.ShouldRenderContextMenu()))"
     data-on-selection-changed="@Model.OnSelectionChangedJavaScript"
     data-on-rendered="@Model.OnRenderedJavaScript"
     data-on-row-doubleclicked="@Model.OnRowDoubleClickedJavaScript"
     data-display-mode="@Model.DisplayMode"
     @if (Model.DisplayMode == GridDisplayMode.Tiles)
     {
         <text> data-tile-layout="@Model.InitializeJavaScriptAction" </text>
     }
     data-enter-invokes-default-button="@(HtmlMarkupHelper.ToInputValue(Model.ShouldEnterInvokeDefaultButton))"
     data-doubleclick-toggles-selection="@(HtmlMarkupHelper.ToInputValue(Model.ShouldDoubleClickToggleSelection))"
     data-binding-prefix="@Model.BindingPrefix"
     data-excel-export-url="@Model.ExportToExcelUrl"
     data-csv-export-url="@Model.ExportToCsvUrl">

    @if (!Model.IsToolbarRenderedSeparately)
    {
        @Html.Partial("~/Views/Grid/_Toolbar.cshtml", Model)
    }

    <input type="hidden" name="@GridParameterModelBinder.PageParameterUrlName" value="@gridParameters.CurrentPageIndex" data-page-parameter/>
    <input type="hidden" name="@GridParameterModelBinder.FilterParameterUrlName" value="@gridParameters.Filters" data-page-parameter/>
    <input type="hidden" name="@GridParameterModelBinder.OrderParameterUrlName" value="@gridParameters.OrderBy" data-page-parameter/>
    <input type="hidden" name="context" value="@Model.ContextParameters"/>

    @if (!hasRows && !string.IsNullOrWhiteSpace(Model.EmptyListViewName))
    {
        @Html.Partial(Model.EmptyListViewName, Model)
    }
    else
    {
        @Html.Partial(Model.CustomGridDisplayModeViewName, Model)
    }

    @if (!Model.IsPaginationRenderedSeparately)
    {
        @Html.Partial("~/Views/Grid/_Pagination.cshtml", Model)
    }

</div>

@if (ViewBag.Beta != null && ViewBag.Beta)
{
@section scripts {
        @Styles.Render("~/styles/react-ui")
        @Scripts.Render("~/scripts/react", "~/scripts/react-ui", "~/scripts/allocation-react")
    }
}

@section header
{
    @if (!string.IsNullOrWhiteSpace(Model.ContextSettings.ViewName) && Model.ContextViewModel != null)
    {
        <div class="list-view-context">
            @Html.Partial(Model.ContextSettings.ViewName, Model)
        </div>
    }
    @Html.Partial("~/Views/Grid/_Toolbar.cshtml", Model)
}

@section footer
{
    <div class="form-footer">
        @Html.Partial("~/Views/Grid/_Pagination.cshtml", Model)
        @{
            var periodType = Model.GridParameters.QueryStringFieldValues["period-type"].ToString();
            var isPeriodTypeADay = periodType == EnumHelper.ToUrlString(EmployeeAllocationPeriodType.Day);

            var statuses = new[] {
                AllocationStatus.Allocated,
                AllocationStatus.UnderAllocated,
                AllocationStatus.Planned,
                AllocationStatus.UnderPlanned,
                AllocationStatus.Mixed,
                AllocationStatus.Free,
                AllocationStatus.InActive,
                AllocationStatus.Unavailable,
                AllocationStatus.Processing
            };

            var statusesDictionary = statuses.ToDictionary(s => s.ToString().ToLowerInvariant(), s => s.GetDescription());
        }
        @if (ViewBag.Beta != null)
        {
            <div id="footer-items"></div>
        }
        else
        {
            <div class="allocation-status-key">
                @foreach (var status in statusesDictionary)
                {
                    var statusClass = status.Key;
                    var statusLabel = status.Value;

                    <span class="key-label"><span class="key-color key-color-small allocation-@statusClass"></span>@statusLabel</span>
                }
            </div>
        }
    </div>
}
