﻿@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Resources

<div>
    <table class="table table-bordered table-condensed table-hover small">
        <thead>
            <tr>
                <td>@(UtilizationStatusLegendResources.AllocatedHours)</td>
                <td>@(UtilizationStatusLegendResources.PlannedHours)</td>
                <td>@(UtilizationStatusLegendResources.FreeHours)</td>
                <td>@(UtilizationStatusLegendResources.AllocationStatus)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&gt; 80%</td>
                <td></td>
                <td></td>
                <td>@(AllocationStatus.Allocated.GetDescription())</td>
            </tr>
            <tr>
                <td></td>
                <td>&gt; 80%</td>
                <td></td>
                <td>@(AllocationStatus.Planned.GetDescription())</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>&gt; 80%</td>
                <td>@(AllocationStatus.Free.GetDescription())</td>
            </tr>
            <tr>
                <td>&gt; 60%</td>
                <td></td>
                <td></td>
                <td>@(AllocationStatus.UnderAllocated.GetDescription())</td>
            </tr>
            <tr>
                <td></td>
                <td>&gt; 60%</td>
                <td></td>
                <td>@(AllocationStatus.UnderPlanned.GetDescription())</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>&gt; 60%</td>
                <td>@(AllocationStatus.AlmostFree.GetDescription())</td>
            </tr>
            <tr>
                <td colspan="2">@(UtilizationStatusLegendResources.SumPercentageAnd) @(AllocationStatus.Allocated.GetDescription()) &gt; @(AllocationStatus.Planned.GetDescription())</td>
                <td></td>
                <td>@(AllocationStatus.UnderAllocated.GetDescription())</td>
            </tr>
            <tr>
                <td colspan="2">@(UtilizationStatusLegendResources.SumPercentageAnd) @(AllocationStatus.Planned.GetDescription()) &gt; @(AllocationStatus.Allocated.GetDescription())</td>
                <td></td>
                <td>@(AllocationStatus.UnderPlanned.GetDescription())</td>
            </tr>
        </tbody>
    </table>
</div>