﻿@using Smt.Atomic.WebApp.Areas.LittlePony.Resources
@model Smt.Atomic.WebApp.Areas.LittlePony.Models.AliasesViewModel

@using (Html.BeginForm("Index", "BindingDemo", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OrdinaryProperty, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.EditorFor(m => m.OrdinaryProperty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AliasedProperty, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.EditorFor(m => m.AliasedProperty, new { htmlAttributes = new { @class = "form-control", Name = "DifferentName" } })
        </div>
    </div>

    <input type="submit" value="@BindingDemoResources.SubmitButtonLabel" class="btn btn-default col-sm-5 col-sm-offset-3" />
}
