﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.BusinessTrips.Dto.BusinessTripNotSettledReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi,</p>
        <p>Business trip <a href="@(Model.BusinessTripUrl)">@(Model.BusinessTripName)</a> finished more than @(Model.DaysAfterFinished) days ago and is still unsettled.</p>
        <p>Please, settle business trip as soon as possible.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>