﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.BusinessTrips.EmailModels.BusinessTripAssignmentEmailModel
@{
    var isManyBusinessTrips = Model.BusinessTripIdToUrlDictionary.Count > 1;
}

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@string.Format("New business {0} assignment", isManyBusinessTrips ? "trips" : "trip")</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi @Model.EmployeeFullName,<br />
        @if (isManyBusinessTrips)
        {
            @:Following business trips have been assigned to you:
            <ul>
                @foreach (var businessTrip in Model.BusinessTripIdToUrlDictionary)
                {
                    <li><a href="@(businessTrip.Value)">@(businessTrip.Key)</a></li>
                }
            </ul>
        }
        else
        {
            @:@Model.BusinessTripIdToUrlDictionary.First().Key has been assigned to you. <a href="@Model.BusinessTripIdToUrlDictionary.First().Value">Click here</a> to open it.<br />
        }

        <br />
        You can also open <a href="@Model.BusinessTripsUrl">all business trips</a>.<br /><br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>