﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.BusinessTrips.Dto.BusinessTripArrangedReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi,</p>
        <p>Business trip <a href="@(Model.BusinessTripUrl)">@(Model.BusinessTripName)</a> has changed status to arranged. All attachments related to business trip @(Model.BusinessTripName) can be found <a href="@(Model.BusinessTripUrl)">here</a>.</p>
        <p>Please, settle business trip as soon as possible.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>