﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using System.Web;
@model Smt.Atomic.Business.BusinessTrips.EmailModels.BusinessTripCommunicationAddedEmailModel
@{
    var message = new HtmlString(HttpUtility.HtmlDecode(Model.Message));
}

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@Model.EmployeeFullName just posted new comment for business trip</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <div>
            Hi,
        </div>
        <div>
            @Model.EmployeeFullName just posted <a href="@Model.CommunicationUrl">new comment</a> for business trip
        </div>
        <div>
            <p>
                @message
            </p>
        </div>
        <br />
        You can also open <a href="@Model.BusinessTripsUrl">all business trips</a>.<br /><br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>