﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using System.Web;
@using Smt.Atomic.Business.BusinessTrips.EmailModels
@using Smt.Atomic.CrossCutting.Common.Extensions
@model SettlementControllingStatusChangedEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your settlement controlling status has been updated</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <div>
            Hi,
        </div>
        <div>
            The controlling status for <a href="@(Model.BusinessTripSettlementListUrl)">your settlement request <b>BT-@(Model.BusinessTripId)</b></a> has been updated.<br />
            New status: <strong>@(Model.NewControllingStatus.GetDescription())</strong>
        </div>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>