﻿.chores {
    .chores-notification {
        position: relative;

        .fa {
            font-size: 20px;
        }

        .count {
            position: absolute;
            font-size: 10px;
            right: -8px;
            top: -11px;
            border-radius: 100%;
            padding: 2px 5px;
        }
    }

    .chores-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .chores {
        .chores-notification {
            .count {
                right: -4px;
            }
        }

        .chores-text {
            display: inline-block;
        }
    }
}
