﻿.pivotTable {
    max-width: 100%;
    max-height: ~"calc(100% - 80px)";
    overflow: auto;

    &.ui-disabled > table.pvtUi > tbody > tr {
        display: none;

        &:last-child {
            display: block;

            & > td {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }
    }
}

.sudo {
    display: none;
}