﻿div.sign-in-block {
    margin-top: 15px;
    border-top: 1px solid #ADADAD;
    padding-top: 15px;
}

iframe[seamless].auth-iframe {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    display: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}
