﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.AppointmentReviewReminderEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Candidate is waiting for your approval: @Model.ResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    Hi, @Model.CustomerName,<br /><br />
    <div id="content">
        <p>Candidate is waiting for your approval. Please <a href="@Model.CandidateDetailsUrl">Approve or Reject</a> candidate.</p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>