﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.AskForResourceFormDetailsEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Resource request: @Model.ResourceFormName needs clarification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Resource request: <a href="@Model.ResourceFormUrl" target="_blank">@Model.ResourceFormName</a> needs clarification</p>
        <p>Question: @Model.Question</p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>

