﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.AssignmentFinishedEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@Model.ResourceName uploads finished assignment in @Model.NeededResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Assignment finished!</p>
        <p>Comment: @Model.Comment</p>
        <p>You can view answer <a href="@Model.RecommendationUrl">here</a></p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>
