﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.ChallengeRequestedEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Customer requested challenge for @Model.ResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Challenge requested!</p>
        <p>Customer requested challenge for @Model.ResourceName in @Model.NeededResourceName and schedule deadline on @Model.Deadline.</p>
        <p>Files with challenge are attached to this message or you can view it <a href="@Model.RecommendationUrl">here</a></p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>
