﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.ChallengeReminderEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Last chance to submit @Model.ResourceName's answers for challenge on @Model.NeededResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Tommorow (@Model.Deadline) is deadline for challenge set to @Model.ResourceName on @Model.NeededResourceName</p>
        <p>You can view challenge <a href="@Model.ChallengeUrl">here</a></p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>