﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.ScheduleNewInterviewEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Schedule interview: @Model.ResourceName by @Model.ContactName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>New interviews scheduleds!</p>
        <p>@Model.ResourceName has been scheduled for interview by @Model.ContactName for @Model.NeededResourceName</p>
        @if (!String.IsNullOrEmpty(Model.Comment))
        {
            <p>Comment from the Customer:</p>
            <p>@Model.Comment</p>
        }
        @foreach (var interview in Model.Interviews)
        {
            <div>@interview</div>
        }
        <p>You can approve interview in Dante: <a href="@Model.ApproveUrl">@Model.ResourceName</a></p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>
