﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.InterviewInvitationEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Interview invitation: @Model.NeededResource on @Model.StartsOn</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Interview invitation!</p>
        <p>We would like to invite you to interview for @Model.NeededResource on @Model.StartsOn.</p>
        <p>Attendees:</p>
        <ul>
            <li>@Model.Interviewer</li>
            <li>@Model.Interviewee</li>
            <li>@Model.OperationManager</li>
        </ul>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>
