﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.NeededResourceStatusChanged

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Needed resource: @Model.NeededResource was put on hold</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>@Model.NeededResource was put on hold by @Model.CustomerName</p>
        <p>Reason: @Model.Reason</p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>

