﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.WithdrawRecommendationEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Candidate @Model.ResourceName is no longer available (@Model.NeededResourceShortName)</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.ContactFirstName,<br />
        <br />
        Candidate <span class="bold">@Model.ResourceName</span> is no longer available (@Model.NeededResourceShortName)<br />
        <br />
        @if (Model.CommentAvailable)
        {
            <span>Additional information from @Model.SdmName:</span><br />
            <br />
            <table>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <img src="cid:static-quotation-violet-small.png" height="13" width="13" />
                    </td>
                    <td>
                        <span class="comment">@Raw(string.Join("<br />", Model.CommentLines))</span>
                        <span style="padding-left: 5px;"><img style="margin-left: 5px;" src="cid:static-quotation-violet-small.png" height="13" width="13" /></span>
                    </td>
                </tr>
            </table>
            <br />
        }
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Model.SdmName<br />

    @Raw(Model.FooterHtml)<br />
</body>
</html>