﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.CustomerDecisionEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Rejected: @Model.ResourceName by @Model.ContactName (@Model.CompanyName)</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <span class="bold">@Model.ResourceName</span> has been rejected by <span class="bold">@Model.ContactName</span> (@Model.CompanyName) for @Model.NeededResourceShortName<br />
        <br />
        <span>Reason given by the Customer:</span><br />
        <br />
        <table>
            <tr>
                <td valign="top" style="padding-right: 5px;">
                    <img src="cid:static-quotation-violet-small.png" height="13" width="13" />
                </td>
                <td>
                    <span class="comment">@Raw(string.Join("<br />", Model.CommentLines))</span>
                    <span style="padding-left: 5px;"><img style="margin-left: 5px;" src="cid:static-quotation-violet-small.png" height="13" width="13" /></span>
                </td>
            </tr>
        </table>
        <br />
        You can see the recommendation in CRM:
        <table class="link-container" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a class="link" href="@Model.CrmUrl"><span class="link-indicator">&gt;</span><span class="link"> @Model.ResourceName </span><span class="link-indicator">&lt;</span></a>
                </td>
            </tr>
        </table>
        <br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>