﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Accounts.Dto.UserLoginTokenEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Activate your new Customer Portal account</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Dear @Model.FirstName @Model.LastName,<br />
        <br />
        <span class="bold">Your new Customer Portal account has been successfully created.</span><br />
        You can start using it immediately.<br />
        <br />
        <span class="bold">Please follow this <a class="link" href="@Model.LoginUrl">LINK</a> to login.</span><br />
        <span class="bold">Note:</span> provided link will <span class="important">expire at @(Model.ExpiresOn.ToShortDateString())</span>
    </div>
    <br />
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>