﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.RecommendationEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>New Recommendation for @Model.NeededResourceShortName: @Model.ResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.ContactFirstName,<br />
        <br />
        You have a new recommendation for @Model.NeededResourceShortName:<br />
        <table class="link-container" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a class="link" href="@Model.ResourceUrl"><span class="link-indicator">&gt;</span><span class="link"> @Model.ResourceName </span><span class="link-indicator">&lt;</span></a>
                </td>
            </tr>
        </table>
        <br />
        @if (Model.CommentAvailable)
        {
            <span>Comment from @Model.SdmName:</span><br />
            <br />
            <table>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <img src="cid:static-quotation-blue-small.png" height="13" width="13" />
                    </td>
                    <td>
                        <span class="comment">@Raw(string.Join("<br />", Model.CommentLines))</span>
                        <span style="padding-left: 5px;"><img style="margin-left: 5px;" src="cid:static-quotation-blue-small.png" height="13" width="13" /></span>
                    </td>
                </tr>
            </table>
            <br />
        }
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Model.SdmName<br />

    @Raw(Model.FooterHtml)<br />
</body>
</html>