﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.RecommendationsInPendingStateEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Recommendations pending your approval</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.ClientFirstName,<br />
        <br />
        You have following recommendations pending your approval:<br />

        @foreach (var recommendedCandidatesPerNeededResource in Model.RecommendedCandidatesPerNeededResource)
        {
            <br />
            <span>&bull;</span> @recommendedCandidatesPerNeededResource.Key<br />
            foreach (var candidate in recommendedCandidatesPerNeededResource.Value)
            {
                <table cellpadding="0" cellspacing="0" style="margin-left:10px">
                    <tr>
                        <td class="link-container">
                            <a class="link" href="@candidate.ResourceUrl"><span class="link-indicator">&gt;</span><span class="link"> @candidate.CandidateName </span><span class="link-indicator">&lt;</span></a>
                        </td>
                        <td>
                            &ensp;-&ensp;recommended on @candidate.RecommendationDate.ToShortDateString()
                        </td>
                    </tr>
                </table>
            }
        }
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Model.SdmName<br />

    @Raw(Model.FooterHtml)<br />
</body>
</html>