﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.QuestionEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Question from @Model.ContactName about @Model.ResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.SdmFirstName,<br />
        <br />
        <span class="bold">@Model.ContactName</span> (@Model.CompanyName) asked a question about <span class="bold">@Model.ResourceName</span> (@Model.NeededResourceShortName):<br />
        <br />
        <table>
            <tr>
                <td valign="top" style="padding-right: 5px;">
                    <img src="cid:static-quotation-blue-small.png" height="13" width="13" />
                </td>
                <td>
                    <span class="question">@Raw(string.Join("<br />", Model.QuestionLines))</span>
                    <span style="padding-left: 5px;"><img style="margin-left: 5px;" src="cid:static-quotation-blue-small.png" height="13" width="13" /></span>
                </td>
            </tr>
        </table>
        <br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
    <br />
    @Raw(Model.FooterHtml)
</body>
</html>