﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.ResourceRequestSubmittedEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>New resource request: @Model.ResourceName from @Model.CustomerName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <h2>Customer requested new resources!</h2>
        <div class="summary">
            <p>@Model.CustomerName</p>
            <p>Requested <strong>@Model.ResourceCount</strong> resources for <strong>@Model.ResourceName</strong></p>
        </div>
        <label>Role description:</label><p>@Model.RoleDescription</p>
        <label>Position requirements:</label><p>@Model.PositionRequirements</p>
        <label>Project description:</label><p>@Model.ProjectDescription</p>
        <label>Project duration:</label><p>@Model.ProjectDuration</p>
        <label>Planned start:</label><p>@Model.PlannedStart</p>
        <label>Location:</label><p>@Model.Location</p>
        <label>Recruitment phases:</label><p>@Model.RecruitmentPhases</p>
        <label>Language requirements: @Model.RequiredLanguages</label><p>@Model.LanguageComment</p>
        <label>Additional comment:</label><p>@Model.AdditionalComment</p>

        <p>You can see request here: <a href="@Model.ReviewFormUrl">@Model.ReviewFormUrl</a></p>

        --<br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Raw(Model.FooterHtml)<br />
</body>
</html>
