﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.CustomerPortal.Dto.ResourceRequestAcceptedConfirmationEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your resource request has been accepted: @Model.ResourceName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    Hi, @Model.CustomerFirstName,<br /><br />
    <div id="content">
        <p>Your resource request has been accepted. Please stay tuned, soon we will send you recommendations of our employees which meets your requirements.</p>
        <p></p>
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))

    @Model.SdmName<br />

    @Raw(Model.FooterHtml)<br />
</body>
</html>