﻿@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.Business.Accounts.Enums
@using Smt.Atomic.Business.Allocation.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Resources

@using Smt.Atomic.WebApp.Resources
@model TileViewModel
@{
    var projectModel = (ProjectViewModel)Model.Row;
}

<div class="tile project-tile @Model.GetRowButtonClass()" tabindex="0">
    <div class="tile-picture project-tile-image">
        <img src="@Url.Action("Download", "ProjectPicture", new {area = "Allocation", projectId = projectModel.Id, projectPictureSize = ProjectPictureSize.Normal})"
             alt="@LayoutResources.ProjectPictureText"
             width="@((int) ProjectPictureSize.Normal)"
             title="@projectModel.ProjectShortName"/>
    </div>
    <div class="tile-content">
        <p class="projectHeader">@projectModel.ProjectShortName</p>
        <p class="projectTitle">@projectModel.ClientShortName</p>
    </div>

    <div class="row detailsRow">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-5 col-vs-5 tdLabel">@ProjectResources.DescriptionLabel:</div>
                <div class="col-sm-7 col-vs-9 tdDisplay">@projectModel.Description</div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-vs-5 tdLabel">@ProjectResources.PetsCodeLabel:</div>
                <div class="col-sm-7 col-vs-9 tdDisplay">@projectModel.PetsCode</div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-vs-5 tdLabel">@ProjectResources.OrgUnitLabelShort:</div>
                <div class="col-sm-7 col-vs-9 tdDisplay">@projectModel.OrgUnitName</div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-vs-5 tdLabel">@ProjectResources.ProjectManagerLabelShort:</div>
                <div class="col-sm-7 col-vs-9 tdDisplay">@projectModel.ProjectManagerFullName</div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-vs-5 tdLabel">@ProjectResources.ProjectStatusLabelShort:</div>
                <div class="col-sm-7 col-vs-9 tdDisplay">@projectModel.ProjectStatus.GetDescription()</div>
            </div>
        </div>
    </div>
</div>