﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.NumberControl.NumberControlRenderingModel

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass()" data-component="NumericControls.NumberControl">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    <div class="number-picker @Model.ControlWidthClass @(Model.IsNullable ? "is-nullable" : string.Empty)">
        @if (!Model.IsNullable && Model.Precision != 0)
        {
            <input @(Model.GetInputTagAttributes()) />
        }
        else
        {
        <div class="input-group">
            <input @(Model.GetInputTagAttributes()) />
            @if (Model.Precision == 0)
            {
                <span class="input-group-addon number-increment @Model.SpinnerButtonClass">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </span>
                <span class="input-group-addon number-decrement @Model.SpinnerButtonClass">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </span>
            }
            @if (Model.IsNullable)
            {
                <span class="input-group-addon number-set-null @Model.SpinnerButtonClass">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            }
        </div>
        }

        <span class="@Model.GetValidationSpanClass()"
              data-valmsg-replace="true"
              data-valmsg-for="@Model.Name">
            @foreach (var error in Model.Errors)
            {
                <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
            }
        </span>            
    </div>
</div>