﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.Reporting.Resources

@using (Html.BeginForm("PerformReportById", "ReportExecution", new { id = ViewBag.ReportId }, FormMethod.Post, new { id = "main-form", @class = "form-horizontal" }))
{
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model)
}

@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="@ReportingResources.OkButtonText" form="main-form" />
            <a class="btn btn-default" href="@Request.UrlReferrer">@ReportingResources.BackButtonText</a>
        </div>
    </div>
}