﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ModelBasedDialogViewModel<object>

@using (Html.BeginCommonDialog(Model))
{
    using (Html.BeginForm("PerformReportDialog", "ReportExecution", new { reportCode = ViewBag.ReportCode }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummaryAsAlerts(true)
        @Html.Bootstrap().EditorForModel(Model.Model, new HorizontalFormLayout())
    }
}

<script type="text/javascript">
    (function() {
        var $container = $("[id$='timetrackingdatasourceparametersviewmodel']");

        $(".form-group label.col-sm-2").removeClass("col-sm-2").addClass("col-sm-3");

        $(".form-group label.col-sm-3 + div", $container).not(".date")
            .removeClass(function(index, className) {
                return (className.match(/(^|\s)col-sm-\S+/g) || []).join(' ');
            }).each(function(index, element) {
                var $element = $(element);
                if ($("select[id]", $element).length > 0) {
                    $element.addClass("col-sm-5");
                } else {
                    $element.addClass("col-sm-9");
                }
            });
    })();
</script>
