﻿@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.Accounts.Models
@using Smt.Atomic.WebApp.Extensions
@model ModelBasedDialogViewModel<RoleHubViewModel>

@{
    RoleHubViewModel viewModel = Model.Model;
}

@using (Html.BeginCommonDialog(Model))
{
    <link rel="stylesheet" type="text/css" href="/Content/Atomic/RoleHub.css">
    <p>@(viewModel.Description)</p>
    <hr />
    if (viewModel.Usages.Any())
    {
        <ul>
            @foreach (var usage in viewModel.Usages)
            {
                <li>@(Url.Action(usage.Action, usage.Controller, new { area = usage.Area }))</li>
            }
        </ul>
    }
}
