﻿@using Smt.Atomic.Presentation.Common.Helpers;
@using Smt.Atomic.Presentation.Renderers.Enums;
@using Smt.Atomic.Presentation.Renderers.Extensions;
@using Smt.Atomic.WebApp.Areas.Workflows.Controllers;
@using Smt.Atomic.WebApp.Areas.PeopleManagement.Models;
@using Smt.Atomic.WebApp.Areas.PeopleManagement.Resources;

@model OnboardingDocumentsViewModel

<div>
    @if (@Model.Documents.Length == 0)
    {
        <p class="alert alert-info">@OnboardingRequestResources.NoDocumentsAvailable</p>
    }
    else
    {
        <ul class="list-group" style="max-width: 600px; margin: 0 auto;">
            @foreach (var document in @Model.Documents)
            {
                var parameters = new[] { "documentId", document.DocumentId.ToString(), "secret", Model.Secret.ToString() };
                var uri = @Url.UriActionGet(
                    Model.ActionName,
                    RoutingHelper.GetControllerName(typeof(OnboardingRequestController)),
                    RoutingHelper.GetAreaName(typeof(OnboardingRequestController)),
                    KnownParameter.None,
                    parameters);

                <li class="list-group-item">
                    <a href="@uri.Url">
                        <i class="fa fa-file"></i>
                        <span>@document.DocumentName</span>
                    </a>
                </li>
            }
        </ul>
    }
</div>