﻿@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl
@using RazorEngine.Text
@model CustomControlRenderingModel

<fieldset id="RequestObjectViewModel.meals" name="RequestObjectViewModel.meals" class="repeater repeater-horizontal @Model.GetVisibilityClass()" data-component="Repeater.RepeaterManager" data-val="true" data-item-title="" data-min-count="0" data-max-count="0" data-add-button-text="" data-delete-button-text="" data-can-delete-record="true" data-can-reorder="true">
    <legend>@(Model.Label)</legend>
    <div class="repeater-items">
        <div class="form-group meals-control editable">
            <div id="RequestObject.meals" class="col-sm-10">
                <!-- React MealsTable -->
            </div>
        </div>
    </div>
    <div class="repeater-toolbar"></div>
</fieldset>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        Settlements.InitMealsTable(@(new RawString(JsonHelper.Serialize(Model.ControlModel))));
    }, false);
</script>
