﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DocumentPicker.DocumentPickerRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass  @Model.GetVisibilityClass()">
    <div class="take-full-width">
        @if (Model.Items.IsNullOrEmpty())
        {
            <span class="empty-text">@RenderersResources.EmptyText</span>
        }
        else
        {
            if (Model.CanDownload)
            {
                foreach (var item in Model.Items.WithIndex())
                {
                    var separator = item.IsFirst ? string.Empty : ", ";
                    if (Model.ShouldUseDownloadDialog)
                    {
                        @separator<a href="#" class="no-click" onclick="Dialogs.showDialog({actionUrl: '@Model.GetDownloadLink(item.Item)'})">@item.Item.DocumentName</a>
                    }
                    else
                    {
                        @separator<a href="@Model.GetDownloadLink(item.Item)">@item.Item.DocumentName</a>
                    }
                }
            }
            else
            {
                @(string.Join(", ", Model.Items.Select(i => i.DocumentName)))
            }
        }
    </div>
</div>
