﻿@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.DocumentPicker.DocumentPickerRenderingModel

<div class="inline-control @Model.CssClass @Model.GetVisibilityClass()"
     data-component="DocumentUpload.DocumentPicker"
     data-field-name="@Model.Name"
     data-field-id="@Model.Id"
     data-can-upload="@HtmlMarkupHelper.ToInputValue(Model.CanUpload)"
     data-can-download="@HtmlMarkupHelper.ToInputValue(Model.CanDownload)"
     data-is-multivalue="@(Model.IsMultiValue ? "true" : "false")">
    <input type="hidden" name="@(Model.Name)-hidden" data-val="true" data-val-documentuploadinprogress="@RenderersResources.UploadInProgress" class="hidden-but-validate" accept="@Model.AcceptableContentTypes" />
    <div class="document-picker is-multivalue">
        <input type="file" class="document-upload" @(Model.IsMultiValue ? "multiple" : "") />
        <div class="input-group">
            <div class="item-container @(Model.CanUpload?"two-buttons":"single-button")">
                @{ var index = 0;
                    foreach (var item in Model.Items)
                    {<div data-id="@item.DocumentId" class="document-picker-item">
                            <input type="hidden" name="@(Model.Name).Index" value="@index" />
                            <input type="hidden" name="@(Model.GetItemNamePrefix(index)).TemporaryDocumentId" value="@item.TemporaryDocumentId" />
                            <input type="hidden" name="@(Model.GetItemNamePrefix(index)).DocumentId" value="@item.DocumentId" />
                            <input type="hidden" name="@(Model.GetItemNamePrefix(index)).ContentType" value="@item.ContentType" />
                            <input type="hidden" name="@(Model.GetItemNamePrefix(index)).DocumentName" value="@item.DocumentName" />
                            @if (Model.CanDownload)
                            {
                                if (Model.ShouldUseDownloadDialog)
                                {
                                    <a href="#" class="no-click" onclick="Dialogs.showDialog({actionUrl: '@Model.GetDownloadLink(item)'})">@item.DocumentName</a>
                                }
                                else
                                {
                                    <a href="@Model.GetDownloadLink(item)">@item.DocumentName</a>
                                }
                            }
                            else
                            {
                                <span>@item.DocumentName</span>
                            }
                            @if (!Model.IsReadOnly)
                            {
                                <i class="glyphicon glyphicon-remove document-picker-remove-item-button"></i>
                            }
                        </div>
                        index++;
                    }
                }
            </div>
            @if (!Model.IsReadOnly)
            {
            <div class="button-container">
                <span class="document-picker-button document-picker-remove-button">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
                @if (Model.CanUpload)
                {
                    <span class="document-picker-button document-picker-add-button">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>
                    <span class="document-picker-button document-picker-cloud-button">
                        <i class="glyphicon glyphicon-cloud"></i>
                    </span>
                }
            </div>
            }
        </div>
    </div>
    <span class="field-validation-valid"
          data-valmsg-replace="true"
          data-valmsg-for="@(Model.Name)-hidden">
    </span>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>