﻿@using Smt.Atomic.WebApp.Areas.Workflows.Resources

@(new MvcHtmlString(RequestResource.EmptyListMessage
    .Replace("[", "<a onclick=\"ReloadRequestList()\" href=\"#\" >")
    .Replace("]", "</a>")
))

<script>
    function ReloadRequestList() {
        var url = window.location.href;

        url = UrlHelper.updateUrlParameter(url, 'filter', 'all-requests');

        window.location.href = url;
    }

</script>
