﻿@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Areas.CustomerPortal.Models.ApproveResourceRequestViewModel

<form method="POST" action="@Url.Action("ApproveResourceRequestDialog", "ResourceForms")" class="form-horizontal" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model, new HorizontalFormLayout())
</form>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@AtomicResources.OkButtonText" form="main-form" onclick="Forms.submitRecordForm(this);" data-hotkey="ctrl+return" />
                @*<input type="button" class="btn btn-default" value="@AtomicResources.CancelButtonText" onclick="Forms.redirectToList('@Model.CancelButtonBaseUrl');" data-hotkey="esc" />*@
            </div>
        </div>
    </div>
}
