﻿@using System.Linq;
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Extensions

@model TileViewModel

@{
    var groupModel = (ActiveDirectoryGroupViewModel)Model.Row;

    var currentUserMessage = string.Empty;
    var isCurrentUserMember = groupModel.UserIds.Contains(groupModel.CurrentUserId);
    var userCount = groupModel.UserIds.Length > 0 ? $" ({groupModel.UserIds.Length})" : string.Empty;

    if (isCurrentUserMember)
    {
        currentUserMessage = groupModel.UserIds.Length == 1
            ? Server.HtmlDecode(ActiveDirectoryGroupResources.CurrentUserInGroupMember)
            : Server.HtmlDecode(ActiveDirectoryGroupResources.CurrentUserInGroupMembers);

        groupModel.UserIds = groupModel.UserIds.Where(id => id != groupModel.CurrentUserId).ToArray();
    }

    var otherGroupMembers = !isCurrentUserMember || groupModel.UserIds.Any()
        ? Model.Columns.RenderColumn<ActiveDirectoryGroupViewModel>(x => x.UserIds, Model.Row, Url, ActiveDirectoryGroupResources.NoUsersMessage)
        : string.Empty;

    var title = Html.Raw(Model.Columns.RenderColumn<ActiveDirectoryGroupViewModel>(x => x.GroupType, Model.Row, Url) + "&nbsp;group");
    var groupOwner = Html.Raw(Model.Columns.RenderColumn<ActiveDirectoryGroupViewModel>(x => x.OwnerId, Model.Row, Url, ActiveDirectoryGroupResources.NoOwnerMessage));
    var groupManagers = Html.Raw(Model.Columns.RenderColumn<ActiveDirectoryGroupViewModel>(x => x.ManagersIds, Model.Row, Url, ActiveDirectoryGroupResources.NoManagersMessage));
    var subgroups = Html.Raw(Model.Columns.RenderColumn<ActiveDirectoryGroupViewModel>(x => x.SubgroupIds, Model.Row, Url));
    var groupMembers = Html.Raw($"{currentUserMessage}{otherGroupMembers}");
}

<div class="tile text-card @Model.GetRowButtonClass()" tabindex="0">
    <div class="group-theme">
        <p class="group-name">
            <i class="@groupModel.GroupTypeCss" aria-hidden="true" title="@title"></i> @groupModel.Name
        </p>
        @if (!string.IsNullOrEmpty(groupModel.Email))
        {
            <p class="group-email">
                <a href="mailto:@groupModel.Email">@groupModel.Email</a>
            </p>
        }
        <div class="group-description">
            <p title="@groupModel.Description">@groupModel.Description</p>
        </div>
        @if (!string.IsNullOrEmpty(subgroups.ToHtmlString()))
        {
            <p class="group-subgroups ellipsis">
                <strong>@ActiveDirectoryGroupResources.SubgroupsLabel:</strong>
                <span title="@HtmlHelperExtensions.StripHtml(subgroups.ToHtmlString())">@subgroups</span>
            </p>
        }
        <p class="group-owner ellipsis">
            <strong>@ActiveDirectoryGroupResources.GroupOwnerLabel:</strong>
            <span title="@HtmlHelperExtensions.StripHtml(groupOwner.ToHtmlString())">@groupOwner</span>
        </p>
        <p class="group-managers ellipsis">
            <strong>@ActiveDirectoryGroupResources.GroupManagersLabel:</strong>
            <span title="@HtmlHelperExtensions.StripHtml(groupManagers.ToHtmlString())">@groupManagers</span>
        </p>
        <p class="group-members ellipsis">
            <strong>@ActiveDirectoryGroupResources.GroupMembersLabel@(userCount):</strong>
            <span title="@HtmlHelperExtensions.StripHtml(groupMembers.ToHtmlString())">@groupMembers</span>
        </p>
    </div>
</div>