﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources

@model ActiveDirectoryGroupVisualizationViewModel[]

<ul class="list-group visualization">
    @foreach (var group in @Model)
    {
        <li class="list-group-item" style="padding-left: @(20 * (group.NestingLevel + 1))px">
            <i class="@group.GroupTypeCss" aria-hidden="true" title="@EnumExtensions.GetDescription(@group.GroupType)"></i>
            <strong>@group.Name</strong>
            @if (!string.IsNullOrEmpty(group.Email))
            {
                @("(")<a href="mailto:@group.Email">@group.Email</a>@(")")
            }
            <span class="badge">@group.Users.Count</span>
        </li>
        foreach (var member in group.Users)
        {
            var employeePictureUrl = Url.Action("DownloadByEmployee", "UserPicture", new
            {
                area = "Accounts",
                employeeId = member.EmployeeId,
                userPictureSize = "Small"
            });

            <li class="list-group-item user" style="padding-left: @(20 * (group.NestingLevel + 2))px">
                <div class="user-name">
                    <span class="user-image" style="background-image: url(@employeePictureUrl)"></span>
                    <span>@member.FullName</span>
                </div>
                <div>
                    @if (member.IsOwner)
                    {
                        <span class="badge">@ActiveDirectoryGroupResources.OwnerLabel</span>
                    }
                    @if (member.IsManager)
                    {
                        <span class="badge">@ActiveDirectoryGroupResources.ManagerLabel</span>
                    }
                    @if (member.IsMember)
                    {
                        <span class="badge">@ActiveDirectoryGroupResources.MemberLabel</span>
                    }
                </div>
            </li>
        }
    }
</ul>
