﻿@using Microsoft.Security.Application;
@using Smt.Atomic.Presentation.Common.Helpers;
@using Smt.Atomic.Presentation.Renderers.Enums;
@using Smt.Atomic.Presentation.Renderers.Extensions;
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Controllers;
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models;
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Resources;
@using Smt.Atomic.CrossCutting.Common.Helpers;

@model BusinessTripCommunicationViewModel

@section header
{
    @Html.Partial(Model.ContextSettings.ViewName, Model)
}

@{
    var parameters = new[] { "parent-id", ((BusinessTripViewModel)Model.ContextViewModel).Id.ToString() };
    var postUri = @Url.UriActionPost(
        nameof(BusinessTripCommunicationController.AddMessage),
        RoutingHelper.GetControllerName(typeof(BusinessTripCommunicationController)),
        KnownParameter.None,
        parameters);
}

<div class="communication-container">
    <div class="message-container">
        @foreach (var messageDayGroup in Model.Messages.GroupBy(d => d.AddedOn.Date))
        {
            <div class="message-date-separator">@messageDayGroup.Key.ToShortDateString()</div>

            foreach (var message in messageDayGroup)
            {
                var employeeExternalMessageUrl = $"sip:{message.AuthorEmail}";
                var employeePictureUrl = Url.Action("DownloadByEmployee", "UserPicture", new { area = "Accounts", employeeId = message.AuthorEmployeeId, userPictureSize = "Medium" });
                var isCurrentEmployeeMessage = message.AuthorEmployeeId == Model.CurrentEmployeeId;

                var messageContent = Sanitizer.GetSafeHtmlFragment(message.Content);
                messageContent = MentionItemHelper.ReplaceTokens(message.Content,
                    a => $"<a href=\"#\" class=\"mention-item\" data-id=\"{a.Id}\" data-label=\"{a.Label}\" data-source=\"{a.SourceName}\">@{a.Label}</a>");

                <div id="@message.Id" class="message-wrapper">
                    <a class="message-wrapper-image" href="@employeeExternalMessageUrl" style="background-image: url(@employeePictureUrl)"></a>
                    <div class="message-wrapper-pointer"></div>
                    <div class="message-wrapper-content@(isCurrentEmployeeMessage ? " message-wrapper-content-own" : "")">
                        <a href="@employeeExternalMessageUrl" class="message-wrapper-content-full-name">@message.AuthorFullName</a>
                        <div class="message-wrapper-content-body">@Html.Raw(messageContent)</div>
                        <div class="message-wrapper-content-date">@message.AddedOn.ToShortTimeString()</div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="comment-container">
        <div class="add-comment-container">
            <form action="@postUri.Url" method="post" onSubmit="return BusinessTripCommunication.onCommentFormSubmit();">
                <div>
                    <div class="form-group">
                        <label for="content" class="control-label">@BusinessTripResources.NewMessageLabel</label>
                        <span class="btn-close-comment"><i class="fa fa-times"></i></span>
                        <div class="Model.ControlWidthClass">
                            <textarea id="content" name="Content" data-ck-editor="true" data-ck-editor-presets="basic" data-ck-editor-mention="Dante.Mentions.EmployeeMentionValuePicker()"></textarea>
                        </div>
                    </div>
                    <input id="submitComment" type="submit" class="btn btn-primary pull-right" value="@BusinessTripResources.NewMessageLabel">
                    <p id="validation" style="color:red;" hidden>@BusinessTripResources.CommentContentCantBeEmpty</p>
                </div>
            </form>
        </div>
    </div>
    <button class="btn btn-primary btn-show-comment"><i class="fa fa-comment"></i> @BusinessTripResources.AddCommentText</button>
</div>