﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CodeEditor.CodeEditorRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass  @Model.GetVisibilityClass()">
    @if (string.IsNullOrWhiteSpace(Model.Value))
    {
        <span class="empty-text">@RenderersResources.EmptyText</span>
    }
    else
    {
        <div class="pre-wrap ellipsis">@Model.Value</div>
    }
</div>
