﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CodeEditor.CodeEditorRenderingModel

<div class="inline-control @Model.CssClass  @Model.GetVisibilityClass()">
    <textarea @(Model.GetInputTagAttributes())>@Model.Value</textarea>
    <span class="@Model.GetValidationSpanClass()"
            data-valmsg-replace="true"
            data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>            
</div>