﻿@group-distance: 5px;

.process-board(@border, @background) {
    .process-board {
        &-group {
            border: 1px @border;

            &-body {
                background-color: @background;
                min-height: 100px;
            }
        }
    }
}

.process-board {
    font-size: 12px;

    .process-board-swimlane {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: bold;
            display: inline;
        }

        &-body {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            padding-left: 10px;
            margin: 0 -@group-distance;
        }
    }

    * {
        flex: 1 100%;
    }

    .dropable {
        &.can-not-drop {
            .process-board {
                &-group {
                    &-header {
                        &-title {
                            color: #ddd;
                        }
                    }
                }
            }
        }

        &.can-drop {
            .process-board(dotted #0094ff, #FFF);

            &.hovering {
                .process-board(dashed #0094ff, #fbf9f9);
            }
        }
    }

    &-group {
        padding: 0 @group-distance;
        padding-bottom: @group-distance;
        border: 1px solid Transparent;

        &-container {
            padding: @group-distance 0;
        }

        &-header {
            border-bottom: 1px solid #ddd;

            &-title {
                color: #333;
                font-weight: bold;
            }
        }

        .drag {
            cursor: move;
        }

        &-body {
            &-item {
                display: block;
                position: relative;
                border: 1px solid #ddd;
                margin-bottom: @group-distance;
                max-width: 300px;

                .request-item-description-approvers {
                    display: flex;

                    .approval-group {
                        display: flex;

                        &:last-child:after {
                            content: "";
                        }

                        &::after {
                            content: "\f061";
                            font-family: "FontAwesome";
                            line-height: 35px;
                            font-size: 14px;
                            padding: 0 5px;
                        }

                        &-mode {
                            &-and {
                                /*display: none;*/
                            }

                            &-or {
                                /*display: none;*/
                            }
                        }
                    }
                }

                &-buttons {
                    display: flex;
                    justify-content: flex-end;
                    position: absolute;
                    top: 0;
                    right: 0;
                    flex-direction: column;
                    min-height: 30px;
                    display: block;
                    max-width: 20px;

                    .btn {
                        padding: 0 5px;
                    }
                }

                &-header {
                    padding: @group-distance;
                    border-bottom: 1px solid #ddd;
                    background-color: #ececec;
                }

                &-body {
                    background-color: #FFF;
                    padding: @group-distance;

                    &-error {
                        background-color: #f7ebeb;
                        color: #a94442;
                        border-left: 4px solid #a94442;
                    }
                }
            }
        }

        &-footer {
            border-top: 1px solid #ddd;
            min-height: 20px;
        }
    }

    .request-item {
        display: flex;

        &-user {
            padding-right: 5px;
            border-radius: 50%;
            background-position: 50% 50%;
            background-size: contain;
            box-shadow: 0px 0px 4px #aaa;
            width: 100%;
            height: 100%;

            &-container {
                max-width: 40px;
                min-width: 40px;
                position: relative;
                width: 40px;
                height: 40px;
                margin: 0;
                padding: 0;
            }

            &:hover {
                box-shadow: 0px 0px 6px #0094ff;
            }

            .action-icon {
                position: absolute;
                background-color: #FFF;
                width: 14px;
                height: 14px;
                text-align: center;

                &-on-active {
                    display: none;
                }

                &-top {
                    top: 0;
                    right: 0;
                }

                &-bottom {
                    bottom: 0;
                    right: 0;
                }
            }

            .fa-refresh {
                font-size: 32px;
                line-height: 40px;
                color: #FFF;
                background-color: #DDD;
                border-radius: 50%;
                background: rgba(76, 76, 76, 0.3);
            }
        }

        &-description {
            padding-left: 5px;
        }
    }
}
