﻿@colorAvailable: #ed7e32;
@colorAllocated: #00b050;
@colorPlanned: #b4c6e7;
@colorPlannedAllocated: #4472c4;

@colorA: #ed7e32;
@colorB: #4b91d1;
@textColor: #FFF;
@thisWeekBorderColor: #333;
@anchorColor: @thisWeekBorderColor;
@fixedCellZindex: 100;

.summary-content-simple {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    .row {
        flex-grow: 1;
        justify-content: space-around;
        margin: 0;
        display: flex;
        flex-direction: column;

        > label {
            white-space: nowrap;
        }
    }
}

.list-view-context {
    .btn {
        margin-right: 10px;
    }
}

.row-color(@color, @textColor, @ratio: 5%) {
    color: @textColor;

    td, th {
        background-color: @color;

        &.fix-cell {
            z-index: 100;
            position: relative;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: " ";
                height: 100%;
                border-right: 1px solid #ececec;
            }

            &:before {
                @coverSize: 15px;

                content: " ";
                position: absolute;
                top: 0;
                left: -@coverSize;
                height: 104%;
                width: @coverSize;
                background-color: #FFF;
                border-right: 1px solid #ececec;
            }
        }
    }

    &:hover {
        background-color: lighten(@color, @ratio);
    }
}

#common-dialog-show-model-jobprofilechartviewmodel {
    .modal-dialog {
        width: 95%;

        .modal-body {
            padding: 0;

            a {
                color: @anchorColor;
            }

            table {
                border-collapse: separate;
            }
        }
    }

    .fix-cell {
        position: relative;
        background-color: #fff;
        z-index: @fixedCellZindex;
    }

    td, th {
        font-size: 11px;
        line-height: 20px;
    }

    tbody {
        &.collapsed {
            tr {
                &.level-row {
                    display: none;
                }
            }
        }
    }

    .profile-row {
        &.name-column {
            font-weight: bold;
        }
    }

    .fix-horizontal {
        border-right: 1px solid #ddd;
        min-width: 150px;

        &.name-column {
            padding-right: 40px;
        }

        &.fix-vertical {
            z-index: @fixedCellZindex + 1;
        }

        .sum {
            position: absolute;
            right: 2px;
        }
    }
}

#report-chart-page {
    .form-horizontal {
        height: 34px;

        .form-group {
            max-width: 800px;
            width: 90%;
        }
    }

    &.with_details {
        text {
            cursor: pointer;
        }
    }

    visibility: hidden;

    &.done {
        visibility: visible;
    }
}

.chart-container {
    display: block;
    position: relative;
    height: 100%;

    .table {
        &.table-chart {
            table-layout: auto;
        }
    }
}


@media screen and (max-width: 1200px) {

    .page-layout {
        display: block;

        .header-section {
            display: block;
        }

        .content-section {
            display: block;
            height: auto;

            .content-wrapper {
                overflow: auto;

                .content {
                    position: relative;
                    height: 100%;
                    overflow: visible;
                }
            }
        }

        .footer-section {
            display: block;
        }
    }

    .chart {
        &.hide-on-mobile {
            visibility: hidden;
            display: none;
        }
    }
}

.chart {
    min-height: 260px;

    svg {
        overflow: visible;
        font-size: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        padding-top: 30px;

        .axis {
            path, line {
                fill: none;
                stroke: #808080;
                stroke-width: 1;
                shape-rendering: crispEdges;
            }
        }

        path {
            stroke: red;
            stroke-width: 2;
            fill: none;

            &.line-1 {
                stroke: @colorA;
            }

            &.line-2 {
                stroke: @colorB;
            }

            &.line {
                &.row_available {
                    stroke: @colorAvailable;
                }

                &.row_allocated {
                    stroke: @colorAllocated;
                }

                &.row_planned {
                    stroke: @colorPlanned;
                }

                &.row_planned_and_allocated {
                    stroke: @colorPlannedAllocated;
                }
            }
        }

        circle {
            &.dot {
                &.dot-1 {
                    fill: @colorA;
                }

                &.dot-2 {
                    fill: @colorB;
                }

                &.row_available {
                    fill: @colorAvailable;
                }

                &.row_allocated {
                    fill: @colorAllocated;
                }

                &.row_planned {
                    fill: @colorPlanned;
                }

                &.row_planned_and_allocated {
                    fill: @colorPlannedAllocated;
                }

                &.selected-cell {
                    stroke: #000;
                    stroke-width: 4;
                }
            }
        }
    }
}

.chart-container {
    .table {
        max-width: none;

        tr {
            .row-color(#FFF, #333);
            &.separated {
                border-bottom: 2px solid #333;
            }

            &.row_1 {
                .row-color(@colorA, @textColor);
            }

            &.row_2 {
                .row-color(@colorB, @textColor);
            }

            &.row_available {
                .row-color(@colorAvailable, @textColor);
            }

            &.row_allocated {
                .row-color(@colorAllocated, @textColor);
            }

            &.row_planned {
                .row-color(@colorPlanned, @textColor);
            }

            &.row_planned_and_allocated {
                .row-color(@colorPlannedAllocated, @textColor);
            }

            th:not(:nth-child(2)) {
                padding-left: 0;

                .line-table-chart {
                    border-left: 1.5px dotted black;
                    position: absolute;
                    height: 331px;
                    top: 0.5%;
                }
            }

            td {
                position: relative;

                & {
                    i.fa.chevron {
                        display: none;
                        position: absolute;
                        top: 12px;
                        left: 5px;
                        color: #808080;
                        cursor: pointer;
                    }

                    &:hover, &.drilled-cell {
                        i.fa.chevron {
                            display: block;
                        }
                    }
                }

                &.drilled-content {
                    i.fa.chevron {
                        display: block;
                        margin-top: 2px;
                        margin-left: 2px;
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                    }

                    b {
                        text-align: right;
                    }

                    li {
                        list-style: none;
                        position: relative;
                        display: block;
                        padding: 10px 0px;
                        padding-left: 30px;

                        ul {
                            margin-top: 10px;

                            li {
                                background-color: #ececec;
                            }
                        }
                    }

                    .list-group {
                        margin-bottom: 0;
                    }
                }

                &.drilled-cell, &.drilled-content {
                    background-color: #ececec;
                }
            }

            td, th {
                .header-text {
                    padding-left: 8px;
                }

                &.numeric-column &.numeric-column-wide {
                    text-align: right;
                    padding: 8px 5px;
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                @numeric-column-width: 70px;

                &.numeric-column {
                    max-width: @numeric-column-width;
                    min-width: @numeric-column-width;
                    width: @numeric-column-width;
                }

                @numeric-column-wide-width: 90px;

                &.numeric-column-wide {
                    max-width: @numeric-column-wide-width;
                    min-width: @numeric-column-wide-width;
                    width: @numeric-column-wide-width;
                }

                &.align-right {
                    text-align: right;
                }

                &.selected-cell {
                    border-left: 2px solid @thisWeekBorderColor;
                    border-right: 2px solid @thisWeekBorderColor;
                }

                &.solid-border {
                    border: 3px solid;
                }
            }
        }
    }
}

.single-chart-container {
    margin-bottom: 65px;
}

.toggle-print {
    cursor: pointer;
}

.not-for-printing {
    .chart-container {
        display: none;
    }
}

@media print {
    .page-layout .header-section, .form-horizontal, .not-for-printing {
        display: none;
    }

    .page-layout .content-section .content-wrapper .content {
        position: initial;
    }

    .single-chart-container {
        height: 100%;
        page-break-inside: avoid;
        page-break-after: left;
    }

    .table {
        td {
            border: 1px solid #333;
        }
    }
}

.table-without-last-row {
    border: none;
    border-top: 1px solid #ddd;
}

.table-without-last-row > tfoot > tr > td {
    border: none;
}
