﻿@validation-color: #f00;

.field-validation-error {
    color: @validation-color;
    display: block;
    margin-top: 8px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid @validation-color;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: @validation-color;
}

.validation-summary-valid {
    display: none;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-right: 15px;
}

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a, .ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b, .ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e, .ui-btn-active {
    text-shadow: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}