﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.BulkEdit.Dto.BulkEditNotificationMessageDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <p>Hello,</p>
    <p>Bulk edit processing finished successfully. Additional information:</p>
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message</li>
        }
    </ul>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>