﻿@calc-width: 400px;
@calc-width-changed: 30px;
@default-horizontal-margin: 15px;
@large-horizontal-margin: 25px;
@small-margin: 8px;


.record-form .content .form-group, .record-form .content .row {
    max-width: 80vw;
}

.calculation-total {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

#request-object-view-model {
    transition: width 2s;

    legend {
        padding: @small-margin @default-horizontal-margin;
    }

    .control-label {
        text-align: left;
        padding-left: 20px;
        padding-right: 0;
    }

    > .repeater-items {
        max-width: 100vw;
        margin: auto;

        > .repeater-item {
            box-shadow: 6px 4px 16px -7px rgba(0,0,0,0.75);
            width: 100%;
            background-color: #FFF;
            transition: width 0.5s;
        }
    }

    &.with-calculations {
        > .repeater-items {
            > .repeater-item {
                width: calc(~"100% - @{calc-width}" );
            }
        }
    }

    &.with-calculations-changed {
        > .repeater-items {
            > .repeater-item {
                width: calc(~"100% - @{calc-width-changed}" );
            }
        }

        .for-regular-control {
            .calculation-result {
                margin-left: @default-horizontal-margin;
            }
        }

        .calculation-result {
            width: @calc-width-changed;
        }
    }
}

.calculation-result-container {
    legend {
        margin: 0;
        border: none;
        font-size: 16px;
        line-height: 30px;
    }

    .for-from-control {
        legend {
            border-bottom: 1px solid #DDD;
        }
    }

    .calculation-result {
        width: @calc-width;
        position: absolute;
        right: 0;
        top: 70px;
        margin-left: @large-horizontal-margin;
        padding-left: 12px;
        font-size: 12px;
        color: #808080
    }

    &-full {
        .jumbotron {
            padding: 10px 20px;
        }
    }
}

.summary-layout {
    .jumbotron {
        margin: 0 @default-horizontal-margin 10px @default-horizontal-margin;
    }

    #request-object-view-model {
        .for-regular-control {
            .calculation-result {
                margin-left: @default-horizontal-margin;
            }
        }
    }

    .calculation-result-container {
        .calculation-result {
            margin-left: @default-horizontal-margin;
        }
    }
}

@media (max-width: 991px) {
    #request-object-view-model.with-calculations {
        .repeater-items {
            .repeater-item {
                width: 100%;
            }
        }

        .calculation-result-container {
            .calculation-result {
                position: static;
                width: auto;
                margin: 0 @default-horizontal-margin;
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    #request-object-view-model.with-calculations {
        .control-label {
            width: 100%;
        }
    }
}