@pending-glyph: "\f250";
@approved-glyph: "\f087";
@rejected-glyph: "\f088";
@approved-glyph-solid: "\f00c";
@rejected-glyph-solid: "\f00d";
@picture-border: thin solid #f0f0f0;

@approved-color: #3c763d;
@rejected-color: #a94442;

.approved-icon() {
    color: @approved-color;
    border-color: @approved-color;
}

.rejected-icon() {
    color: @rejected-color;
    border-color: @rejected-color;
}

.picture-border() {
    box-shadow: 0px 0px 4px #aaa;
}

.font-awesome() {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

ul.approvers {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 10px;
    padding-bottom: 3px;
    background-color: #f0f0f0;
    border-radius: 5px;

    li {
        display: inline-block;

        .approver {
            display: inline-block;
            border: 1px dotted gray;
            padding: 0 7px;
            border-radius: 5px;
            background-color: white;
            margin-bottom: 2px;

            &:before {
                .font-awesome;
                font-size: 13px;
                position: relative;
                bottom: 1px;
                margin-right: 2px;
            }

            &.pending:before {
                content: @pending-glyph;
                position: relative;
                top: -1.5px;
                right: 1px;
            }

            &.approved:before {
                content: @approved-glyph;
            }

            &.rejected:before {
                content: @rejected-glyph;
            }
        }
    }

    li:not([title]) {
        font-size: 13px;
        color: #717477;
    }
}

.grid {
    div.grid-table {
        td.approval-groups {
            width: 325px;

            label.control-label {
                display: none;
            }

            div.row > div {
                width: 100%;

                ul {
                    background-color: initial;
                    padding: 0;

                    li .approver {
                        background-color: initial;
                        border: none;
                        padding-right: 0;

                        &:before {
                            margin-right: 2px;
                            margin-left: -6px;
                        }
                    }
                }
            }
        }

        div.approval-groups {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            transform-origin: left;

            ul.approvers {
                padding: 0;
                margin: 4px 0px;
                background-color: transparent;
            }
        }
    }
}

.approver-picture-with-status {
    position: relative;
    padding: 8px;

    .approver-picture {
        @image-size: 48px;
        border-radius: 50%;
        width: @image-size;
        height: @image-size;
        .picture-border;
    }

    .approver-status-icon {
        @icon-size: 18px;
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 50%;
        width: @icon-size;
        height: @icon-size;
        display: flex;
        justify-content: center;
        align-content: center;
        border: thin solid;
        background-color: #fff;

        &:before {
            .font-awesome;
            font-size: 12px;
            position: relative;
        }

        &.approved {
            .approved-icon;
        }

        &.rejected {
            .rejected-icon;
        }

        &.approved:before {
            content: @approved-glyph-solid;
        }

        &.rejected:before {
            content: @rejected-glyph-solid;
        }
    }
}
