@import "./Request.Approvers.less";

@paperclip-glyph: "\f0c6";

.btn-default-colors() {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

.form-horizontal .approvers {
    border: solid 1px rgb(204, 204, 204);
    padding-top: 4px;
    margin-bottom: 0;
}

.record-form .content .form-group .control-label, .record-form .content .control-label {
    text-align: left;
}

.form-horizontal .approvers .approver{
    line-height: 19px;
}


.form-horizontal {
    .repeater {
        .repeater-item {
            .form-group {
                margin-left: auto;
            }
        }
    }
}

.employee-instruction {
    color: #aaa;
    font-size: 12px;
    > div {
        white-space: pre;
    }
}

.form-footer {
    .pull-right input[type=button]:last-child {
        margin-left: 30px;
    }
}

.grid {
    div.grid-table {

        td.comment-column {
            width: 130px;

            > span {
                display: initial;
            }

            i.fa {
                font-size: 10px;
                position: relative;
                bottom: 1px;
            }
        }

        td.date-column {
            width: 140px;
        }

        td.approval-groups {
            width: 325px;

            label.control-label {
                display: none;
            }

            div.row > div {
                width: 100%;

                ul {
                    background-color: initial;
                    padding: 0;

                    li .approver {
                        background-color: initial;
                        border: none;
                        padding-right: 0;

                        &:before {
                            margin-right: 2px;
                            margin-left: -6px;
                        }
                    }
                }
            }
        }

        td.tiles {
            div.tile {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;

                & > div {
                    padding: 4px 0px;
                }

                .requester {
                    flex: 0 1 auto;

                    img.requester-picture {
                        border-radius: 50%;
                        .picture-border;
                    }
                }

                .request-details {
                    flex: 1.7 1 10%;
                    padding-left: 8px;
                    padding-right: 8px;

                    div {
                        margin-bottom: 4px;
                    }

                    .request-title {
                        font-size: 16px;

                        .document-count {
                            color: #aaa;
                            padding: 0 4px;
                            white-space: nowrap;

                            &:before {
                                .font-awesome;
                                content: @paperclip-glyph;
                            }
                        }
                    }

                    .request-status {
                    }

                    .request-description {
                        margin-bottom: 0px;
                    }
                }

                .request-approvers {
                    flex: 1 1 10%;
                    padding-right: 8px;

                    @media all and (max-width: 480px) {
                        display: none;
                    }
                }

                .request-actions {
                    flex: 0 0 254px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    @media all and (max-width: 768px) {
                        flex-direction: column;
                        flex-basis: 100%;
                        align-items: flex-start;

                        .btn-group {
                            margin-bottom: 0;

                            .btn {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
        }

        .btn-success {
            .btn-default-colors;


            .fa {
                color: @approved-color;
            }
        }

        .btn-danger {
            .btn-default-colors;

            .fa {
                color: @rejected-color;
            }
        }
    }
}

.time-report-task-details
{
    margin-left: 10px;
    margin-right: 10px;
}

.luggage-table {
    max-width: 770px;
    thead{
      font-weight: 500;
      background: #eee;
      font-weight: bold;
    }

    td {
      width: 150px;
      vertical-align: central;
      input{
          width: 30px;
      }
    }
}