﻿@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@model Smt.Atomic.WebApp.Areas.Allocation.Models.EmployeeAllocationChartViewModel

@section header
{
<div class="list-view-context">
    <div class="summary-layout">
        <form class="form-horizontal">
            <div id="summary-content-long" class="panel-collapse summary-content-simple">
                @Html.Bootstrap().DisplayForModel(Model.SearchViewModel, new SummaryLayout(2, 2))
            </div>
        </form>
        <button class="btn btn-default btn-sm pull-right" onclick="Dialogs.showModel({modelId: 'Allocation.AllocationChartSearchViewModel', title: '@EmployeeAllocationChartsResources.ChangeFilterText', eventHandler: ReportDetailsCharts.onReportFilterChange, modelUrlParameters: window.location.search.substr(1) })">
            <i class="fa fa-filter"></i>
            <span>@EmployeeAllocationChartsResources.ChangeFilterText</span>
        </button>
    </div>

</div>
}

<div id="report-chart-page" data-chart-details="@Url.Action("ProfileDetails")">
    <input type="hidden" value="@Model.CurrentWeek.ToShortDateString()" id="CurrentWeek" />
    <hr />
    @foreach (var chart in Model.Charts)
    {
        Html.RenderPartial("_Chart", chart);
    }
</div>
