﻿@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ModelBasedDialogViewModel<Smt.Atomic.WebApp.Areas.Allocation.Models.JobProfileChartViewModel>


@{
    var locations = Model.Model.JobProfileDetails
        .OrderByDescending(l => l.LocationName)
        .GroupBy(l => new { l.LocationName, l.LocationId })
        .Where(l => l.Sum(j => j.FreeFte) > 0 || l.Sum(j => j.PlannedFte) > 0)
        .Select(jpd => jpd.Key)
        .ToList();
}

@using (Html.BeginCommonDialog(Model))
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="fix-cell fix-vertical fix-horizontal">
                @ProfileDetailsResources.TotalText
            </th>
            @foreach (var location in locations)
            {
                <th colspan="2" class="fix-cell fix-vertical">@location.LocationName</th>
            }

        </tr>
        <tr>
            <th class="fix-cell fix-vertical fix-horizontal">@string.Format("{0}/{1}", ProfileDetailsResources.FreeText, ProfileDetailsResources.PlannedText)</th>
            @foreach (var location in locations)
            {
                <th class="fix-cell fix-vertical">@ProfileDetailsResources.FreeText</th>
                <th class="fix-cell fix-vertical">@ProfileDetailsResources.PlannedText</th>
            }
        </tr>
        </thead>
            @foreach (var profile in Model.Model.JobProfileDetails.GroupBy(m => new { m.JobProfileName, m.JobProfileId }))
            {
                var profileData = profile.Where(l => string.IsNullOrEmpty(l.JobMatrixLevelCode)).ToList();
                var profileFreeSum = profileData.Sum(p => p.FreeFte);
                var profilePlannedSum = profileData.Sum(p => p.PlannedFte);
                var levels = profile
                    .Where(l => !string.IsNullOrEmpty(l.JobMatrixLevelCode))
                    .GroupBy(l => new { l.JobMatrixLevelCode, l.JobMatrixLevel })
                    .Where(a => a.Sum(l => l.PlannedFte) > 0 || a.Sum(l => l.FreeFte) > 0)
                    .ToList();
                <tbody class="collapsed">

                    @if (profileFreeSum != 0 || profilePlannedSum != 0 || levels.Any())
                    {
                        <tr data-profile="@profile.Key.JobProfileId" class="profile-row">
                            <td class="fix-cell fix-horizontal name-column">
                                @if (levels.Any(level => level.Sum(m => m.FreeFte) != 0 || level.Sum(m => m.PlannedFte) != 0))
                                {
                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                }
                                @profile.Key.JobProfileName
                                <a href="#" class="sum">@string.Format("{0:N1}/{1:N1}", profileFreeSum, profilePlannedSum)</a>
                            </td>
                            @foreach (var location in locations)
                        {
                            var forLocation = profileData.Where(p => p.LocationId == location.LocationId).ToList();
                                <td><a href="#" data-location="@location.LocationId">@string.Format("{0:N1}", forLocation.Sum(m => m.FreeFte))</a></td>
                                <td><a href="#" data-location="@location.LocationId">@string.Format("{0:N1}", forLocation.Sum(m => m.PlannedFte))</a></td>
                            }
                        </tr>
                    }

                    @foreach (var level in levels)
                    {
                        var sumFree = level.Sum(m => m.FreeFte);
                        var sumPlanned = level.Sum(m => m.PlannedFte);

                        if (sumFree != 0 || sumPlanned != 0)
                        {
                            <tr data-level="@level.Key.JobMatrixLevel" data-profile="@profile.Key.JobProfileId" class="level-row">
                                <td class="fix-cell fix-horizontal name-column">@level.Key.JobMatrixLevelCode <a href="#" class="sum">@string.Format("{0:N1}/{1:N1}", sumFree, sumPlanned)</a></td>
                                @foreach (var location in locations)
                                {
                                    var forLocation = level.Where(p => p.LocationId == location.LocationId).ToList();
                                    <td><a href="#" data-location="@location.LocationId">@string.Format("{0:N1}", forLocation.Sum(m => m.FreeFte))</a></td>
                                    <td><a href="#" data-location="@location.LocationId">@string.Format("{0:N1}", forLocation.Sum(m => m.PlannedFte))</a></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            }
    </table>
    <script type="text/javascript">
        var $container = $(".modal-body");
        ReportDetailsCharts.setFixedColumns(".modal-body");
        ReportDetailsCharts.collapseExpand($container);
        ReportDetailsCharts.attachBenchAnchors('@Url.Action( "List", "BenchEmployee", new { area = "Allocation" })', $container, "@Model.Model.Period.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)", @string.Join(",", Model.Model.OrgUnitIds));
    </script>
}

