﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Checkbox.CheckboxRenderingModel

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()">
    <div class="@Model.LabelOffsetClass @Model.ControlWidthClass">
        <div class="checkbox">
            <label class="@Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>
                <input @(Model.GetInputTagAttributes()) />
                <input name="@Model.Name" type="hidden" value="false" />
                @Model.GetLabelTextMarkup()
            </label>
        </div>
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>