﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Checkbox.CheckboxRenderingModel

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass() @Model.GetRequiredMarkerCss()">
    <label class="@Model.ControlWidthClass inline-checkbox" @(Model.GetLabelTagAttributes())>
        <input @(Model.GetInputTagAttributes()) />
        <input name="@Model.Name" type="hidden" value="false" />
        @Model.GetLabelTextMarkup()
    </label>
    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }
    <span class="@Model.GetValidationSpanClass()"
            data-valmsg-replace="true"
            data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>