﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.LocalizedString.LocalizedStringRenderingModel

<div class="form-group row @Model.CssClass  @Model.GetVisibilityClass()">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    @foreach (var item in Model.LocalizedStringValues)
    {
        <div class="localized-item">
            <div class="input-group">
                <div class="input-group-addon">@item.Value.Label</div>
                <input id="@item.Value.Id" name="@item.Value.Name" value="@item.Value.Value" @(Model.GetInputTagAttributes())/>
            </div>
        </div>
    }
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>