﻿@inherits System.Web.Mvc.WebViewPage<Smt.Atomic.WebApp.Areas.Survey.Models.SurveyViewModel>
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Survey.Layout
@using Smt.Atomic.WebApp.Areas.Survey.Resources
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.Presentation.Common.Consts

@{
    var renderer = new JavascriptQuestionVisibilityRenderer();
    var modelBuilder = new SurveyRenderingModelBuilder(renderer);
}

@if (Model.ShouldDisplayWelcomeInstruction)
{
    <button id="instruction-btn" class="btn btn-primary">@Html.Bootstrap().Icon(FontAwesome.QuestionCircle) @SurveyResources.SurveyInstruction</button>
}

<div class="summary-layout">
    <form action="" method="POST" class="form-horizontal" id="main-form">
        @Html.ValidationSummaryAsAlerts(true)
        @Html.Bootstrap().EditorForModel(modelBuilder.BuildRenderingModels(Model, ViewData.ModelState), new SimpleLayout(), i => { })
    </form>
</div>

@section scripts
{
    <script type="text/javascript">@Html.Raw(Model.VisibilityFunctions)</script>

    @if (Model.ShouldDisplayWelcomeInstruction)
    {
        <script>
            function showInstructionPopup() {
                CommonDialogs.alert('@Html.ConvertNewLinesToBrTag(Model.WelcomeInstruction)', '@SurveyResources.SurveyInstruction');
            }

            $("#instruction-btn").click(function () {
                showInstructionPopup();
            });

            if ('@Model.ShouldDisplayWelcomeInstructionPopup') {
                showInstructionPopup();
            }
        </script>
    }

    @if (Model.ShouldDisplayThankYouPopup)
    {
        <script>
            function onClickRedirect() {
                CommonDialogs.alert(
                    '@Html.ConvertNewLinesToBrTag(Model.ThankYouMessage)',
                    '@SurveyResources.SurveyThankYou',
                    function () { Forms.redirectToList('@Request.UrlReferrer'); });
            }
        </script>
    }
    else
    {
        <script>
            function onClickRedirect() {
                Forms.redirectToList('@Request.UrlReferrer');
            }
        </script>
    }
}

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="@SurveyResources.OkButtonText" onclick="onClickRedirect();" data-hotkey="esc" />
            </div>
        </div>
    </div>
}