﻿@tableBorderStyle: 1px solid #ddd;
@import '../functions.less';

.filter-menu, .filter-tag-menu {
    &.dropdown-menu {
        min-width: 190px;

        li.highlight a {
            font-weight: 600;
        }

        li.subdue a {
            color: #aaa;
        }
    }

    .check {
        span {
            margin-right: 15px;
        }

        span:after {
            position: absolute;
            top: 50%;
            right: 15px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            -ms-text-rendering: auto;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f00c";
            margin-top: -4px;
            color: #333;
        }
    }

    .checkItem();
    .radioItem();

    a {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        position: relative;
    }

    .filter-hint {
        font-style: italic;
        font-size: x-small;
    }

    .filter-apply-button {
        padding-top: 1px;
        padding-bottom: 1px;
        float: right;
        margin-top: -4px;
        margin-right: -15px;
    }
}

.filter-tag-group {
    vertical-align: bottom;
}

.filter-tag {
    border: @tableBorderStyle;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 0px;
    position: relative;
    background: #f0f0f0;
    cursor: pointer;
    margin-top: 0;

    &:hover {
        cursor: pointer;
    }

    i {
        margin: -4px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 80%;
        color: #999;
        border: 1px solid transparent;
        position: absolute;
        right: 6px;
        top: 9px;
    }

    i:hover {
        color: #c00;
        background-color: #fff;
        border: @tableBorderStyle;
    }
}

.filter-tag.removable {
    padding-right: 25px;
}

.filter-tag.clickable:hover {
    text-decoration: underline;
}

.container-pills {
    margin: 0 5px;
    line-height: 23px;
}