﻿@tableBorderStyle: 1px solid #ddd;
@treeNodeIndent: 25;
@outlineColor: #0067b0;
@radioIndicatorContent: '\f111';
@checkIndicatorContent: '\f00c';
@import '../functions.less';

.table & > thead & > tr & > th, .table & > thead & > tr & > td {
    border-bottom-width: 1px;
}

.table > thead:first-child > tr:first-child > th {
    border-top: @tableBorderStyle;
}

.table-bordered & > thead & > tr & > th, .table-bordered & > thead & > tr & > td {
    border-bottom-width: 1px;
}

.table-auto {
    width: auto;
}

.table-striped-row(@classSelector, @backgroundColor, @darkRatio: 10%) {
    @hoverRatio: 4%;
    @stripedRatio: @darkRatio;
    @stripedHoverRatio: @hoverRatio + @stripedRatio;

    @darkNormal: darken(@backgroundColor, @stripedRatio);
    @darkHover: darken(@backgroundColor, @stripedHoverRatio);

    @lightNormal: @backgroundColor;
    @lightHover: darken(@backgroundColor, @hoverRatio);

    .td-transparency() when not (@classSelector = ~"") {
        td {
            background-color: transparent;
        }
    }

    & > tbody > tr {
        &:nth-child(odd) {
            &@{classSelector} {
                background-color: @darkNormal;
                .td-transparency();

                &:hover {
                    background-color: @darkHover;
                }
            }
        }

        &:nth-child(even) {
            &@{classSelector} {
                background-color: @lightNormal;
                .td-transparency();

                &:hover {
                    background-color: @lightHover;
                }
            }
        }
    }
}

.table-striped {
    .table-striped-row(~'', #ffffff, 2.5%);
    .table-striped-row(~'.success', #dff0d8);
    .table-striped-row(~'.warning', #fcf8e3);
    .table-striped-row(~'.danger', #f2dede);
    .table-striped-row(~'.closed', #ebebeb);
    .table-striped-row(~'.selected', #d9edf7);
}

.grid-toolbar {
    margin-bottom: 6px;
    margin-left: -10px;
    margin-right: -10px;

    .search-box {
        margin-bottom: 6px;

        .areas-search-addon {
            position: relative;
            border-left: 0;
        }
    }

    .btn-group {
        margin-bottom: 6px;

        & > .btn-group {
            margin-bottom: 0;
        }
    }

    .grid-view-menu {
        .radioItem();

        a {
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            position: relative;
        }
    }


    .col-sm-4, .col-sm-8, .col-sm-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.grid {
    font-size: 100%;
    position: relative;
    height: 100%;
    will-change: scroll-position;

    .grid-column-header {
        z-index: 1;
        cursor: pointer;
        position: relative;
        background-color: #e7e7e7;
        border-left: 0;
        will-change: transform;

        &:first-child {
            border-left: @tableBorderStyle;
        }

        &:last-child {
            border-right: @tableBorderStyle;
        }

        > span {
            position: relative;
            padding-right: 16px;
            white-space: nowrap;
            max-width: 400px;

            i.fa {
                position: absolute;
                bottom: 1px;
                right: 0;
                margin-left: 5px;
                display: inline;

                .sort-hint, .sort-asc, .sort-desc {
                    position: absolute;
                    bottom: 2px;
                    right: 3px;
                    height: 25px;
                }
            }
        }

        &.non-sortable {
            cursor: default;

            span {
                margin-right: 0;
            }
        }
    }

    th {
        span {
            display: inline;
        }

        .sort-hint {
            color: #ccc;
        }

        &:hover {
            .sort-hint {
                color: #888;
            }
        }
    }

    .grid-table {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        border-radius: 4px;

        .table {
            margin-bottom: 0;
            background-color: #fff;
            border: none;
            border-collapse: separate;

            tr {
                &:focus {
                    @outline-size: 1px;

                    outline-width: @outline-size;
                    outline-offset: -@outline-size;
                    outline-style: dashed;
                    outline-color: @outlineColor;
                }
            }

            &.table-grouped > tbody > tr:not(.row-label) {
                & > td:first-child {
                    padding-left: 15px;
                }
            }
        }

        thead {
            th {
                padding: 6px 8px;

                &.single-line {
                    white-space: nowrap;
                }
            }
        }

        tbody {
            tr:last-child {
                td {
                    border-bottom: @tableBorderStyle;

                    &:first-child {
                        border-bottom-left-radius: 4px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 4px;
                    }
                }
            }

            td {
                &:first-child {
                    border-left: @tableBorderStyle;
                }

                &:last-child {
                    border-right: @tableBorderStyle;
                }

                cursor: default;
                border-left: 0;
                border-top: 0;
                padding: 6px 8px;

                @import (less) "enum-icons.less";

                .tiles-container {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: calc(~"100vw - 32px");
                }

                &.tiles {
                    padding: 0;
                    position: relative;
                    padding-top: 5px;
                    background: #f7f7f7;

                    .tile {
                        position: relative;
                        background: #fff;
                        float: left;
                        border: @tableBorderStyle;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        border-radius: 3px;

                        &.has-hamburger {
                            .row-buttons {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                            }
                        }

                        &.has-toolbar {
                            padding-bottom: 40px;

                            .row-buttons {
                                left: 0;
                                right: 0;
                                bottom: 0;
                                padding: 3px;
                                background-color: transparent;
                            }
                        }

                        .row-buttons {
                            opacity: 0.3;
                        }

                        &.full-row {
                            margin-right: 5px;
                            float: unset;
                        }

                        &.text-card {
                            padding: 10px;
                            width: calc(~"100% - 10px"); /* IE11 fix */
                            box-sizing: border-box;

                            h3 {
                                margin-top: 0;
                            }

                            .item-listing {
                                color: #666;
                                font-size: 82%;
                            }

                            .item-actions {
                                display: inline-block;
                                position: absolute;
                                right: 15px;
                                top: 15px;
                            }
                        }

                        &:hover {
                            background-color: #f5f5f5;

                            .row-buttons {
                                opacity: 1;
                            }
                        }

                        &.selected {
                            background-color: #d9edf7;

                            &:hover {
                                background-color: #c4e3f3;
                            }
                        }

                        .row {
                            margin-left: 0;
                            margin-right: 0;
                        }

                        .control-label {
                            font-weight: normal;
                            color: #999;
                        }

                        .tile-picture {
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            width: 70px;
                            overflow: hidden;
                            vertical-align: top;

                            img {
                                vertical-align: unset;
                                border-radius: 2px;
                            }
                        }

                        .tile-content {
                            display: inline-block;
                            min-width: 250px;
                            vertical-align: top;
                            margin: 10px;
                            margin-left: 86px;
                        }
                    }

                    &.hide-content {
                        .tile {
                            visibility: hidden;
                        }
                    }

                    .tile-fallback {
                        border-top: @tableBorderStyle;
                        padding: 5px 0;
                        float: none;
                        margin-right: 5px;

                        &:nth-child(odd) {
                            background-color: #fbfbfb;

                            &.selected {
                                background-color: #d9edf7;

                                &:hover {
                                    background-color: #c4e3f3;
                                }
                            }
                        }
                    }
                }

                &.empty-list-message {
                    color: #666;
                    text-align: center;
                    font-style: italic;
                }

                &.row-buttons {
                    padding: 3px 5px;

                    .btn-group {
                        white-space: nowrap;

                        > .btn, > .btn-group {
                            float: inherit;

                            + .btn, + .btn-group {
                                margin-left: -5px;
                            }
                        }
                    }
                }

                &.up-to-30-percent {
                    width: 30%;
                    word-break: break-word;
                }

                &.column-width-small {
                    min-width: 60px;
                }

                &.column-width-normal {
                    min-width: 90px;
                }

                &.column-width-medium {
                    min-width: 100px;
                }

                &.column-width-big {
                    min-width: 110px;
                }

                &.column-width-large {
                    min-width: 140px;

                    &.date-column {
                        text-align: right;
                    }
                }

                &.up-to-40-percent {
                    width: 40%;
                    word-break: break-word;
                }

                &.date-column {
                    width: 110px;
                    text-align: right;
                }

                &.date-time-column {
                    width: 180px;
                    text-align: right;
                }

                &.numeric-column {
                    width: 60px;
                    text-align: right;
                }

                &.percentage-column {
                    width: 90px;
                    text-align: right;
                }

                &.comment-column {
                    width: 300px;
                    text-align: left;

                    span {
                        display: block;
                    }
                }

                &.no-break-column {
                    white-space: nowrap;
                }

                &.remaining-space-column {
                    width: 100%;
                }

                .progress {
                    margin-bottom: 0;
                    position: relative;

                    span {
                        color: #333;
                        display: block;
                        position: absolute;
                        width: 100%;
                    }
                }

                .row-indent {
                    margin-left: 2%;
                }
            }

            tr.row-label td {
                padding: 5px 10px;
                font-size: 11px;
                font-weight: bold;
                background: #eee;
            }

            .tree-item-loop (10);

            .tree-twig-insert {
                position: absolute;
                top: 0;
                bottom: 0;
                left: unit(@treeNodeIndent, px);

                .twig-l, .twig-i {
                    height: 100%;
                    width: unit(@treeNodeIndent, px);
                    display: inline-block;
                }

                .twig-i {
                    background-image: url('/Content/images/twig-i.png');
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.take-full-width {
    width: 0;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
}

.grid-view-menu {
    .radioItem();

    a {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        position: relative;
    }
}

.display-urls {
    a:not(:last-child):after {
        content: ', ';
    }

    span:not(:last-child):after {
        content: ', ';
    }
}

.separate-lines {
    .display-urls {
        a, span {
            display: block;
        }

        a:after, span:after {
            content: none;
        }
    }
}

.dot-separated {
    .display-urls {
        a:not(:last-child):after {
            content: ' · ';
        }

        span:not(:last-child):after {
            content: ' · ';
        }
    }
}
