﻿div.empty-list-message {
    color: #999;
    font-style: italic;
}

.burger-box {
    position: relative;
    width: 100%;

    .burger-slices {
        overflow: hidden;
        white-space: nowrap;
        margin-right: 30px;
        width: 100%;
        height: 40px;

        .dropdown-menu {
            right: 0;
            left: auto;
        }
    }

    .burger-button {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }
}

.pagination {
    cursor: default;
    margin-top: 5px;
    margin-bottom: 0;

    a {
        cursor: pointer;
    }

    li.page-hint a {
        cursor: default;
        color: #000;
        background: #eee;
    }

    li.page-hint a:hover {
        cursor: default;
        color: #000;
        background: #eee;
    }
}

.record-count-footer {
    padding: 6px 0;
    color: #555;
}

ul.statusList {
    padding-left: 20px;
    list-style: none;

    li {
        margin-bottom: 10px;
    }

    li:before {
        font-family: 'FontAwesome';
        content: '\f192';
        margin: 0 5px 0 -15px;
    }

    li.loading:before {
        font-family: 'FontAwesome';
        content: '\f110';
        margin: 0 5px 0 -15px;
        color: steelblue;
    }

    li.failed:before {
        font-family: 'FontAwesome';
        content: '\f057';
        margin: 0 5px 0 -15px;
        color: red;
    }

    li.success:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        margin: 0 5px 0 -15px;
        color: green;
    }
}

