﻿@tableBorderStyle: 1px solid #ddd;
@import '../functions.less';

.list-view-context {
    background: #fdfdfd;
    border: @tableBorderStyle;
    margin: 0 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;

    .control-label {
        font-weight: normal;
        color: #999999;
    }

    &.panel {
        padding: 0;
    }

    .panel-heading {
        border-bottom: none;
        .accordion-toggles();

        .accordion-toggle {
            float: right;
        }

        .panel-title {
            cursor: default;
            display: inline-block;

            .feature-spacer {
                font-size: 10px;
                vertical-align: middle;
                color: #666;
                font-weight: bold;
                margin-left: 5px;
                margin-right: 5px;
            }

            .button-spacer {
                font-size: 16px;
                vertical-align: middle;
                color: #ccc;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    .panel-body {
        border-top: 1px solid #ddd;

        .model-property {
            text-wrap: avoid;

            &:not(:first-child):before {
                content: ' · ';
                color: #666;
                margin-left: 7px;
                margin-right: 7px;
            }

            .property-label {
                color: #999;

                &:after {
                    content: ':';
                }
            }

            .property-value {
                color: #333;
            }
        }
    }
}

.summary .input-group-addon {
    border-right: 1px solid #ccc;
    color: #999;
}
