﻿.tree-item-expander {
    cursor: pointer;
    background: #fff;
    line-height: 10px;

    &:hover {
        background: #e6e6e6;
    }
}

.fa-none:before {
    content: "\2122";
    color: transparent !important;
}

.fa.fa-spinning {
    -moz-animation: glyphicon-spin 1s infinite linear;
    -o-animation: glyphicon-spin 1s infinite linear;
    -webkit-animation: glyphicon-spin2 1s infinite linear;
    animation: glyphicon-spin 1s infinite linear;
}

.tree-item-expander.fa.fa-spinning {
    background: none;
    margin-right: -1px;
}

@-moz-keyframes glyphicon-spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes glyphicon-spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes glyphicon-spin2 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
