﻿@using Smt.Atomic.WebApp.Areas.Allocation.Models;
@model JobProfilesChartViewModel

<div id="report-chart-page">
    <input type="hidden" value="@Model.CurrentWeek.ToShortDateString()" id="CurrentWeek" />
    @foreach (var chart in Model.Charts)
    {
        <div class="single-chart-container">
            <h1>@chart.DropDownItemViewModel.Name <i class="toggle-print not-for-printing fa fa-caret-down" aria-hidden="true"></i></h1>
            @Html.Partial("_Chart", chart)
        </div>
    }
</div>
