﻿@using Smt.Atomic.WebApp.Areas.Allocation.Interfaces;
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@model Smt.Atomic.WebApp.Areas.Allocation.Models.JobProfilesChartViewModel

@section header
{
    <form class="form-horizontal" method="GET" style="max-width: 50%">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="JobProfile"><span>@JobProfilesChartsResources.JobProfileLabel</span></label>
            <div class="col col-lg-10">
                <select class="form-control selectpicker" id="JobProfile" name="id">
                    <option value="">@JobProfilesChartsResources.SelectJobProfile</option>
                    @foreach (var profile in Model.DropdownItems)
                    {
                        <option value="@profile.Id" selected="@(profile.Id == Model.SelectedItemId)">@profile</option>
                    }
                </select>
            </div><br/><br />

            <label class="col-sm-2 control-label" for="City"><span>@JobProfilesChartsResources.LocationLabel</span></label>
            <div class="col col-lg-10">
                <select class="form-control selectpicker" id="City" name="locationId">
                    <option value="">@JobProfilesChartsResources.SelectLocation</option>
                    @foreach (var location in Model.LocationDropDownItems)
                    {
                        <option value="@location.Id" selected="@(location.Id == Model.SelectedLocationId)">@location</option>
                    }
                </select>
            </div><br /><br />

            <label class="col-sm-2 control-label" for="Level"><span>@JobProfilesChartsResources.LevelLabel</span></label>
            <div class="col col-lg-10">
                <select class="form-control selectpicker" id="Level" name="level">
                    <option value="">@JobProfilesChartsResources.SelectLevel</option>
                    @foreach (var level in Model.LevelDropDownItems)
                    {
                        <option value="@level.Id" selected="@(level.Id == Model.SelectedLevel)">@level</option>
                    }
                </select>
            </div>

        </div>
    </form>
}

<div id="report-chart-page">
    
        <input type="hidden" value="@Model.CurrentWeek.ToShortDateString()" id="CurrentWeek" />
        <hr />
        @foreach (var chart in Model.Charts)
        {
            Html.RenderPartial("_Chart", chart);
        }
</div>
