﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.TypeAhead.TypeAheadRenderingModel

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass()">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    <div class="type-ahead @Model.ControlWidthClass @Model.GetMultiValueClass()"
         @Model.GetControlDataAttributes() >

        @if (Model.IsReadOnly)
        {
            <input id="@Model.Id"
                   type="text"
                   class="form-control"
                   value="@Model.GetDisplayName()"
                   readonly="readonly"/>
        }
        else
        {
            if (Model.IsMultiValue)
            {
                <div class="input-group">
                    <div class="item-container @Model.ItemContainerClass" tabindex="0">
                        @{
                            foreach (var item in Model.Items)
                            {
                                <div data-id="@item.Id" class="type-ahead-item">
                                    @item.DisplayName
                                    <i class="glyphicon glyphicon-remove type-ahead-remove-item-button @Model.PickerButtonClass"></i>
                                </div>
                            }
                        }
                        <div class="type-ahead-input-item">
                            <select id="@Model.Id" multiple="multiple"></select>
                        </div>
                    </div>
                    @if (Model.IsClearButtonAvailable)
                    {
                        <div class="button-container">
                            <span class="type-ahead-button type-ahead-remove-button @Model.PickerButtonClass">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                        </div>
                    }
                </div>
            }
            else
            {
                if (Model.IsClearButtonAvailable)
                {
                    <div class="input-group">
                        <select id="@Model.Id" class="form-control">
                            @foreach (var item in Model.Items)
                            {
                                <option value="@item.Id" selected="selected">@item.DisplayName</option>
                            }
                        </select>
                        <span class="input-group-addon type-ahead-button type-ahead-remove-button @Model.PickerButtonClass">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                    </div>
                }
                else
                {
                    <select id="@Model.Id" class="form-control">
                        @foreach (var item in Model.Items)
                        {
                            <option value="@item.Id" selected="selected">@item.DisplayName</option>
                        }
                    </select>
                }
            }
        }
        <input @(Model.GetInputTagAttributes()) />
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>