﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.TypeAhead.TypeAheadRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (string.IsNullOrWhiteSpace(Model.GetDisplayName()))
        {
            <span class="empty-text">@RenderersResources.NoValueSelectedText</span>
        }
        else
        {
            @Model.GetDisplayName()
        }
    </div>
</div>
