﻿.modal-body {
    #sales {
        .form-group {
            margin-right: 0;
        }
    }
}
.process-board-container {
    min-width: 65px;
}

.process-board-group-body-item {

    &:hover {
        .dropdown {
            display: block;
        }
    }

    .dropdown {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        height: 10px;

        .dropdown-toggle {
            margin-top: 2px;
            margin-right: 1px;
            width: 10px;
            height: 10px;
            font-size: 10px;
            padding: 0;
            margin-top: 0;
            margin-right: 4px;
        }

        .dropdown-menu {
            left: auto;
            right: 0;

            .dropdown-item {
                text-decoration: none;
                width: 100%;
                display: block;
                padding: 0 10px;
            }

            &.pull-right {
                left: 0;
                right: auto;
            }
        }
    }
}

.staticSize(@size) {
    width: @size;
    height: @size;
    max-width: @size;
    min-width: @size;
}

.inquiry-item {
    .request-item-user {
        .fa-spin {
            font-size: 30px;
            line-height: 40px;
            color: #333;
        }
    }

    &-description {
        overflow: hidden;
        padding-top: 0;
        padding-left: 5px;
    }

    &-title, &-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-title {
        font-size: 1.2em;

        &-editable {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &-name {
    }

    &-watchers {
        @watcher-size: 12px;

        &-container {
            margin-top: 14px;
        }

        display: flex;
        position: absolute;
        float: right;
        right: 2px;
        bottom: 2px;

        .request-item-user-container {
            .staticSize(14px);

            &:hover {
                .request-item-user {
                    width: 150%;
                    height: 150%;
                    bottom: 0;
                    position: absolute;
                }
            }
        }
    }
}
