﻿﻿@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Controllers;
@using Smt.Atomic.WebApp.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.CrossCutting.Common.Extensions
@model ModelBasedDialogViewModel<ProjectViewModel>

@{
    ProjectViewModel project = Model.Model;
}

@using (Html.BeginCommonDialog(Model))
{
    <link rel="stylesheet" type="text/css" href="/Content/Dante/ProjectHub.css">
    <div class="modal-body form-horizontal">

        <div class="row">
            <div class="col-sm-6">
                <div class="flex-table">
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">Client:</div>
                        <div class="flex-table-cell">@(project.ClientShortName)</div>
                    </div>
                    @if (project.StartDate.HasValue)
                    {
                        <div class="flex-table-row">
                            <div class="flex-table-cell td-label">Start Date</div>
                            <div class="flex-table-cell">@(project.StartDate.Value.ToShortDateString())</div>
                        </div>
                    }
                    @if (project.EndDate.HasValue)
                    {
                        <div class="flex-table-row">
                            <div class="flex-table-cell td-label">End Date</div>
                            <div class="flex-table-cell">@(project.EndDate.Value.ToShortDateString())</div>
                        </div>
                    }
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">JIRA Key</div>
                        <div class="flex-table-cell">@(project.JiraKey)</div>
                    </div>
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">Status</div>
                        <div class="flex-table-cell">@(project.ProjectStatus.GetDescription())</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flex-table">
                     
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">APN</div>
                        <div class="flex-table-cell">@(project.Apn)</div>
                    </div>
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">KW APN</div>
                        <div class="flex-table-cell">@(project.KupferwerkProjectId)</div>
                    </div>
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">Acronym</div>
                        <div class="flex-table-cell">@(project.Acronym)</div>
                    </div>
                    <div class="flex-table-row">
                        <div class="flex-table-cell td-label">Org. Unit</div>
                        <div class="flex-table-cell">@(project.OrgUnitName)</div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="row hub-section">
            @if (project.ProjectManagerId.HasValue)
            {
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a data-hub-identifier="EmployeeValuePickers.Employee" data-hub-recordid="@(project.ProjectManagerId)" href="#">
                                <img class="media-object round" src="/Accounts/UserPicture/DownloadByEmployee?employeeId=@(project.ProjectManagerId)">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" data-hub-identifier="EmployeeValuePickers.Employee" data-hub-recordid="@(project.ProjectManagerId)">@(project.ProjectManagerFullName)</h4>
                            Project Manager
                        </div>
                    </div>
                </div>
            }

            @if (project.SupervisorManagerId.HasValue)
            {
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a data-hub-identifier="EmployeeValuePickers.Employee" data-hub-recordid="@(project.SupervisorManagerId)" href="#">
                                <img class="round media-object" src="/Accounts/UserPicture/DownloadByEmployee?employeeId=@(project.SupervisorManagerId)">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" data-hub-identifier="EmployeeValuePickers.Employee" data-hub-recordid="@(project.SupervisorManagerId)">@(project.SupervisorFullName)</h4>
                            Supervisor
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal-footer profile-actions">
        See more details &nbsp;
        <span class="profile-action show-profile-details" onclick="UserEmployeeHub.expandProfileDetails()">
            <i class="fa fa-angle-down"></i>
        </span>
    </div>


    <div class="modal-body profile-details hide ">
        @(project.Description)
    </div>
}
