﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.EmploymentTerminationRequestActionSetModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <div id="content">
        <p>On @Model.EndDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture) your employee @Model.Employee.FullName ends cooperation with our company.</p>
        <p>Before the last day of his work please make sure that employee:</p>
        <ol>
            <li>Transferred all important information and materials related to project</li>
            <li>Submitted his time report in Dante</li>
            <li>
                Settled the clearance slip
                <ol type="a">
                    <li>Reception desk – confirmation of local reception desk employee</li>
                    <li>Payroll – confirmation from <a href="mailto:payroll@intive.com">payroll@intive.com</a></li>
                    <li>IT - confirmation of local IT department</li>
                    <li>Business Travel* – confirmation from <a href="mailto:katarzyna.husakowska@intive.com">katarzyna.husakowska@intive.com</a></li>
                    <li>Finance* - confirmation from <a href="mailto:urszula.tomaszewska@intive.com">urszula.tomaszewska@intive.com</a> or <a href="mailto:paulina.szturo@intive.com">paulina.szturo@intive.com</a></li>
                    <li>Trainings – confirmation from <a href="mailto:aleksandra.bozynska@intive.com">aleksandra.bozynska@intive.com</a> or <a href="mailto:mateusz.medynski@intive.com">mateusz.medynski@intive.com</a></li>
                </ol>
            </li>
        </ol>
        <p>*If the employee has not been on a delegation or did not take any advance payment in the past 3 months you can confirm this section</p>
        <p>Clearance slip must be passed to the Payroll department (the scan or the original) no later than the next day after leaving the employee.</p>
    </div>
</body>
</html>