﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <div id="content">
        <p>Dear employee,</p>
        <p>soon your adventure with our company will come to an end, we would like to thank you for the time spent with us.</p>
        <p>Remember to complete all the paperwork before your last day in the office.</p>
        <p>You have the obligation to settle with a clearance slip, which is available <a href="https://wiki.intive.com/confluence/pages/viewpage.action?pageId=6522266">HERE</a></p>
        <ul>
            <li>Reception desk – confirmation of local reception desk employee</li>
            <li>Payroll – confirmation from <a href="mailto:payroll@intive.com">payroll@intive.com</a></li>
            <li>IT - confirmation of local IT department</li>
            <li>Business Travel – confirmation from <a href="mailto:katarzyna.husakowska@intive.com">katarzyna.husakowska@intive.com</a></li>
            <li>Finance - confirmation from <a href="mailto:urszula.tomaszewska@intive.com">urszula.tomaszewska@intive.com</a> or <a href="mailto:paulina.szturo@intive.com">paulina.szturo@intive.com</a></li>
            <li>Trainings – confirmation from <a href="mailto:aleksandra.bozynska@intive.com">aleksandra.bozynska@intive.com</a> or <a href="mailto:mateusz.medynski@intive.com">mateusz.medynski@intive.com</a></li>
            <li>Your direct supervisor</li>
        </ul>
        <p>If you don’t have direct contact with mentioned person, please add email confirmation</p>
        <p>The clearance slip must be filled out no later than <span class="underline">on your last day of work</span> and delivered to the Payroll department (via your supervisor or by sending it from the local reception desk).</p>
        <p>If you are working on a B2B contract, please send the information about your email address to which you would like to receive the last invoice amount to <a href="mailto:marcin.switaj@intive.com">marcin.switaj@intive.com</a>.</p>
        <p>Good luck in the new place!</p>
        <p>HR Department</p>
    </div>
</body>
</html>