@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<p>Hi,</p>
<p>Your new employee/contractor @Model.EmployeeFullName (@Model.EmployeeLogin) was accepted by Hiring Manager @Model.HiringManager.FullName (@Model.HiringManager.Login).</p>
<p>Details you can find <a href="@Model.RequestViewLink">here</a>.</p>
<p>Please submit Assets Request for her/him <a href="@Model.AssetsRequestEditLink">here</a>.</p>
<p>If you have any questions please contact new employee/contractor’s recruiter @Model.Recruiter.FullName (@Model.Recruiter.Login).</p>
@(Raw(EmailTemplateHelper.SharedSignature))
