@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<p>Hi,</p>
<p>New employee/contractor @Model.EmployeeFullName (@Model.EmployeeLogin) starts intive adventure from @Model.StartDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture).</p>
<p>Please find details below:</p>
<ol>
    <li>Location: @Model.Location</li>
    <li>Place of work: @Model.PlaceOfWork</li>
    <li>Onboarding date: @Model.OnboardingDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture)</li>
    <li>Onboarding location: @Model.OnboardingLocation</li>
    <li>Welcome announce mail information: @Model.WelcomeAnnounceEmailInformation</li>
    <li>Welcome announce mail photo: <a href="@Model.WelcomeAnnounceEmailPhotosLink">available here</a></li>
</ol>
<p>If you have any questions please contact new employee/contractor’s recruiter @Model.Recruiter.FullName (@Model.Recruiter.Login).</p>
@(Raw(EmailTemplateHelper.SharedSignature))
