@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<p>Hi,</p>
<p>New employee/contractor @Model.EmployeeFullName is covered by relocation package. Please see Please see details below:</p>
<p>@Model.RelocationPackageDetails</p>
<p>If you have any question, please contact his/hers recruiter @Model.Recruiter.FullName.</p>
@(Raw(EmailTemplateHelper.SharedSignature))
