@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<p>Hi,</p>
<p>New employee/contractor @Model.EmployeeFullName (@Model.EmployeeLogin) was accepted by Hiring Manager.</p>
<p>Please be informed that his/her new line manager is @Model.LineManager.FullName (@Model.LineManager.Login).</p>
<p>Make sure all data will be up-to-date before official start of new intiver. Also you can always make changes in your request <a href="@Model.RequestEditLink">here</a>.</p>
@(Raw(EmailTemplateHelper.SharedSignature))
