@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<p>Hi,</p>
<p>Onboarding Request for @Model.EmployeeFullName (@Model.EmployeeLogin) was deleted.</p>
<p>All departments (i.e. Payroll, IT, HR) has been informed. </p>
@(Raw(EmailTemplateHelper.SharedSignature))
