﻿fieldset {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;

    legend {
        margin-bottom: 5px;
        padding-left: 25px;
        position: relative;

        .fa {
            position: absolute;
            left: 0;
            top: 6px;
            font-size: 16px;
            cursor: pointer;
        }
    }

    &.collapsed {
        .consent {
            display: none;
        }
    }

    .consent {
        width: 100%;
        padding: 8px 5px;
        padding-right: 25px;
        float: left;
        position: relative;
        cursor: pointer;

        .fa {
            position: absolute;
            right: 0;
            top: 11px;
            display: none;
            font-size: 16px;

            &.disabled-checkbox {
                opacity: .65;
            }
        }

        &-revoked {
            .add-grant {
                display: block;
            }
        }

        &-granted {
            .remove-grant {
                display: block;
            }
        }

        &.in-progress {
            pointer-events: none;
        }
    }
}

.alert-container {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
}
