﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Optional.OptionalRenderingModel
@{ var clientValidationAttributes = new RawString(Model.ClientValidationAttributes.Render()); }

<div class="optional-value-control inline-control @Model.CssClass @Model.GetVisibilityClass()" data-component-type="Optional">
    <div class="optional-value-control-radio">
        <label class="radio-inline">
            <input type="radio" value="0" name="@(Model.Name).IsSet" @(!Model.IsSet ? "checked" : string.Empty) @clientValidationAttributes>
            @RenderersResources.OptionalEmpty
        </label>
        <label class="radio-inline">
            <input type="radio" value="1" name="@(Model.Name).IsSet" @(Model.IsSet ? "checked" : string.Empty) @clientValidationAttributes>
            @RenderersResources.OptionalPresent
        </label>
    </div>
    <div class="optional-value-control-inner">
        @(new RawString(Model.InlineHtml.Value))
    </div>
</div>