﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Optional.OptionalRenderingModel

@if (!Model.IsSet)
{
    <label class="@Model.LabelWidthClass control-label @Model.CssClass @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
    <div class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
        <div class="ellipsis take-full-width">
            <span class="empty-text">@RenderersResources.OptionalEmpty</span>
        </div>
    </div>
}
else
{
    @(new RawString(Model.SummaryHtml.Value))
}