﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Optional.OptionalRenderingModel
@{ var clientValidationAttributes = new RawString(Model.ClientValidationAttributes.Render()); }

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()" data-component-type="Optional">
    <label for="@(Model.Name).value" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="optional-value-control @Model.ControlWidthClass">
        <div class="optional-value-control-radio">
            <label class="radio-inline">
                <input type="radio" value="0" name="@(Model.Name).IsSet" @(!Model.IsSet ? "checked" : string.Empty) @clientValidationAttributes>
                @RenderersResources.OptionalEmpty
            </label>
            <label class="radio-inline">
                <input type="radio" value="1" name="@(Model.Name).IsSet" @(Model.IsSet ? "checked" : string.Empty) @clientValidationAttributes>
                @RenderersResources.OptionalPresent
            </label>
        </div>
        @if (Model.HasHint)
        {
            <div class="control-hint">
                @Model.Hint
            </div>
        }
        <div class="optional-value-control-inner">
            @(new RawString(Model.InlineHtml.Value))
        </div>
    </div>
</div>