﻿@using Smt.Atomic.WebApp.Areas.Consents.Models
@using Smt.Atomic.WebApp.Areas.Consents.Resources
@model ConsentDetailsViewModel

@if (Model.ConsentGroups.Any())
{
    <div id="consent-list" data-toggle-url="@Model.ToggleActionUrl">
        @foreach (var consentGroup in Model.ConsentGroups)
        {
            <fieldset>
                <legend>
                    <span>@consentGroup.Description</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </legend>
                <div>
                    @foreach (var consent in consentGroup.Consents)
                    {
                        <div class="consent consent@(consent.IsRevoked ? "-revoked" : "-granted")"
                             data-enum-name="@consentGroup.EnumIdentifier"
                             data-enum-value="@consent.ConsentValue">
                            <span>@consent.Description</span>
                            <i class="fa fa-check-square-o remove-grant"></i>
                            <i class="fa fa-square-o add-grant"></i>
                        </div>
                    }
                </div>
            </fieldset>
        }
    </div>
}
else
{
    <i>@ConsentsResources.NoConsentGroupDefined</i>
}