﻿@using System.Globalization
@using Smt.Atomic.WebApp.Areas.Allocation.Models;
@using Smt.Atomic.WebApp.Areas.Allocation.Resources;

@model ChartDropDownViewModel
@{
    var chartId = "allocation-chart";
    var yearMonths = Model.Items.GroupBy(e => new { e.Date.Year, e.Date.Month });
    var weeksNumberBeforeNotAllocatedAverage = Model.Items.Count(c => c.Date < Model.AveragePeriodFrom );
    var weeksNumberAfterNotAllocatedAverage = Model.Items.Count(c => c.Date > Model.AveragePeriodTo);
    var weeksNumberInNotAllocatedAverage = Model.Items.Count() - weeksNumberBeforeNotAllocatedAverage - weeksNumberAfterNotAllocatedAverage;
}

<div class="chart-container" data-for="#@chartId">
    <div id="@chartId" class="chart"></div>
    <div data-currentweek="@Model.CurrentWeek.ToShortDateString()">
        <table class="table table-striped table-bordered table-hover table-chart table-without-last-row">
            <thead>
                <tr>
                    <th class="fix-cell fix-horizontal"></th>
                    @* ReSharper disable once UseStringInterpolation *@
                    @foreach (var date in yearMonths)
                    {
                        <th colspan="@date.Count()">
                            <span class="line-table-chart"></span>
                            <span class="header-text">@string.Format("{0}-{1:D2}", date.Key.Year, date.Key.Month)</span>
                        </th>
                    }
                </tr>
                <tr>
                    <th class="fix-cell fix-horizontal"></th>
                    @foreach (var column in Model.Items)
                    {
                        <th class="numeric-column @(Model.CurrentWeek == column.Date ? "selected-cell" : "")" data-time="@column.Date.ToShortDateString()">
                            <span class="header-text">@column.Date.Day</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr class="row_1 row_available chart_row">
                    <td class="fix-cell fix-horizontal name-column">@EmployeeAllocationChartsResources.AvailableFTELabel</td>
                    @foreach (var group in Model.Items)
                    {
                        var dataValue = decimal.Round(group.AvailableFTE, 0, MidpointRounding.AwayFromZero).ToString(CultureInfo.InvariantCulture);
                        var displayValue = string.Format("{0:N1}", group.AvailableFTE);
                        <td data-value="@dataValue" class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@displayValue</td>
                    }
                </tr>
                <tr class="row_2 row_allocated chart_row">
                    <td class="fix-cell fix-horizontal">@EmployeeAllocationChartsResources.AllocatedFTELabel</td>
                    @foreach (var group in Model.Items)
                    {
                        var dataValue = decimal.Round(group.AllocatedFTE, 0, MidpointRounding.AwayFromZero).ToString(CultureInfo.InvariantCulture);
                        var displayValue = string.Format("{0:N1}", group.AllocatedFTE);
                        <td data-value="@dataValue" class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@displayValue</td>
                    }
                </tr>
                <tr class="row_3 row_planned">
                    <td class="fix-cell fix-horizontal">@EmployeeAllocationChartsResources.PlannedFTELabel</td>
                    @foreach (var group in Model.Items)
                    {
                        var dataValue = decimal.Round(group.PlannedFTE, 0, MidpointRounding.AwayFromZero).ToString(CultureInfo.InvariantCulture);
                        var displayValue = string.Format("{0:N1}", group.PlannedFTE);
                        <td data-value="@dataValue" class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@displayValue</td>
                    }
                </tr>
                <tr class="row_4  row_planned_and_allocated chart_row">
                    <td class="fix-cell fix-horizontal">@EmployeeAllocationChartsResources.PlannedPlusAllocatedFTELabel</td>
                    @foreach (var group in Model.Items)
                    {
                        var dataValue = decimal.Round(group.PlannedFTE + group.AllocatedFTE, 0, MidpointRounding.AwayFromZero).ToString(CultureInfo.InvariantCulture);
                        var displayValue = string.Format("{0:N1}", group.PlannedFTE + group.AllocatedFTE);
                        <td data-value="@dataValue" class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@displayValue</td>
                    }
                </tr>
                <tr class="row_5 separated">
                    <td class="fix-cell fix-horizontal">@EmployeeAllocationChartsResources.FreeFTELabel</td>
                    @foreach (var group in Model.Items)
                    {
                        <td class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@string.Format("{0:N1}", group.NotAllocatedFTE)</td>
                    }
                </tr>
                <tr class="row_6">
                    <td class="fix-cell fix-horizontal">@EmployeeAllocationChartsResources.AllocatedPercentLabel</td>
                    @foreach (var group in Model.Items)
                    {
                        <td class="numeric-column align-right @(Model.CurrentWeek == group.Date ? "selected-cell" : "")">@string.Format("{0:N1}%", 100 - group.NotAllocatedPercentage)</td>
                    }
                </tr>
            </tbody>
            <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="@weeksNumberBeforeNotAllocatedAverage"></td>
                        <td class="numeric-column selected-cell solid-border" colspan="@weeksNumberInNotAllocatedAverage">@string.Format("{0:N1}%", Model.AverageNotAllocatedPercentForPeriod)</td>
                        <td colspan="@weeksNumberAfterNotAllocatedAverage"></td>
                    </tr>
            </tfoot>
        </table>
    </div>
</div>
