﻿@using Smt.Atomic.Business.Allocation.Enums
@using Smt.Atomic.Business.Common.Interfaces
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Helpers = Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.WebApp.Areas.Allocation.Controllers
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.WebApp.Resources
@using SortDirection = Smt.Atomic.CrossCutting.Common.Enums.SortingDirection
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Common.Enums
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel

@{
    var columns = Model.Columns.GetAll();
    var columnCount = columns.Count;
    var hasRows = Model.Rows.Any();
    var firstRow = hasRows ? Model.Rows.FirstOrDefault() as EmployeeAllocationViewModel : null;
    var periodType = Model.GridParameters.QueryStringFieldValues["period-type"].ToString();
    var isDailyView = periodType == Helpers.EnumHelper.ToUrlString(EmployeeAllocationPeriodType.Day);

    var currentUserRoles = ViewBag.CurrentUserRoles as HashSet<string> ?? new HashSet<string>();
    var canViewAllocationRequest = currentUserRoles.Contains("CanViewAllocationRequest");
    var canAddAllocationRequest = currentUserRoles.Contains("CanAddAllocationRequest");
    var canEditAllocationRequest = currentUserRoles.Contains("CanEditAllocationRequest");

    Func<AllocationCertainty?, string> GetProjectBackgroundColor = (certainty) =>
    {
        switch (certainty)
        {
            case AllocationCertainty.Planned:
                return "#61A0D9";
            case AllocationCertainty.Certain:
                return "#f9f9f9";
            default:
                return string.Empty;
        }
    };

    Func<RequestStatus?, string> GetAbsenceColor = (status) =>
    {
        switch (status)
        {
            case RequestStatus.Pending:
                return "#C0C0C0";   //Silver
            case RequestStatus.Approved:
            case RequestStatus.Completed:
                return "#000000";  //Black
            default:
                return string.Empty;
        }
    };

    Func<AllocationStatus, decimal, string> resolveAllocationStatusCss = (status, availableHours) =>
    {
        switch (status)
        {
            case AllocationStatus.Free:
                return "allocation-free";

            case AllocationStatus.AlmostFree:
                return "allocation-almostfree";

            case AllocationStatus.InActive:
                return "allocation-inactive";

            case AllocationStatus.Unavailable:
                if (isDailyView && availableHours == 0)
                {
                    return "allocation-no-available-hours";
                }
                return "allocation-unavailable";

            case AllocationStatus.Planned:
                return "allocation-planned";

            case AllocationStatus.UnderAllocated:
                return "allocation-underallocated";

            case AllocationStatus.UnderPlanned:
                return "allocation-underplanned";

            case AllocationStatus.Mixed:
                return "allocation-mixed";

            case AllocationStatus.Allocated:
                return "allocation-allocated";

            case AllocationStatus.Processing:
                return "allocation-processing";

            default:
                return string.Empty;
        }
    };
}

<div class="grid-allocation hide-content @periodType">
    <table class="table table-striped table-hover allocation-table @(Model.IsCondensed ? "table-condensed" : string.Empty)" data-no-project-message="@(canViewAllocationRequest && canAddAllocationRequest ? EmployeeAllocation.AddAllocationText : EmployeeAllocation.NoProjects)">
        <thead>
            <tr>
                @foreach (var column in columns)
                {
                    if (column.IsSortable)
                    {
                        <th class="grid-column-header fix-horizontal fix-vertical sortable" data-column-name="@column.SortByPropertyName">
                            <span>@column.Label</span>
                            @{
                                if (column.SortingDirection == SortDirection.Unspecified)
                                {
                                    <i class="fa fa-sort sort-hint"></i>
                                }
                                if (column.SortingDirection == SortDirection.Ascending)
                                {
                                    <i class="fa fa-sort-asc"></i>
                                }
                                if (column.SortingDirection == SortDirection.Descending)
                                {
                                    <i class="fa fa-sort-desc"></i>
                                }
                            }
                        </th>
                                }
                                else
                                {
                                    <th class="grid-column-header non-sortable fix-horizontal fix-vertical">@column.Label</th>
                                    }
                                }

                @if (!Model.RowButtons.IsNullOrEmpty())
                {
                    <th class="non-sortable">@ComponentResources.CommandColumnLabel</th>
                    columnCount++;
                }
                @if (firstRow != null && firstRow.Allocations != null)
                {
                    foreach (var item in firstRow.Allocations)
                    {
                        if (isDailyView)
                        {
                            Html.RenderPartial("_DayHeader", item);
                        }
                        else
                        {
                            Html.RenderPartial("_WeekHeader", item);
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var row in Model.Rows)
                {
                    var rowCssClass = "";
                    var treeNodeItemRow = row as ITreeNodeItemViewModel;
                    if (treeNodeItemRow != null)
                    {
                        rowCssClass = treeNodeItemRow.GetRowCssClass();
                    }

                    var allocationItemRow = row as EmployeeAllocationViewModel;

                    var addRequestRouteData = new RouteValueDictionary
                                            {
                                                {"Area", "Allocation"},
                                                {AllocationRequestController.ReturnPointParameterName, "allocation.employeeAllocation"},
                                                {AllocationRequestController.EmployeeIdsParameterName, allocationItemRow.EmployeeId},
                                                {AllocationRequestController.StartDateParameterName, "~period"},
                                                {AllocationRequestController.ContentTypeParameterName, "simple"}
                                            };
                    var editProjectRouteData = new
                    {
                        Area = "Allocation",
                        projectId = "~projectId",
                        period = "~period",
                        employeeId = allocationItemRow.EmployeeId,
                        returnPoint = "allocation.employeeAllocation"
                    };

                    <tr class="@rowCssClass"
                        id="@allocationItemRow.EmployeeId"
                        data-url-add="@Url.Action("Add", "AllocationRequest", addRequestRouteData)"
                        data-url-edit="@(Url.Action("ResolveAllocation", "AllocationRequest", editProjectRouteData))">

                        @foreach (var column in columns)
                        {
                            <td class="employee-column fix-horizontal @column.SortByPropertyName @column.CssClass">
                                @{
                                    if (allocationItemRow.HasOverAllocation)
                                    {
                                        <i class="over-allocated" title="@EmployeeAllocation.OverallocatedMessage"></i>
                                    }
                                    var cellValue = column.Render(row, Url);
                                    if (cellValue == null || cellValue is string)
                                    {
                                        @Html.Raw(cellValue)
                                    }
                                    else
                                    {
                                        @Html.Partial(column.ViewPath, cellValue)
                                    }
                                }
                            </td>
                                    }

                        @if (allocationItemRow != null && allocationItemRow.Allocations != null)
                        {
                            foreach (var item in allocationItemRow.Allocations)
                            {
                                var projectAllocations = item.ProjectAllocations;
                                var cellRightBorderCssClass = string.Empty;

                                if (isDailyView && item.AllocationPeriod.IsLastWorkingDayOfWeek())
                                {
                                    cellRightBorderCssClass += " last-working-day-of-the-week";
                                }
                                else if (!isDailyView && item.IsEmploymentPeriodLastWorkingWeekOfTheMonth)
                                {
                                    cellRightBorderCssClass += " last-working-week-of-the-month";
                                }
                                <td class="weekly-projects show-legend @resolveAllocationStatusCss(item.Status, item.AvailableHours)@cellRightBorderCssClass">
                                    @if (item.Status != AllocationStatus.Unavailable && item.Status != AllocationStatus.Processing)
                                    {
                                        if (projectAllocations.Length == 0)
                                        {
                                            if (canViewAllocationRequest && canAddAllocationRequest)
                                            {
                                                <a class="allocation-project-row" href="#" data-period="@item.AllocationPeriod.ToShortDateString()">
                                                    @if (item.EmployeeAbsences.Any())
                                                    {
                                                        <span class="absence-info" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="color: @GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus)"></i></span>
                                                        <span class="utilization-info @(item.HasOverAllocation ? "utilization-over-allocated" : string.Empty)">
                                                            @item.GetUtilizationInfo(isDailyView)
                                                        </span>
                                                    }
                                                    <span class="message">@EmployeeAllocation.NoProjects</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="allocation-project-row">
                                                    @if (item.EmployeeAbsences.Any())
                                                    {
                                                        <span class="absence-info" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="color: @GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus)"></i></span>
                                                        <span class="utilization-info @(item.HasOverAllocation ? "utilization-over-allocated" : string.Empty)">
                                                            @item.GetUtilizationInfo(isDailyView)
                                                        </span>
                                                    }
                                                    <span class="message">@EmployeeAllocation.NoProjects</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="allocation-row @(projectAllocations.Length > 1 ? "multiple-allocations" : string.Empty)">
                                                @if (item.HasOverAllocation)
                                                {
                                                    <i class="over-allocated" title="@EmployeeAllocation.OverallocatedMessage"></i>
                                                }
                                                @if (projectAllocations.Length > 1)
                                                {
                                                    if (item.HasOverAllocation)
                                                    {
                                                        <i class="over-allocated" title="@EmployeeAllocation.OverallocatedMessage"></i>
                                                    }

                                                    <span class="allocation-summary allocation-project-row">

                                                        <span class="project-info"><span>@string.Format(EmployeeAllocation.ProjectCountFormat, projectAllocations.Length)</span></span>
                                                        @if (item.EmployeeAbsences.Any())
                                                        {
                                                            <span class="absence-info" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="color: @GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus)"></i></span>
                                                            <span class="utilization-info @(item.HasOverAllocation ? "utilization-over-allocated" : string.Empty)" title="@EmployeeAllocation.OverallocatedMessage">
                                                                @item.GetUtilizationInfo(isDailyView)
                                                            </span>
                                                        }
                                                    </span>
                                                }
                                                <div class="allocation-details">
                                                    @foreach (var project in projectAllocations)
                                                    {
                                                        var backgroundColor = !string.IsNullOrEmpty(project.ProjectColor) && isDailyView ? project.ProjectColor : GetProjectBackgroundColor(project.Certainty);
                                                        var fontColor = project.HasOverAllocation ? string.Empty : ColorHelper.IsDark(isDailyView ? backgroundColor : string.Empty) ? "#FFF" : "#333";
                                                        <div class="allocation-project">
                                                            @if (isDailyView && project.Certainty == AllocationCertainty.Planned)
                                                            {
                                                                <i class="planned-project" title="@EmployeeAllocation.PlannedProject"></i>
                                                            }
                                                            @if (item.HasOverAllocation)
                                                            {
                                                                <i class="over-allocated" title="@EmployeeAllocation.OverallocatedMessage"></i>
                                                            }
                                                            @if (!project.IsVacation && canEditAllocationRequest && canViewAllocationRequest)
                                                            {
                                                                <a href="#" data-period="@item.AllocationPeriod.ToShortDateString()" data-project="@project.ProjectId" class="allocation-project-row" style="background-color: @backgroundColor;">
                                                                    <span class="project-info" title="@project.ProjectName"><span style="color: @fontColor;">@project.ProjectName</span></span>
                                                                    @if (item.EmployeeAbsences.Any())
                                                                    {
                                                                        var absenceColor = GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus);
                                                                        <span class="absence-info" style="color: @fontColor;" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="color: @(absenceColor == backgroundColor ? fontColor : absenceColor)"></i></span>
                                                                    }
                                                                    <span class="utilization-info @(project.HasOverAllocation ? "utilization-over-allocated" : string.Empty)" style="color: @fontColor;">@project.GetUtilizationInfo(isDailyView)</span>
                                                                </a>
                                                            }
                                                            else if (project.IsVacation)
                                                            {
                                                                <span class="allocation-project-row" style="background-color: @backgroundColor;">
                                                                    <span class="project-info" title="@project.ProjectName"><span style="color: @fontColor;">@project.ProjectName</span></span>
                                                                    <span class="utilization-info" style="color: @fontColor;">@Html.Bootstrap().Icon(FontAwesome.SmileO)</span>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="allocation-project-row" style="background-color: @backgroundColor;">
                                                                    <span class="project-info" title="@project.ProjectName"><span style="color: @fontColor;">@project.ProjectName</span></span>
                                                                    @if (item.EmployeeAbsences.Any())
                                                                    {
                                                                        var absenceColor = GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus);
                                                                        <span class="absence-info" style="color: @fontColor;" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="color: @(absenceColor == backgroundColor ? fontColor : absenceColor)"></i></span>
                                                                    }
                                                                    <span class="utilization-info @(project.HasOverAllocation ? "utilization-over-allocated" : string.Empty)" style="color: @fontColor;">@project.GetUtilizationInfo(isDailyView)</span>
                                                                </span>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    else if (item.Status == AllocationStatus.Processing)
                                    {
                                        <i class="fa fa-clock-o" aria-hidden="true" title="@AllocationRequestResources.PleaseWaitProcessing"></i>
                                    }
                                    else if (item.Status == AllocationStatus.Unavailable)
                                    {
                                        if (item.EmployeeAbsences.Any())
                                        {
                                            <div class="allocation-project-row proc" style="overflow: visible">
                                                <span class="absence-info" title="@item.GetEmployeeAbsencesTooltipText()"><i class="fa fa-suitcase" style="cursor: default; color: @GetAbsenceColor(item.EmployeeAbsences[0].RequestStatus)"></i></span>
                                                <span class="utilization-info @(item.HasOverAllocation ? "utilization-over-allocated" : string.Empty)">
                                                    @item.GetUtilizationInfo(isDailyView)
                                                </span>
                                            </div>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                                    }

                                    if (!hasRows && !string.IsNullOrWhiteSpace(Model.EmptyListMessage))
                                    {
                                        <tr><td colspan="@columnCount" class="empty-list-message">@Model.EmptyListMessage</td></tr>
                                    }
            }
        </tbody>
    </table>
</div>
