﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@model EmployeeAllocationViewModel.EmployeeAllocationSingleRecordViewModel

@{
    var cssClass = "non-sortable day-column fix-vertical";

    if (Model.AllocationPeriod.IsLastWorkingDayOfWeek())
    {
        cssClass = cssClass + " last-working-day-of-the-week";
    }

    if (Model.IsEmploymentPeriodCurrentDay)
    {
        cssClass = cssClass + " current-date-header";
    }
}

<th class="@cssClass fix-vertical">
    <span class="part-day">@Model.AllocationPeriod.GetShortNameOfDay()</span>
    <span class="part-date">@Model.AllocationPeriod.ToShortDateString()</span>
</th>