﻿@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@model EmployeeAllocationViewModel.EmployeeAllocationSingleRecordViewModel

@{
    var cssClasses = "non-sortable week-column fix-vertical";

    if (Model.IsEmploymentPeriodCurrentWeek)
    {
        cssClasses += " current-date-header";
    }

    if (Model.IsEmploymentPeriodLastWorkingWeekOfTheMonth)
    {
        cssClasses += " last-working-week-of-the-month";
    }

    var weekNum = Model.AllocationPeriod.GetWeekOfYear();

}

<th class="@cssClasses">
    <span class="week-number">@string.Format(EmployeeAllocation.WeekNumberFormat, weekNum)</span>
    <span class="week-date">@Model.AllocationPeriod.ToShortDateString()</span>
</th>