﻿@import 'Atomic/colors.less';
@radioIndicatorContent: '\f111';
@checkIndicatorContent: '\f00c';
@focusWithinBackgroundColor: #d9edf7;

.form-footer {
    border-top: 1px solid #eee;
    width: 100%;
    float: left;
    background-color: #fcfcfc;
    padding-left: 15px;
    padding-right: 10px;

    .btn {
        -moz-min-width: 80px;
        -ms-min-width: 80px;
        -o-min-width: 80px;
        -webkit-min-width: 80px;
        min-width: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;

        &-separated {
            @separator-width: 60px;

            margin-right: @separator-width;
        }
    }

    .pull-right::before, .pull-right::after {
        content: "";
        display: table;
        clear: both;
    }
}

.login-form {
    width: 300px;
    margin: auto;
    min-height: 220px;

    #submit-button {
        width: 100%;
    }
}

.record-form {
    .content {
        .form-group .control-label, .row .control-label {
            text-align: left;
        }

        .form-group, .row {
            max-width: 1000px;
            margin: 0 auto;
            padding: 6px 0;

            .checkbox, .radio {
                display: flex;
                align-items: center;
            }

            .checkbox-inline, .checkbox, .radio-inline, .radio {
                padding-top: 6px;
                padding-bottom: 6px;
            }

            .localized-item:last-child {
                padding-bottom: 0;
            }
        }

        .form-group:focus-within {
            background: @focusWithinBackgroundColor;
            border-radius: 5px;
        }
    }

    .form-footer {
        .footer-sizer {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.form-group .textarea-wrapper {
    position: relative;
    display: block;

    @hint-size: 11px;

    .validation-hint {
        position: absolute;
        right: 10px;
        bottom: 0;
        display: none;
        font-size: @hint-size;

        &-error {
            font-size: @hint-size * 1.2;
            font-weight: bold;
        }
    }

    textarea {
        min-width: 100%;
        max-width: 100%;

        &:focus {
            &[data-val-length-max] + .validation-hint {
                display: block;
            }
        }
    }
}

.form-group.row .localized-item {
    padding-left: 15px;
    padding-right: 15px;
}

legend {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}

.empty-text {
    color: #ccc;
}

label.required:after {
    content: "*";
    color: red;
    margin-left: 2px;
    margin-right: -7px;
}

input.hidden-but-validate {
    font-size: 100%;
}

.form-horizontal {
    .repeater {
        .repeater-item {
            .form-group {
                margin-left: -15px;
            }
        }
    }
}

.modified {
    &-breadcrumb {
        .no-slash:after {
            content: '*';
        }
    }

    &:before {
        width: 4px;
        height: 100%;
        top: 4px;
        left: 5px;
        position: absolute;
        border-right: 3px solid orange;
        content: "";
    }
}
