﻿.help-box {
    margin-left: 1ex;
    font-size: 14px;
}

.form-group .help-box {
    position: absolute;
    top: 6px;
    right: -10px;
}

.radio label, .checkbox label {
    position: relative;

    .help-box {
        top: 1px;
        right: -20px;
    }
}

.checkbox-inline, .radio-inline {
    position: relative;

    .help-box {
        top: 0;
        right: -20px;
    }
}

.number-picker {
    .help-box {
        right: -45px;
    }
}

.optional-value-control {
    .value-picker {
        position: relative;

        .help-box {
            right: -26px;
        }
    }
}
