﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Accounts.Dto.UserLoginTokenEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Login information</title>
</head>

<body>
    <p>Hi, @ViewBag.RecipientFirstNames,</p>
    <p>You have been granted access to our system.</p>
    <p>Please <a href="@Model.LoginUrl">follow this link</a> to login.</p>
    <p>Note: provided link will expire at @(Model.ExpiresOn.ToShortDateString()).</p>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>