﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Accounts.Dto.UserPasswordEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Login information</title>
</head>
<body>
    <p>Dear @Model.FirstName,</p>
    <p>You have been granted access to our system.</p>
    <table>
        <tr><td>Login:</td><td>@Model.Login</td></tr>
        <tr><td>Password:</td><td>@Model.Password</td></tr>
    </table>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>