﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models;
@using Smt.Atomic.Presentation.Renderers.CardIndex;
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Resources

@model BusinessTripTabViewModel<BusinessTripAcceptanceConditionsViewModel>

@section header
{
    @Html.Partial("BusinessTripContext")
}

@{
    var viewModel = new CardIndexRecordViewModel<BusinessTripAcceptanceConditionsViewModel>(Model.ViewModel, new CardIndexSettings(Url), "", "");
}
<div class="record-form">
    <form method="POST" class="form-horizontal" id="main-form">
        @Html.ValidationSummaryAsAlerts(true)
        @Html.AntiForgeryToken()
        @Html.Bootstrap().EditorForModel(viewModel.ViewModelRecord, new HorizontalFormLayout(), viewModel.EditFormCustomization)
    </form>
</div>

@section footer
{
    <div class="record-form">
        <div class="form-footer">
            <div class="footer-sizer">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="@AtomicResources.OkButtonText" form="main-form" onclick="Forms.submitRecordForm(this);" data-hotkey="ctrl+return" />
                    <input type="button" class="btn btn-default" value="@AtomicResources.CancelButtonText" onclick="Forms.redirectToList('@viewModel.CancelButtonUrl');" data-hotkey="esc" />
                </div>
            </div>
        </div>
    </div>
}
