﻿@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.Resume.Controllers
@using Smt.Atomic.Presentation.Common.Helpers
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ModelBasedDialogViewModel<Guid>

@using (Html.BeginCommonDialog(Model))
{
    @(Url.Action(
        nameof(EmployeeResumeController.DownloadShared),
        RoutingHelper.GetControllerName<EmployeeResumeController>(),
        new { area = RoutingHelper.GetAreaName<EmployeeResumeController>(), token = Model.Model.ToString() }, Request.Url.Scheme))
}