﻿@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.MyTimeReportProjectViewModel

@{
    var isReadOnly = Model.IsReadOnly;
    var projectId = Model.ProjectId;
}
<div class="btn-container">
    @if (!isReadOnly)
    {
        <button class="btn btn-default btn-xs" type="button" onclick="MyTimeReport.openProjectValuePicker(this);">
            <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-default btn-xs" type="button" onclick="MyTimeReport.onAddTaskClicked(this);">
            <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-default btn-xs" type="button" onclick="MyTimeReport.onDeleteProjectClicked(this);">
            <i class="fa fa-trash-o"></i>
        </button>
    }
    else
    {
        <div class="project-name-container">
            <div class="project-indicator-icons">
                <i class="fa fa-lock" title="@TimeReportResources.ProjectIsReadOnly"></i>
            </div>
        </div>
    }
</div>
