﻿@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.MyTimeReportProjectAttributeViewModel

<ul id="taskRowProjectAttributeContextMenu" class="dropdown-menu filter-menu" role="menu">
    @foreach (var value in Model.PossibleValues)
    {
        <li role="presentation">
            <a class="filter-menu-item project-attribute-variant @value.ClassName" data-attribute-value="@value.Id" href="#" tabindex="-1" role="menuitem">
                <span>@value.Name</span>
            </a>
        </li>
    }
</ul>

