﻿@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.TaskRowViewModel
<div class="attributes-container">
    @if (Model.ParentProject.Attributes != null && Model.ParentProject.Attributes.Any())
    {
        <div class="btn-group">
            @foreach (var attribute in Model.ParentProject.Attributes.Select((value, i) => new { i, value }))
            {
                var inputValue = attribute.value.PossibleValues
                    .SingleOrDefault(p => Model.Task.SelectedAttributesValueIds != null && Model.Task.SelectedAttributesValueIds.Contains(p.Id))?.Id.ToString() ?? attribute.value.DefaultValueId?.ToString() ?? string.Empty;

                var attributeName = attribute.value.PossibleValues
                    .SingleOrDefault(p => Model.Task.SelectedAttributesValueIds != null && Model.Task.SelectedAttributesValueIds.Contains(p.Id))?.Name ?? attribute.value.Name;

                <div class="button-dropdown-content">
                    <input value="@inputValue" type="hidden" />
                    <button id="@attribute.value.Id" class="btn btn-combobox btn-xs dropdown-toggle" type="button" onclick="MyTimeReport.onAttributeContextMenuClicked(this);" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span>@attributeName</span>
                    </button>
                    @Html.Partial("_ProjectAttributesContextMenu", attribute.value)
                </div>
            }
        </div>
    }
</div>