﻿@using Smt.Atomic.WebApp.Areas.TimeTracking.Models

@model ProjectRowViewModel

@{
    var sumHours = Model.Days.Sum(day => Model.Project.GetHours(day.Date));
}

<tbody data-project-id="@Model.Project.ProjectId" data-project-name="@Model.Project.ProjectName">
    <tr class="project-row">
        <td class="name project-name fix-horizontal">
            <input type="text" class="name" value="@Model.Project.ProjectName" title="@Model.Project.GetProjectTooltipTitle()"/>
            <label class="tt-marker"></label>
            @Html.Partial("_ProjectContextButtons", Model.Project)
        </td>
        <td class="project-hour-sum hours-sum hours-summary-column fix-horizontal">@(sumHours > 0 ? sumHours.ToString("G29") : "-")</td>

        @foreach (var day in Model.Days)
        {
            var hours = Model.Project.GetHours(day.Date);

            <td class="hours @day.CssClasses" data-day="@Model.Days.IndexOf(day)">
                <span>@(hours > 0 ? hours.ToString("G29") : "-")</span>
            </td>
        }
    </tr>

    @foreach (var task in Model.Project.Tasks)
    {
        if (task.IsReadOnly)
        {
            @Html.Partial("_ReadOnlyTask", new TaskRowViewModel { ParentProject = Model.Project, Days = Model.Days, Task = task })
        }
        else
        {
            @Html.Partial("_Task", new TaskRowViewModel { ParentProject = Model.Project, Days = Model.Days, Task = task })
        }
    }
</tbody>
