﻿@using Smt.Atomic.WebApp.Areas.TimeTracking.Models

@model ProjectRowViewModel

@{
    var sumHours = Model.Days.Sum(day => Model.Project.GetHours(day.Date));
}

<tbody data-project-id="@Model.Project.ProjectId" data-project-name="@Model.Project.ProjectName">
    <tr class="project-row">
        <td class="name project-name fix-horizontal">
            <div class="project-name-container">
                <input type="text" class="name" value="@Model.Project.ProjectName" required="required" disabled title="@Model.Project.GetProjectTooltipTitle()"/>
            </div>

            @Html.Partial("_ProjectContextButtons", Model.Project)
        </td>
        <td class="project-hour-sum hours-sum hours-summary-column fix-horizontal">@(sumHours > 0 ? sumHours.ToString("G29") : "-")</td>

        @foreach (var day in Model.Days)
        {
            var hours = Model.Project.GetHours(day.Date);

            <td class="hours read-only-cell @day.CssClasses" data-day="@Model.Days.IndexOf(day)">
                <span>@(hours > 0 ? hours.ToString("G29") : "-")</span>
            </td>
        }
    </tr>

    @foreach (var task in Model.Project.Tasks)
    {
        @Html.Partial("_ReadOnlyTask", new TaskRowViewModel { Days = Model.Days, Task = task, ParentProject = Model.Project })
    }
</tbody>
