﻿@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using System.Linq

@model TaskRowViewModel

<tr class="task-row" data-task-id="@Model.Task.Id">
    <td class="name fix-horizontal">
        <div class="task-name-container">
            <input class="name" value="@Model.Task.Name" type="text" disabled title="@Model.Task.Name" />
        </div>
        <input class="overtime-variant" value="@((int) Model.Task.OvertimeVariant)" type="hidden" />
        @if (Model.Task.AbsenceTypeId.HasValue)
        {
            <input class="absence-type-id" value="@(Model.Task.AbsenceTypeId.Value)" type="hidden" />
        }
        @if (Model.Task.ImportSourceId.HasValue)
        {
            <input class="import-source-id" value="@(Model.Task.ImportSourceId.Value)" type="hidden" />
        }
        @if (!Model.Task.ImportedTaskCode.IsNullOrEmpty())
        {
            <input class="imported-task-code" value="@(Model.Task.ImportedTaskCode)" type="hidden" />
        }
        @if (!Model.Task.ImportedTaskType.IsNullOrEmpty())
        {
            <input class="imported-task-type" value="@(Model.Task.ImportedTaskType)" type="hidden" />
        }
        <div class="attributes-container">
            @if (Model.Task.SelectedAttributesValueIds.Count() > 0)
            {
                <div class="btn-group">
                    @foreach (var attribute in Model.ParentProject.Attributes.Select((value, i) => new { i, value }))
                    {
                        var inputValue = attribute.value.PossibleValues
                                .SingleOrDefault(p => Model.Task.SelectedAttributesValueIds != null
                                    && Model.Task.SelectedAttributesValueIds.Contains(p.Id))?.Id.ToString()
                                        ?? string.Empty;

                        var attributeValueName = attribute.value.PossibleValues
                                .SingleOrDefault(p => Model.Task.SelectedAttributesValueIds != null
                                    && Model.Task.SelectedAttributesValueIds.Contains(p.Id))?.Name
                                        ?? string.Empty;

                        if (!string.IsNullOrEmpty(attributeValueName))
                        {
                            <input value="@inputValue" type="hidden" />
                            <div class="attribute-content-readonly" title="@attribute.value.Name">
                                <span>@attributeValueName</span>
                            </div>
                        }
                    }
                </div>
            }
        </div>
        @Html.Partial("_TaskContextButtons", Model)
    </td>
    <td class="hours-sum hours-summary-column fix-horizontal">@Model.Task.Days.Sum(day => day.Hours).ToString("G29")</td>
    @foreach (var day in Model.Days)
    {
        var taskDay = Model.Task.Days.SingleOrDefault(d => d.Day == day.Date);
        var hour = taskDay?.Hours ?? 0;
        var hourString = hour != 0 ? hour.ToString("G29", CultureInfo.InvariantCulture) : string.Empty;

        <td class="hours read-only-cell @day.CssClasses">
            <input class="hours"
                   type="text"
                   value="@hourString"
                   data-day="@Model.Days.IndexOf(day)"
                   data-contracted-hours="@day.ContractedHours.ToString("G29")"
                   autocomplete="off"
                   disabled />
        </td>
    }
</tr>
