﻿@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@model TaskRowViewModel

<tr class="task-row" data-task-id="@Model.Task.Id">
    <td class="name fix-horizontal">
        <div class="task-name-container">
            <input class="name" value="@Model.Task.Name" type="text" title="@Model.Task.Name" />
        </div>
        <input class="overtime-variant" value="@((int) Model.Task.OvertimeVariant)" type="hidden" />
        @if (Model.Task.AbsenceTypeId.HasValue)
        {
            <input class="absence-type-id" value="@(Model.Task.AbsenceTypeId.Value)" type="hidden" />
        }
        @if (Model.Task.ImportSourceId.HasValue)
        {
            <input class="import-source-id" value="@(Model.Task.ImportSourceId.Value)" type="hidden" />
        }
        @if (!Model.Task.ImportedTaskCode.IsNullOrEmpty())
        {
            <input class="imported-task-code" value="@(Model.Task.ImportedTaskCode)" type="hidden" />
        }
        @if (!Model.Task.ImportedTaskType.IsNullOrEmpty())
        {
            <input class="imported-task-type" value="@(Model.Task.ImportedTaskType)" type="hidden" />
        }

        @Html.Partial("_ProjectContentAttributes", Model)
        @Html.Partial("_TaskContextButtons", Model)

    </td>
    @{
        var sumHours = Model.Task.Days.Sum(day => day.Hours);
    }
    <td class="hours-sum hours-summary-column fix-horizontal">@(sumHours > 0 ? sumHours.ToString("G29") : "-")</td>
    @foreach (var day in Model.Days)
    {
        var taskDay = Model.Task.Days.SingleOrDefault(d => d.Day == day.Date);
        var hour = taskDay?.Hours ?? 0;
        var hourString = hour != 0 ? hour.ToString("G29", CultureInfo.InvariantCulture) : string.Empty;

        <td class="hours @day.CssClasses">
            <input class="hours"
                   maxlength="6"
                   type="text"
                   value="@hourString"
                   data-day="@Model.Days.IndexOf(day)"
                   data-contracted-hours="@day.ContractedHours.ToString("G29")"
                   autocomplete="off"
                   @((taskDay != null && taskDay.IsReadOnly) ? "disabled" : "") />
            <label class="tt-marker"></label>
        </td>
    }
</tr>
