﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.TaskRowViewModel
@{
    var isReadOnly = Model.Task.IsReadOnly;
}
<div class="btn-container">
    @if (!isReadOnly)
    {
        <div class="task-indicator-icons">
            <i class="fa fa-clock-o overtime-indicator force-hide" title="@TimeReportResources.OvertimeTooltip"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" onclick="MyTimeReport.onRowContextMenuClicked(this);">
                <span class="caret"></span>
            </button>
        </div>
        <button class="btn btn-default btn-xs" type="button" onclick="MyTimeReport.onDeleteTaskClicked(this);">
            <i class="fa fa-trash-o"></i>
        </button>
    }
    else
    {
        <div class="read-only-icons-container">
            <div class="task-indicator-icons">
                <i class="fa fa-money crossed-icon not-billable-indicator force-hide" title="@TimeReportResources.NotBillableTooltip"></i>
                <i class="fa fa-clock-o overtime-indicator force-hide" title="@TimeReportResources.OvertimeTooltip"></i>
                <i class="task-icon fa @Model.GetStatusIconClass()" title="@Model.Task.Status.GetDescription()"></i>
                <i class="task-icon fa fa-lock" title="@TimeReportResources.TaskIsReadOnly"></i>
            </div>
        </div>
    }
</div>
