﻿@using System.Threading
@using System.Web.Mvc.Html
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@model MyTimeReportViewModel
@{
    var collection = new MvcHtmlString(JsonHelper.Serialize(Model.OvertimeApprovals, true));
}
@section scripts {
    @Scripts.Render("~/Scripts/typeahead.bundle.js")
}
@section header {
    <script id="loading-template" type="text/html">
        <div class="tt-loading">
            @TimeReportResources.LoadingProjectText<i class="fa fa-refresh fa-spinning pull-right" aria-hidden="true"></i>
        </div>
    </script>
    <script id="notFound-template" type="text/html">
        <div class="tt-notfound">@TimeReportResources.NotFoundProjectText</div>
    </script>
    <div class="container-fluid">
        <div class="row grid-toolbar">
            <div class="col-sm-12">
                <div class="burger-box">
                    <div class="burger-slices">
                        @Html.Partial("~/Views/Grid/_ToolbarButtons.cshtml", Model.ToolbarButtons)
                    </div>
                    <div class="burger-button pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                        <ul class="dropdown-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        MyTimeReport = { overtimeApprovals : @collection };
    </script>
}
@{
    var sumHours = Model.Days.Sum(day => Model.Projects.Sum(p => p.GetHours(day.Date)));
}


<form id="my-time-report-form" action="@Url.Action("SaveTimeReport", "MyTimeReport")" method="post" class="hidden" data-dirty="@ViewBag.InitializeAsDirty">
    @Html.HiddenFor(m => m.TimeReportId)
    @Html.HiddenFor(m => m.Year)
    @Html.HiddenFor(m => m.Month)
    @Html.HiddenFor(m => m.EmployeeId)
    @Html.HiddenFor(m => m.IsSubmitRequest)
    @Html.HiddenFor(m => m.EmployeeFullName)
    <div class="fields-container hidden"></div>
</form>

<ul id="taskRowContextMenu" class="dropdown-menu filter-menu" role="menu">
    <li class="dropdown-header" role="presentation">@TimeReportResources.EntryTypeHeader</li>
    @foreach (HourlyRateType entry in Enum.GetValues(typeof(HourlyRateType)))
    {
        <li role="presentation">
            <a class="filter-menu-item overtime-variant" href="#" tabindex="-1" data-overtime-variant="@((int)entry)" role="menuitem">
                <span>@entry.GetDescription()</span>
            </a>
        </li>
    }

    <li class="divider"></li>

    <li role="presentation">
        <a class="clone-task" href="#" tabindex="-1">@TimeReportResources.Clone</a>

    </li>

    <li role="presentation">
        <a class="split-overtime" href="#" tabindex="-1">@TimeReportResources.SplitOvertime</a>

    </li>

    <li role="presentation">
        <a class="fill-contracted-hours" href="#" tabindex="-1">@TimeReportResources.FillContractedHoursLabel</a>

    </li>

</ul>

<div class="grid-time-sheet">
    <table class="time-sheet" id="time-sheet">
        <thead>
            <tr class="week-number-row">
                <th class="key-column fix-horizontal fix-vertical"></th>
                <th class="hours-summary-column fix-horizontal fix-vertical"></th>
                @foreach (var weekDescription in Model.Weeks)
                {
                    var weekName = weekDescription.WeekDays >= 2
                        ? string.Format(TimeReportResources.WeekHeader, weekDescription.WeekNumber)
                        : string.Format(TimeReportResources.ShortWeekHeader, weekDescription.WeekNumber);

                    <th class="week-number fix-vertical" colspan="@weekDescription.WeekDays">@weekName</th>
                }
            </tr>
            <tr>
                <th rowspan="2" class="key-column fix-horizontal fix-vertical">@TimeReportResources.NameColumnHeader</th>
                <th class="key-column hours-summary-column fix-horizontal fix-vertical" rowspan="2">&Sigma;</th>
                @foreach (var day in Model.Days)
                {
                    var label = day.Date.Day.ToString("00");

                    <text>
                        <th class="day-number fix-vertical @day.CssClasses"
                            data-date="@day.Date.ToString("d", Thread.CurrentThread.CurrentCulture)"
                            data-day="@Model.Days.IndexOf(day)"
                            data-contracted-hours="@day.ContractedHours.ToString("G29")">
                            <span>@(label)</span>
                            <i class="fa fa-clock-o tt-marker" aria-hidden="true"></i>
                        </th>
                    </text>
                }
            </tr>
            <tr>
                @foreach (var day in Model.Days)
            {
                var dayName = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.AbbreviatedDayNames[(int)day.Date.DayOfWeek];
                var label = char.ToUpper(dayName[0]) + dayName.Substring(1, Math.Min(dayName.Length - 1, 2)).TrimEnd('.');

                    <text>
                        <th class="day-name fix-vertical @day.CssClasses">@(label)</th></text>
                }
            </tr>
        </thead>
        @foreach (var project in Model.Projects)
        {
            if (Model.IsReadOnly || project.IsReadOnly)
            {
                @Html.Partial("_ReadOnlyProject", new ProjectRowViewModel { Days = Model.Days, Project = project })
            }
            else
            {
                @Html.Partial("_Project", new ProjectRowViewModel { Days = Model.Days, Project = project })
            }
        }
        <tfoot>
            @if (!Model.IsReadOnly)
            {
                <tr class="new-project-row" data-project-id="" data-project-name="">
                    <td class="name project-name fix-vertical-footer fix-horizontal">
                        <input type="text" placeholder="@TimeReportResources.AddProjectPlaceholderText" id="new-project-name"
                               @(Model.IsReadOnly ? "disabled" : "") />
                        <div class="btn-container">
                            <button class="btn btn-default btn-xs" type="button" onclick="MyTimeReport.openProjectValuePickerForNew(this);"
                                    @(Model.IsReadOnly ? "disabled" : "")>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </td>
                    <td class="hours-summary-column fix-vertical-footer fix-horizontal">&nbsp;</td>
                    @foreach (var day in Model.Days)
                    {
                        <text>
                            <td data-day="@Model.Days.IndexOf(day)" class="@day.CssClasses fix-vertical-footer">&#160;</td></text>
                    }
                </tr>
            }
            <tr class="hours-summary-row">
                <td class="key-column fix-vertical-footer fix-horizontal">
                    <div>
                        <div class="contracted-hours-container">
                            @TimeReportResources.ContractedHoursLabel:
                            <span class="contracted-hours">@Model.ContractedHours</span>
                        </div>
                        <div class="sigma-footer-container">
                            &Sigma;
                        </div>
                    </div>
                </td>
                <td class="hours-sum hours-summary-column fix-vertical-footer fix-horizontal">@sumHours.ToString("G29")</td>
                @foreach (var day in Model.Days)
                {
                    var hours = Model.Projects.Sum(p => p.GetHours(day.Date));

                    <td data-day="@Model.Days.IndexOf(day)" class="hours-sum fix-vertical-footer @day.CssClasses">@(hours > 0 ? hours.ToString("G29") : "-")</td>
                }
            </tr>
        </tfoot>
    </table>
</div>