﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ModelBasedDialogViewModel<TimeReportSubmitViewModel>

@using (Html.BeginCommonDialog(Model))
{
    @TimeReportResources.SubmitConfirmMessage
    
    var warnings = Model.Model.Warnings;
    if (!warnings.IsNullOrEmpty())
    {
        <ul>
            @foreach (var warning in warnings)
            {
                <li>@warning</li>
            }
        </ul>
    }
}