﻿@model Smt.Atomic.WebApp.Areas.MeetMe.Models.MeetingsOverview.EmployeeTimelineEmploymentPeriodViewModel
@using Smt.Atomic.WebApp.Areas.MeetMe.Resources

@if (!string.IsNullOrEmpty(Model.Header))
{
    <div class="timeline-article">
        <div class="content-left-container">
            <div class="timeline-content timeline-content-left">
                <p class="timeline-paragraph">
                    <span class="fa fa-handshake-o article-number" aria-hidden="true"></span>
                    <span class="content-header">@Model.Header</span>
                </p>
                <p class="center-text timeline-paragraph">@Html.Raw(@Model.Body)</p>
            </div>
        </div>
        <div class="meta-date">
            <span class="timeLineDate">@Model.HappenedOn.Day</span>
            <span class="timeLinetimeLineMonth">@Model.HappenedOn.ToString("MMM")</span>
        </div>
    </div>
}