﻿@model Smt.Atomic.WebApp.Areas.MeetMe.Models.MeetingsOverview.EmployeeTimelineFeedbackViewModel
@using Smt.Atomic.WebApp.Areas.MeetMe.Resources

<div class="timeline-article">
    <div class="content-right-container">
        <div class="timeline-content timeline-content-right">
            <div class="content-header">@MeetingOverviewResources.EmployeeTimelineFeedbackName</div>
            <div class="comment timeline-paragraph">
                <img class="article-number" src="@Url.Action("DownloadByEmployee", "UserPicture", new { area = "Accounts", employeeId = @Model.EmployeeId, userPictureSize = "Medium" })" />
                @{
                    if (!String.IsNullOrEmpty(Model.FeedbackContent))
                    {
                        <span class="body">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                            <i> @MeetingResources.FeedbackLabel</i>  <br />
                            <span class="raw-feedback">@Html.Raw(Model.FeedbackContent)</span>
                        </span>
                    }
                }
                </div>

        </div>
        <span class="timeline-author">@Model.EmployeeFullName</span>
    </div>
    <div class="meta-date">
        <span class="timeLineDate">@Model.HappenedOn.Day</span>
        <span class="timeLinetimeLineMonth">@Model.HappenedOn.ToString("MMM")</span>
    </div>
</div>
