﻿@model Smt.Atomic.WebApp.Areas.MeetMe.Models.MeetingsOverview.EmployeeTimelineLineManagerChangedViewModel
@using Smt.Atomic.WebApp.Areas.MeetMe.Resources

<div class="timeline-article">
    <div class="content-left-container">
        <div class="timeline-content timeline-content-left">
            <p class="timeline-paragraph">
                <img class="article-number" src="@Url.Action("DownloadByEmployee", "UserPicture", new { area = "Accounts", employeeId = @Model.CurrentLineManagerId, userPictureSize = "Medium" })" />
                <span class="content-header">@Model.Name</span>
            </p>
            <p class="center-text timeline-paragraph">
                @string.Format(MeetingOverviewResources.EmployeeTimelineLineManagerChangedDescription, Model.CurrentLineManagerFullName)
            </p>
        </div>
    </div>
    <div class="meta-date">
        <span class="timeLineDate">@Model.HappenedOn.Day</span>
        <span class="timeLinetimeLineMonth">@Model.HappenedOn.ToString("MMM")</span>
    </div>
</div>