﻿@model Smt.Atomic.WebApp.Areas.MeetMe.Models.MeetingsOverview.EmployeeTimelineMeetingViewModel
@using Smt.Atomic.WebApp.Areas.MeetMe.Resources

<div class="timeline-article">
    <div class="content-right-container">
        <div class="timeline-content timeline-content-right">
            <p class="timeline-paragraph">
                <span class="fa fa-comments-o article-number" aria-hidden="true"></span>
                <span class="content-header">@MeetingOverviewResources.EmployeeTimelineMeetingName</span>
            </p>

            @if (!Model.IsScheduled)
            {
                <div>
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    <span class="body">@MeetingOverviewResources.NotHeldMeetingMessage</span>
                </div>
            }

            @if (@Model.Attachments.Any())
            {
                <div class="attachment-container">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <a href="/DocumentDownload/Download/Documents.MeetingAttachmentMapping/@attachment.DocumentId">@attachment.DocumentName</a>
                    }
                </div>
            }
        </div>

        @foreach (var note in Model.Notes.OrderByDescending(n => n.HappenedOn))
        {
            <div class="timeline-content timeline-content-right">
                <p class="comment timeline-paragraph">
                    <img class="article-number" src="@Url.Action("DownloadByEmployee", "UserPicture", new { area = "Accounts", employeeId = @note.EmployeeId, userPictureSize = "Medium" })" />
                    <span class="body">
                        @note.NoteBody
                    </span>
                </p>

                @if (@note.Attachments.Any())
                {
                    <div class="attachment-container">
                        @foreach (var attachment in note.Attachments)

                        {
                            <span class="attachment">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                <a href="/DocumentDownload/Download/Documents.MeetingNoteAttachmentMapping/@attachment.DocumentId">@attachment.DocumentName</a>
                            </span>
                        }
                    </div>
                }
            </div>
            <span class="timeline-author">@note.EmployeeFullName</span>
        }

    </div>
    <div class="meta-date">
        <span class="timeLineDate">@Model.HappenedOn.Day</span>
        <span class="timeLinetimeLineMonth">@Model.HappenedOn.ToString("MMM")</span>
    </div>
</div>