﻿@model Smt.Atomic.WebApp.Areas.MeetMe.Models.MeetingsOverview.EmployeeTimelineProjectAllocationViewModel

<div class="timeline-article">
    <div class="content-left-container">
        <div class="timeline-content timeline-content-left">
            <p class="timeline-paragraph">
                <span class="fa fa-briefcase article-number" aria-hidden="true"></span>
                <span class="content-header">@Model.Name</span>
            </p>
            <p class="center-text timeline-paragraph">
                @Model.ProjectName
            </p>
        </div>
    </div>
    <div class="meta-date">
        <span class="timeLineDate">@Model.HappenedOn.Day</span>
        <span class="timeLinetimeLineMonth">@Model.HappenedOn.ToString("MMM")</span>
    </div>
</div>
