﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Notifications.Dto.AllocationNotificationEmailDto

@{ string hoursFormat = "0.00"; }
<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <p>Hello,</p>
    <p>Below you can find information about changes in allocation.</p>
    <table>
        <tr>
            <th>@Model.Certainty allocation for</th>
            <th>Modified by</th>
        </tr>
        <tr>
            <td>@Model.FirstName @Model.LastName</td>
            <td>@Model.ModifiedBy</td>
        </tr>
    </table>
    <br />
    @if (@Model.IsSimple)
    {
        <table>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Hours per day</th>
            </tr>
            <tr>
                <td>@Model.DateFrom</td>
                <td>@Model.DateTo</td>
                <td>@Model.SimpleHours.ToString(hoursFormat)</td>
            </tr>
        </table>
        <br />
    }
    else
    {
        <table>
            <tr>
                <th>From</th>
                <th>To</th>
            </tr>
            <tr>
                <td>@Model.DateFrom</td>
                <td>@Model.DateTo</td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>
            <tr>
                <td>@Model.MondayHours.ToString(hoursFormat)</td>
                <td>@Model.TuesdayHours.ToString(hoursFormat)</td>
                <td>@Model.WednesdayHours.ToString(hoursFormat)</td>
                <td>@Model.ThursdayHours.ToString(hoursFormat)</td>
                <td>@Model.FridayHours.ToString(hoursFormat)</td>
                <td>@Model.SaturdayHours.ToString(hoursFormat)</td>
                <td>@Model.SundayHours.ToString(hoursFormat)</td>
            </tr>
        </table>
        <br />
    }
    <table>
        <tr>
            <th>Project</th>
            <td>@Model.ProjectCode</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>@Model.Client</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>@Model.Comments</td>
        </tr>
    </table>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>
