﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using System.Linq
@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Business.Allocation.Dto.StatusReviewEmail
@model StatusReviewEmailDto<FreeOrPlannedEmployeeDto>

    <html>
    <head>
        @(Raw(EmailTemplateHelper.SharedHead))
    </head>
    <body>
        <p class="title">
            Free or Planned employees from @(Model.From.ToShortDateString()) to @(Model.To.ToShortDateString())
        </p>
        @foreach (var orgUnit in Model.OrganizationUnits)
        {
            <hr />
            <p class="orgUnit">
                @(Raw(String.Join(" &gt; ", orgUnit.ParentOrgUnits.Select(o =>
                        {
                            return "<a title=\"Show allocations for " + o.Name + "\" href=\"" + Model.ServerAddress + "Allocation/EmployeeAllocation/List?filter=org-units-filter&period-type=week&org-units-filter.org-unit-ids=" + o.Id.ToString() + "\">" + o.Name + "</a>";
                        }).ToList())))
                &gt; <a title="Show allocations for @(orgUnit.Name)" href="@(Model.ServerAddress)Allocation/EmployeeAllocation/List?filter=org-units-filter&period-type=week&org-units-filter.org-unit-ids=@(orgUnit.Id.ToString())">@(orgUnit.Name)</a>
            </p>
            foreach (var employee in orgUnit.Employees)
            {
                <hr />
                <p><a title="Show allocations for @(employee.FullName)" href="@(Model.ServerAddress)Allocation/EmployeeAllocation/List?search=@(employee.FullName)&period-type=week" class="employeeName">@employee.FullName</a>, @employee.Status.GetDescription()</p>
                <p>
                    @if (@employee.JobProfiles.Count > 0)
                    {
                        @(string.Join(", ", @employee.JobProfiles))<text>,</text>
                    }
                    else
                    {
                        <span class="empty">(no job profiles)</span><text>,</text>
                    }
                    @if (@employee.JobMatrixLevels.Count > 0)
                    {
                        @(string.Join(", ", @employee.JobMatrixLevels))<text>,</text>
                    }
                    else
                    {
                        <span class="empty">(no job matrix levels)</span><text>,</text>
                    }
                    @if (@employee.Location != string.Empty)
                    {
                        @employee.Location
                    }
                    else
                    {
                        <span class="empty">(no location)</span>
                    }
                    <br />
                    @if (@employee.Skills.Count > 0)
                    {
                        @(string.Join(", ", @employee.Skills))
                    }
                    else
                    {
                        <span class="empty">(no skills)</span>
                    }
                </p>
                <p>
                    @employee.Status.GetDescription() until @employee.FreePeriodEndsOn.ToShortDateString()<br />
                    @foreach (var week in @employee.RelevantWeekStatuses)
                    {
                        <span>@employee.Status.GetDescription() for @(week.Percentage)% between: @(week.From.ToShortDateString()) - @(week.To.ToShortDateString())</span><br />
                    }
                </p>
            }
        }
    </body>
</html>
