﻿
@using Smt.Atomic.Business.Allocation.Dto.WelcomeEmail
@model Smt.Atomic.Business.Allocation.Dto.WelcomeEmail.WelcomeEmailDto

<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Title" content="After mail">
    <meta name="Keywords" content="">
    <meta name="Generator" content="Microsoft Word 15 (filtered medium)">
    <!--[if !mso]><style>v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style><![endif]-->
    <title>After mail</title>
    <style>

        /* Font Definitions */

        font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }
        /* Style Definitions */

        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            margin: 0cm;
            margin-bottom: .0001pt;
            line-height: normal;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        a:link,
        span.MsoHyperlink {
            mso-style-priority: 99;
            color: white;
            text-decoration: none none;
        }

        a:visited,
        span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: white;
            text-decoration: none none;
        }

        p {
            mso-style-priority: 99;
            margin: 0cm;
            margin-bottom: .0001pt;
            mso-line-height-alt: 0pt;
            font-size: 1.0pt;
            font-family: "Calibri", sans-serif;
        }

            p.externalclass,
            li.externalclass,
            div.externalclass {
                mso-style-name: externalclass;
                margin: 0cm;
                margin-bottom: .0001pt;
                line-height: normal;
                font-size: 1.0pt;
                font-family: "Calibri", sans-serif;
            }

            p.purple-bg,
            li.purple-bg,
            div.purple-bg {
                mso-style-name: purple-bg;
                margin: 0cm;
                margin-bottom: .0001pt;
                mso-line-height-alt: 0pt;
                background: #522398;
                font-size: 1.0pt;
                font-family: "Calibri", sans-serif;
            }

            p.pink-bg,
            li.pink-bg,
            div.pink-bg {
                mso-style-name: pink-bg;
                margin: 0cm;
                margin-bottom: .0001pt;
                mso-line-height-alt: 0pt;
                background: #DC008C;
                font-size: 1.0pt;
                font-family: "Calibri", sans-serif;
            }

            p.green-bg,
            li.green-bg,
            div.green-bg {
                mso-style-name: green-bg;
                margin: 0cm;
                margin-bottom: .0001pt;
                mso-line-height-alt: 0pt;
                background: #7AB800;
                font-size: 1.0pt;
                font-family: "Calibri", sans-serif;
            }

            p.blue-bg,
            li.blue-bg,
            div.blue-bg {
                mso-style-name: blue-bg;
                margin: 0cm;
                margin-bottom: .0001pt;
                mso-line-height-alt: 0pt;
                background: #007AC9;
                font-size: 1.0pt;
                font-family: "Calibri", sans-serif;
            }

            p.heading,
            li.heading,
            div.heading {
                mso-style-name: heading;
                margin: 0cm;
                margin-bottom: .0001pt;
                mso-line-height-alt: 0pt;
                font-size: 15.0pt;
                font-family: "Calibri", sans-serif;
                letter-spacing: 1.15pt;
            }

        span.Stylwiadomocie-mail24 {
            mso-style-type: personal-reply;
            font-family: "Calibri", sans-serif;
            color: windowtext;
        }

        span.msoIns {
            mso-style-type: export-only;
            mso-style-name: "";
            text-decoration: underline;
            color: teal;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-size: 10.0pt;
        }

        page WordSection1 {
            size: 595.0pt 842.0pt;
            margin: 70.85pt 70.85pt 70.85pt 70.85pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body bgcolor="white" lang="PL" link="white" vlink="white">
    <div class="WordSection1">
        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
            <tr style='height:225.0pt'>
                <td valign=top style='padding:0cm 0cm 0cm 0cm;height:225.0pt'>
                    <div align=center>
                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600 style='width:450.0pt;background:#522398;border-collapse:collapse'>
                            <tr style='height:225.0pt'>
                                <td width=600 style='width:450.0pt;padding:0cm 0cm 0cm 0cm;height:225.0pt'>
                                    <p class=MsoNormal style='line-height:0%'>
                                        <span style='font-family:"Helvetica",sans-serif'>
                                            <a href="http://www.intive.com" target="_blank">
                                                <img border=0 width=600 height=300 style='width: 6.25in; height: 3.125in' src="cid:static-top.png" alt="i 3">
                                            </a><o:p></o:p>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="height:150.0pt">
                <td valign="top" style="padding:0cm 0cm 0cm 0cm;height:150.0pt">
                    <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="600" style="width:450.0pt;background:#007AC9;border-collapse:collapse">
                            <tr style="height:150.0pt">
                                <td width="600" style="width:450.0pt;padding:0cm 37.5pt 0cm 37.5pt;height:150.0pt">
                                    <div>
                                        <div>
                                            <p class="MsoNormal" align="center" style="text-align:center;mso-line-height-alt:33.75pt"><b><span style="font-size:34.0pt;font-family:'Helvetica',sans-serif;color:white">Hi @Model.FirstName,<o:p></o:p></span></b></p>
                                        </div>
                                        <p class="MsoNormal" align="center" style="text-align:center;line-height:19.5pt"><span style="font-size:19.5pt;font-family:'Helvetica',sans-serif;color:white"><br>You're an intiver for 2 weeks now. <br>We hope you were fully onboarded and have all the information. But just in case please check out if you... <o:p></o:p></span></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="600" style="width:450.0pt;background:#007AC9;border-collapse:collapse">
                            <tr style="height:150.0pt">
                                <td width="600" colspan="2" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:150.0pt">
                                    <p class="MsoNormal" align="center" style="text-align:center"><span style="font-family:'Helvetica',sans-serif"><img border="0" width="116" height="116" src="cid:static-green-smile.png" alt="smile img"><o:p></o:p></span></p>
                                </td>
                            </tr>
                            <tr style="height:22.5pt">
                                <td width="600" colspan="2" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:22.5pt">
                                    <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:15.0pt;font-family:'Helvetica',sans-serif;color:#7AB800;letter-spacing:1.15pt">Have: <o:p></o:p></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="500" colspan="2" style="width:375.0pt;padding:0cm 37.5pt 0cm 37.5pt">
                                    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="500"
                                           style="width:375.0pt;border-collapse:collapse">
                                        @GenerateSectionContent(Model.Sections[0], "cid:static-green-circle.png")
                                        <tr style="height:30.0pt">
                                            <td width="20" style="width:15.0pt;padding:0cm 0cm 0cm 0cm;height:30.0pt">
                                                <p class="MsoNormal"><span style="font-family:'Helvetica',sans-serif;color:white"><img border="0" width="10" height="10" id="_x0000_i1030" src="cid:static-green-circle.png" alt="ellow circle"><o:p></o:p></span></p>
                                            </td>
                                            <td width="380" style="width:285.0pt;padding:0cm 0cm 0cm 0cm;height:30.0pt">
                                                <p class="MsoNormal">
                                                    <span style="font-size:11.5pt;font-family:'Helvetica',sans-serif;color:white">liked our intive profiles on social media</span>
                                                    <span style="font-family:'Helvetica',sans-serif;color:white">
                                                        <a href="https://www.facebook.com/intivetogether/"><img border="0" width="31" height="31" src="cid:static-green-facebook.png" alt="b"></a>
                                                        <a href="https://twitter.com/hashtag/intive">
                                                            <img border="0" width="31" height="31" src="cid:static-green-twitter.png" alt="witter">
                                                        </a><a href="https://www.linkedin.com/company/15213848"><img border="0" width="31" height="31" src="cid:static-green-linkedin.png" alt="linkedin"></a>
                                                        <a href="https://www.youtube.com/channel/UC_fYVFpHy9wETx023niUWng">
                                                            <img border="0" width="31" height="31" src="cid:static-green-youtube.png" alt="youtube">
                                                        </a>
                                                        <o:p></o:p>
                                                    </span>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="height:15.0pt">
                                <td width="600" valign="top" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:15.0pt"></td>
                                <td style="padding:0cm 0cm 0cm 0cm;height:15.0pt"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="600" style="width:450.0pt;background:#522398;border-collapse:collapse">
                            <tr style="height:22.5pt">
                                <td width="600" valign="top" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
                            </tr>
                            <tr style="height:30.0pt">
                                <td width="600" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:30.0pt">
                                    <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:15.0pt;font-family:'Helvetica',sans-serif;color:#FFF032;letter-spacing:1.15pt">Are aware of: <o:p></o:p></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="500" style="width:375.0pt;padding:0cm 37.5pt 0cm 37.5pt">
                                    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="400"
                                           style="width:300.0pt;border-collapse:collapse">
                                        @GenerateSectionContent(Model.Sections[1], "cid:static-yellow-circle.png")
                                    </table>
                                </td>
                            </tr>
                            <tr height="20">
                                <td valign="top" style="vertical-align: top;" width="600"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="600" style="width:450.0pt;background:#DC008C;border-collapse:collapse">
                            <tr style="height:22.5pt">
                                <td width="600" valign="top" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
                            </tr>
                            <tr style="height:22.5pt">
                                <td width="600" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:22.5pt">
                                    <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:15.0pt;font-family:'Helvetica',sans-serif;color:#522398;letter-spacing:1.15pt">Know 'how to': <o:p></o:p></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="500" style="width:375.0pt;padding:0cm 37.5pt 0cm 37.5pt">
                                    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="400"
                                           style="width:300.0pt;border-collapse:collapse">
                                        @GenerateSectionContent(Model.Sections[2], "cid:static-purple-circle.png")
                                    </table>
                                </td>
                            </tr>
                            <tr height="20">
                                <td valign="top" style="vertical-align: top;" width="600"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="600" style="width:450.0pt;border-collapse:collapse">
                            <tr style="height:150.0pt">
                                <td width="600" style="width:450.0pt;padding:0cm 0cm 0cm 0cm;height:150.0pt">
                                    <p class="MsoNormal" align="center" style="margin-bottom:12.0pt;text-align:center">
                                        <span style="font-size:10.5pt;font-family:'Helvetica',sans-serif">
                                            If you feel that you are missing any information, please contact your Manager or HR Team directly. <br><br>Remember that all information all available on our <a href="https://wiki.intive.com/confluence/" target="_blank">Confluence.</a> <br><br><br><a href="https://wiki.intive.com/confluence/display/HR/Internal&#43;HR&#43;Team">
                                                <b><span style="color:#522398">HR Team</span></b>
                                            </a>
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <p class="MsoNormal">
            <o:p>&nbsp;</o:p>
        </p>
    </div>
</body>

</html>

@helper GenerateSectionContent(MessageSectionDto Section, string bulletCid)
{
    for (int i = 0; i < Section.Elements.Count; i++)
    {
        <tr style="height:30.0pt">
            <td width="20" style="width:15.0pt;padding:0cm 0cm 0cm 0cm;height:30.0pt">
                <p class="MsoNormal"><span style="font-family:'Helvetica',sans-serif;color:white"><img border="0" width="10" height="10" src="@bulletCid"><o:p></o:p></span></p>
            </td>
            <td width="380" style="width:285.0pt;padding:0cm 0cm 0cm 0cm;height:30.0pt">
                <p class="MsoNormal"><span style="font-family:'Helvetica',sans-serif;color:white"><a href="@Section.Elements[i].Uri" target="_blank">@Section.Elements[i].Content</a><o:p></o:p></span></p>
            </td>
        </tr>
    }
}