﻿@using Smt.Atomic.Business.Allocation.Dto.WelcomeEmail
@model Smt.Atomic.Business.Allocation.Dto.WelcomeEmail.WelcomeEmailDto
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome mail</title>
    <style type="text/css">
        /* reset */
        #outlook a {
            padding: 0;
        }

        /* Force Outlook to provide a "view in browser" menu link. */
        .ExternalClass {
            width: 100%;
        }

            /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
        p {
            margin: 0;
            padding: 0;
            font-size: 0px;
            line-height: 0px;
        }

        /* squash Exact Target injected paragraphs */
        table td {
            border-collapse: collapse;
        }

        /* Outlook 07, 10 padding issue fix */
        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        /* remove spacing around Outlook 07, 10 tables */

        /* bring inline */
        img {
            display: block;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        a {
            text-decoration: none;
            color: #000001;
        }

            /* text link */
            a.phone {
                text-decoration: none;
                color: #000001 !important;
                pointer-events: auto;
                cursor: default;
            }

        /* phone link, use as wrapper on phone numbers */
        span {
            font-size: 13px;
            line-height: 17px;
            font-family: monospace;
            color: #000001;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 300;
        }

        .purple-bg {
            background: #522398;
        }

        .pink-bg {
            background: #dc008c;
        }

        .green-bg {
            background: #7ab800;
        }

        .blue-bg {
            background: #007ac9;
        }

        .lime-bg {
            background: rgb(71, 188, 0);
        }

        .heading {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1.5px;
        }

        .tr-ul table td {
            height: 40px;
        }

        .tr-ul a {
            color: white;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .welcome-td img {
            display: inline-block;
            float: left;
        }
    </style>
    <!--[if gte mso 9]>
    <style>
        /* Target Outlook 2007 and 2010 */
    </style>
    <![endif]-->
</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

    <!-- body wrapper -->
    <table cellpadding="0" cellspacing="0" border="0" style="margin:0; padding:0; width:100%; line-height: 100% !important;">
        <tr height="400">
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="purple-bg">
                    <tr height="200">
                        <td colspan="2" valign="middle" style="vertical-align: middle; width:600px;" width="600" class="welcome-td">
                            <img id="img-hi1" alt="hi 1" width="600" height="34"  src="cid:static-header-top.png">
                            <img id="img-hi2" alt="hi 2" width="494" height="142" src="cid:static-header-center.png">
                            <a href="http://www.intive.com" target="_blank">
                                <img id="img-hi3" alt="hi 3" title="hi3" width="42" height="142" src="cid:static-vertical-logo.png"></a>
                            <img id="img-hi4" alt="hi 4" title="hi4" width="63" height="142" src="cid:static-header-bottom.png">
                            <img id="img-hi5" alt="hi 5" title="hi5" width="600" height="247" src="cid:static-header-right.png"></td>
                    </tr>
                    <tr height="2">
                        <td valign="top" align="center" style="color:white; vertical-align: top;" width="600">
                            <div style="position:relative; top:-30px; font-size:18px; line-height:26px;">
                                Hi <span id="recipient-name" style="color: white; font-size:26px; font-weight:500; font-family:Helvetica, Arial, sans-serif">@Model.FirstName</span>
                                <br> Welcome in!
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="purple-bg">
                    <tr height="60">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #fff032;" width="600" class="heading">
                            We're thrilled to have you on board!
                        </td>
                    </tr>
                    <tr height="220">
                        <td colspan="2" valign="middle" style="vertical-align: middle; width:600px;" align="center" width="600">
                            <img id="img-yellow-smile" alt="yellow smile" title="yellow smile" width="178" height="178" style="width: 178px; height: 178px;" src="cid:static-yellow-smile.png">
                        </td>
                    </tr>
                    <tr height="140">
                            @if (Model.EmailType == "TA")
                            {
                                <td colspan="2" valign="middle" align="center" width="600" style="vertical-align: middle; width:600px; color:white; padding: 0 120px;">
                                    You have just joined a pretty cool work place. Expect it to be fun and exciting ride.
                                    <br><br>
                                    At the very beginning we would like to ask you to assign yourself to a dedicated career path.
                                    All details you can find
                                    <a href="https://wiki.intive.com/confluence/display/HR/Job&#43;Matrix&#43;assignments&#43;in&#43;TA" style="color: #fff032;" target="_blank">
                                        HERE.
                                    </a>
                                    In case of any question please contact HR.
                                </td>
                            }
                             @if (Model.EmailType == "Internal")
                             {
                                <td colspan="2" valign="middle" align="center" width="600" style="vertical-align: middle; width:600px; color:white; padding: 0 120px;">
                                    You have just joined a pretty cool work place.
                                    <br>
                                    Expect it to be fun and exciting ride.
                                    <br>
                                    Let's get started!
                                </td>
                             }
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="top" width="600" style="vertical-align: top; width:600px; color:white; padding: 0 30px;">
                            If you are curious and want to look for more, we have prepared a quick quide for you:
                        </td>
                    </tr>
                    <tr height="110">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                            <img id="img-intro" alt="introduction img" title="introduction" width="88" height="100" style="width: 88px; height: 100px;" src="cid:static-introduction.png">
                        </td>
                    </tr>
                    <tr height="50">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #fff032;" width="600" class="heading">
                            Intro
                        </td>
                    </tr>
                    <tr height="100" class="tr-ul">
                        <td style="padding-left: 100px; padding-right: 35px; width: 465px;" width="465" colspan="2">
                                @GenerateSectionContent(Model.Sections[0], "cid:static-yellow-circle.png")
                        </td>
                    </tr>
                    <tr height="20">
                        <td valign="top" style="vertical-align: top;" width="600"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="pink-bg">
                    <tr height="30">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="middle" style="vertical-align: middle;" align="center">
                            <img id="img-it" alt="IT img" title="IT" width="85" height="72" style="width: 85px; height: 72px;" src="cid:static-it.png">
                        </td>
                    </tr>
                    <tr height="50">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #522398;" width="600" class="heading">
                            IT
                        </td>
                    </tr>
                    <tr height="225" class="tr-ul">
                        <td style="padding-left: 100px; padding-right: 35px; width: 465px;" width="465" colspan="2">
                                @GenerateSectionContent(@Model.Sections[1], "cid:static-purple-circle.png")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="green-bg">
                    <tr height="30">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                            <img id="img-hr" alt="HR img" title="HR" width="130" height="75" style="width: 130px; height: 75px;" src="cid:static-hr.png">
                        </td>
                    </tr>
                    <tr height="50">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #007ac9;" width="600" class="heading">
                            HR
                        </td>
                    </tr>
                    <tr height="160" class="tr-ul">
                        <td style="padding-left:100px; padding-right:35px; width:465px;" width="465" colspan="2">
                                @GenerateSectionContent(Model.Sections[2], "cid:static-blue-circle.png")
                        </td>
                    </tr>
                    <tr height="20">
                        <td valign="top" style="vertical-align: top;" width="600"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="blue-bg">
                    <tr height="30">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                            <img id="img-payroll" alt="Payroll img" title="payroll" width="92" height="94" style="width: 92px; height: 94px;" src="cid:static-payroll.png">
                        </td>
                    </tr>
                    <tr height="50">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #fff032;" width="600" class="heading">
                            Payroll
                        </td>
                    </tr>
                    <tr height="60" class="tr-ul">
                        <td style="padding-left:100px; padding-right:35px; width:465px;" width="465" colspan="2">
                                @GenerateSectionContent(@Model.Sections[3],"cid:static-yellow-circle.png")
                        </td>
                    </tr>
					<tr height="20">
                        <td valign="top" style="vertical-align: top;" width="600"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="purple-bg">
                    <tr height="30">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                            <img id="img-admin" alt="admin img" title="admin" width="70" height="74" style="width: 70px; height: 74px;" src="cid:static-admin.png">
                        </td>
                    </tr>
                    <tr height="40">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #7ab800;" width="600" class="heading">
                            Admin
                        </td>
                    </tr>
                    <tr height="120" class="tr-ul">
                        <td style="padding-left:100px; padding-right:35px; width:465px;" width="465" colspan="2">
                                @GenerateSectionContent(@Model.Sections[4], "cid:static-green-circle.png")
                        </td>
                    </tr>
                    <tr height="20">
                        <td valign="top" style="vertical-align: top;" width="600"></td>
                    </tr>
                </table>
            </td>
        </tr>
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="pink-bg">
                <tr height="30">
                    <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                </tr>
                <tr height="80">
                    <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                        <img id="img-communication" alt="communication img" title="communication" width="76" height="72" style="width: 76px; height: 72px;" src="cid:static-communication.png">
                    </td>
                </tr>
                <tr height="30">
                    <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #fff032;" width="600" class="heading">
                        Communication
                    </td>
                </tr>
                <tr height="80" class="tr-ul">
                    <td style="padding-left:100px; padding-right:35px; width:465px;" width="465" colspan="2">
                        @GenerateSectionContent(@Model.Sections[5], "cid:static-yellow-circle.png")
                    </td>
                </tr>
                <tr height="20">
                    <td valign="top" style="vertical-align: top;" width="600"></td>
                </tr>
            </table>
        </td>
    </tr>
    @if (Model.Sections.FirstOrDefault(x => x.Name == "Agilers") != null)
    {
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="lime-bg">
                    <tr height="30">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" width="600"></td>
                    </tr>
                    <tr height="80">
                        <td colspan="2" valign="top" style="vertical-align: top; width:600px;" align="center" width="600">
                            <img id="img-agilers" alt="agilers img" title="agilers" width="180" height="102" style="width: 180px; height: 102px;" src="cid:static-agilers.png">
                        </td>
                    </tr>
                    <tr height="30">
                        <td colspan="2" valign="middle" align="center" style="vertical-align: middle; color: #007ac9;" width="600" class="heading">
                            Agilers Guild
                        </td>
                    </tr>
                    <tr height="80" class="tr-ul">
                        <td style="padding-left:100px; padding-right:35px; width:465px;" width="465" colspan="2">
                            @GenerateSectionContent(@Model.Sections[6], "cid:static-blue-circle-png")
                        </td>
                    </tr>
                    <tr height="20">
                        <td valign="top" style="vertical-align: top;" width="600"></td>
                    </tr>
                </table>
            </td>
        </tr>
    }  
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-size:14px;">
                    <tr height="140">
                        <td colspan="2" valign="middle" width="600" style="vertical-align: middle; width:600px; padding:20px;">
                            Did you find all you searched for? If you have any further questions we are here to help! Please
                            talk to your Manager or anyone from
                            <a href="https://wiki.intive.com/confluence/display/HR/Internal&#43;HR&#43;Team" style="font-weight:bold; color: #522398;">the HR Team</a>
                        </td>
                    </tr>
                    <tr height="40">
                        <td valign="top" align="center" style="vertical-align: top;" width="600">
                            Looking for more? Join us at our social media channels!
                        </td>
                    </tr>
                    <tr height="80">
                        <td valign="top" align="center" style="vertical-align: top;" width="600">
                            <table width="188" style="width:188px; text-align:center;" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="47" style="width:47px; text-align:center;" align="center">
                                        <a href="https://www.facebook.com/intivetogether/?ref=ts&amp;fref=ts" target="_blank">
                                            <img id="img-fb" alt="fb" title="fb" width="41" height="41" style="width: 41px; height: 41px;" src="cid:static-facebook.png">
                                        </a>
                                    </td>
                                    <td width="47" style="width:47px; text-align:center;" align="center">
                                        <a href="https://twitter.com/hashtag/intive?src=hash" target="_blank">
                                            <img id="img-tw" alt="twitter" title="twitter" width="41" height="41" style="width: 41px; height: 41px;" src="cid:static-twitter.png">
                                        </a>
                                    </td>
                                    <td width="47" style="width:47px; text-align:center;" align="center">
                                        <a href="https://www.linkedin.com/company/15213848" target="_blank">
                                            <img id="img-in" alt="linkedin" title="linkedin" width="41" height="41" style="width: 41px; height: 41px;" src="cid:static-linkedin.png">
                                        </a>
                                    </td>
                                    <td width="47" style="width:47px; text-align:center;" align="center">
                                        <a href="https://www.youtube.com/channel/UC_fYVFpHy9wETx023niUWng" target="_blank">
                                            <img id="img-yt" alt="youtube" title="youtube" width="41" height="41" style="width: 41px; height: 41px;" src="cid:static-youtube.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><!-- / page wrapper -->
</body>
</html>
@helper GenerateSectionContent(MessageSectionDto Section, string bulletCid)
{
    <table width="400" style="width: 400px;" cellspacing="0" cellpadding="0" border="0">
        @for (int i = 0; i < Section.Elements.Count; i +=2)
        {
        <tr>
            <td width="20" style="width: 20px;">
                <img src="@bulletCid">
            </td>
            <td width="270" style="width: 240px; padding-right: 30px;">
                <a href="@Section.Elements[i].Uri">@Section.Elements[i].Content</a>
            </td>
            @if (i + 1 < Section.Elements.Count)
            {
                <td width="20" style="width: 20px;">
                    <img src="@bulletCid">
                </td>
                <td width="270" style="width: 240px; padding-right: 30px;">
                    <a href="@Section.Elements[i + 1].Uri">@Section.Elements[i + 1].Content</a>
                </td>
            }

        </tr>
        }
    </table>
}