﻿@using Smt.Atomic.Business.Common.Enums
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl
@using Smt.Atomic.Presentation.Renderers.Enums
@using Smt.Atomic.Presentation.Renderers.Extensions
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Workflows.Controllers
@using Smt.Atomic.WebApp.Areas.Workflows.Models
@using Smt.Atomic.WebApp.Areas.Workflows.Resources
@using Smt.Atomic.WebApp.Resources
@model TileViewModel
@{
    var requestModel = (RequestViewModel)Model.Row;
    var urlHelper = new UrlHelper(System.Web.HttpContext.Current.Request.RequestContext);
}
<div class="tile full-row text-card @Model.GetRowButtonClass()" tabindex="0">
    <div class="requester">
        <img src="@Url.Action("Download", "UserPicture", new { area = "Accounts", userId = requestModel.RequestingUserId, userPictureSize = UserPictureSize.Normal })"
             alt="@LayoutResources.UserPictureText"
             title="@requestModel.RequesterFullName"
             class="requester-picture" />
    </div>
    <div class="request-details">
        <div class="request-title">
            @requestModel.Description
            @if (requestModel.DocumentCount > 0)
            {
                <span class="document-count"> @requestModel.DocumentCount</span>
            }
        </div>
        <div class="request-status">
            @Html.Partial("~/Views/Grid/Cells/DisplayUrl.cshtml", requestModel.GetStatus(urlHelper))
        </div>
    </div>
    <div class="request-approvers">
        @Html.Partial("~/Areas/Workflows/Views/Shared/ApproverGroups.Tile.cshtml", new CustomControlRenderingModel { ControlModel = requestModel.ApprovalGroups })
    </div>
    <div class="request-actions">
        @Html.Partial("~/Views/Grid/_TileButtons.cshtml", Model)
        @ViewAndEditLinks(requestModel, urlHelper)
    </div>
</div>

@helper ViewAndEditLinks(RequestViewModel model, UrlHelper urlHelper)
{
var viewButton = new RowButton
{
    OnClickAction = urlHelper.UriActionGet(
        nameof(RequestController.View),
        RoutingHelper.GetControllerName<RequestController>(),
        KnownParameter.None,
        new[] { "id", model.Id.ToString() }),
    Text = RequestResource.ViewLinkText,
    Icon = FontAwesome.FileTextO,
    ButtonStyleType = CommandButtonStyle.Link
};

var buttons = new List<CommandButton> { viewButton };

if (model.CanBeEdited)
{
    var editButton = new RowButton
    {
        OnClickAction = urlHelper.UriActionGet(
            nameof(RequestController.Edit),
            RoutingHelper.GetControllerName<RequestController>(),
            KnownParameter.None,
            new[] { "id", model.Id.ToString() }),
        Text = RequestResource.EditLinkText,
        Icon = FontAwesome.PencilSquareO,
        ButtonStyleType = CommandButtonStyle.Link
    };

    buttons.Add(editButton);
}

var editViewButtons = new CommandButtonsViewModel(buttons);

    <div class="row-commands">
        @Html.Partial("~/Views/Grid/_RowButtons.cshtml", editViewButtons)
    </div>
}