﻿@using Smt.Atomic.Business.Compensation.BusinessLogics
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Compensation.Models
@using Smt.Atomic.WebApp.Areas.Compensation.Resources

@model InvoiceDetailsViewModel

@{
    var currentDate = new DateTime(Model.Year, Model.Month, 1);
    var previousMonth = currentDate.AddMonths(-1);
    var nextMonth = currentDate.AddMonths(1);
}

<div class="btn-group">
    <button class="btn btn-default" type="button" onclick="Invoice.setDate(@previousMonth.Year, @previousMonth.Month);"><i class="fa fa-caret-left" aria-hidden="true"></i> @InvoiceResources.PreviousMonthLabel</button>
    <button class="btn btn-default" type="button" onclick="Invoice.setDate(@DateTime.Now.Year, @DateTime.Now.Month);"><i class="fa fa-map-marker" aria-hidden="true"></i> @InvoiceResources.CurrentMonthLabel</button>
    <button class="btn btn-default" type="button" onclick="Invoice.setDate(@nextMonth.Year, @nextMonth.Month);"><i class="fa fa-caret-right" aria-hidden="true"></i> @InvoiceResources.NextMonthLabel</button>
</div>

@if (Model.Exception != null)
{
    <div class="pre-wrap">@Model.Exception.Message</div>

    return;
}

@Html.Bootstrap().DisplayForModel(Model, new SummaryLayout(layoutColumns: 1))

@if (TimeReportInvoiceBusinessLogic.IsUploadPermittedForStatus.Call(Model.InvoiceStatus)
    && TimeReportInvoiceBusinessLogic.IsUploadPermittedForNotificationStatus.Call(Model.InvoiceNotificationStatus))
{
    var viewModel = new UploadInvoiceViewModel
    {
        EmployeeId = Model.EmployeeId,
        Year = Model.Year,
        Month = Model.Month
    };

    <form method="POST" class="form-horizontal" id="upload-form" novalidate="novalidate">
        <fieldset id="UploadInvoice">
            <legend>@InvoiceResources.UploadInvoiceFieldSetLabel</legend>
            @Html.AntiForgeryToken()
            @Html.Bootstrap().EditorForModel(viewModel, new HorizontalFormLayout())
        </fieldset>
    </form>
}
