﻿@meeting-note-seperator-color : solid #ddd;

.meeting-note-extract {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px @meeting-note-seperator-color;
    padding-left: 5px;

   &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.note-author-picture {
    border-radius: 50%;
    box-shadow: 0px,0px,4px,#aaa;
}
