﻿@theme_font_color: #fff;
@theme_color: #008edd;
@f_awesome_color: #242424;
@author_font_color: #242424;
@font_family_1: "Roboto", sans-serif;
@font_family_2: "FontAwesome";
@background_theme_font_color: #fafafa;
@header-size: 44px;
@icon-size: 54px;

@container-border-size: 1px;
@container-border-color: #DDD;
@conteiner-border: @container-border-size solid @container-border-color;

body {
    background: #fff;
    font-family: @font_family_1;
    font-weight: 400;
}

#conference-timeline {
    position: relative;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;

    .timeline-start {
        display: table;
        font-family: @font_family_1;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        background: #999;
        padding: 5px 15px;
        color: @theme_font_color;
        text-align: center;
        margin: 0 auto;
        border-radius: 13px;
    }

    .timeline-end {
        display: table;
        font-family: @font_family_1;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        background: #a3c617;
        padding: 15px 23px;
        color: @theme_font_color;
        text-align: center;
        margin: 0 auto;
    }

    .conference-center-line {
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -2px;
        background: @theme_color;
        z-index: -1;
    }

    .conference-timeline-content {
        padding-top: 67px;
        padding-bottom: 67px;
    }
}

.timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 5px 0;
    min-height: 66px;

    .attachment-container {
        margin-top: 5px;
        border-top: 1px solid #eee;
        padding: 5px 8px;
        font-size: 12px;

        .attachment {
            padding: 5px;
        }
    }

    .content-header {
        font-size: larger;
        padding-bottom: 7px;
        font-weight: bold;
        text-align: center;
    }

    .content-left-container {
        max-width: 44%;
        width: 100%;
        float: left;
    }

    .content-right-container {
        max-width: 44%;
        width: 100%;
        float: right;
    }

    .timeline-author {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: @author_font_color;
        text-align: right;
        margin-bottom: 10px;
    }

    .timeline-content {
        position: relative;
        width: auto;
        border: @conteiner-border;
        background-color: @background_theme_font_color;
        box-shadow: 0 1px 3px rgba(0,0,0,.03);
        padding: 2px 2px;
        border-radius: 5px;
        margin-bottom: 3px;

        @marker-size: 10px;
        @marker-top-position: 20px;

        &:before, &:after {
            width: 0;
            height: 0;
            position: absolute;
            top: @marker-top-position;
            content: " ";
            z-index: 1;
            border: 0 solid transparent;
        }

        &:after {
            z-index: 2;
            top: @marker-top-position + @container-border-size;
        }

        &-left {
            &:after {
                border-bottom-width: @marker-size - @container-border-size;
                border-top-width: @marker-size - @container-border-size;
                border-left: @marker-size - @container-border-size solid @background_theme_font_color;
                right: -@marker-size + @container-border-size;
            }

            &:before {
                border-bottom-width: @marker-size;
                border-top-width: @marker-size;
                border-left: @marker-size solid @container-border-color;
                right: -@marker-size;
            }
        }

        &-right {
            .comment {
                min-height: 80px;
            }

            &:after {
                border-top-width: @marker-size - @container-border-size;
                border-bottom-width: @marker-size - @container-border-size;
                border-right: @marker-size - @container-border-size solid @background_theme_font_color;
                left: -@marker-size + @container-border-size;
            }

            &:before {
                border-top-width: @marker-size;
                border-bottom-width: @marker-size;
                border-right: @marker-size solid @container-border-color;
                left: -@marker-size;
            }
        }

        .timeline-paragraph {
            @image-size: 80px;

            position: relative;
            font-weight: 400;
            color: @author_font_color;
            font-size: 14px;
            line-height: 24px;
            position: relative;
            margin: 0;

            &.center-text {
                text-align: center;
            }

            span {
                display: block;

                .raw-feedback > p {
                    margin: 0;
                }

                &.content-header {
                    line-height: @header-size;
                }

                &.article-number {
                    position: absolute;
                    padding: 5px;
                    font-weight: 300;
                    font-size: @header-size;
                    color: @f_awesome_color;
                }
            }

            span.body {
                padding-left: @image-size + 10px;
                display: block;
            }

            img.article-number {
                width: @image-size;
                height: @image-size;
                padding: 5px;
                position: absolute;
                border-radius: @image-size / 2;
                border: 1px solid #DDD;
            }
        }
    }



    .meta-date {
        position: absolute;
        top: 0;
        left: 50%;
        width: 64px;
        height: 64px;
        margin-left: -31px;
        color: @theme_font_color;
        border-radius: 100%;
        background: @theme_color;

        .timeLineDate {
            display: block;
            text-align: center;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            margin-top: 10px;
        }

        .timeLinetimeLineMonth {
            display: block;
            text-align: center;
            font-weight: 400;
            font-size: 15px;
            line-height: 14px;
        }

        .timeLineMonth {
            font-size: 18px;
            line-height: 10px;
        }
    }
}

@media only screen and (max-width: 830px) {
    #conference-timeline {
        .timeline-start {
            margin: 0;
        }

        .timeline-end {
            margin: 0;
        }

        .conference-center-line {
            margin-left: 0;
            left: 50px;
        }
    }

    .timeline-article {

        .attachment-container {
            margin-bottom: 0px;
        }

        .meta-date {
            margin-left: 0;
            left: 20px;
        }

        .content-left-container {
            max-width: 100%;
            width: auto;
            float: none;
            margin-left: 110px;
            margin-bottom: 20px;
        }

        .content-right-container {
            max-width: 100%;
            width: auto;
            float: none;
            margin-left: 110px;
        }

        .content-left {
            padding: 10px 25px;

            &:before {
                content: "\f0d9";
                right: auto;
                left: -8px;
            }
        }

        .content-right {
            padding: 10px 25px;
            min-height: 65px;

            &:before {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .timeline-article {
        p {
            margin: 0px;

            span.article-number {
                display: none;
            }

            img.article-number {
                display: none;
            }

            span.body {
                padding-left: 0px;
            }
        }
    }
}
