﻿@using Smt.Atomic.Business.Common.Enums
@using Smt.Atomic.CrossCutting.Business.Enums
@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Workflows.Models
@using Smt.Atomic.WebApp.Areas.Workflows.Resources
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel
@{ 
    var innerModel = (ApprovalGroupViewModel[])Model.ControlModel; 
}

@{
    Func<ApprovalStatus, string> getStatusClass = s =>
    {
        switch (s)
        {
            case ApprovalStatus.Approved:
                return "approved";
            case ApprovalStatus.Pending:
                return "pending";
            case ApprovalStatus.Rejected:
                return "rejected";
            default:
                return string.Empty;
        }
    };

    Func<ApprovalGroupMode, string> getGroupModeClass = s =>
    {
        switch (s)
        {
            case ApprovalGroupMode.And:
                return "and";
            case ApprovalGroupMode.Or:
                return "or";
            default:
                return string.Empty;
        }
    };
}

<div id="approverGroupContainer" class="approval-groups">

    @if (!innerModel.Any())
    {
        <ul class="approvers">
            <li class="empty-text">@(RequestResource.NoApprovers)</li>
        </ul>
    }
    else
    {
        var isFirstGroup = true;

        foreach (var group in innerModel)
        {
            if (!isFirstGroup)
            {
                <span><i class="fa fa-arrow-right"></i></span>
            }
            else
            {
                isFirstGroup = false;
            }

            <ul class="approvers @(getGroupModeClass(group.Mode))">
                @{
                    var isFirstApprover = true;
                    foreach (var approver in group.Approvals.OrderByDescending(a => a.Status))
                    {
                        if (!isFirstApprover)
                        {
                            <li>&nbsp;@(group.Mode.GetDescription())&nbsp;</li>
                        }
                        else
                        {
                            isFirstApprover = false;
                        }
    
                        <li title="@approver.DisplayName (@approver.Status.GetDescription())">
                            <div class="approver-picture-with-status">
                                <img src="@Url.Action("Download", "UserPicture", new {
                                        area = "Accounts",
                                        userId = approver.ForcedByUserId ?? approver.UserId,
                                        userPictureSize = UserPictureSize.Normal })"
                                     alt="@LayoutResources.UserPictureText"
                                     class="approver-picture"/>
                                @if (approver.Status != ApprovalStatus.Pending)
                                {
                                    <span class="@(getStatusClass(approver.Status)) approver-status-icon"></span>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>
