﻿@using Smt.Atomic.CrossCutting.Common.Helpers
@using Smt.Atomic.CrossCutting.Security.Principal
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Workflows.Resources
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.CardIndex.CardIndexRecordViewModel<Smt.Atomic.WebApp.Areas.Workflows.Models.RequestViewModel>
@{
    IPrincipalProvider principalProvider = ReflectionHelper.ResolveInterface<IPrincipalProvider>();
}
<div class="summary-layout">
    <form method="POST" class="form-horizontal" id="main-form">
        @Html.Bootstrap().DisplayForModel(Model.ViewModelRecord, new SummaryLayout(1), Model.ViewFormCustomization)
    </form>
</div>

@section footer
    {
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                @if (Model.ViewModelRecord.IsWaitingForDirectUserDecision)
                {
                    <button type="button" class="btn btn-sm btn-default " data-action="navigate" data-method="POST" onclick="Forms.submit('@Url.Action("Approve", new { id = Model.ViewModelRecord.Id })', 'POST', false, true);" data-new-tab="false">
                        <i class="fa fa-check" aria-hidden="true"></i> @RequestResource.Approve
                    </button>
                    <button type="button" class="btn btn-sm btn-default " onclick="Dialogs.showDialog({ actionUrl: '@Url.Action("Reject")', formData: { id: @Model.ViewModelRecord.Id } })">
                        <i class="fa fa-close" aria-hidden="true"></i> @RequestResource.Reject
                    </button>
                    <input type="button" class="btn btn-primary" value="@AtomicResources.SubCardIndexControllerAddGoToParentButton" onclick="Forms.redirectToList('@Model.CancelButtonUrl');" data-hotkey="esc" />
                }
                else
                {
                    <input type="button" class="btn btn-primary" value="@AtomicResources.OkButtonText" onclick="Forms.redirectToList('@Model.CancelButtonUrl');" data-hotkey="esc" />
                }
            </div>
        </div>
    </div>
}
