﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Enums
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Dropdown.DropdownRenderingModel

<div class="form-group dropdown-group @Model.CssClass @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="@Model.ControlWidthClass">
        @if (Model.IsReadOnly)
        {
            <input id="@(Model.Id)-display-value"
                   type="text"
                   class="form-control"
                   value="@Model.DisplayValue"
                   readonly="readonly" />

            <input @(Model.GetInputTagAttributes()) />
        }
        else
        {
            <select @(Model.GetInputTagAttributes()) data-hide-disabled="true" data-none-selected-text="@Model.GetNothingSelectedText()">
                @if (!Model.HasSelectedItem && Model.EmptyItemBehavior == EmptyItemBehavior.PresentOnlyOnInit)
                {
                    <option selected disabled hidden value='' class="collapse">@Model.GetNothingSelectedText()</option>
                }
                @foreach (var item in Model.OptionItems)
                {
                    var selected = Model.Value == item.Id ? "selected" : null;
                    var itemId = item.Id.HasValue ? item.Id.Value.ToString() : string.Empty;
                    <option value="@itemId" selected="@selected">@item.DisplayName</option>
                }
            </select>
        }
    </div>
    <span class="@Model.GetValidationSpanClass()"
            data-valmsg-replace="true"
            data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>