﻿@using Smt.Atomic.WebApp.Areas.Organization.Resources
@model Smt.Atomic.WebApp.Areas.Organization.Models.OrgUnitRelationsConstraintsViewModel


<p class="text-muted error-message">@OrgUnitResources.CannotRemoveOrgUnitErrorMessageHeader</p>

@if (Model.Employees != null && Model.Employees.Count > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading"><h5 class="panel-title">@OrgUnitResources.AssignedEmployees</h5></div>
        <div class="panel-body">
            <ul class="list-group">
                @foreach (var orgUnit in Model.Employees)
                {
                    <li class="list-group-item">
                        <h4> <strong>@orgUnit.Key ></strong></h4>
                        <ul class="list-group">
                            @foreach (var employee in @orgUnit.Value)
                            {
                                <li class="list-group-item">@employee</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@if (Model.Projects != null && Model.Projects.Count > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading"><h5 class="panel-title">@OrgUnitResources.AssignedProjects</h5></div>
        <div class="panel-body">
            <ul class="list-group">
                @foreach (var orgUnit in Model.Projects)
                {
                    <li class="list-group-item">
                        <h4><strong>@orgUnit.Key ></strong></h4>
                        <ul class="list-group">
                            @foreach (var project in @orgUnit.Value)
                            {
                                <li class="list-group-item">@project</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@if (Model.SurveyConducts != null && Model.SurveyConducts.Count > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h5 class="panel-title">@OrgUnitResources.AssignedSurveyConducts</h5>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @foreach (var surveyConduct in Model.SurveyConducts)
                {
                    <li class="list-group-item">
                        <h4><strong>@surveyConduct.Key ></strong></h4>
                        <ul class="list-group">
                            @foreach (var survey in surveyConduct.Value)
                            {
                                <li class="list-group-item">@survey</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
}




@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <a class="btn btn-link" href="@Url.Action("List", "OrgUnit")">@OrgUnitResources.BackButtonText</a>
        </div>
    </div>
}
