﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Workflows.Dto.FeedbackRequestDto
@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Consts

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Feedback request notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.EvaluatorEmployeeFullName,</p>
        <p>You have feedback request for <a href="@Model.RequestURL">(@Model.EvaluatedEmployeeFullName)</a></p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>