﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.MeetMe.Dto.MeetingInvitationDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Meet.Me date notification</title>

</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi @(Model.EmployeeFirstName),</p>
        <p>We would like to arrange a Meet.Me for you on @Model.MeetingDate.Value.ToString("dddd, d MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture) at @(Model.MeetingDate.Value.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)).</p>
        <p>We send you an invitation to the calendar.</p>
        @if (!string.IsNullOrEmpty(Model.AdditionalInvitationContent))
        {
            <p>P.S: @Raw(Model.AdditionalInvitationContent)</p>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>