﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.MeetMe.Dto.OverdueMeetingReminderDto
@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Consts

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Meet.Me date notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.RecipientDisplayName,</p>
        <p>You have some overdue Mee.me meetings with some of your employees:</p>
        <ul>
            @foreach (var employee in Model.OverdueMeetingEmployee)
            {
                <li><a href="@(employee.EmployeeMeetingUrl)">@(employee.EmployeeFullName)</a>&#160;<p>(due to @employee.EmployeeNextMeetingDate.ToString("D", new CultureInfo(CultureCodes.EnglishAmerican)))</p></li>
            }
        </ul>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>