﻿.td-encapsulating-node {
    line-height: 0;
    padding: 0 4px 0 4px !important;
}

.oc-export-btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 0;
    top: 0;
    right: 0;

    &:focus, &:active {
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    &:hover {
        background-color: #286090;
        border-color: #204d74;
    }
}

#orgChartContainer {
    overflow: scroll;
    height: 90%;
}

.initiallyInvisible * {
    opacity: 0;
    transition: all 0.0001s ease 0.0001s !important;
    animation: all 0.0001s ease 0.0001s !important;
}

.uninitializedDropdown {
    visibility: hidden;
}

#orgChartToolbar {
    margin-bottom: 6px;

    & > * {
        display: inline-block;
        position: relative;
    }
}

.normal .node {
    width: 240px;
    height: 80px;

    &.nodeWithImageContent {
        .imageColumn {
            width: 74px;
        }

        .image {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        div:not(.imageContainer) {
            text-align: left;
            width: 150px;
        }
    }
}

.pictureOnly .node {
    &.nodeWithImageContent {
        width: 60px;
        height: 60px;
        padding: 0;

        .imageColumn {
            width: 60px;
            height: 60px;
        }

        .imageContainer {
            margin-left: 0;
        }

        div:not(.imageContainer) {
            display: none;
        }
    }


    &:not(.nodeWithImageContent) {
        .condensed .node;
    }
}

.orgchart:not(.pictureOnly) .node {
    padding-top: 4px;
    padding-bottom: 4px;
}

.condensed {
    .node {
        width: 100px;
        height: 60px;

        .imageColumn {
            display: none;
        }

        div:not(.imageContainer) {
            text-align: center;
            width: 90px;
        }

        .nodeName {
            font-size: 100%;
        }

        .nodeOrg {
            font-size: 75%;
        }

        .nodeManagerTitle {
            font-size: 65%;
        }
    }
}

.orgchart:not(.condensed) {
    .nodeName {
        font-size: 125%;
    }

    .nodeOrg {
        font-size: 100%;
    }

    .nodeManagerTitle {
        font-size: 85%;
    }
}


.b2t .node table {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#orgChart {
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.orgchart.zoomedOut .node {
    border: 2px solid black;
}

.orgchart:not(.zoomedOut) .node {
    border: 1px solid black;
}

.orgchart, .canvasContainer {
    background-image: none;
    background-color: white;

    .mask {
        position: fixed;
    }

    .node {
        overflow: hidden;

        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.focused {
            background-color: inherit;
        }

        &:hover {
            background-color: inherit;
        }

        .nodeName {
            background-color: inherit;
            color: black;
            text-align: inherit;
            font-weight: bold;
            padding-top: 3px;

            i {
                position: absolute;
                top: 3px;
                right: 3px;
                opacity: 0.3;
            }
        }

        .nodeManagerTitle {
            text-align: inherit;
            color: lightgray;
        }

        .imageContainer {
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            margin-left: 6px;
            align-items: center;
            background-color: inherit;

            .image {
                width: 60px;
                height: 60px;
            }
        }

        .nodeTable {
            line-height: normal;
            width: 100%;
            height: 100%;
        }

        .bottomEdge {
            bottom: 0;
        }

        .topEdge {
            top: -2px;
        }
    }

    .downLine, .topLine, .rightLine, .leftLine {
        border-color: black !important;
    }

    .downLine {
        background-color: black !important;
    }
}
