﻿@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.Business.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Resources
@model TileViewModel

@{
    var userModel = (EmployeeViewModel)Model.Row;
}

<div class="tile user-tile @Model.GetRowButtonClass()" tabindex="0">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="row employee-tile">
                <div class="col-xs-3 no-padding">
                    <img src="@Url.Action("Download", "UserPicture", new {area = "Accounts", userId = userModel.UserId ?? 0, userPictureSize = UserPictureSize.Normal})"
                         alt="@LayoutResources.UserPictureText"
                         width="@((int) UserPictureSize.Normal)"
                         title="@userModel.GetFullName()" />
                </div>
                <div class="col-xs-9 no-padding">
                    <div>
                        <h4 class="employee-name">
                            @userModel.GetFullName()
                            <a class="email no-click" href="mailto:@userModel.Email" tabindex="-1" title="@EmployeeResources.Email">@Html.Bootstrap().Icon(FontAwesome.EnvelopeO)</a>
                            <a class="email no-click" href="sip:@userModel.Email" tabindex="-1" title="@EmployeeResources.ContactViaSkypeForBusiness">@Html.Bootstrap().Icon(FontAwesome.CommentO)</a>
                        </h4>
                        <p class="profileTitle wrap">@userModel.JobTitleName</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 no-padding">
                    <div class="data-container">
                        <div class="row">
                            <div class="col-xs-3 tdLabel employee-unit-align">@EmployeeResources.EmployeeUnit:</div>
                            <div class="col-xs-9 tdDisplay">@userModel.OrgUnitName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 tdLabel employee-unit-align">@EmployeeResources.EmployeeOffice:</div>
                            <div class="col-xs-9 tdDisplay">@userModel.LocationName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 tdLabel employee-unit-align">@EmployeeResources.EmployeeAllocation:</div>
                            <div class="col-xs-9 tdDisplay">@userModel.LineManagerFullName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 tdLabel employee-unit-align">@EmployeeResources.EmployeeStatusShortLabel:</div>
                            <div class="col-xs-9 tdDisplay">@userModel.CurrentEmployeeStatus.GetDescription()</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
