﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Enums
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Allocation.Models

@model EmployeeViewModel

<div class="summary-layout">
    <form method="POST" class="form-horizontal" id="main-form">
        @{
            Action<FormRenderingModel> formModelCustomization = form =>
            {
                if (!Model.IsCoreAsset)
                {
                    form.GetControlByName<EmployeeViewModel>(a => a.IsCoreAsset).Visibility = ControlVisibility.Remove;
                }
            };
        }
        @Html.Bootstrap().DisplayForModel(Model, new SummaryLayout(1), formModelCustomization)
    </form>
</div>
