﻿@using Smt.Atomic.Business.Workflows.Consts
@using Smt.Atomic.Business.Organization.Dto
@using Smt.Atomic.CrossCutting.Common.Resources
@using Smt.Atomic.WebApp.Areas.Allocation.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Areas.Organization.Models
@using Smt.Atomic.WebApp.Areas.Survey.Resources

@model MyProfileViewModel

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="imgWrap">
                <img src="@Model.PictureUrl" class="imgContent">
                <div class="imgHover">
                    <a class="changePicture" href="@Model.ChangePictureUrl"><b>@EmployeeResources.EmployeeChangePicture</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <div class="profile">
                <h3 class="profileHeader">@(Model.FullName)</h3>
                <div class="profileTitle">@(Model.Title.ToString())</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-3 tdLabel">@EmployeeResources.EmployeeOrgUnit:</div>
                <div class="col-sm-5 tdDisplay">@Html.DisplayFor(m => m.OrgUnitName)</div>

                @if (Model.OwnedOrgUnitId.HasValue)
                {
                    <div class="col-sm-2 tdDisplay">
                        @Html.ActionLink(EmployeeResources.MeInOrgUnit, "OrgChart", new
                                                {
                                                    id = Model.Id,
                                                    clipType = ClipType.AncestorsOnly,
                                                    isEmployeeId = true,
                                                    controller = "OrgUnitChart",
                                                    area = "Organization"
                                                })
                     </div>
                                            <div class="col-sm-2 tdDisplay">
                                                @Html.ActionLink(EmployeeResources.MyOrgUnit, "OrgChart", new
                                               {
                                                   id = Model.OwnedOrgUnitId,
                                                   clipType = ClipType.DescendantsOnly,
                                                   controller = "OrgUnitChart",
                                                   area = "Organization"
                                               })
                                        </div>
                }
                else if (Model.IsInOrgChart)
                {
                    <div class="col-sm-2 tdDisplay">@Html.ActionLink(EmployeeResources.MeInOrgUnit, "OrgChart", new
                                                   {
                                                       id = Model.Id,
                                                       isEmployeeId = true,
                                                       clipType = ClipType.AncestorsOnly,
                                                       controller = "OrgUnitChart",
                                                       area = "Organization",

                                                   })</div>
                    <div class="col-sm-2 tdDisplay">@Html.ActionLink(EmployeeResources.MyOrgUnit, "OrgChart", new
                                                   {
                                                       id = Model.Id,
                                                       isEmployeeId = true,
                                                       clipType = ClipType.DescendantsOnly,
                                                       controller = "OrgUnitChart",
                                                       area = "Organization"
                                                   })</div>
                }
            </div>
            <div class="row">
                <div class="col-sm-3 col-vs-3 tdLabel">@EmployeeResources.EmployeeLocationLabel:</div>
                <div class="col-sm-9 col-vs-9 tdDisplay">@Html.DisplayFor(m => m.LocationName)</div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3 col-vs-3 tdLabel">@EmployeeResources.EmployeeLineManager:</div>
                <div class="col-sm-9 col-vs-9 tdDisplay">@Html.DisplayFor(m => m.LineManagerFullName)</div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab" accesskey="D" aria-expanded="false"><span>@EmployeeResources.UserAccountTabName</span></a></li>
                <li role="presentation"><a href="#managementdata" aria-controls="managementdata" role="tab" data-toggle="tab" accesskey="O" aria-expanded="true"><span>@EmployeeResources.OrganizationTabName</span></a></li>
                <li role="presentation"><a href="#knowledgetrack" aria-controls="knowledgetrack" role="tab" data-toggle="tab" accesskey="W"><span>@EmployeeResources.KnowledgeTrackTabName</span></a></li>
                <li role="presentation"><a href="#mydatatab" aria-controls="mydatatab" role="tab" data-toggle="tab" accesskey="T"><span>@EmployeeResources.MyDataTabName</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="basic" class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeUser:</div>
                        <div class="col-sm-10 col-vs-9"><div class="ellipsis take-full-width tdDisplay">@Html.DisplayFor(m => m.UserFullName)</div></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeEmailLabel:</div>
                        <div class="col-sm-10 col-vs-9"><div class="ellipsis take-full-width tdDisplay">@Html.DisplayFor(m => m.Email)</div></div>
                    </div>
                </div>
                <div role="tabpanel" id="managementdata" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeCompany:</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="ellipsis take-full-width tdDisplay">@Html.DisplayFor(m => m.CompanyName)</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeIsProjectContributorLabel:</div>
                        <div class="col-sm-10 col-vs-9"><div class="ellipsis take-full-width tdDisplay">@Html.DisplayFor(m => m.IsProjectContributor)</div></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeStatusLabel:</div>
                        <div class="col-sm-10 col-vs-9"><div class="ellipsis take-full-width tdDisplay">@Html.DisplayFor(m => m.CurrentEmployeeStatus)</div></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeEmailGroupsLabel:</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="ellipsis take-full-width tdDisplay">
                                @if (Model.AdEmailGroupNames.Keys.Count == 0 || Model.AdEmailGroupNames.ContainsKey(0))
                                {
                                    <span class="empty-text">(@EmployeeResources.NoSelected)</span>
                                }
                                else
                                {
                                    if (Model.CanViewActiveDirectoryGroups)
                                    {
                                        foreach (var adEmailGroupName in Model.AdEmailGroupNames)
                                        {
                                            @Html.ActionLink(adEmailGroupName.Value, "Edit", "ActiveDirectoryGroup", new { area = "Allocation", @id = adEmailGroupName.Key }, null)
                                            @Html.Raw(", ")
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(string.Join(", ", Model.AdEmailGroupNames.Values))
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeSecurityGroupsLabel:</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="ellipsis take-full-width tdDisplay">
                                @if (Model.AdSecurityGroupNames.Keys.Count == 0 || Model.AdSecurityGroupNames.ContainsKey(0))
                                {
                                    <span class="empty-text">(@EmployeeResources.NoSelected)</span>
                                }
                                else
                                {
                                    if (Model.CanViewActiveDirectoryGroups)
                                    {
                                        foreach (var adSecurityGroupName in Model.AdSecurityGroupNames)
                                        {
                                            @Html.ActionLink(adSecurityGroupName.Value, "Edit", "ActiveDirectoryGroup", new { area = "Allocation", @id = adSecurityGroupName.Key }, null)
                                            @Html.Raw(", ")
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(string.Join(", ", Model.AdSecurityGroupNames.Values))
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="knowledgetrack" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@EmployeeResources.EmployeeSkillsLabel:</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="ellipsis take-full-width tdDisplay">
                                @if (Model.SkillNames.IsEmpty())
                                {
                                    <span class="empty-text">(@EmployeeResources.NoSelected)</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(m => m.SkillNames)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="mydatatab" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@(EmployeeResources.VacationAvailable):</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="take-full-width tdDisplay">
                                <a href="@Url.Action("List", "MyVacationBalance", new { area="TimeTracking", order = "effective-on-desc" })">
                                    @string.Format(EmployeeResources.VacationDetails, Model.AvailableVacations, Model.TotalVacations)
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@(EmployeeResources.AvailableOvertime):</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="take-full-width tdDisplay">
                                @Model.AvailableOvertime
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@(MySurveysResources.MySurveysControllerPageTitle):</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="take-full-width tdDisplay">
                                @if (Model.Surveys.Any())
                                {
                                    foreach (var survey in Model.Surveys)
                                    {
                                        <a href="@Url.Action("FillSurvey", "MySurveys", new {area = "Survey", id = survey.Id})">
                                            @(survey.Name)<br/>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <span class="empty-text">(@EmployeeResources.NoDataText)</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-vs-3 control-label tdLabel">@(EmployeeResources.PendingRequests):</div>
                        <div class="col-sm-10 col-vs-9">
                            <div class="take-full-width tdDisplay">
                                @(Model.PendingRequestCount) 
                                (<a href="@Url.Action("List", "Request", new {area = "Workflows", filter = FilterCodes.DecisionAwaiting})">@(MyProfileResources.SeeAll)</a>)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
