﻿@using Smt.Atomic.CrossCutting.Common.Helpers;
@model Smt.Atomic.WebApp.Areas.BusinessTrips.Models.BusinessTripTabViewModel<object>

@{
    var serializedJson = JsonHelper.Serialize(Model.ViewModel, JsonHelper.DefaultObjectInitializerSettings);
}

@section header
{
    @Html.Partial("BusinessTripContext")
}

@section scripts {
    @Scripts.Render("~/scripts/react")
    @Scripts.Render("~/scripts/react-ui")
    @Scripts.Render("~/scripts/pdf-reader")
    @Styles.Render("~/styles/react-ui")
    @Styles.Render("~/Areas/BusinessTrips/Content/Arrangements.css")

    @Scripts.Render("~/Areas/BusinessTrips/Scripts/Arrangements.js")

    <script type="text/javascript">
        $(function () {
            var data = @Html.Raw(serializedJson);
            BussinessTrip.Arrangements.Initialize(data);
        });
    </script>
}

<div id="business-arrangements">
</div>
