﻿@radioIndicatorContent: '\f111';
@checkIndicatorContent: '\f00c';
@treeNodeIndent: 25;

.tree-item-loop(@i) when (@i>0) {
    tr.tree-item-indent-@{i} > td:first-child {
        @padding: @i * @treeNodeIndent;
        padding-left: unit(@padding, px);
        background-image: url('/Content/images/twig.png');
        background-position-x: unit(@padding, px);
        background-repeat: no-repeat;
        position: relative;
        white-space: nowrap;
        /* FF Fix */
        border-left: none;
        border-top: none;

        .tree-twig-insert {
            width: unit(@padding - @treeNodeIndent, px);
        }
    }

    tr.tree-item-indent-@{i}.last-item > td:first-child {
        background-image: url('/Content/images/twig-last.png');
    }

    .tree-item-loop(@i - 1);
}

.radioItem() {
    .radio {
        margin-top: 0;
        margin-bottom: 0;

        span:after {
            position: absolute;
            top: 50%;
            right: 15px;
            display: inline-block;
            font: normal normal normal 6pt/1 FontAwesome;
            -ms-text-rendering: auto;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: @radioIndicatorContent;
            margin-top: -4px;
            color: #333;
        }
    }
}

.checkItem() {
    .check {
        span {
            margin-right: 15px;
        }

        span:after {
            position: absolute;
            top: 50%;
            right: 15px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            -ms-text-rendering: auto;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: @checkIndicatorContent;
            margin-top: -4px;
            color: #333;
        }
    }
}

.accordion-toggles() {
    .accordion-toggle::after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: left;
        color: grey;
        margin-left: 10px;
    }

    .accordion-toggle.collapsed::after {
        content: "\e080";
        margin-left: 10px;
    }
}
