﻿// basic data
@pill-padding: 1px 5px;
@primary-resume-color: #1184dd;
@toolbar-padding: 3px 10px;
@pill-text-color: #241e44;
@pill-margin: 3px;
@pill-color-main: #efefef;

.resume-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.resume-explanation {
    background-color: @primary-resume-color;
    border-bottom: 1px solid #317b9b !important;
    color: #eee;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0 10px;
    font-size: 12px;

    &.skills {
        margin-top: 15px;
        padding: 5px;
    }

    .add-button-on-nav {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 26px;
    }
}

.resume-additional-skill-explanation {
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.content.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.resume-margin {
    margin: 0 10% 0 10%;

    &.block {
        display: inline-flex;
        width: 80%;
        margin-bottom: 10px;
    }
}

input:invalid {
    border: 1px solid red !important;
    background-color: #fff9f9 !important;
}

textarea:invalid {
    border: 1px solid red !important;
    background-color: #fff9f9 !important;
}

select:invalid {
    border: 1px solid red !important;
    background-color: #fff0f0 !important;
    border-radius: 5px;
}

.btn-primary-submit {
    margin-left: 10px;
}

.resume-alert-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    h3 {
        padding: 0px 0px;
        margin: 0px 15px 0px 0px;
    }
}

.alert {
    padding: 10px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius: 4px;
}

.resume-header {
    text-align: center;

    span {
        font-size: 18px;
        font-family: Arial;
        font-weight: bold;
        border-bottom: solid;
        text-transform: uppercase;
    }
}

.resume-image-header {
    display: block;
    margin: 0 auto;
}

.resume-modal-warning {
    position: absolute;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    top: 40%;
    left: 37%;
    width: 25%;
}

.resume-modal-vertical-alignment-helper {
    height: 100%;
    width: 100%;
}

.resume-basic-data {
    width: 100%;
    background-color: #EEEEEE;
}

.resume-basic-data-row-name {
    background-color: #008edd;
    border: 1px dotted #008edd;
    color: #fff;
    padding: 5px;
    font-weight: 500;
}

.resume-basic-data-row-content {
    padding: 4px;
    border: 1px dotted #008edd;
    border-top: none;
}

.resume-basic-data-row:first-child .resume-basic-data-row-content {
    border-top: 1px dotted #008edd;
}

.resume-basic-data-row-content input {
    border: none;
    width: 100%;
    padding-left: 10px;
    outline: none;
    background-color: #EEEEEE;
}

//education

.resume-education {
    width: 100%;
    margin-top: 10px;

    .resume-education-add-btn {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 26px;
    }
}

.resume-education > span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: @toolbar-padding;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.resume-education div.row span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.resume-education > div:not(:first-child) {
    border: 1px dotted @primary-resume-color;
    border-top: none;
}

.resume-education > div:not(:first-child) div {
    padding: 8px 15px;
    text-align: center;
}

.resume-education > div.row.head {
    background-color: @primary-resume-color;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    font-weight: 500;
}

.resume-education input {
    border: 0px;
    outline: none;
    text-align: center;
}

.resume-education select {
    border: 0px;
    outline: none;
}

//languages

.resume-languages {
    width: 100%;
    margin-top: 10px;
    .resume-languages-add-btn {
        position: absolute;
        right: 0;
        font-size: 27px;
        cursor: pointer;
        top: 0;
    }
}

.resume-languages > span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: @toolbar-padding;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.resume-languages div.row span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}


.resume-languages > div:not(:first-child) {
    border: 1px dotted @primary-resume-color;
    border-top: none;
}

.resume-languages > div:not(:first-child) div {
    padding: @pill-padding;
    text-align: center;
}

.resume-languages > div.row.head {
    background-color: @primary-resume-color;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    font-weight: 500;
}

.resume-languages select {
    border: 0px;
    outline: none;
}

//summary

.resume-summary {
    width: 100%;
    padding-top: 15px;
}

.resume-summary-row-name {
    background-color: #008edd;
    border: 1px solid #008edd;
    color: #eee;
    text-align: center;
    padding: 5px 0px;
    font-weight: 500;
    font-size: 12px;

    li {
        text-align: left;
    }
}

.resume-summary-row-content {
    border: 1px dotted #008edd;
    border-top: none;
}

.resume-summary-row-content textarea {
    border: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    outline: none;
}

//technical skills
.resume-no-skill-tags-info {
    font-size: 16px;
    font-weight: bold;
    color: red;
    padding: 20px;
    text-align: center;
}

.intv-technical-skills {
    width: 100%;
    text-align: left;
    display: table;
    border-radius: 10px;
    border: 2px solid #1190dd;
    margin-top: 20px;
}

.intv-technical-skills-row {
    display: table-row;
    height: 70px;
}

.intv-technical-skills-row-name {
    background-color: #1190dd;
    vertical-align: middle;
    display: table-cell;
    white-space: nowrap;
    color: #eee;
    height: 40px;
    padding: 5px;
    width: 20%;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.intv-technical-skills-row:first-child .intv-technical-skills-row-name {
    border-top-left-radius: 5px;
}

.intv-technical-skills-row:last-child .intv-technical-skills-row-name {
    border-bottom: none;
    border-bottom-left-radius: 5px;
}

.intv-technical-skills-row-content {
    vertical-align: middle;
    display: table-cell;
    width: 80%;
    border-bottom: 1px solid #1190dd;
    cursor: pointer;
}


.intv-technical-skills-row:first-child .intv-technical-skills-row-content {
    border-top-right-radius: 5px;
}

.intv-technical-skills-row:last-child .intv-technical-skills-row-content {
    border-bottom: none;
    border-bottom-right-radius: 5px;
}

.intv-technical-skills-row-content-pill {
     
    border: 1px solid #ddd;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 3px;
    padding: 3px 6px;
    position: relative;
    background: #f7f7f7;
    cursor: default;
    margin-top: 3px;
}

.intv-technical-skills-row-content-pill-seniority-level {
    border-left: 1px solid @primary-resume-color;
    font-weight: 500;
}

.intv-technical-skills-row-content-pill-name,
.intv-technical-skills-row-content-pill-years-of-experience,
.intv-technical-skills-row-content-pill-seniority-level {
    padding: 0px 8px;
    display: inline-block;
}


.intv-technical-skills-row-content-new-skill {
    border-radius: 5px;
    border: 2px solid #1190dd;
    padding: 0px 2px;
    display: inline-block;
    position: relative;
    background-color: #1190dd;
    text-align: left;
    margin: @pill-margin;
}

.intv-technical-skills-row-content-new-skill-input {
    border-radius: 5px;
    border: 1px solid #1190dd;
    padding: 3px;
    margin: 0;
    font-size: 12px;
}

.intv-technical-skills-row-content-new-skill-input:nth-of-type(2) {
    width: 30px;
    margin: 0px 4px;
}

.intv-technical-skills-row-content-new-skill-select {
    border-radius: 5px;
    border: 1px solid #1190dd;
    padding: 3px;
    margin-left: 4px;
    font-size: 12px;
}

.intv-technical-skills-row-content-new-skill-close,
.intv-technical-skills-row-content-new-skill-accept {
    padding: 0px 4px;
    display: inline-block;
    color: #eee;
    cursor: pointer;
}

.intv-technical-skills-row-content-new-skill-close {
    color: #c00;
}
.intv-technical-skills-row-content-new-skill-accept {
    margin-left: 4px;
    color: green;
}

.intv-technical-skills-row-content-new-skill-error {
    margin-left: 4px;
    color: #eee;
}

.intv-autocomplete {
    border-radius: 5px;
    border: 1px solid #1190dd;
    margin: 0px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 36px;
    background-color: #fff;
    z-index: 2;
}

.intv-autocomplete-suggestions {
    margin: 0px;
    padding: 2px;
    list-style-type: none;
}

.intv-autocomplete-suggestions-suggestion {
    list-style: none;
    color: #eee;
    border: 1px solid #11c0dd;
    background-color: #1190dd;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
    font-weight: 500;
}

.intv-autocomplete-suggestions-suggestion:hover {
    background-color: #11a0dd;
}

.display-none {
    display: none;
}

.fa {
    font-size: 1.2em;
}

.fa:hover {
    color: #fff;
}

//training

.resume-training {
    width: 100%;
    margin-top: 10px;

    .resume-training-add-btn {
        font-size: 27px;
        top: 0;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}

.resume-training > span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: @toolbar-padding;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.resume-training div.row span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.resume-training > div:not(:first-child) {
    border: 1px dotted @primary-resume-color;
    border-top: none;
}

.resume-training > div:not(:first-child) div {
    padding: @pill-padding;
    text-align: center;
}

.resume-training > div.row.head {
    background-color: @primary-resume-color;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    font-weight: 500;
}

.resume-training select {
    border: 0px;
    outline: none;
}

.resume-training input {
    border: 0px;
    outline: none;
    text-align: center;
}

//work experience

.resume-work-experience {
    width: 100%;

    .resume-work-experience-company {
        margin-bottom: 5px;

        span {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            margin: 0;
            font-weight: 500;
        }

        .no-icon-margin {
            .fa {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        div.row input {
            border: 0.1px solid white;
            background-color: white;
            color: black;
            padding: 4px;
            border-radius: 5px;
        }

        div.row .limit-size {
            max-width: 400px;
        }

        div.row span {
            padding: 4px;
        }

        span.intv-technical-skills-row-content-pill-name {
            border-right: none;
        }

        span.intv-technical-skills-row-content-pill-close.fa.fa-times {
            padding: 6px;
            border-left: none;
        }

        .resume-work-experience-company-basic-data {
            background-color: @primary-resume-color;
            color: #fff;
            padding: @toolbar-padding;

            div.row {
                padding: 4px;
            }
        }
    }
}

.resume-work-experience > span {
    background-color: @primary-resume-color;
    color: #fff;
    padding: @toolbar-padding;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.resume-work-experience input {
    width: 100%;
    border: none;
    outline: none;
}

.resume-work-experience textarea {
    border: none;
    width: 100%;
    height: 60px;
    resize: none;
    outline: none;
}

.resume-work-experience-time-period {
    text-align: right;
}

.resume-work-experience-company-basic-data div div:last-child {
    text-align: right;
}

.resume-work-experience-company-project {
    margin-top: 10px;
    margin-left: 20px;

    div.pointer {
        cursor: pointer;
    }

    .row {
        border: 1px dotted @primary-resume-color;
        border-top: none;

        div {
            padding: @pill-padding;

            div.intv-technical-skills-row-content-new-skill {
                input {
                    width: inherit;
                }
            }

            div.intv-autocomplete {
                padding: initial;
                left: 15px;
                top: 45px;
            }
        }
    }

    .project-header {
        background-color: @primary-resume-color;
        color: #fff;
        padding: 10px 0px;
        border: none;

        div:last-child {
            text-align: right;
        }

        input {
            background-color: @primary-resume-color;
        }
    }
}

.resume-data-processing-clause {
    border-top:1px #eee solid ;
    margin-top:30px;    
    padding-top: 12px;
    padding-left: 24px;

    input[type="checkbox"] {
        margin-left: -24px;
        margin-right: 10px;
    }
}

.resume-suggestions-modal {
    position: absolute;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    top: 15%;
    left: 28%;
    max-width: 50%;

    .modal-content .modal-body {
        position: relative;
        max-height: 350px;
        overflow-y: scroll;
    }

    .intv-technical-skills-row-content {
        cursor: default;
    }

    .modal-title{
        text-align:center;
        padding-right:40px;
    }
}

.intv-suggested-skills {
    border: 3px solid #1190dd;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.intv-suggested-skills-row-content-select {
    border-radius: 5px;
    border: 1px solid #1190dd;
    padding: 4px;
    margin-left: 4px;
    color: #333;
}

.intv-suggested-skill-pill {
    display: flex;
    align-items: center;
    background-color: #1190dd;
    color: @pill-text-color;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
}


.intv-suggested-skill-pill-name,
.intv-suggested-skill-pill-years-of-experience,
.intv-suggested-skill-pill-seniority-level {
    padding: 0px 8px;
    display: inline-block;
}

.intv-suggested-skill-pill-select {
    margin-left: auto;
}

.intv-suggested-skill-pill-checkmark {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.intv-suggested-skill-pill-checkmark-checked {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

.intv-suggested-skill-pill-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intv-suggested-skill-pill-checkmark-checked:after {
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.intv-suggested-skill-pill-checkmark,
.intv-suggested-skill-pill-checkmark-checked {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.intv-suggested-skill-pill-checkbox-container {
    display: inline-block;
    width:auto;
    position: relative;
    padding-left: 35px;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .intv-suggested-skill-pill-checkmark-checked:after {
        content: "";
        position: absolute;
        display: block;
        left: 9px;
        top: 5px;
        width: 8px;
        height: 12px;
        border: solid #1190dd;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.intv-suggested-skill-pill-checkbox-container:hover .intv-suggested-skill-pill-checkmark {
    background-color: #b8c7ff;
}

.intv-suggested-skill-pill-name{
    cursor:pointer;
}

.intv-technical-skills-row-content-pill-close {
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    color: #999;
    border: 1px solid transparent;
    font-size: 12px;
    padding: 4px;

    &:hover {
        color: #c00;
        background: #fff;
        border: 1px solid #ddd;
    }
}