﻿@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Accounts.Models
@using Smt.Atomic.WebApp.Areas.Accounts.Resources
@model TileViewModel
@{
    var securityProfileModel = (SecurityProfileViewModel)Model.Row;
}
<div class="tile full-row text-card @Model.GetRowButtonClass()" tabindex="0">
    <h3>@securityProfileModel.Name
        @if (!string.IsNullOrEmpty(securityProfileModel.ActiveDirectoryGroupName))
        { 
            <span class="title-hint">(@securityProfileModel.ActiveDirectoryGroupName)</span>
        }
    </h3>
    <div class="item-listing">
        @Html.Raw(Model.Columns.RenderColumn<SecurityProfileViewModel>(x => x.RoleIds, Model.Row, Url, string.Empty))
    </div>
    <div class="item-actions">
        @Html.Partial("~/Views/Grid/_TileButtons.cshtml", Model)
    </div>
</div>
