﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Resources
@using Smt.Atomic.WebApp.Areas.Notifications.Models
@using Smt.Atomic.WebApp.Areas.Notifications.Resources

@model Smt.Atomic.Presentation.Renderers.CardIndex.CardIndexRecordViewModel<EmailViewModel>

<div class="summary-layout">
    <form method="POST" class="form-horizontal" id="main-form">
        @Html.Bootstrap().DisplayForModel(Model.ViewModelRecord, new SummaryLayout(1), Model.ViewFormCustomization)

        <div class="row">
            <label class="col-sm-2 col-vs-3 control-label">@EmailResource.ContentLabel</label>
            <div class="col-sm-10 col-vs-9">
                <div class="ellipsis take-full-width">
                    @Html.Raw(Model.ViewModelRecord.Body)
                </div>
            </div>
        </div>
    </form>
</div>

@section footer
{
<div class="form-footer">
    <div class="footer-sizer">
        <div class="pull-right">
            <input type="button" class="btn btn-primary" value="@AtomicResources.OkButtonText" onclick="Forms.redirectToList('@Model.CancelButtonUrl');" data-hotkey="esc" />
        </div>
    </div>
</div>
}
