﻿@using Smt.Atomic.CrossCutting.Common.Helpers
@model Smt.Atomic.WebApp.Areas.Reports.Models.TechnologyRadarReportViewModel

<body>
    @section scripts
    {
        <script type="text/javascript">
            var radarData = @Html.Raw(JsonHelper.Serialize(Model.TechnologyRadarAreas.Areas));
            var labels = @Html.Raw(JsonHelper.Serialize(Model.TechnologyRadarLabels));
        </script>
    }

    <div id="radar"></div>

    <div class="modal fade" id="itemModal" tabindex='-1'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <p id="modalDescription"></p>
                    <p id="modalChanged"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Model.TechnologyRadarLabels.CloseButton</button>
                </div>
            </div>
        </div>
    </div>
</body>