﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.AbsenceScheduleViewModel

<form method="POST" class="form-horizontal" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    @Html.AntiForgeryToken()
    @Html.Bootstrap().EditorForModel(Model, new HorizontalFormLayout())
</form>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@AtomicResources.OkButtonText" form="main-form" onclick="Forms.submitRecordForm(this);" data-hotkey="ctrl+return" />
            </div>
        </div>
    </div>
}