﻿@using System.Threading
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@using Smt.Atomic.CrossCutting.Common.Helpers;

@model ScheduleListViewModel

@{
    var months = DateHelper.MonthsInRange(Model.PeriodStartDate, Model.PeriodEndDate);

    var homeOfficeDescription = new { Name = "home-office", Icon = "H", Description = AbsenceScheduleResources.HomeOfficeLabel, BootstrapClass = "bg-info" };
    var absenceDescription = new { Name = "absence", Icon = "A", Description = AbsenceScheduleResources.AbsenceLabel, BootstrapClass = ".bg-secondary" };
    var availableDescription = new { Name = "available", Icon = " ", Description = AbsenceScheduleResources.AvailableLabel, BootstrapClass = "bg-success" };
    var holidayDescription = new { Name = "holiday", Icon = "B", Description = AbsenceScheduleResources.BankHolidaysLabel, BootstrapClass = "bg-warning" };
    var currentDayDescription = new { Name = "currentday", Icon = "", Description = AbsenceScheduleResources.CurrentDayLabel, BootstrapClass = "" };
    var notContractedDescription = new { Name = "not-contracted", Icon = "", Description = AbsenceScheduleResources.NotContractedLabel, BootstrapClass = "bg-error" };
    var weekendDescription = new { Name = "weekend", Icon = "", Description = "", BootstrapClass = "" };

    var entries = new[]
{
homeOfficeDescription,
absenceDescription,
availableDescription,
holidayDescription,
currentDayDescription,
notContractedDescription
};
}

<div id="absence-container">
    @for (var monthNumber = 0; monthNumber < months; monthNumber++)
    {
        var periodStartDate = DateHelper.BeginningOfMonth(Model.PeriodStartDate.AddMonths(monthNumber));
        var currentDate = Model.PeriodStartDate.AddMonths(monthNumber);
        var periodWeeks = DateHelper.AllWeeksInMonth(currentDate.Year, currentDate.Month);
        var periodDays = DateHelper.AllDatesInMonth(periodStartDate.Year, periodStartDate.Month).ToList();
        var monthName = currentDate.ToString("MMMM yyyy");
        <div class="absence-schedule-sheet">
            <table class="schedule-sheet">
                <thead>
                    <tr class="week-number-row">
                        <th class="month-name fix-horizontal fix-vertical">@(monthName.First().ToString().ToUpper() + monthName.Substring(1))</th>
                        @foreach (var weekDescription in periodWeeks)
                        {
                            var weekName = weekDescription.DaysInWeek >= 2
                                ? string.Format(TimeReportResources.WeekHeader, weekDescription.WeekNumber)
                                : string.Format(TimeReportResources.ShortWeekHeader, weekDescription.WeekNumber);

                            <th class="week-number fix-vertical" colspan="@weekDescription.DaysInWeek">@weekName</th>
                        }
                    </tr>
                    <tr>
                        <th rowspan="2" class="key-column fix-horizontal fix-vertical">@AbsenceScheduleResources.EmployeeIdsLabel</th>
                        @foreach (var day in periodDays)
                        {
                            var label = day.Date.Day.ToString("00");
                            var isWeekend = day.DayOfWeek == DayOfWeek.Sunday || day.DayOfWeek == DayOfWeek.Saturday;
                            var isToday = Model.CurrentDate.Equals(day) ? currentDayDescription.Name : string.Empty;
                            <text>
                                <th class="day-number fix-vertical @isToday @(isWeekend ? "weekend" : string.Empty)"
                                    data-date="@day.Date.ToString("d", Thread.CurrentThread.CurrentCulture)"
                                    data-day="@periodDays.IndexOf(day)">
                                    <span>@(label)</span>
                                </th>
                            </text>
                        }
                    </tr>
                    <tr>
                        @foreach (var day in periodDays)
                        {
                            var isToday = Model.CurrentDate.Equals(day) ? currentDayDescription.Name : string.Empty;
                            var isWeekend = day.DayOfWeek == DayOfWeek.Sunday || day.DayOfWeek == DayOfWeek.Saturday;
                            var dayName = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.AbbreviatedDayNames[(int)day.Date.DayOfWeek];
                            var label = char.ToUpper(dayName[0]) + dayName.Substring(1, Math.Min(dayName.Length - 1, 2)).TrimEnd('.');

                            <text>
                                <th class="day-name fix-vertical @isToday @(isWeekend ? "weekend" : string.Empty)">@(label)</th></text>
                        }
                    </tr>
                </thead>
                <tbody id="schedule-table-@monthNumber" onmouseup="AbsenceSchedule.onMouseUpOnBody()">
                    @foreach (var employeeSchedule in Model.Employees)
                    {
                        <tr class="project-row">
                            <td data-hub-identifier="EmployeeValuePickers.Employee" data-hub-recordid="@employeeSchedule.Id" class="name unselectable">@employeeSchedule.FirstName @employeeSchedule.LastName</td>
                            @foreach (var day in periodDays)
                            {
                                var isWeekend = day.DayOfWeek == DayOfWeek.Sunday || day.DayOfWeek == DayOfWeek.Saturday;

                                var dayInfo = employeeSchedule.HolidayDays.Contains(day) ? holidayDescription
                                        : employeeSchedule.AbsenceDays.Any(d => d.Date.Equals(day)) ? absenceDescription
                                            : employeeSchedule.HomeOfficeDays.Contains(day) ? homeOfficeDescription
                                                : Model.CurrentDate.Equals(day) ? currentDayDescription
                                                    : employeeSchedule.NotContractedDays.Contains(day) ? notContractedDescription
                                                        : availableDescription;

                                var contractedHours = employeeSchedule.ContractedWorkingHours.FirstOrDefault(x => DateTime.Compare(x.Date, day) == 0)?.Hours ?? 0;

                                var workingHours = dayInfo != absenceDescription ?
                                    contractedHours : contractedHours - employeeSchedule.AbsenceDays.SingleOrDefault(d => d.Date.Equals(day)).Hours;

                                <td class="availability @dayInfo.Name @(isWeekend ? "weekend" : string.Empty)" hover="AbsenceSchedule.onHover(this)"
                                    working-hours="@workingHours" onmousedown="AbsenceSchedule.onMouseDownOnCell(this)"  
                                    is-marked="false" onclick="AbsenceSchedule.tableCellClick(this)" tbody-id="schedule-table-@monthNumber">
                                    <span class="unselectable">@Html.Raw(dayInfo.Icon)</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@section footer
{    
<div class="footer">
    <table id="total-absence-container" class="total-absence-container absence-schedule-sheet schedule-sheet">
        <thead>
            <tr class="week-number-row">
                <th class="month-name fix-horizontal fix-vertical">@AbsenceScheduleResources.TotalWorkingHours</th>
                <th id="total-absence-hours" class="week-number fix-vertical"></th>
            </tr>
        </thead>
    </table>
    <ul class="legend">
        @foreach (var entry in entries)
        {
            <li class="entry">
                <span class="icon @entry.Name"></span>
                <span class="name">@entry.Description</span>
            </li>
        }
    </ul>
</div>
}
