﻿<div ng-controller="homeController">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Atomic Web API Demo application</h1>
            <p class="lead">The proof of concept for consuming OData API on AngularJS application!</p>
        </div>
    </div>
</div>