﻿@light-border: 1px rgba(170, 170, 170, 0.34) solid;
@menu-width: 250px;

.breadcrumb {
    li {
        line-height: 22px;
        display: inline-block;
    }

    .active {
        color: #777;
    }

    li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    & &-container {
        position: relative;

        .fa.fa-info-circle {
            position: absolute;
            right: 0;
            line-height: 28px;
        }
    }
}

#dashboard {
    .container-fluid {
        padding-top: 20px;
    }

    .dashboard-widget-table {
        text-align: left;
        margin-bottom: 0px;
    }

    .table-widget-header-cell {
        border-top: none;
    }

    .dashboard-widget {
        margin-bottom: 50px;
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: 3px;
        border: @light-border;

        &-header {
            float: left;
            position: absolute;
            margin: -10px 15px 0;
            padding: 0 5px;
            text-align: center;
            border-radius: 3px;
            background-color: #fafafa;
            box-shadow: 0 1px 2px -1px;
            border: @light-border;

            h5 {
                margin: 10px 0px -5px 0px;
                min-height: 34px;
            }
        }

        &-content {
            margin: 10px 20px 10px;
            padding-top: 10px;
            text-align: right;

            .widget-list-group {
                margin-top: 15px;
                padding-left: 0;

                .widget-list-group-item {
                    display: block;
                    border-bottom: 1px rgba(170, 170, 170, 0.34) solid;
                    padding: 5px 0;
                }
            }
        }

        &-chart {
            padding: 60px 20px 20px;
        }

        &-footer {
            margin: 10px 20px 15px;
            height: auto;
            padding: 10px;
            border-top: 1px solid #eeeeee;
            padding-top: 10px;
            font-weight: 300;
            line-height: 1.5em;
        }
    }

    #menu-toggle {
        position: fixed;
        top: 50%;
        z-index: 5;
        margin-left: -30px;
    }

    #wrapper {
        padding-left: 250px;
        transition: all 0.4s ease 0s;
    }

    #sidebar-wrapper {
        margin-left: -270px;
        width: @menu-width;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        transition: all 0.4s ease 0s;
        border-right: 1px solid #eee;
    }

    #wrapper.active {
        padding-left: 0;
    }

    #wrapper.active #sidebar-wrapper {
        left: 0;
    }

    #page-content-wrapper {
        width: 100%;
        padding-left: 20px;
    }

    .active-menu-item() {
        background-color: #d9edf4;
    }

    #sidebar-wrapper {
        ul .selected,
        a:hover,
        a:visited {
            .active-menu-item()
        }
    }

    #sidebar-wrapper li a {
        color: #777
    }
}