﻿@using Smt.Atomic.CrossCutting.Common.Helpers;
@model Smt.Atomic.WebApp.Areas.WebSite.Models.DashboardConfigurationViewModel

<div id="dashboard">Loading...</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            Dashboard.Initialize(@Html.Raw(JsonHelper.Serialize(Model, JsonHelper.DefaultObjectInitializerSettings)), Globals.resources);        
        });
    </script>
}