﻿@using Smt.Atomic.Business.Common.Enums
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Accounts.Models
@using Smt.Atomic.WebApp.Resources

@model TileViewModel
@{
    var userModel = (UserViewModel)Model.Row;
}
<div class="tile user-tile @Model.GetRowButtonClass() user-@(userModel.IsActive ? "active" : "inactive")" tabindex="0">
    <div class="tile-picture user-tile-image">
        <img src="@Url.Action("Download", "UserPicture", new {area = "Accounts", userId = userModel.Id, userPictureSize = UserPictureSize.Normal})"
             alt="@LayoutResources.UserPictureText"
             width="@((int) UserPictureSize.Normal)"
             title="@userModel.GetFullName()" />
    </div>
    <div class="tile-content">
        <a data-hub-identifier="ValuePickers.Users" data-hub-recordid="@(userModel.Id)" class="full-name">@userModel.FirstName @userModel.LastName</a>
        <p class="properties"><span class="login">@userModel.Login</span></p>
        @if (!string.IsNullOrWhiteSpace(userModel.Email))
        {
            <a class="email no-click" href="mailto:@userModel.Email" tabindex="-1">@Html.Bootstrap().Icon(FontAwesome.EnvelopeO) @userModel.Email</a>
        }
        else
        {
            <span class="email no-click">&#160;</span>
        }

        @Html.Partial("~/Views/Grid/_TileButtons.cshtml", Model)
    </div>
</div>
