﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.Textbox.TextboxRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div id="@Model.Id" class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (string.IsNullOrWhiteSpace(Model.Value))
        {
            <span class="empty-text">@RenderersResources.EmptyText</span>
        }
        else
        {
            @Model.Value
        }
    </div>
</div>
