﻿@using Smt.Atomic.Presentation.Renderers.CardIndex;
@model DisplayUrl

@if (Model.Action != null)
{<a href="@Model.Action.Url" onclick="Grid.onLinkClick(event);" class="@Model.LinkCssClass" target="@Model.Target" title="@Model.Title">
        @if (!string.IsNullOrEmpty(Model.IconCssClass))
        {
            <i class="@Model.IconCssClass"></i>
        } @Model.Label</a>}
else
{<span title="@Model.Title">
        @if (!string.IsNullOrEmpty(Model.IconCssClass))
        {
            <i class="@Model.IconCssClass"></i>
        } @Model.Label</span>}