﻿@using Smt.Atomic.Presentation.Renderers.CardIndex;
@using Smt.Atomic.CrossCutting.Common.Helpers;
@model DocumentList

<div>
    @foreach (var document in Model.Documents)
    {
        <div class="row-line arrangement-docs">
            <a href="@($"/DocumentDownload/Download/{Model.DocumentMappingIdentifier}/{document.DocumentId}")" title="@document.DocumentName">
                <i class="fa fa-files-o"></i>
                <span>@(Model.Truncate ? StringHelper.TruncateAtWords(document.DocumentName, 13) : document.DocumentName)</span>
            </a>
        </div>
    }
</div>