﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Presentation.Renderers.CardIndex.HubCellContent

@foreach (var record in Model.DisplayNames.WithIndex())
{
    if (!record.IsFirst)
    {
        <text>, </text>
    }

    if (Model.HasHub && record.Index < Model.Ids.Length)
    {
        <span class="@(Model.CssClass)"
              data-hub-recordid="@(Model.Ids[record.Index])"
              data-hub-identifier="@(Model.Identifier)">@(record.Item)</span>
    }
    else
    {
        <span class="@(Model.CssClass)">@(record.Item)</span>
    }
}