﻿@using System.Collections.Generic;
@using Smt.Atomic.Presentation.Renderers.CardIndex;
@model IEnumerable<DisplayUrl>

@{
    var displayUrlList = Model.ToList();
}
<span class="display-urls">
    @for (var i = 0; i < displayUrlList.Count; i++)
    {
        var displayUrl = displayUrlList[i];

        @Html.Partial("~/Views/Grid/Cells/DisplayUrl.cshtml", displayUrl)
    }
</span>
