﻿@using Smt.Atomic.Business.Common.Enums;
@using Smt.Atomic.CrossCutting.Common.Extensions;
@using Smt.Atomic.CrossCutting.Common.Helpers;
@using Smt.Atomic.WebApp.Areas.MeetMe.Renders;
@model NoteList

<div>
    @foreach (var Note in Model.MeetingNotes.WithIndex())
    {
        <div class="meeting-note-extract">
            <img class="note-author-picture" src="@Url.Action("DownloadByEmployee", "UserPicture", new {area = "Accounts", employeeId = Note.Item.AuthorId, userPictureSize = UserPictureSize.Small})"
                 alt="@Note.Item.AuthorName"
                 width="@((int) UserPictureSize.Small)"
                 title="@Note.Item.AuthorName" />
            <span class="pre-wrap" title="@Note.Item.NoteBody">@StringHelper.TruncateAtWords(Note.Item.NoteBody, 300)</span>
            @foreach (var document in Note.Item.Attachments)
            {
                <br />
                <a href="@($"/DocumentDownload/Download/Documents.MeetingNoteAttachmentMapping/{document.DocumentId}")" title="@document.DocumentName">
                    <i class="fa fa-files-o"></i>
                    <span>@StringHelper.TruncateAtWords(document.DocumentName, 50)</span>
                </a>
            }
        </div>
    }
</div>