﻿@using Smt.Atomic.Presentation.Renderers.CardIndex;
@model ProgressBar

<div class="progress">
    <div class="progress-bar @Model.BarCssClass" role="progressbar" aria-valuenow="@Model.Value" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Value%">
        <span>@Model.Value%</span>
    </div>
</div>