﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Helpers
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@model DisplayProjectStatus

<div class="project-statuses">
    @foreach (var status in Model.Statuses)
    {
        <div title="@status.Status.GetDescription()" class="project-status">
            <span data-hub-identifier="ValuePickers.SimpleProject" data-hub-recordid="@status.Id">
                <i class="fa @TimeReportStatusHelper.GetIconForStatus(status.Status)"></i>
                <span>@status.Name</span>
            </span>
        </div>
    }
</div>
