﻿@using Smt.Atomic.Presentation.Renderers.CardIndex;
@using Smt.Atomic.CrossCutting.Common.Extensions;
@model TooltipText

@if (!string.IsNullOrEmpty(Model.IconCssClass))
{
    <i class="@Model.IconCssClass"></i>
}

@{ 
    var dataAttributes = !Model.DataAttributes.IsNullOrEmpty()
        ? string.Join(" ", Model.DataAttributes.Select(d => "data-" + d.Key + "=" + d.Value))
        : string.Empty;
}

<span @(dataAttributes) title="@Model.Tooltip">@(Html.Raw(Model.Label))</span>
