﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.CustomerPortal.Models.DummyCrmViewModel

<form class="form-horizontal" action="@Url.Action("StartCrm", "DummyCrm")" method="POST" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)

    <div class="row">
        <div class="col-xs-2">@Html.Bootstrap().InlineLabelFor(Model, m => m.ResourceId)</div>
        <div class="col-xs-4">@Html.Bootstrap().InlineEditorFor(Model, m => m.ResourceId)</div>
    </div>

    <input type="submit" class="btn btn-primary" value="Send" form="main-form" onclick="Forms.submitRecordForm(this);" style="horiz-align: right;" />
</form>
