﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.CrossCutting.Common.Resources
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Toolbar.Actions
@using Smt.Atomic.WebApp.Resources
@model IList<Smt.Atomic.Presentation.Renderers.Toolbar.ICommandButton>

@{
    var buttonGroups = Model.GroupBy(b => b.Group);
}

<ul class="dropdown-menu" role="menu">
    @foreach (var indexedItem in buttonGroups.WithIndex())
    {
        if (!indexedItem.IsFirst)
        {
            <li class="divider"></li>
        }
        {
            var groupName = indexedItem.Item.Key;

            if (!string.IsNullOrWhiteSpace(groupName) && groupName.Length > 2)
            {
                <li role="presentation" class="dropdown-header">@groupName</li>
            }
        }

        var childButtons = indexedItem.Item.Where(b => b.IsAccessibleToCurrentUser()).ToList();

        if (!childButtons.Any())
        {
            <li><a href="#"><span class="empty-text">@ComponentResources.NoOptionsAvailableText</span></a></li>
        }
        else
        {
            foreach (var button in childButtons)
            {
                <li class="@button.GetListItemCssClass()" @Html.Raw(button.Availability.GetHtmlAttributes())>
                    <a href="#" @Html.Raw(button.GetHtmlAttributes()) class="dropdown-button @button.GetButtonCssClass()">@Html.Raw(button.GetInnerHtml(false))</a>
                    @{
                        var dropDownAction = button.OnClickAction as DropdownAction;
                        if (dropDownAction != null)
                        {
                            @Html.Partial("_ButtonDropdown", dropDownAction.Items)
                        }
                    }
                </li>
            }
        }
    }
</ul>