﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Toolbar.Actions
@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel

@{
var contextMenu = Model.ContextMenu;
}

@if (contextMenu.Groups.Any())
{
<div id="contextmenu-@Model.BindingPrefix">
    <ul class="dropdown-menu">
        @foreach (var item in contextMenu.Groups.WithIndex())
        {
            var group = item.Item;

            if (!item.IsFirst)
            {
                <li class="divider"></li>
            }

            foreach (var button in group.Buttons)
            {
                <li class="@button.GetListItemCssClass()" @Html.Raw(button.Availability.GetHtmlAttributes())>
                    <a href="#" @Html.Raw(button.GetHtmlAttributes())>@Html.Raw(button.GetInnerHtml(false))</a>
                    @{
                        var dropDownAction = button.OnClickAction as DropdownAction;
                        if (dropDownAction != null)
                        {
                            @Html.Partial("~/Views/Grid/_ButtonDropDown.cshtml", dropDownAction.Items)
                        }
                    }
                </li>
            }
        }
    </ul>
</div>
}