﻿@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.CardIndex.Filters

@{ var Model = (GridViewModel)ViewBag.GridViewModel; }
@if (Model == null)
{
    return;
}

<div id="filter-tags" class="container-fluid-inline container-pills">
    @if (Model.ShouldRenderFilters())
    {
        var filterGroups = Model.Filters.ToList();
        var hasSelectedFilters = filterGroups.Any(g => g.IsAnyFilterSelected);

        if (hasSelectedFilters)
        {
            var selectedFilters = filterGroups.Where(g => g.IsAnyFilterSelected);

            foreach (var filterGroup in selectedFilters)
            {
                <div class="filter-tag-group btn-group" role="group">
                    @foreach (var filter in filterGroup.Filters.Where(f => f.IsSelected))
                    {
                        var shouldDisplayRemoveButton = filter.CanBeSwitchedOff && filterGroup.Type != FilterGroupType.RadioGroup;
                        var isClickable = filter.IsParametric;
                        var hasDropdown = filterGroup.Type == FilterGroupType.RadioGroup;

                        var filterTagClass = isClickable ? "clickable" : "non-clickable";
                        filterTagClass += hasDropdown ? " dropdown-toggle" : string.Empty;
                        filterTagClass += shouldDisplayRemoveButton ? " removable" : string.Empty;
                        var tooltip = !string.IsNullOrWhiteSpace(filterGroup.DisplayName)
                            ? filterGroup.DisplayName + ": " + filter.DisplayName
                            : filter.DisplayName;

                        <div class="filter-tag btn btn-xs @filterTagClass" data-toggle="dropdown" title="@tooltip" data-filter-code="@filter.Code">
                            @filter.GetName()
                            @if (shouldDisplayRemoveButton)
                            {
                                <i class="glyphicon glyphicon-remove" data-filter-code="@filter.Code">
                                </i>
                            }
                            @if (hasDropdown)
                            {
                                <span class="caret"></span>
                            }
                        </div>

                        if (hasDropdown)
                        {
                            <ul class="dropdown-menu filter-tag-menu">
                            @{
                                string currentSubGroup = filterGroup.DisplayName;

                                for (var subGroupIndex = 0; subGroupIndex < filterGroup.Filters.Count; subGroupIndex++)
                                {
                                    var groupFilter = filterGroup.Filters.ElementAt(subGroupIndex);

                                    if (groupFilter.SubGroupName != currentSubGroup)
                                    {
                                        currentSubGroup = groupFilter.SubGroupName;

                                        if (subGroupIndex > 0)
                                        {
                                            <li class="divider"></li>
                                        }

                                        if (!string.IsNullOrWhiteSpace(groupFilter.SubGroupName))
                                        {
                                            <li role="presentation" class="dropdown-header">@groupFilter.SubGroupName</li>
                                        }
                                    }

                                    var menuItemClass = groupFilter.IsSelected ? "radio" : string.Empty;
                                    <li class="filter-tag-menu-item">
                                        <a href="#" class="@menuItemClass" data-filter-code="@groupFilter.Code"><span>@groupFilter.GetName()</span></a>
                                    </li>
                                }
                            }
                            </ul>
                        }
                    }
                </div>
            }
        }
    }
</div>