﻿@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.CardIndex.Filters;
@using Smt.Atomic.Presentation.Renderers.Helpers
@using Smt.Atomic.WebApp.Resources

@model IReadOnlyCollection<FilterGroupViewModel>

@{
    var buttonGroups = Model.GroupBy(g => g.ButtonText).ToList();
    var indices = new int[2];

    indices[0] = 0;
    indices[1] = 0;
}
<div class="filters-btn-group btn-group">
    @foreach (var buttonGroup in buttonGroups)
    {
        if (buttonGroups.Count == 1)
        {
            @FilterDropdown(buttonGroup, indices)
        }
        else
        {
            <div class="btn-group">
                @FilterDropdown(buttonGroup, indices)
            </div>
        }
    }
</div>

@helper FilterDropdown(IGrouping<string, FilterGroupViewModel> buttonGroup, int[] indices)
{
    var filterGroups = buttonGroup.ToList();

    var hasSelectedFilters = filterGroups.Any(g => g.IsAnyFilterSelected);

    <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu@(indices[0])" data-toggle="dropdown" aria-expanded="true">
        <i class="@(IconHelper.GetCssClass(Glyphicons.Filter))@(hasSelectedFilters ? " has-active-items" : string.Empty)"></i> @buttonGroup.Key <span class="caret"></span>
    </button>
    <ul class="dropdown-menu filter-menu" role="menu" aria-labelledby="filterMenu@(indices[0])">
        @{
            indices[0]++;
            var shouldDisplayHint = false;
            var index = 0;

            foreach (var filterGroup in filterGroups)
            {
                var isFirstGroup = index == 0;
                var isLastGroup = index == filterGroups.Count - 1;

                if (filterGroup.Type != FilterGroupType.RadioGroup)
                {
                    shouldDisplayHint = true;
                }

                if (!string.IsNullOrWhiteSpace(filterGroup.DisplayName))
                {
                    <li role="presentation" class="dropdown-header">@filterGroup.DisplayName</li>
                }

                string currentSubGroup = filterGroup.DisplayName;
                var filterindex = 0;

                foreach (var filter in filterGroup.Filters)
                {
                    if (filter.SubGroupName != currentSubGroup)
                    {
                        currentSubGroup = filter.SubGroupName;

                        if (filterindex > 0)
                        {
                            <li class="divider"></li>
                        }

                        if (!string.IsNullOrWhiteSpace(filter.SubGroupName))
                        {
                            <li role="presentation" class="dropdown-header">@filter.SubGroupName</li>
                        }
                    }

                    if (!filter.IsParametric)
                    {
                        <li role="presentation" data-filter-code="@filter.Code" data-group-index="@indices[1]" data-group-type="@filterGroup.Type" class="@filter.CssClass">
                            <a class="@filter.GetCssClass(filterGroup.Type) filter-menu-item" role="menuitem">
                                <span>@filter.DisplayName</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        var viewModelFilter = (ParametricFilterViewModel) filter;
                        <li role="presentation"
                            data-filter-code="@filter.Code"
                            data-group-index="@indices[1]"
                            data-group-type="@filterGroup.Type"
                            class="@filter.CssClass"
                            data-filter-identifier="@viewModelFilter.Identifier"
                            data-filter-dialog-title="@viewModelFilter.DialogTitle"
                            data-allow-no-parameter-values="@(HtmlMarkupHelper.ToInputValue(viewModelFilter.CanParametersBeEmpty))"
                            @foreach (var parameter in viewModelFilter.GetFilterParameters())
                            {
                                <text> data-filter-param-@parameter.Value.UrlFieldName="@parameter.Value.PropertyName" </text>
                            }
                            > <a class="@filter.GetCssClass(filterGroup.Type)" role="menuitem">
                                <span>@filter.GetName()</span>
                            </a>
                        </li>
                    }

                    filterindex++;
                }

                if (!isLastGroup)
                {
                    <li class="divider"></li>
                }

                index++;
                indices[1]++;
            }

            if (shouldDisplayHint)
            {
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="filter-hint">@AtomicResources.MultipleSelectionHint</span>
                    <button class="btn btn-default btn-sm filter-apply-button" style="display:none">@AtomicResources.ApplyFilterButtonText</button>
                </li>
            }
        }
    </ul>
}