﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.CardIndex
@model GridViewModel

@{
    var gridParameters = Model.GridParameters;
    var paginationButtons = Model.GetPaginationButtons();
    var hasRows = Model.Rows.Any();
}

<div class="grid@(paginationButtons.IsNullOrEmpty() ? " no-pagination" : string.Empty)"
     data-component="Grid.GridComponent"
     @if (Model.IsRenderedInParts()) {<text>data-component-id="@Model.ComponentId"</text>}
     data-allow-multiple-row-selection="@(HtmlMarkupHelper.ToInputValue(Model.AllowMultipleRowSelection))"
     data-has-rows="@HtmlMarkupHelper.ToInputValue(hasRows)"
     data-has-contextmenu="@(HtmlMarkupHelper.ToInputValue(Model.ShouldRenderContextMenu()))"
     data-on-selection-changed="@Model.OnSelectionChangedJavaScript"
     data-on-rendered="@Model.OnRenderedJavaScript"
     data-on-row-doubleclicked="@Model.OnRowDoubleClickedJavaScript"
     data-display-mode="@Model.DisplayMode"
     data-initialize-action="@Model.InitializeJavaScriptAction"
     data-enter-invokes-default-button="@(HtmlMarkupHelper.ToInputValue(Model.ShouldEnterInvokeDefaultButton))"
     data-doubleclick-toggles-selection="@(HtmlMarkupHelper.ToInputValue(Model.ShouldDoubleClickToggleSelection))"
     data-binding-prefix="@Model.BindingPrefix"
     data-excel-export-url="@Model.ExportToExcelUrl"
     data-csv-export-url="@Model.ExportToCsvUrl"
     data-copy-to-clipboard-url="@Model.CopyToClipboardUrl">
    
    @if (!Model.IsToolbarRenderedSeparately)
    {
        @Html.Partial("~/Views/Grid/_Toolbar.cshtml", Model)
    }

    <input type="hidden" name="@GridParameterModelBinder.PageParameterUrlName" value="@gridParameters.CurrentPageIndex" data-page-parameter />
    <input type="hidden" name="@GridParameterModelBinder.FilterParameterUrlName" value="@gridParameters.Filters" data-page-parameter />
    <input type="hidden" name="@GridParameterModelBinder.OrderParameterUrlName" value="@gridParameters.OrderBy" data-page-parameter />
    <input type="hidden" name="context" value="@Model.ContextParameters" />

    @if (!hasRows && !string.IsNullOrWhiteSpace(Model.EmptyListViewName))
    {
        @Html.Partial(Model.EmptyListViewName, Model)
    }
    else
    {
        switch (Model.DisplayMode)
        {
            case GridDisplayMode.Rows:
                @Html.Partial("~/Views/Grid/_Table.cshtml", Model)
                break;

            case GridDisplayMode.Tiles:
                @Html.Partial("~/Views/Grid/_Tiles.cshtml", Model)
                break;
                
            case GridDisplayMode.Custom:
                @Html.Partial(Model.CustomGridDisplayModeViewName, Model)
                break;

            default:
                var message = string.Format("Display mode {0} is not supported", Model.DisplayMode);
                throw new NotImplementedException(message);
        }
    }

    <div id="grid-data" class="hidden">
        <script type="text/javascript">
            @(Model.BindingPrefix + "GridData") = @(Model.GetRowsAsJson());
        </script>
    </div>

    @if (!Model.IsPaginationRenderedSeparately)
    {
        @Html.Partial("~/Views/Grid/_Pagination.cshtml", Model)
    }
    
</div>