﻿@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.Helpers
@model GridViewModel
<div>
    <table id="grid-update">
        <tbody>
            @Html.Partial("~/Views/Grid/_TableData.cshtml", Model)
        </tbody>
    </table>

    <div id="grid-data" class="hidden">
        <script type="text/javascript">
            Grid.mergeGridData(@TreeViewRenderHelper.ParentItemsIds(Model.Rows), @(Model.BindingPrefix + "GridData"), @(Model.GetRowsAsJson()));
        </script>
    </div>
</div>
