﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.Resources
@model GridViewModel

@{
    var paginationButtons = Model.GetPaginationButtons();
}

@if (!paginationButtons.IsNullOrEmpty())
{
    <ul class="pagination" @if (Model.IsPaginationRenderedSeparately) { <text>data-component-ref="@Model.ComponentId"</text> }>
        @foreach (var paginationElement in paginationButtons)
        {
            <li class="@paginationElement.GetCssClass()">
                @if (paginationElement.IsDisabled || paginationElement.IsActive)
                {
                    <a>@paginationElement.Caption</a>
                }
                else
                {
                    <a data-target-page="@paginationElement.TargetPage" title="@paginationElement.Hint" tabindex="0" data-hotkey="@paginationElement.Hotkey">@paginationElement.Caption</a>
                }
            </li>
        }
    </ul>
}
else
{
    <div class="record-count-footer">@string.Format(CardIndexResources.RecordCountFormat, Model.RecordCount)</div>
}
