﻿@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.Presentation.Renderers.Toolbar.Actions
@model CommandButtonsViewModel

@foreach (var group in Model.Groups)
{
    <div class="@(group.CssClass ?? "btn-group")">
    @foreach (var button in group.Buttons)
    {
        var dropDownAction = button.OnClickAction as DropdownAction;
        if (dropDownAction != null)
        {
            if (group.Buttons.Count == 1)
            {
                @Button(button)
                @Html.Partial("~/Views/Grid/_ButtonDropDown.cshtml", dropDownAction.Items)
            }
            else
            {
                <div class="@(group.CssClass ?? "btn-group")">
                    @Button(button)
                    @Html.Partial("~/Views/Grid/_ButtonDropDown.cshtml", dropDownAction.Items)
                </div>
            }
        }
        else
        {
            @Button(button)
        }
    }
    </div>
}

@helper Button(ICommandButton button) {
    <button type="button" class="@button.GetButtonCssClass()"
        @if (button.ShouldBeInitiallyDisabled()) {<text> disabled="disabled"</text>}
        @if (button.OnClickAction is DropdownAction) {<text> data-toggle="dropdown"</text>}
        @Html.Raw(button.Availability.GetHtmlAttributes())
        @Html.Raw(button.GetHtmlAttributes())>@Html.Raw(button.GetInnerHtml())</button>
}