﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.Presentation.Renderers.Toolbar.Actions
@model CommandButtonsViewModel

@if (Model.Groups.Any())
{
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Bootstrap().Icon(Glyphicons.ChevronDown)</button>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Groups.WithIndex())
            {
                var group = item.Item;

                if (!item.IsFirst)
                {
                    <li class="divider"></li>
                }

                foreach (var button in group.Buttons)
                {
                    <li class="@button.GetListItemCssClass()" @Html.Raw(button.Availability.GetHtmlAttributes())>
                        <a href="#" @Html.Raw(button.GetHtmlAttributes())>@Html.Raw(button.GetInnerHtml(false))</a>
                        @{
                            var dropDownAction = button.OnClickAction as DropdownAction;
                            if (dropDownAction != null)
                            {
                                @Html.Partial("~/Views/Grid/_ButtonDropDown.cshtml", dropDownAction.Items)
                            }
                        }
                    </li>
                }
            }
        </ul>
    </div>
}