﻿@using System.Web.Mvc.Html
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Resources
@using SortDirection = Smt.Atomic.CrossCutting.Common.Enums.SortingDirection

@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel

@{
    var columns = Model.Columns.GetAll();
    var columnCount = columns.Count;
    var hasRows = Model.Rows.Any();
}

<div class="grid-table hide-content">
    <table class="table table-striped table-bordered table-hover@(Model.IsCondensed ? " table-condensed" : string.Empty)@(Model.HasRowGrouping ? " table-grouped" : string.Empty)">
        <thead>
            <tr>
                @foreach (var column in columns)
                {
                    if (column.IsSortable)
                    {
                        <th class="grid-column-header @column.HeaderCssClass" data-column-name="@column.SortByPropertyName">
                            <span>
                                @column.Label
                                @{
                                    if (column.SortingDirection == SortDirection.Unspecified) {<i class="fa fa-sort sort-hint"></i>}
                                    if (column.SortingDirection == SortDirection.Ascending) {<i class="fa fa-sort-asc"></i>}
                                    if (column.SortingDirection == SortDirection.Descending) {<i class="fa fa-sort-desc"></i>}
                                }
                            </span>
                        </th>
                    }
                    else
                    {
                        <th class="grid-column-header non-sortable @column.HeaderCssClass">@column.Label</th>
                    }
                }
                @if (!Model.RowButtons.IsNullOrEmpty())
                {
                    <th class="grid-column-header non-sortable">@ComponentResources.CommandColumnLabel</th>
                    columnCount++;
                }
            </tr>
        </thead>
        <tbody>
            @Html.Partial("~/Views/Grid/_TableData.cshtml", Model)
            @{
                if (!hasRows && !string.IsNullOrWhiteSpace(Model.EmptyListMessage))
                {
                    <tr><td colspan="@columnCount" class="empty-list-message">@Model.EmptyListMessage</td></tr>
                }
            }
        </tbody>
    </table>
</div>
