﻿@using Smt.Atomic.Business.Common.Interfaces
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.Presentation.Renderers.Helpers

@model GridViewModel

@{
    var columns = Model.Columns.GetAll();
    var rowGroups = Model.GetGroupedRows();

    foreach (var rowGroup in rowGroups)
    {
        var rows = rowGroup.ToList();
        var rowCount = rows.Count;

        var rowLabel = rowGroup.Key;

        if (!string.IsNullOrWhiteSpace(rowLabel))
        {
            <tr class="row-label no-click">
                <td colspan="@columns.Count">@rowLabel</td>
            </tr>
        }

        foreach (var rowItem in rows.WithIndex())
        {
            var row = rowItem.Item;

            var treeNodeRow = row as ITreeNodeItemViewModel;
            var gridViewRow = row as IGridViewRow;

            <tr class="@GridRenderHelper.GetRowCss(row, TreeViewRenderHelper.GetRowCss(row, rowItem.Index, rowCount))" @Html.Raw(GridRenderHelper.GetRowDataAttributes(row, TreeViewRenderHelper.GetRowDataTagAttributes(row, rowItem.Index, rowCount))) tabindex="0">

                @foreach (var columnItem in columns.WithIndex())
                {
                    var column = columnItem.Item;
                    var cellValue = column.Render(row, Url);
                    var cellContent = cellValue as ICellContent;
                    var cellClass = cellContent != null
                        ? string.Format("{0} {1}", column.CssClass, cellContent.CssClass).Trim()
                        : column.CssClass;

                    <td class="@cellClass">
                        @if (columnItem.IsFirst && Model.IsCollapsibleTreeMode && treeNodeRow != null)
                        {
                            if (treeNodeRow.DescendantCount > 0 && columns.IndexOf(column) == 0)
                            {
                                <i class="tree-item-expander expander-state-to-load fa fa-plus-square-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-none"></i>
                            }

                            if (treeNodeRow.Depth > 0)
                            {
                                <div class="tree-twig-insert"></div>
                            }
                        }
                        @if (cellValue == null || cellValue is string)
                        {
                            @Html.Raw(cellValue)
                        }
                        else
                        {
                            @Html.Partial(column.ViewPath, cellValue)
                        }
                    </td>
                }
                @if (!Model.RowButtons.IsNullOrEmpty())
                {
                    <td class="row-buttons @(Model.RowMenuMode == RowMenuMode.HamburgerMenu ? " text-center" : string.Empty)">
                        @{ var buttons = Model.GetRowButtons(row); }
                        @if (Model.RowMenuMode == RowMenuMode.HamburgerMenu)
                        {
                            @Html.Partial("~/Views/Grid/_RowBurger.cshtml", buttons)
                        }
                        else
                        {
                            @Html.Partial("~/Views/Grid/_RowButtons.cshtml", buttons)
                        }
                    </td>
                }
            </tr>
        }
    }
}
