﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.Presentation.Renderers.Toolbar
@model TileViewModel

<div class="tile tile-fallback @Model.GetRowButtonClass()" tabindex="0">
    <div class="summary-layout">
        <form method="POST" class="form-horizontal" id="main-form">
            @Html.Bootstrap().DisplayForModel(Model.Row, new SummaryLayout())
        </form>
    </div>

    @if (Model.HasRowButtons())
    {
        <div class="row-buttons">
            @if (Model.RowMenuMode == RowMenuMode.HamburgerMenu)
            {
                @Html.Partial("~/Views/Grid/_RowBurger.cshtml", Model.RowButtons)
            }
            else
            {
                @Html.Partial("~/Views/Grid/_RowButtons.cshtml", Model.RowButtons)
            }
        </div>
    }
</div>
