﻿@using System.Web.Mvc.Html
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using SortDirection = Smt.Atomic.CrossCutting.Common.Enums.SortingDirection
@model Smt.Atomic.Presentation.Renderers.CardIndex.GridViewModel

@{
    var tableColumns = Model.Columns;
    var columns = tableColumns.GetAll();
    var columnCount = columns.Count;
    var hasRows = Model.Rows.Any();
    var tileViewName = Model.CustomGridDisplayModeViewName ?? "~/Views/Grid/_TileFallback.cshtml";
    var columnWidth = string.Format("{0:N0}%", 100.0/columnCount);
    var hideTiles = !string.IsNullOrWhiteSpace(Model.InitializeJavaScriptAction);
    var sortableColumns = columns.Where(column => column.IsSortable).ToList();
}

<div class="grid-table">
    <table class="table">
        @if (sortableColumns.Any())
        {
            <thead>
                <tr>
                    @foreach (var column in sortableColumns)
                    {
                        <th class="grid-column-header" data-column-name="@column.SortByPropertyName" width="@columnWidth">
                            <span>
                                @column.Label

                                @if (column.SortingDirection == SortDirection.Unspecified){<i class="fa fa-sort sort-hint"></i>}
                                @if (column.SortingDirection == SortDirection.Ascending){<i class="fa fa-sort-asc"></i>}
                                @if (column.SortingDirection == SortDirection.Descending){<i class="fa fa-sort-desc"></i>}
                            </span>
                        </th>
                    }
                </tr>
            </thead>
        }
        <tbody>
            @if (hasRows)
            {
                <tr>
                    <td class="tiles @(hideTiles ? "hide-content" : string.Empty)" colspan="@columnCount">
                        <div class="tiles-container">
                            @foreach (var row in Model.Rows)
                                {
                                    var tileModel = new TileViewModel
                                    {
                                        Row = row,
                                        RowMenuMode = Model.RowMenuMode,
                                        RowButtons = Model.GetRowButtons(row),
                                        Columns = tableColumns
                                    };

                                    @Html.Partial(tileViewName, tileModel)
                            }
                        </div>
                    </td>
                </tr>
            }

            @if (!hasRows && !string.IsNullOrWhiteSpace(Model.EmptyListMessage))
            {
                <tr><td colspan="@columnCount" class="empty-list-message">@Model.EmptyListMessage</td></tr>
            }
        </tbody>
    </table>
</div>
