﻿@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.CardIndex
@model GridViewModel

<div class="container-fluid" @if (Model.IsToolbarRenderedSeparately) { <text>data-component-ref="@Model.ComponentId"</text> }>
    <div class="row grid-toolbar">
        @{
            var hasButtons = Model.ShouldRenderToolbarButtons();
            var hasSearchBox = !Model.ShouldHideSearchBox;

            var searchBoxColumns = 4;
            var toolbarColumns = 8;

            if (!hasButtons)
            {
                searchBoxColumns += toolbarColumns;
            }

            if (!hasSearchBox)
            {
                toolbarColumns += searchBoxColumns;
            }
                
            if (hasSearchBox)
            {
                @* ReSharper disable UnknownCssClass *@
                <div class="search-box col-sm-@searchBoxColumns">
                    <div class="input-group">
                        <input class="form-control" type="text" name="@GridParameterModelBinder.SearchParameterUrlName" value="@Model.GridParameters.SearchPhrase" data-page-parameter autofocus placeholder="@Model.GetSearchBoxPlainPrompt()" accesskey="@Model.GetSearchBoxAccelerator()" data-hotkey-passthrough="@HotkeyHelper.GetHotkey(Key.Alt, Key.Shift, Key.Home) @HotkeyHelper.GetHotkey(Key.Alt, Key.Shift, Key.End) @HotkeyHelper.GetHotkey(Key.Alt, Key.Shift, Key.PageUp) @HotkeyHelper.GetHotkey(Key.Alt, Key.Shift, Key.PageDown) @HotkeyHelper.GetHotkey(Key.Alt, Key.Up)"/>

                        @if (Model.SearchAreas.Any())
                        {
                            <span class="input-group-addon areas-search-addon">
                                <i class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"></i>

                                <ul class="search-areas-dropdown dropdown-menu filter-menu">
                                    @foreach (var searchArea in Model.SearchAreas)
                                    {
                                        <li>
                                            <a href="#" class="@(searchArea.IsSelected ? "check" : "")">
                                                <input class="hidden" type="checkbox" data-search-area name="@searchArea.Name" @(searchArea.IsSelected ? "checked" : "") />
                                                <span>
                                                    @searchArea.DisplayName
                                                </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </span>
                        }

                        <span class="input-group-addon search-button-addon">
                            @Html.Bootstrap().Icon(Glyphicons.Search)
                        </span>
                    </div>
                </div>
                @* ReSharper restore UnknownCssClass *@
            }
            if (hasButtons)
            {
                @* ReSharper disable UnknownCssClass *@
                <div class="col-sm-@toolbarColumns">
                    <div class="burger-box">
                        <div class="burger-slices">
                            @if (Model.ShouldRenderFilters())
                            {
                                @Html.Partial("~/Views/Grid/_Filters.cshtml", Model.Filters)
                            }
                            @if (Model.ShouldRenderViewConfigurationDropdown())
                            {
                                @Html.Partial("~/Views/Grid/_ViewConfigurations.cshtml", Model.GridViewConfigurations)
                            }
                            @Html.Partial("~/Views/Grid/_ToolbarButtons.cshtml", Model.ToolbarButtons)
                        </div>
                        <div class="burger-button pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu" id="toolbar-burger-menu">
                            </ul>
                        </div>
                    </div>
                </div>
                @* ReSharper restore UnknownCssClass *@
            }
        }
    </div>
@if (Model.ShouldRenderContextMenu())
{
    @Html.Partial("~/Views/Grid/_ContextMenu.cshtml", Model)
}
</div>
