﻿@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Renderers.CardIndex
@using Smt.Atomic.Presentation.Renderers.Helpers
@using Smt.Atomic.WebApp.Resources

@model IReadOnlyCollection<Smt.Atomic.Presentation.Renderers.Interfaces.IGridViewConfiguration>
@{
    var defaultView = Model.SingleOrDefault(e => e.IsDefault);
    var selectedView = Request.QueryString[GridParameterModelBinder.GridViewNameParameterUrlName] ?? (defaultView == null ? string.Empty : defaultView.Identifier);
    var isSelected = Model.Any(v => v.Identifier == selectedView && !v.IsHidden);
}

<div class="btn-group view-configs-btn-group">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="view-configs-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="@AtomicResources.GridCustomViewsButtonText">
            <i class="@(IconHelper.GetCssClass(FontAwesome.Table) + (isSelected ? " has-active-items" : string.Empty))"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu grid-view-menu">
            <li role="presentation" class="dropdown-header">@AtomicResources.GridCustomViewsButtonText</li>
            @foreach (var viewConfig in Model.Where(c => !c.IsHidden))
            {
                <li role="presentation">
                    <a role="menuitem" data-view-config="@viewConfig.Identifier" class="filter-menu-item @(viewConfig.Identifier == selectedView ? "radio" : string.Empty)">
                        <span>@viewConfig.Name</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>