﻿@using Smt.Atomic.WebApp.Areas.MeetMe.Models
@using Smt.Atomic.WebApp.Areas.MeetMe.Resources
@model EmployeeReviewProcessOverviewViewModel

<div class="row">
    <section id="conference-timeline">
        <div class="timeline-end">@MeetingOverviewResources.Now</div>

        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">

            @{
                int year = 0;

                var dates = !string.IsNullOrEmpty(Model.EmployeeFullName)
                    ? Model.AllocationRequests.Select(a => a.HappenedOn)
                     .Union(Model.Meetings.Select(a => a.HappenedOn))
                     .Union(Model.Feedbacks.Select(a => a.HappenedOn))
                     .Union(Model.EmploymentPeriods.Select(a => a.HappenedOn))
                     .Union(Model.LineManagerChanges.Select(a=> a.HappenedOn))
                     .OrderByDescending(a => a.Date)
                     .Distinct()
                    : new List<DateTime>();
            }

            @foreach (var date in dates)
            {
                if (year == 0)
                {
                    year = date.Year;
                }

                if (year != date.Year)
                {
                    <div class="timeline-start">@year</div>
                    year = date.Year;
                }
                <div>
                    @foreach (var feedback in @Model.Feedbacks.Where(e => e.HappenedOn == date))
                    {
                        @Html.Partial("~/Areas/MeetMe/Views/Shared/_Feedback.cshtml", feedback);
                    }

                    @foreach (var meeting in @Model.Meetings.Where(e => e.HappenedOn == date))
                    {
                        @Html.Partial("~/Areas/MeetMe/Views/Shared/_Meeting.cshtml", meeting);
                    }

                    @foreach (var allocationRequest in @Model.AllocationRequests.Where(e => e.HappenedOn == date))
                    {
                        @Html.Partial("~/Areas/MeetMe/Views/Shared/_ProjectAllocation.cshtml", allocationRequest);
                    }

                    @foreach (var employmentPeriod in @Model.EmploymentPeriods.Where(e => e.HappenedOn == date))
                    {
                        @Html.Partial("~/Areas/MeetMe/Views/Shared/_EmploymentPeriod.cshtml", employmentPeriod);
                    }

                    @foreach (var lineMangerChanged in @Model.LineManagerChanges.Where(e => e.HappenedOn == date))
                    {
                        @Html.Partial("~/Areas/MeetMe/Views/Shared/_LineMangerChanged.cshtml", lineMangerChanged);
                    }
                </div>
            }
        </div>
        <div class="timeline-start">@year </div>
    </section>
</div>