﻿@using Newtonsoft.Json
@using Smt.Atomic.WebApp.Areas.Reports.Resources

@model Smt.Atomic.WebApp.Areas.Reports.Models.Chart.UtilizationChartViewModel

@section header
{
    <div id="filter-header"></div>

    <style>
        div.dropdown-menu {
            max-height: 200px;
            overflow: hidden;
            overflow-y: auto;
        }
    </style>
}

<div id="report-chart-page">
    <div id="chart-table"></div>
    <div id="text-test" style="position: absolute; visibility: hidden; height: auto; width: auto; white-space: nowrap; font-size: 6px;">
    </div>
</div>

@section scripts {
    @Scripts.Render("~/scripts/react", "~/scripts/react-ui", "~/scripts/utilization-report")

    @{
        var json = JsonConvert.SerializeObject(Model, Formatting.Indented, new JsonSerializerSettings() { DateFormatString = "yyyy-MM-ddThh:mm:ssZ" });
        var translations = JsonConvert.SerializeObject(new
        {
            ReportResources.NoData,
            ReportResources.OrgUnitLabel,
            ReportResources.LocationLabel,
            ReportResources.JobProfileLabel,
            ReportResources.LevelLabel,
            ReportResources.HoursLabel,
            ReportResources.ChangeFiltersLabel,
            ReportResources.DisplayTypeLabel,
            ReportResources.HoursDisplayOptionLabel,
            ReportResources.PercentageDisplayOptionLabel,
            ReportResources.MonthsInPastLabel,
        });
    }



    <script type="text/javascript">
        $(function () {
            UtilizationReport.create(@Html.Raw(json), @Html.Raw(translations));
        });
    </script>
}