﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Areas.Allocation.Models.AllocationValidationViewModel

<div style="max-width: 800px; margin: 0 auto">
    @foreach (var warning in Model.Warnings)
    {
        if (warning.ProjectId.HasValue)
        {
            var editProjectRouteData = new
            {
                Area = "Allocation",
                projectId = warning.ProjectId,
                period = warning.Period,
                employeeId = warning.Employee.Id
            };
            <div class="alert alert-warning">
                <strong>@warning.Employee.ToString()</strong> @AllocationRequestResources.OverAllocatedWarning <a target="_blank" href="@(Url.Action("ResolveAllocation", "AllocationRequest", editProjectRouteData))">@AllocationRequestResources.SeeRequest</a>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>@warning.Employee.ToString()</strong> @AllocationRequestResources.OverAllocatedError
            </div>
        }
    }
</div>

<div style="display: none">
    <form method="POST" class="form-horizontal" id="main-form" action="@(Url.Action(ViewBag.SaveAction, "AllocationRequest", new {Area = "Allocation"}) + "?"+ Request.QueryString)">
        @Html.Hidden("Id", Model.ViewModel.Id)
        @Html.ValidationSummaryAsAlerts(true)
        @Html.Bootstrap().EditorForModel(Model.ViewModel, new HorizontalFormLayout(), Model.FormCustomization)
    </form>
</div>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@AllocationRequestResources.ConfirmWarning" form="main-form" onclick="Forms.submitRecordForm(this);" data-hotkey="ctrl+return" />
                <input type="button" class="btn btn-default" value="@AtomicResources.CancelButtonText" onclick="Forms.redirectToList();" data-hotkey="esc" />
            </div>
        </div>
    </div>
}