﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Accounts.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.Accounts.Models.RegistrationFromAuthorizationProviderViewModel

<form method="POST" class="form-horizontal" id="main-form" action="~/Accounts/UserRegistration/RegisterFromAuth">
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model, new HorizontalFormLayout())
</form>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@RegistrationResources.CreateAccountButtonText" form="main-form" />
                <input type="button" class="btn btn-default" value="@RegistrationResources.CancelButtonText" />
            </div>
        </div>
    </div>
}
