﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Resources
@using Smt.Atomic.Presentation.Renderers.Extensions;
@using Smt.Atomic.Presentation.Renderers.Enums;

@using (Html.BeginForm("ChangeTimeReports", "TimeReportChangeService", new { reportCode = ViewBag.ReportCode }, FormMethod.Post, new { id = "main-form", @class = "form-horizontal" }))
{
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model, new HorizontalFormLayout())
}

@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="@TimeReportChangeServiceResources.OkButtonText" form="main-form" onclick="$('#main-form').first().submit()" />
            <a class="btn btn-default" href="@Url.UriActionGet("List", "TimeReport", KnownParameter.None, "area", "TimeTracking", "filter", "this-month,all-employees").Url">@TimeReportChangeServiceResources.BackButtonText</a>
        </div>
    </div>
}