﻿@using Smt.Atomic.Presentation.Common.Helpers;
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers;
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts;
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Resources;
@using Smt.Atomic.Presentation.Renderers.Extensions;
@using Smt.Atomic.Presentation.Renderers.Enums;
@using Smt.Atomic.WebApp.Areas.ServiceOperations.Models;
@using Smt.Atomic.WebApp.Areas.TimeTracking.Controllers;

@model PerformTimeReportChangeServiceViewModel
                

<div class="grid-table hide-content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@TimeReportChangeServiceResources.TimeReportRowId</th>
                <th>@TimeReportChangeServiceResources.ProjectID</th>
                <th>@TimeReportChangeServiceResources.Employee</th>
                <th>@TimeReportChangeServiceResources.MonthText</th>
                <th>@TimeReportChangeServiceResources.YearText</th>
                <th>@TimeReportChangeServiceResources.TRStatusText</th>
                <th>@TimeReportChangeServiceResources.TaskName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.RecordsToChanged)
            {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.ProjectId</td>
                    <td>@record.TimeReport.Employee.FullName</td>
                    <td>@record.TimeReport.Month</td>
                    <td>@record.TimeReport.Year</td>
                    <td>@record.Status</td>
                    <td>@record.TaskName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using (Html.BeginForm("ConfirmChangeTimeReports", "TimeReportChangeService", FormMethod.Post, new { id = "main-form", @class = "form-horizontal" }))
{
    @Html.Bootstrap().EditorForModel(Model.ViewModel, new HiddenLayout())
}


@section footer
{
@{
    var cancelParameters = new[]
    {
       "area", @RoutingHelper.GetAreaName(typeof(TimeReportController)),
       "year", @RoutingHelper.ReplaceKnownTokens("%YEAR%"),
       "month", @RoutingHelper.ReplaceKnownTokens("%MONTH%"),
       "filter", "all-employees",
       "view", "default"
    };
}
    <div class="form-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="@TimeReportChangeServiceResources.OkButtonText" form="main-form" onclick="$('#main-form').first().submit()" />
            <a class="btn btn-default" href="@Url.UriActionGet("List", "TimeReport", KnownParameter.None, cancelParameters).Url">@TimeReportChangeServiceResources.BackButtonText</a>
        </div>
    </div>
}