﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.RichTextEditor.RichTextEditorRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass  @Model.GetVisibilityClass()" title="@Model.Tooltip">
    @if (string.IsNullOrWhiteSpace(Model.Value))
    {
        <span class="empty-text">@RenderersResources.EmptyText</span>
    }
    else
    {
        <div class="pre-wrap">@(new RawString(Model.Value))</div>
    }
</div>
