﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.RichTextEditor.RichTextEditorRenderingModel

<div class="form-group @Model.CssClass  @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="@Model.ControlWidthClass">
        <textarea @(Model.GetInputTagAttributes())>@Model.Value</textarea>
    </div>
    <span class="@Model.GetValidationSpanClass()"
            data-valmsg-replace="true"
            data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>