﻿#common-dialog-document-viewer {
    .modal-dialog {
        max-width: 95%;
        width: auto;
        display: flex;

        .modal-content {
            margin: 0 auto;

            .pdf-frame {
                width: calc(~"100vw - 150px");
                height: calc(~"100vh - 240px");
            }

            .img-frame {
                max-width: 100%;
            }
        }
    }
}
