﻿@import '../../../Content/Dante/Progress.less';

@outlook-color-blue: #55ABE5;
@outlook-color-green: #5FBE7D;
@outlook-color-purple: #A895E2;
@outlook-color-red: #F07D88;
@outlook-color-yellow: #FFF100;
@outlook-color-orange: #FF8C00;

.timeline-item-header {
    font-size: small;
}

.timeline-item-content {
    margin-top: 7px;
}

.timeline-table > tbody > tr > td {
    padding: 8px 16px;
}

.email-body-frame {
    border: 1px solid #ddd;
    width: 100%;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.model-details {
    .list-view-context {
        margin-left: 0;
        margin-right: 0;

        .panel-body {
            padding-top: 5px;
            padding-bottom: 5px;

            h2 {
                margin-top: 0;
            }
        }

        .panel-heading {
            &.accordion-toggle::after {
                font-family: 'Glyphicons Halflings';
                content: "\e114";
                float: right;
                color: grey;
                margin-right: 10px;
            }

            &.accordion-toggle.collapsed::after {
                content: "\e080";
                margin-right: 10px;
            }

            .model-property {
                padding-left: 10px;
                color: grey;

                .property-label {
                    &:after {
                        content: ':';
                    }
                }
            }
        }

        .model-property-list {
            .property-value:not(:last-child) {
                &:after {
                    content: "\201A";
                }
            }
        }
    }
}

.model-details {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.btn-not-typical-action {
    font-style: italic;
}

.text-list {
    .list-row:not(:last-child) {
        &:after {
            content: "\201A";
        }
    }
}

.candidate-record-contact-email, .candidate-record-contact-skype {
    word-break: break-all;
}

.inbound-email-unread-row {
    font-weight: bold;
}

.inbound-email-others-read-row {
    font-style: italic;
}

table tbody td p {
    margin: 0;
}

i.fa.before-text {
    margin-right: 3px;
}

div.panel-body table {
    margin-bottom: 0;
}

div.timeline-item-content table {
    margin-bottom: 0;
}

.favorite-candidate {
    td:first-child {
        &:before {
            content: "♥";
        }
    }
}

.recruitment-step-details-panel {
    max-height: none;
}

.flagTdColor(@color) {
    td:first-child {
        position: relative;

        &:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            content: "";
            width: 4px;
            background-color: @color;
        }
    }
}

.flagMenuColor(@color) {
    display: flex;
    flex: 1 auto;
    align-items: center;

    a {
        width: 100%;
    }

    &:before {
        height: 1em;
        width: 1em;
        content: "";
        background-color: @color;
        position: absolute;
        margin-left: 4px;
        border: 1px solid #333;
        z-index: 1;
    }
}

tr {
    &.category {
        &-red {
            .flagTdColor(@outlook-color-red);
        }

        &-blue {
            .flagTdColor(@outlook-color-blue);
        }

        &-green {
            .flagTdColor(@outlook-color-green);
        }

        &-orange {
            .flagTdColor(@outlook-color-orange);
        }

        &-yellow {
            .flagTdColor(@outlook-color-yellow);
        }

        &-purple {
            .flagTdColor(@outlook-color-purple);
        }
    }
}

li {
    position: relative;

    &.category {
        &-red {
            .flagMenuColor(@outlook-color-red);
        }

        &-blue {
            .flagMenuColor(@outlook-color-blue);
        }

        &-green {
            .flagMenuColor(@outlook-color-green);
        }

        &-orange {
            .flagMenuColor(@outlook-color-orange);
        }

        &-yellow {
            .flagMenuColor(@outlook-color-yellow);
        }

        &-purple {
            .flagMenuColor(@outlook-color-purple);
        }
    }
}

.recruitment-process-step-grid {
    .table {
        margin-bottom: 0;
        background-color: inherit;

        &, tbody, tr, td, .recruitment-process-step {
            border: 0;
        }

        tr {
            td {
                padding: 4px 8px;
            }

            &:first-child {
                td {
                    padding-top: 0;
                }
            }

            &:last-child {
                td {
                    padding-bottom: 0;
                }
            }

            display: flex;
        }

        td:first-child, td:last-child {
            padding-left: 0;
            padding-right: 0;
        }

        .grid-column {
            flex: 1;

            &-planned-on {
                text-align: right;
            }
        }
    }
}

.grid-table .row-buttons:not(td) {
    border: 0;
    background: inherit;

    i {
        margin-left: 0;
    }
}

@positive-color: #5CB85C;
@negative-color: #ff4444;
@none-color: #808080;

.size(@size) {
    width: @size;
    min-width: @size;
    max-width: @size;
    height: @size;
    min-height: @size;
    max-height: @size;
}

.status(@icon, @color) {
    color: @color;

    & {
        border: none;
    }

    &:before {
        min-height: 15px;
        min-width: 15px;
        content: @icon;
        font-family: FontAwesome;
        font-style: normal;
        display: inline-block;
        padding-right: 6px;
        top: -1px;
        color: @color;
    }
}

.item(@color) {
    & > a {
        color: black;

        &:any-link {
            text-decoration: none;
        }

        & > * {
            border-radius: 5px;
            border: 1px solid #dddddd;
            cursor: pointer;
            background: #fafafa;

            & > label {
                cursor: pointer;
                color: @color;
            }
        }
    }

    &:not(:last-child):after {
        .arrow(#fafafa, 10px);
        right: -9px;
    }

    &:not(:last-child):before {
        .arrow(#dddddd, 10px);
    }

    &.current-step {
        & * {
            background: white;
            border-color: black;
        }

        &:not(:last-child):after {
            .arrow(white, 10px);
            right: -9px;
        }

        &:not(:last-child):before {
            .arrow(black, 10px);
        }
    }
}

.arrow(@color, @borderSize) {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    right: -10px;
    top: 30%;
    border: @borderSize solid transparent;
    border-left-color: @color;
}

.recruitment-process-step-timeline {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    overflow: auto;

    &::-webkit-scrollbar {
        height: 8px;
        background: #fafafa;
    }

    &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 3px;
    }

    .timeline {
        &-item {
            flex: 1 1;
            line-height: 23px;
            padding: 0 10px;
            max-width: 20%;
            margin-bottom: 5px;

            &.positive {
                .item(@positive-color);
            }


            &.negative {
                .item(@negative-color);
            }

            &.none {
                .item(@none-color);
            }

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }

            span:not(:last-child):after {
                content: ' · '
            }
        }

        &-details {
            padding: 0 10px;
            white-space: nowrap;

            .positive-status {
                .status('\f087', @positive-color);
            }

            .none-status {
                .status('\f250', @none-color);
            }

            .negative-status {
                .status('\f088', @negative-color);
            }
        }

        &-assignee {
            font-size: 12px;
            display: inline;
        }

        &-status-description {
            padding-top: 3px;
            font-weight: normal;
            margin-bottom: 0;
        }
    }
}
