﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Common.Models.Alerts
@using Microsoft.Security.Application;
@model List<AlertViewModel>

@if (!Model.IsNullOrEmpty())
{
    <div class="alert-container">
        @foreach (var alert in Model)
        {<div class="alert @alert.GetCssClass() @alert.GetDismissableCssClass()">
                @{
                    if (alert.IsDismissable)
                    {
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    }
        }<div class="alert-message">@Html.Raw(Sanitizer.GetSafeHtmlFragment(alert.Message))</div>
    </div>}
</div>

ViewContext.Controller.ViewData.Add(AlertViewModel.AlertDisplayedMarkerKey, true);
}
