﻿@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Layout.LayoutViewModel
@{ var navigation = Model.Navigation; }

@if (!navigation.BreadcrumbBar.Items.IsNullOrEmpty())
{
    <ul class="breadcrumb">
        @for (var index = 1; index < navigation.BreadcrumbBar.Items.Count; index++)
        {
            var isLast = index == navigation.BreadcrumbBar.Items.Count - 1;
            var item = navigation.BreadcrumbBar.Items[index];

            if (isLast || string.IsNullOrWhiteSpace(item.Url) || item.Url == "#")
            {
                <li class="active">@item.DisplayName</li>
            }
            else
            {
                <li><a href="@item.Url">@item.DisplayName</a></li>
            }
        }

        <li class="no-slash">@Html.Partial("~/Views/Grid/_FilterTags.cshtml")</li>
        <li class="environment-label @navigation.EnvironmentName.ToLower() @(CurrentPrincipal.IsAuthenticated && CurrentPrincipal.IsInRole(SecurityRoleType.CanSwitchBetweenStageAndProd) ? "can-switch" : "")">@navigation.EnvironmentName</li>
    </ul>
}