﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

<div class="list-view-context">
    <div class="summary-heading">
        <a id="summary-collapse-button" class="accordion-toggle @(Model.IsContextViewCollapsed ? "collapsed" : "")" data-toggle="collapse" href="#summary-content-long"></a>
    </div>
    <div class="container-fluid summary-layout">
        <div id="summary-content-short" class="short-description" style="display:@(Model.IsContextViewCollapsed ? "block" : "none")">
            @Model.ContextViewModel.ToString()
        </div>
        <form class="form-horizontal">
            <div id="summary-content-long" class="panel-collapse collapse @(Model.IsContextViewCollapsed ? "out" : "in")">
                @Html.Bootstrap().DisplayForModel(Model.ContextViewModel, Model.ContextSettings.GetLayout())
            </div>
        </form>
    </div>
</div>