﻿@using Smt.Atomic.Presentation.Renderers.CardIndex.Panel;

@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var panelContextModel = (IPanelViewModel)Model.ContextViewModel;
    var properties = panelContextModel.Properties.ToList();
    var hasProperties = properties.Any();

    var initialCollapseClass = Model.IsContextViewCollapsed ? string.Empty : " in";
}

<div class="panel list-view-context @panelContextModel.CssClass">
    @if (!string.IsNullOrWhiteSpace(panelContextModel.TitleHtml))
    {
        <div class="panel-heading">
            @Html.Raw(panelContextModel.TitleHtml)

            @if (hasProperties)
            {
                <a class="accordion-toggle" data-toggle="collapse" href="#list-view-context-panel-body"></a>
            }
        </div>
    }

    @if (hasProperties)
    {
        var propertyGroups = properties.GroupBy(p => p.GroupName);

        <div id="list-view-context-panel-body" class="collapse@(initialCollapseClass)">

            @foreach (var propertyGroup in propertyGroups)
            {
                <div class="panel-body">
                    @foreach (var property in propertyGroup)
                    {
                        <span class="model-property @property.CssClass">
                            <span class="property-label">@Html.Raw(property.LabelHtml)</span>
                            <span class="property-value">@Html.Raw(property.ValueHtml)</span>
                        </span>
                    }
                </div>
            }

        </div>
    }

    @if (!string.IsNullOrWhiteSpace(panelContextModel.FooterHtml))
    {
        <div class="panel-footer">@Html.Raw(panelContextModel.FooterHtml)</div>
    }
</div>