﻿@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.Models.Layout.LayoutViewModel

<div class="footer-oneliner container-fluid">
    <span>@Html.Raw(AtomicResources.FooterCopyrightNotice)</span>
    <span class="spacer">·</span> 
    <span>@Html.Raw(AtomicResources.FooterPoweredByAtomic)</span>
    <span class="spacer">·</span>
    <span>@Html.Raw(AtomicResources.FooterIssueFoundPrompt)</span>
</div>

