﻿@using Smt.Atomic.WebApp.Extensions
@using StackExchange.Profiling
<!DOCTYPE html>
@{
    var layoutModel = ViewData.GetLayoutModel();
}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>@layoutModel.PageTitle</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    @Styles.Render("~/styles/libs")
    @Styles.Render("~/styles/atomic")
    @Styles.Render("~/styles/site")
    @Styles.Render(layoutModel.Css.StyleSheetPaths.ToArray())
    @Scripts.Render("~/scripts/modernizr")
    @RenderSection("head", required: false)
    <meta name="description" content="@layoutModel.PageTitle"/>
    @if (!string.IsNullOrWhiteSpace(layoutModel.AnalyticsScript))
    {
        <script type="text/javascript"> @Html.Raw(layoutModel.AnalyticsScript)</script>
    }
</head>
    <body class="@layoutModel.Css.BodyClass @layoutModel.AutomationIdentifier" data-culture="@layoutModel.CurrentUICulture">
        <div class="page-layout">
            <div class="header-section">
                @Html.Partial(layoutModel.PageHeaderViewName, layoutModel)
                @RenderSection("header", required: false)
            </div>
            <div class="content-section">
                <div class="content-wrapper">
                    <div class="content container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="footer-section">
                @RenderSection("footer", required: false)
                @Html.Partial("_Footer", layoutModel)
            </div>
        </div>        
        
        <!-- Script Section -->
        @Scripts.Render("~/scripts/libs")
        @Html.GlobalDataScript()
        @Scripts.Render("~/scripts/atomic-bundle")
        @Scripts.Render("~/scripts/inferno-bundle")
        @Html.FooterWebResources()
        @Scripts.Render(layoutModel.Scripts.ScriptPaths.ToArray())
        @RenderSection("scripts", required: false)
        <!-- / Script Section -->
        @MiniProfiler.RenderIncludes()
    </body>
</html>
