﻿<button class="btn" data-toggle="collapse" data-target="#lorem-ipsum-content">Lorem ipsum</button>
<div class="lorem-ipsum">
    <div id="lorem-ipsum-content" class="collapse">
        <p>Lorem ipsum dolor sit amet, in diceret utroque recteque cum! Nec vitae habemus definiebas eu. Ad dicat saepe aperiam sed, posse phaedrum nec ne? Et reformidans dissentiunt vim, ea homero contentiones intellegebat qui.</p>

        <p>Id voluptatum appellantur eos, eu suas mazim prodesset eam. Mollis alienum ea sea, sea cu lobortis incorrupte reprehendunt! Decore eripuit dolorem mei eu, ullum ocurreret eam at. Sed nulla novum necessitatibus an, usu ne labore accumsan ponderum! Quo magna ipsum quaestio ut, mea ut malis affert utamur, mundi eligendi fabellas ea vix.</p>

        <p>Feugiat alienum inciderint eos ei. Cum ad simul eruditi disputando, at scripta posidonium liberavisse has? Nec te tation possit corrumpit, probo aperiam quaeque cu mel, no audire erroribus voluptaria his? Te quo errem mucius expetendis, eos at justo expetendis!</p>

        <p>Utamur scriptorem sea ad. Mel ex invidunt consetetur. An vel putent accusam. Pro enim habeo detracto at. An dolor aperiri appetere ius, libris blandit persequeris at eum. Eam singulis tacimates id. Sit te case debitis evertitur, prima aperiam ea est?</p>

        <p>Sit solum augue tractatos in. Id vel soluta graeci? Eu vix epicuri omnesque expetendis, quo aperiam tritani an. Id exerci suavitate mnesarchum mel.</p>

        <p>Sumo causae vidisse id mea, at sea magna detracto, ne nam vidit aperiri facilis. No verear quaerendum cum, partem explicari interesset vix ut. Ne eos wisi detraxit, te hinc omittam usu, eam lorem detraxit eu? Posse nonumy mel cu, recusabo eleifend forensibus no vis. Pro cu omnis iuvaret mandamus. Mea meliore intellegam ex, no his iudicabit prodesset. Aeque patrioque interesset per ex, oblique fabellas pro no!</p>

        <p>Wisi audire luptatum et sea? Cu prompta fierent sed. Est no tation utinam labore, vocent necessitatibus sed at, has odio sonet decore ut. Consulatu similique ullamcorper eam ne, id ubique nostrud eleifend vel?</p>

        <p>Propriae persecuti instructior an eos. Autem atqui signiferumque in his? Usu id eripuit intellegam. Ex pri tantas persecuti, ea mel dicant legimus adversarium, homero deleniti no mel! Nam an summo invenire!</p>

        <p>Usu ad quot offendit. Ut atqui decore elaboraret cum, ius ad suscipit gubergren, cu dico placerat vix. Vim animal appellantur an. Duo no habeo nostro. Et atqui sententiae eam, alia natum oportere per at, vivendo abhorreant eu mea! In vix veri labitur, cu mea mazim denique erroribus.</p>

        <p>Amet elit vulputate has at. Labore doctus laboramus ne duo! Cu hinc wisi exerci ius. Eam ceteros disputationi ad, sea ei nostrud minimum pertinacia! At ius illum dicam, an atqui debet per, no recusabo posidonium pro. Ad nec sumo gloriatur disputationi, duo vide zril nonumy eu, ei vis aliquip accusam.</p>
    </div>
</div>
