﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.SiteMap.Models
@model Smt.Atomic.Presentation.Renderers.Models.Layout.LayoutViewModel

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Model.Navigation.GetLandingPageUrl(Url)"><span class="logo"><img src="@Url.Content(Model.LogoUrl)" alt="@Model.ProjectName" /></span>@Model.ProjectName</a>
        </div>
        <div id="main-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @for (var i = 0; i < Model.Navigation.Menu.Count; i++)
                {
                    var item = Model.Navigation.Menu[i];
                    if (!item.Items.Any())
                    {
                        <li><a href="@item.GetUrl(Url)" @Html.Raw(item.GetInputTagAttributes(i + 1))>@Html.Raw(item.GetTextMarkup())</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@item.GetUrl(Url)" @Html.Raw(item.GetInputTagAttributes(i + 1))>@Html.Raw(item.GetTextMarkup()) <b class="caret"></b></a>
                            @DropdownMenu(item.Items)
                        </li>
                    }
                }
            </ul>
            @Html.Partial("_UserMenu", Model.Navigation.CurrentUser)
        </div>
    </div>
</nav>

@helper DropdownMenu(List<MenuItem> menuItems)
{
    <ul class="dropdown-menu">
        @foreach (var itemGroup in menuItems.GroupBy(i => i.GroupName).WithIndex())
        {
            if (!itemGroup.IsFirst)
            {
                <li><hr class="divider"/></li>
            }

            var groupItems = itemGroup.Item.ToList();

            for (var i = 0; i < groupItems.Count; i++)
            {
                var menuItem = groupItems[i];

                if (!menuItem.Items.Any())
                {
                    <li>
                        <a href="@menuItem.GetUrl(Url)" @Html.Raw(menuItem.GetInputTagAttributes())>@Html.Raw(menuItem.GetTextMarkup())</a>
                    </li>
                }
                else
                {
                    if (i > 0 && (ShouldInlineDropdown(groupItems[i - 1]) || ShouldInlineDropdown(menuItem)))
                    {
                        <li class="divider sub-divider"></li>
                    }

                    if (ShouldInlineDropdown(menuItem))
                    {
                        <li role="presentation" class="dropdown-header">@menuItem.Text</li>

                        foreach (var item in menuItem.Items)
                        {
                            <li>
                                <a href="@item.GetUrl(Url)" @Html.Raw(item.GetInputTagAttributes())>@Html.Raw(item.GetTextMarkup())</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="dropdown-submenu">
                            <a href="@menuItem.GetUrl(Url)" @Html.Raw(menuItem.GetInputTagAttributes())>@Html.Raw(menuItem.GetTextMarkup())</a>
                            @DropdownMenu(menuItem.Items)
                        </li>
                    }
                }
            }
        }
    </ul>
}

@functions
{
    bool ShouldInlineDropdown(MenuItem menuItem)
    {
        return menuItem.Items.Count == 1;
    }
}