﻿@using Smt.Atomic.WebApp.Extensions
<!DOCTYPE html>
@{
    var layoutModel = ViewData.GetLayoutModel();
}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@layoutModel.PageTitle</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    @Styles.Render("~/styles/libs-atomic-print")
    @Styles.Render("~/styles/atomic-print")
    @Styles.Render(layoutModel.Css.StyleSheetPaths.ToArray())
    @Scripts.Render("~/scripts/modernizr")
    @RenderSection("head", required: false)

</head>
<body class="@layoutModel.Css.BodyClass @layoutModel.AutomationIdentifier" data-culture="@layoutModel.CurrentUICulture">
<div class="page-layout">
    <div class="header-section">
        @RenderSection("header", required: false)
    </div>
    <div class="content-section">
        <div class="content-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer-section">
        @RenderSection("footer", required: false)
    </div>
</div>

<!-- Script Section -->
@Scripts.Render("~/scripts/libs-atomic-print")
@Html.GlobalDataScript()
@Html.FooterWebResources()
@Scripts.Render(layoutModel.Scripts.ScriptPaths.ToArray())
@RenderSection("scripts", required: false)
<!-- / Script Section -->
</body>
</html>