﻿@using Smt.Atomic.Business.Accounts.Enums
@using Smt.Atomic.Business.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Enums
﻿@using Smt.Atomic.Business.Accounts.Enums
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Areas.Accounts.Resources
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.Presentation.Renderers.Models.Layout.CurrentUserViewModel

@if (Model.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right authenticated-user-info">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" accesskey="0">
                @if (Model.Id != null)
                {
                    <img src="@Url.Action("Download", "UserPicture", new { area = "Accounts", userId = Model.Id, userPictureSize = UserPictureSize.Normal })"
                         alt="@LayoutResources.UserPictureText"
                         title="@Model.FullName"
                         class="menu-user-image" />
                }
                else
                {
                    <span class=""menu-user-icon""><i class="glyphicon glyphicon-user"></i></span>
                }
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                @if (Model.CanViewOwnEmployeeProfile)
                {
                    <li><a href="@Url.Action("MyEmployeeProfile", "Employee", new { area = "Allocation" })">@EmployeeResources.MyProfile</a></li>
                }
                @if (Model.CanChangeOwnPassword)
                {
                    <li><a href="@Url.Action("ChangePassword", "Authentication", new { area = "Accounts" })">@LayoutResources.ChangePasswordMenuItemText</a></li>
                }
                @if (Model.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "MyConsents", new { area = "Consents" })">@LayoutResources.MyConsentsMenuItemText</a></li>
                }
                @if (Model.HasCorporateDetails)
                {
                    if (Model.CanChangeOwnPassword || Model.CanViewOwnEmployeeProfile)
                    {
                        <li class="divider"></li>
                    }
                    <li>
                        <span class="menu-user-info">
                            <span class="company-name">@Model.CompanyName</span>
                            @if (!string.IsNullOrWhiteSpace(Model.JobTitle))
                            {
                                <br />
                                <span class="position-name">@Model.JobTitle</span>
                            }
                        </span>
                    </li>
                }
                @if (Model.CanChangeOwnPassword || Model.HasCorporateDetails || Model.CanViewOwnEmployeeProfile)
                {
                    <li class="divider"></li>
                }
                @{
                    var logoutAction = Url.Action("LogOut", "Authentication", new { Area = "Accounts" });
                }
                <li><a href="@logoutAction">@LayoutResources.LogOutMenuItemText</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@(Url.Action("List", "UserChores", new { Area = "Accounts", order = "due-date" }))" class="chores">
                <span class="chores-notification menu-image">
                    <i class="fa fa-bell"></i>
                    @if (Model.ChoreCount > 0)
                    {
                         <span class="count label label-danger">@(Model.ChoreCount)</span>
                    }
                </span>

                <span class="chores-text">@LayoutResources.NotificationsText</span>
        </a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right anonymous-user-info">
        @{
            var loginAction = Url.Action("LogIn", "Authentication", new { Area = "Accounts" });
            var loginActionWithNtlmBypass = Url.Action("LogIn", "Authentication", new { Area = "Accounts", skipNtlm = true });
            var registerAction = Url.Action("Register", "UserRegistration", new { Area = "Accounts" });
            var resendEmailAction = Url.Action("ResendEmail", "UserRegistration", new { Area = "Accounts" });
            var isRegistrationAvailable = Model.Roles.Contains(nameof(SecurityRoleType.CanViewUserRegistrationForm));
            var isDropDownNotEmpty = Model.CanShowNtlmBypassLogin || isRegistrationAvailable;
        }
        <li>
            <a href="@loginAction" accesskey="0">
                @Html.Bootstrap().Icon(FontAwesome.SignIn) 
                @LayoutResources.LogInMenuItemText
            </a>
        </li>
        @if (isDropDownNotEmpty)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="X">@Html.Bootstrap().Icon(FontAwesome.Bars)</a>
                <ul class="dropdown-menu">
                    @if (Model.CanShowNtlmBypassLogin)
                    {
                        <li><a href="@loginActionWithNtlmBypass">@LayoutResources.LogInWithoutNtlmMenuItemText</a></li>
                    }
                    @if (isRegistrationAvailable)
                    {
                        <li><a href="@registerAction">@RegistrationResources.CreateAccountMenuText</a></li>
                        <li><a href="@resendEmailAction">@RegistrationResources.ResendEmailMenuText</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
}
