﻿@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.Accounts.Models
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Areas.Accounts.Controllers;
@using Smt.Atomic.WebApp.Models
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@model ModelBasedDialogViewModel<UserEmployeeHubViewModel>

@{
    UserEmployeeHubViewModel viewModel = Model.Model;
    var user = viewModel.User;
    var employee = viewModel.Employee;
}

@using (Html.BeginCommonDialog(Model))
{
    <link rel="stylesheet" type="text/css" href="/Content/Dante/UserEmployeeHub.css">

    <div class="modal-body">
        <div class="flex-row">

            <div class="profile-img">
                <img src="/Accounts/UserPicture/Download?userId=@(user.Id)">
            </div>

            <div class="profile-description">
                <h3 class="profile-header">
                    @(user.GetFullName())
                    @if (employee != null)
                    {
                        <span class="acronym"> (@(employee.Acronym))</span>
                    }
                </h3>

                @if (employee != null)
                {
                    <div class="profile-title">@(employee.JobTitleName)</div>

                    <div class="profile-table">
                        <div class="profile-table-row">
                            <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeOrgUnit):</div>
                            <div class="profile-table-cell">@(employee.OrgUnitName)</div>
                        </div>

                        <div class="profile-table-row">
                            <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeLocationLabel):</div>
                            <div class="profile-table-cell">@(employee.LocationName)</div>
                        </div>

                        <div class="profile-table-row">
                            <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeLineManager):</div>
                            <div class="profile-table-cell">@(employee.LineManagerFullName)</div>
                        </div>

                        <div class="profile-table-row">
                            <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeJobMatrixLabel):</div>
                            <div class="profile-table-cell">@(employee.JobMatrixName)</div>
                        </div>

                        <div class="profile-table-row">
                            <div class="profile-table-cell td-label">@(EmployeeResources.JobProfileNamesLabel):</div>
                            <div class="profile-table-cell">@(string.Join(", ", employee.JobProfileNames))</div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="modal-footer profile-actions">
        <a href="mailto:@(user.Email)" class="profile-action" title="@(EmployeeResources.Email)">
            <i class="fa fa-envelope"></i>
        </a>

        @if (employee != null)
        {
            if (employee.SkypeName != null)
            {
                <a href="skype:@(employee.SkypeName)" class="profile-action" title="@(EmployeeResources.EmployeeSkypeName)">
                    <i class="fa fa-skype"></i>
                </a>
            }

            <a href="/Organization/OrgUnitChart/OrgChart/@(employee.Id)?isEmployeeId=True&clipType=AncestorsOnly" class="profile-action" title="@(EmployeeResources.MeInOrgUnit)">
                <i class="fa fa-sitemap"></i>
            </a>

            if (viewModel.CanEditEmployeesResume)
            {
                <a href="/Resume/EmployeeResume/Index/@(employee.Id)" class="profile-action" title="@(EmployeeResources.Resume)">
                    <i class="fa fa-id-card"></i>
                </a>
            }
            if (viewModel.CanEditUsers && viewModel.User.CanBeEdited)
            {
                <a href="/Accounts/User/Edit/@(user.Id)" class="profile-action" title="@(EmployeeResources.EmployeeUser)">
                    <i class="fa fa-edit"></i>
                </a>
            }
            if (viewModel.CanViewEmploymentPeriods)
            {
                <a href="/Allocation/EmploymentPeriod/List?parent-id=@(employee.Id)" class="profile-action" title="@(EmployeeResources.EmploymentPeriod)">
                    <i class="fa fa-handshake-o"></i>
                </a>
            }
        }

        <span class="profile-action show-profile-details" onclick="UserEmployeeHub.expandProfileDetails()">
            <i class="fa fa-angle-down"></i>
        </span>
    </div>

    <div class="modal-body profile-details hide">
        <h4>@(EmployeeResources.MyDataTabName)</h4>
        <div class="profile-table">
            <div class="profile-table-row">
                <div class="profile-table-cell td-label">@(EmployeeResources.LoginLabel):</div>
                <div class="profile-table-cell">@(user.Login)</div>
            </div>

            <div class="profile-table-row">
                <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeEmailLabel):</div>
                <div class="profile-table-cell">@(user.Email)</div>
            </div>
        </div>

        @if (employee != null)
        {
            <h4>@(EmployeeResources.OrganizationTabName)</h4>
            <div class="profile-table">
                <div class="profile-table-row">
                    <div class="profile-table-cell td-label">@(EmployeeResources.EmployeeCompany):</div>
                    <div class="profile-table-cell">@(employee.CompanyName)</div>
                </div>
            </div>
        }

    </div>
}

