﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.GDPR.Dto.CandidateDataConsentExpiringReminderDto
@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Consts

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.DisplayName,</p>
        <p><a href="@(Model.CandidateUrl)">Candidate</a> <a href="@(Model.DataConsentUrl)">data consent</a> will expire on @(Model.ExpiresOn.ToString("D", new CultureInfo(CultureCodes.EnglishAmerican))).</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>