﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.GDPR.Dto.CandidateDataConsentExpiredReminderDto
@using System.Globalization
@using Smt.Atomic.CrossCutting.Common.Consts

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.DisplayName,</p>
        <p>
            <a href="@(Model.CandidateUrl)">Candidate</a>
            <a href="@(Model.DataConsentUrl)">data consent</a>
            has expired on @(Model.ExpiresOn.ToString("D", new CultureInfo(CultureCodes.EnglishAmerican)))

            @if (Model.IsAnonymized)
            {
                <text>and so their record has been anonymized</text>
            }
            .
        </p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>