﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.GDPR.Dto.RecommendingPersonHasManyDataOwnersReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.DisplayName,</p>
        <p><a href="@(Model.RecommendingPersonUrl)">Recommending person</a> has many data owners assigned. Please correct it manually.</p>
        <p>Links to candidate data owners:</p>
        @foreach (var dataOwnerUrl in Model.DataOwnerUrls)
        {
            <ul><li><a href="@(dataOwnerUrl)">@(dataOwnerUrl)</a></li></ul>
        }
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>