﻿@model Smt.Atomic.WebApp.Areas.Resume.Models.MyResumeViewModel
@using Smt.Atomic.WebApp.Resources
@using Newtonsoft.Json

<div id="resume-root" data-current-culture="@System.Globalization.CultureInfo.CurrentCulture.Name"></div>

@section head {
    @Styles.Render("~/resume/styles")
}

@section scripts
{
    @Scripts.Render("~/scripts/react", "~/resume/share", "~/resume/presentation", "~/resume/containers", "~/resume/entry")

    <script>
        @{
            var resumeDataJson = JsonConvert.SerializeObject(Model);
        }

        $(function() {
            Resume.Initialize(@Html.Raw(resumeDataJson))
        });
    </script>
}
