﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Controllers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Common.Helpers;
@using Smt.Atomic.CrossCutting.Common.Helpers;
@using Smt.Atomic.Presentation.Common.Converters;
@using Newtonsoft.Json;
@model BusinessTripTabViewModel<BusinessTripArrangementTrackingViewModel>

@{
    var participantsJson = JsonHelper.Serialize(Model.ViewModel.Participants, new JsonSerializerSettings
    {
        ContractResolver = new EnumKeyDictionaryResolver(),
    });
}

@section header
{
    @Html.Partial("BusinessTripContext")
}

@section scripts
{
    @Scripts.Render("~/scripts/react")
    @Scripts.Render("~/scripts/react-ui")
    @Styles.Render("~/styles/react-ui")

    @Styles.Render("~/Areas/BusinessTrips/Content/ArrangementTracking.css")
    @Scripts.Render("~/Areas/BusinessTrips/Scripts/ArrangementTracking.js")

    <script type="text/javascript">
        $(document).ready(function() {
            BussinessTrip.ArrangementTracking.Initialize(@(Model.ViewModel.BusinessTripId), @Html.Raw(participantsJson));
        });
    </script>
}

<div id="arrangement-tracking-grid"></div>

<!-- remarks editor -->
@using (Html.BeginForm(
    nameof(BusinessTripArrangementTrackingController.SaveRemarks),
    RoutingHelper.GetControllerName<BusinessTripArrangementTrackingController>(),
    FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Bootstrap().EditorForModel(Model.ViewModel)
}
