﻿@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Accounts.Models
@using Smt.Atomic.CrossCutting.Common.Extensions

@model TileViewModel
@{
    var choreModel = (ChoreViewModel)Model.Row;
}
<div class="tile chore-tile @Model.GetRowButtonClass()" tabindex="0">
    <div class="tile-header">
        <div class="tile-title"><strong>@(choreModel.Type.GetDescriptionOrValue())</strong></div>
        <div class="tile-date">@(choreModel.DueDate)</div>
    </div>

    <div class="tile-description">@(choreModel.Description)</div>

    <!-- class "row-commands" makes buttons clickable -->
    <div class="tile-actions row-commands">
        @Html.Partial("~/Views/Grid/_RowButtons.cshtml", new CommandButtonsViewModel(choreModel.Actions))
    </div>
</div>
