﻿@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CropImageUpload.CropImageUploadRenderingModel

<div class="inline-control @Model.CssClass @Model.GetVisibilityClass()"
     data-component="DocumentUpload.CropImageUpload"
     data-field-name="@Model.Name"
     data-field-id="@Model.Id"
     data-can-upload="@HtmlMarkupHelper.ToInputValue(Model.CanUpload)"
     data-can-download="@HtmlMarkupHelper.ToInputValue(Model.CanDownload)"
     data-is-multivalue="false"
     data-property-name="@Model.PropertyName"
     data-viewmodel-identifier="@Model.ViewModelIdentifier">
    <input type="hidden" name="@(Model.Name)-hidden" data-val="true" data-val-documentuploadinprogress="@RenderersResources.UploadInProgress" class="hidden-but-validate" accept="@Model.AcceptableContentTypes" />
    <div class="document-picker is-multivalue">
        <input type="file" class="document-upload" accept="image/*"/>
        <div class="input-group">
            <div class="item-container @(Model.CanUpload?"two-buttons":"single-button")">
                @if (Model.DocumentViewModel != null)
                {
                    <div data-id="@Model.DocumentViewModel.DocumentId" class="document-picker-item">
                        <div class="preview-image preview-image-center">
                            <img data-link="@Model.GetDownloadLink(Model.DocumentViewModel)" class="collapse" />
                        </div>
                        @if (Model.CanDownload)
                        {
                            <div style='text-align: center' class='document-picker-file-name'><a href="@Model.GetDownloadLink(Model.DocumentViewModel)">@Model.DocumentViewModel.DocumentName</a></div>
                        }
                        else
                        {
                            <div style='text-align: center' class='document-picker-file-name'>@Model.DocumentViewModel.DocumentName</div>
                        }
                        <input type="hidden" name="@(Model.GetItemNamePrefix()).TemporaryDocumentId" value="@Model.DocumentViewModel.TemporaryDocumentId" />
                        <input type="hidden" name="@(Model.GetItemNamePrefix()).DocumentId" value="@Model.DocumentViewModel.DocumentId" />
                        <input type="hidden" name="@(Model.GetItemNamePrefix()).ContentType" value="@Model.DocumentViewModel.ContentType" />
                        <input type="hidden" name="@(Model.GetItemNamePrefix()).DocumentName" value="@Model.DocumentViewModel.DocumentName" />
                    </div>
                }                
            </div>
            @if (!Model.IsReadOnly)
            {
                <div class="button-container">
                    <span class="document-picker-button document-picker-remove-button">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                    @if (Model.CanUpload)
                    {
                        <span class="document-picker-button document-picker-add-button">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    }
                </div>
            }
        </div>
    </div>
    <span class="field-validation-valid"
          data-valmsg-replace="true"
          data-valmsg-for="@(Model.Name)-hidden">
    </span>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>