﻿@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.WebApp.Models
@model ModelBasedDialogViewModel<OrgUnitHubViewModel>

@{
    OrgUnitHubViewModel viewModel = Model.Model;
}

@using (Html.BeginCommonDialog(Model))
{
    <p>Name: @(viewModel.Name)</p>
    <p>Flat Name: @(viewModel.FlatName)</p>

    if (viewModel.EmployeeId.HasValue)
    {
        <p data-hub-recordid="@(viewModel.EmployeeId)" data-hub-identifier="EmployeeValuePickers.Manager">@(viewModel.Employee.GetFullName())</p>
    }
}
