﻿@model Smt.Atomic.WebApp.Areas.Reports.Models.Chart.ChartViewModel
@{
    var years = Model.Rows.First().Cells.GroupBy(e => e.Date.Year);
}

<div class="chart-container" data-for="#@Model.Id">
    <div id="@Model.Id" class="chart"></div>
    <div data-currentweek="@Model.CurrentDate.ToShortDateString()">
        <table class="table table-striped table-bordered table-hover table-chart table-without-last-row">
            <thead>
                <tr>
                    <th></th>
                    @foreach (var date in years)
                    {
                        <th colspan="@date.Count()">@date.Key</th>
                    }
                </tr>
                <tr>
                    <th></th>
                    @foreach (var cell in Model.Rows.First().Cells)
                    {
                        <th class="numeric-column-wide @(Model.CurrentDate == cell.Date ? "selected-cell" : "")" data-time="@cell.Date.ToShortDateString()">@cell.Date.Month</th>
                    }
                </tr>
            </thead>
            <tbody>

            @{ int columnNo = 1;}
            @foreach (var row in Model.Rows)
            {
                <tr class="row_@(columnNo) @(row.IsChartRow ? " chart_row" : "")">

                    <td>@row.Label</td>
                    @foreach (var cell in row.Cells)
                    {
                        <td data-value="@cell.Value" class="numeric-column-wide align-right @(Model.CurrentDate == cell.Date ? "selected-cell" : "")">@cell.TextValue</td>
                    }
                </tr>

                {columnNo++;}
            }

            </tbody>
        </table>
    </div>
</div>
