﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models;
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Resources;
@using Smt.Atomic.WebApp.Areas.Workflows.Resources;
@using Smt.Atomic.CrossCutting.Business.Enums;
@using Smt.Atomic.CrossCutting.Common.Extensions;
@using Microsoft.Security.Application;
@using Smt.Atomic.Presentation.Renderers.Resources;
@using EnumHelper = Smt.Atomic.CrossCutting.Common.Helpers.EnumHelper;

@model BusinessTripTabViewModel<BusinessTripViewModel>

@section header
{
    @Html.Partial(Model.ContextSettings.ViewName, Model)
}

@{
    var businessTrip = (BusinessTripViewModel)Model.ViewModel;
    var participantUrl = "/BusinessTrips/BusinessTripParticipant/Edit/{0}?parent-id=" + businessTrip.Id;
}

<div class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label">@(BusinessTripResources.ItineraryDetailsLabel)</label>
        <div class="col-sm-9">
            @{
                var details = Sanitizer.GetSafeHtmlFragment(businessTrip.ItineraryDetails);
                
                if (!details.IsNullOrEmpty())
                {
                    <span>@Html.Raw(details)</span>
                }
                else
                {
                    <span class="empty-text">@(RenderersResources.EmptyText)</span>
                }
            }
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">@(BusinessTripResources.TransportationPreferencesLabel)</label>
        <div class="col-sm-9">
            @{
                var transportationParticipants = businessTrip.Participants.Where(p => p.TransportationPreferences != 0);
                var transportations = transportationParticipants.Aggregate((MeansOfTransport)0, (p, c) => p | c.TransportationPreferences);
                var transportationFlags = EnumHelper.GetFlags(transportations).ToArray();

                if (transportationFlags.Any())
                {
                    <table class="table table-striped table-bordered table-condensed">

                        <thead>
                            <tr>
                                <th><!-- participant name --></th>

                                @foreach (MeansOfTransport column in transportationFlags)
                                {
                                    <th>@(column.GetDescription())</th>
                                }
                            </tr>
                        </thead>

                        @foreach (var participant in transportationParticipants)
                        {
                            <tr>
                                <td class="participant-name"><a href="@(string.Format(participantUrl, participant.Id))">@(participant.EmployeeName)</a></td>

                                @foreach (MeansOfTransport column in transportationFlags)
                                {
                                    <td>@(Html.Raw(participant.TransportationPreferences.HasFlag(column) ? "&#10004;" : ""))</td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <span class="empty-text">@(BusinessTripResources.ItineraryNoTransportation)</span>
                }
            }
        </div>
    </div>

    @{
        var taxiParticipants = businessTrip.Participants
            .Where(p => p.TransportationPreferences.HasFlag(MeansOfTransport.Taxi));

        if (taxiParticipants.Any())
        {
            <div class="form-group">
                <label class="col-sm-3 control-label">@(BusinessTripResources.TaxiVouchersLabel)</label>
                <div class="col-sm-9">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th><!-- participant name --></th>
                                <th>@(BusinessTripResources.Departure)</th>
                                <th>@(BusinessTripResources.Destination)</th>
                            </tr>
                        </thead>

                        @foreach (var participant in taxiParticipants)
                        {
                            <tr>
                                <td class="participant-name"><a href="@(string.Format(participantUrl, participant.Id))">@(participant.EmployeeName)</a></td>
                                <td>@(participant.DepartureCityTaxiVouchers)</td>
                                <td>@(participant.DestinationCityTaxiVouchers)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    }

    @{ 
        var planeLuggageParticipants = businessTrip.Participants
            .Where(p => p.TransportationPreferences.HasFlag(MeansOfTransport.Plane))
            .Where(p => p.LuggageDeclarations.Any());

        if (planeLuggageParticipants.Any())
        {
            <div class="form-group">
                <label class="col-sm-3 control-label">@(RequestResource.LuggageLabel)</label>
                <div class="col-sm-9">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th><!-- participant name --></th>
                                <th>@(RequestResource.LuggageControlHandLuggageColumnName)</th>
                                <th>@(RequestResource.LuggageControlRegisteredLuggageColumnName)</th>
                            </tr>
                        </thead>

                        @foreach (var participant in planeLuggageParticipants)
                        {
                            var luggage = participant.LuggageDeclarations.Single();

                            <tr>
                                <td class="participant-name"><a href="@(string.Format(participantUrl, participant.Id))">@(participant.EmployeeName)</a></td>
                                <td>@(luggage.HandLuggageItems)</td>
                                <td>@(luggage.RegisteredLuggageItems)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    }

    <div class="form-group">
        <label class="col-sm-3 control-label">@(BusinessTripResources.AccommodationPreferencesLabel)</label>
        <div class="col-sm-9">
            @{
                var accommodationParticipants = businessTrip.Participants.Where(p => p.AccommodationPreferences != 0);
                var accommodations = accommodationParticipants.Aggregate((AccommodationType)0, (p, c) => p | c.AccommodationPreferences);
                var accomodationFlags = EnumHelper.GetFlags(accommodations).ToArray();

                if (accomodationFlags.Any())
                {
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th><!-- participant name --></th>

                                @foreach (AccommodationType column in accomodationFlags)
                                {
                                    <th>@(column.GetDescription())</th>
                                }
                            </tr>
                        </thead>

                        @foreach (var participant in accommodationParticipants)
                        {
                            <tr>
                                <td class="participant-name"><a href="@(string.Format(participantUrl, participant.Id))">@(participant.EmployeeName)</a></td>

                                @foreach (AccommodationType column in accomodationFlags)
                                {
                                    <td>@(Html.Raw(participant.AccommodationPreferences.HasFlag(column) ? "&#10004;" : ""))</td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <span class="empty-text">@(BusinessTripResources.ItineraryNoAccommodation)</span>
                }
            }
        </div>
    </div>
</div>