﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Areas.LittlePony.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.LittlePony.Models.InlineLayoutSampleModel

<form class="form-horizontal" action="@Url.Action("InlineLayoutSample", "RenderingDemo")" method="POST" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    @Html.Bootstrap().EditorForModel(Model)
</form>

@section footer
{
<div class="form-footer">
    <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="@RenderersDemoResources.SubmitButtonText" form="main-form" />
    </div>
</div>    
}
