﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Areas.LittlePony.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.WebApp.Areas.LittlePony.Models.InlineLayoutSampleModel

<form class="form-horizontal" action="@Url.Action("InlineLayoutSample", "RenderingDemo")" method="POST" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    
    <div class="row">
        <div class="col-xs-2">@Html.Bootstrap().InlineLabelFor(Model, m => m.FirstName)</div>
        <div class="col-xs-4">@Html.Bootstrap().InlineEditorFor(Model, m => m.FirstName)</div>
        <div class="col-xs-2">@Html.Bootstrap().InlineLabelFor(Model, m => m.LastName)</div>
        <div class="col-xs-4">@Html.Bootstrap().InlineEditorFor(Model, m => m.LastName)</div>
    </div>
    <div class="row">
        <div class="col-xs-2"><label for="birth-date">@RenderersDemoResources.BirthDateLabel</label></div>
        <div class="col-xs-4">@Html.Bootstrap().InlineEditorFor(Model, m => m.BirthDate)</div>
    </div>
</form>

@section footer
{
<div class="form-footer">
    <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="@RenderersDemoResources.SubmitButtonText" form="main-form" />
    </div>
</div>    
}
