﻿@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.AssetsRequestActionSetModel

@functions
{     
    string ToITLocation(string location)
    {
        switch (location)
        {
            case "Szczecin":
            case "Warszawa":
            case "Lublin":
            case "Poznań":
            case "Białystok":
            case "Katowice":
            case "Kraków":
            case "Łódź":
            case "Regensburg":
                return location;

            case "Berlin":
                return "Germany";

            case "Munchen":
                return "München";

            case "Wrocław Kościuszki":
                return "Wrocław - Kościuszki";

            case "Wrocław Prosta":
                return "Wrocław - Prosta";

            default:
                return "Other";
        }
    }
}

@{ var dueDate = Model.OnboardingDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture); }
@{ var startDate = Model.StartDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture); }

<Actions>
    <CreateJiraIssue Summary="Onboarding - @Model.Employee.FullName (@Model.Login), @startDate" Project="IT" Type="Task" DueDate="@dueDate" Security="10131" Crucial="true" UpdatesOn="StartDate;OnboardingDate;OnboardingLocationId;LocationId;LineManagerEmployeeId">
        <CustomFields>
            <CustomField Id="10411" Name="Location" Value="@ToITLocation(Model.Employee.LocationName)" />
            <CustomField Id="10893" Name="Project name" Value="IT" />
            <CustomField Id="10260" Name="Viewers" Value="@Model.Recruiter.Login,@Model.LineManager.Login" />
        </CustomFields>
Hi there,

New employee @Model.Employee.FullName (@Model.Login) is going to start his/hers intive journey from @startDate. Please find details below:

Onboarding location: @Model.Employee.LocationName
@if (!String.IsNullOrEmpty(Model.HardwareSet))
{
@:Hardware Set: @Model.HardwareSet
}
@if (!String.IsNullOrEmpty(Model.HardwareSetComment))
{
@:Hardware Set Comments: @Model.HardwareSetComment
}
@if (!String.IsNullOrEmpty(Model.Headset))
{
@:Headset: @Model.Headset
}
@if (!String.IsNullOrEmpty(Model.HeadsetComment))
{
@:Headset Comments: @Model.HeadsetComment
}
@if (!String.IsNullOrEmpty(Model.Backpack))
{
@:Backpack: @Model.Backpack
}
@if (!String.IsNullOrEmpty(Model.BackpackComment))
{
@:Backpack Comments: @Model.BackpackComment
}
@if (!String.IsNullOrEmpty(Model.OptionalHardware))
{
@:Optional Hardware: @Model.OptionalHardware
}
@if (!String.IsNullOrEmpty(Model.OptionalHardwareComment))
{
@:Optional Hardware Comments: @Model.OptionalHardwareComment
}
@if (!String.IsNullOrEmpty(Model.Software))
{
@:Software: @Model.Software
}
@if (!String.IsNullOrEmpty(Model.SoftwareComment))
{
@:Software Comments: @Model.SoftwareComment
}
@if (!String.IsNullOrEmpty(Model.Other))
{
@:Other: @Model.Other
}
@if (!String.IsNullOrEmpty(Model.OtherComment))
{
@:Other Comments: @Model.OtherComment
}
Comments for IT: @Model.CommentForIT

All hardware need to be prepared before @dueDate

In case of any questions please contact his/her recruiter @Model.Recruiter.FullName (@Model.Recruiter.Login).
    </CreateJiraIssue>
</Actions>