﻿@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.EmploymentDataChangeRequestActionSetModel

@{ var dueDate = Model.EffectiveOn.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture); }

<Actions>
    <CreateJiraIssue Summary="Changes - @Model.Employee.FullName, @dueDate" Project="PAYR" Type="changes" DueDate="@dueDate" Crucial="true">
        <CustomFields>
            <CustomField Id="10611" Name="Employee" Value="@Model.Employee.Login" />
            <CustomField Id="16023" Name="Line Manager" Value="@Model.LineManager.Login" />
            <CustomField Id="10250" Name="Location" Value="@Model.Employee.LocationName" />
            <CustomField Id="17306" Name="Contract type" Value="@Model.OldContractType.English" />
            <CustomField Id="17492" Name="Company" Value="@Model.Employee.CompanyName" />
        </CustomFields>
@if (Model.Salary.IsSet)
{
    <text>Salary change to @Model.Salary.Value from @dueDate.</text>
}
@if (Model.NewContractType.IsSet)
{
    <text>Contract type change to @Model.NewContractType.Value.English from @dueDate.</text>
}
@if (Model.ContractDuration.IsSet)
{
    <text>Contract duration change to @Model.ContractDuration.Value from @dueDate.</text>
}
@if (Model.Company.IsSet)
{
    <text>Company change to @Model.Company.Value from @dueDate.</text>
}
@if (Model.JobTitle.IsSet)
{
    <text>Job title change to @Model.JobTitle.Value from @dueDate.</text>
}
@if (!string.IsNullOrWhiteSpace(Model.CommentsForPayroll))
{
    <text>Comments for Payroll: @Model.CommentsForPayroll</text>
}

@if (Model.Approvers.Any())
{
    <text>Changes approved by: @string.Join(", ", Model.Approvers)</text>
}
    </CreateJiraIssue>
</Actions>