﻿@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.EmploymentTerminationRequestActionSetModel

@functions
{
    bool IsJobTitleInterestingForProjectSupport(string jobTitle)
    {
        var interestingJobTitles = new[]
        {
            "Principle Project Manager",
            "Associate Project Manager",
            "Operation Director",
            "Operation Manager",
            "Senior Project Manager",
            "Project Manager",
            "Senior Technical Project Manager",
            "Technical Project Manager",
            "Senior Service Manager",
            "Service Manager"
        };
        
        return interestingJobTitles.Contains(jobTitle);
    }
    
    string ToPayrollIssueType(string reason)
    {
        switch (reason)
        {
            case "Termination by employee":
                return "offboarding_employee";
                
            case "Termination by intive":
                return "offboarding_employer";
                
            default:
                return "offboarding_mutual";
        }
    }
    
    string ToITLocation(string location)
    {
        switch (location)
        {
            case "Szczecin":
            case "Warszawa":
            case "Lublin":
            case "Poznań":
            case "Białystok":
            case "Katowice":
            case "Kraków":
            case "Łódź":
            case "Regensburg":
                return location;

            case "Berlin":
                return "Germany";

            case "Munchen":
                return "München";

            case "Wrocław Kościuszki":
                return "Wrocław - Kościuszki";

            case "Wrocław Prosta":
                return "Wrocław - Prosta";

            default:
                return "Other";
        }
    }
}

@{ var endDate = Model.EndDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture); }

<Actions>
    <CreateJiraIssue Summary="Offboarding - @Model.Employee.FullName, @endDate" Project="PAYR" Type="@ToPayrollIssueType(Model.TerminationReasonText.English)" DueDate="@endDate" Crucial="true" UpdatesOn="EndDate;ReasonId">
        <CustomFields>
            <CustomField Id="10611" Name="Employee" Value="@Model.Employee.Login" />
            <CustomField Id="16023" Name="Line Manager" Value="@Model.LineManager.Login" />
            <CustomField Id="10250" Name="Location" Value="@Model.Employee.LocationName" />
            <CustomField Id="17306" Name="Contract type" Value="@Model.ContractTypeName.English" />
            <CustomField Id="17307" Name="Leaving type" Value="@Model.TerminationReasonText.English" />
            <CustomField Id="17492" Name="Company" Value="@Model.Employee.CompanyName" />
        </CustomFields>
    </CreateJiraIssue>
    <CreateJiraIssue Summary="Offboarding - @Model.Employee.FullName (@Model.Employee.Login), @endDate" Project="IT" Type="Task" DueDate="@endDate" Security="10131" Crucial="true" UpdatesOn="EndDate">
        <CustomFields>
            <CustomField Id="10411" Name="Location (select list)" Value="@ToITLocation(Model.Employee.LocationName)" />
            <CustomField Id="10893" Name="Project name" Value="IT" />
            <CustomField Id="10260" Name="Viewers" Value="@Model.LineManager.Login" />
        </CustomFields>
Hi there,

Our employee/contractor @Model.Employee.FullName (@Model.Employee.Login) is leaving our company and his/her last day is @endDate.

Please make sure all accounts are close and hardware is returned by the end of the day.

In case of any questions please contact his/her direct supervisor @Model.Employee.LineManagerFullName.
    </CreateJiraIssue>
@if (!@Model.TerminationReasonText.English.EndsWith("by intive"))
{
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.Employee.Body " Subject="A few things before you leave the company" To="@Model.Employee.Email" />
}
else
{
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.EmployeeByIntive.Body " Subject="A few things before you leave the company" To="@Model.Employee.Email" />
}
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.LineManager.Body" Subject="Your employee is leaving the company - what should be done" To="@Model.LineManager.Email" />
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.Trainings.Body" Subject="Employee leaving: @Model.Employee.FullName" To="ait;training@intive.com" UpdatesOn="EndDate" />
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.ExitInterview.Body" Subject="Employee leaving: @Model.Employee.FullName" To="wma;jlp;bhr@intive.com" UpdatesOn="EndDate;ReasonId" />
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.Other.Body" Subject="Employee leaving: @Model.Employee.FullName" To="slk;ksy;azj" UpdatesOn="EndDate" />
@if (IsJobTitleInterestingForProjectSupport(@Model.Employee.JobTitleName.English))
{
    <SendEmail TemplateCode="PeopleManagement.EmploymentTerminationRequest.Other.Body" Subject="Employee leaving: @Model.Employee.FullName" To="project-support@intive.com" UpdatesOn="EndDate" />
}
</Actions>