﻿@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.EmployeeDataChangeRequestActionSetModel

@{ var dueDate = Model.EffectiveOn.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture); }

<Actions>
@foreach (var entry in Model.Entries)
{
    if (Model.Location.IsSet && Model.Location.Value != entry.Employee.LocationName)
    {
        <CreateJiraIssue Summary="Changes - @entry.Employee.FullName, @dueDate" Project="PAYR" Type="changes" DueDate="@dueDate" Crucial="true">
            <CustomFields>
                <CustomField Id="10611" Name="Employee" Value="@entry.Employee.Login" />
                <CustomField Id="16023" Name="Line Manager" Value="@entry.LineManager.Login" />
                <CustomField Id="10250" Name="Location" Value="@entry.Employee.LocationName" />
                <CustomField Id="17306" Name="Contract type" Value="@entry.ContractTypeName.English" />
                <CustomField Id="17492" Name="Company" Value="@entry.Employee.CompanyName" />
            </CustomFields>
Location change from @entry.Employee.LocationName to @Model.Location.Value from @dueDate.

@if (Model.Approvers.Any())
{
    <text>Changes approved by: @string.Join(", ", Model.Approvers)</text>
}
        </CreateJiraIssue>
    }
}
</Actions>
