﻿@model Smt.Atomic.WebApp.Areas.PeopleManagement.Models.OnboardingRequestActionSetModel

<Actions>
@if (Model.RequestStatus == Smt.Atomic.CrossCutting.Common.Enums.RequestStatus.Pending)
{
    var acronyms = new[] { Model.Recruiter.Acronym, Model.TeamLeaderOfRecruiter.Acronym, Model.HeadOfRecruitment.Acronym};
    
    <AddWatchers Acronyms="@string.Join(";", acronyms.Where(a => a != Model.Requester.Acronym).Distinct())" />
}
else if (Model.RequestStatus == Smt.Atomic.CrossCutting.Common.Enums.RequestStatus.Approved)
{
    var startDate = Model.StartDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture);
    var onboardingDate = Model.OnboardingDate.ToString("dd/MMM/yy", System.Globalization.CultureInfo.InvariantCulture);
    
    <CreateJiraIssue Summary="Onboarding – @Model.EmployeeFullName (@Model.EmployeeLogin), @startDate" Project="PAYR" Type="onboarding_employee" DueDate="@onboardingDate" Reporter="@Model.Recruiter.Email" Crucial="true" UpdatesOn="StartDate;LocationId;PlaceOfWork;CompanyId;JobTitleId;JobProfileId;OnboardingDate;OnboardingLocationId">
        <CustomFields>
            <CustomField Id="16023" Name="Line Manager" Value="@Model.LineManager.Login" />
            <CustomField Id="10250" Name="Location" Value="@Model.Location" />
            <CustomField Id="17492" Name="Company" Value="@Model.Company" />
        </CustomFields>
Hi there,

New employee/contractor, @Model.EmployeeFullName (@Model.EmployeeLogin) is going to start his/hers intive yourney from @startDate. Please find details below:

# company: @Model.Company
# type of contract (probation period): @Model.ProbationPeriodContractType.English
# type of contract: @Model.ContractType.English
# job title: @Model.JobTitle.English
# location: @Model.Location
# place of work: @Model.PlaceOfWork
# compensation (probation period): @Model.ProbationPeriodCompensation
# compensation: @Model.Compensation
# foreign employee: @(Model.IsForeignEmployee ? "yes" : "no")
# documents: [available here|@Model.PayrollDocumentsLink]
# comments: @Model.CommentsForPayroll

Please make sure data in Dante are correct:

* employment period
* working hours
* time tracking

All formal documents need to be prepared before @onboardingDate.

If you have any questions please contact leading recruiter @Model.Recruiter.FullName (@Model.Recruiter.Login).

Have a great day!
Dante
    </CreateJiraIssue>
    <AddWatchers Acronyms="@Model.LineManager.Acronym" />
if (Model.IsComingFromReferralProgram)
{
    <SendEmail TemplateCode="PeopleManagement.OnboardingRequest.Referral.Body" Subject="New employee: @Model.EmployeeFullName" To="polecenie-wyplata@intive.com" Active="false" />
}
if (Model.IsRelocationPackageNeeded)
{
    <SendEmail TemplateCode="PeopleManagement.OnboardingRequest.Relocation.Body" Subject="New employee: @Model.EmployeeFullName" To="relokacja-wyplata@intive.com" Active="false" />
}
    <SendEmail TemplateCode="PeopleManagement.OnboardingRequest.Recruiter.Body" Subject="New employee: @Model.EmployeeFullName" To="@Model.Recruiter.Acronym" UpdatesOn="StartDate;LocationId;PlaceOfWork;CompanyId;JobTitleId;JobProfileId;OnboardingDate;OnboardingLocationId" />
    <SendEmail TemplateCode="PeopleManagement.OnboardingRequest.LineManager.Body" Subject="New employee: @Model.EmployeeFullName" To="@Model.LineManager.Acronym" UpdatesOn="StartDate;LocationId;PlaceOfWork;CompanyId;JobTitleId;JobProfileId;OnboardingDate;OnboardingLocationId" />
    <SendEmail TemplateCode="PeopleManagement.OnboardingRequest.HR.Body" Subject="New employee: @Model.EmployeeFullName" To="wma;ait;bhr@intive.com" UpdatesOn="StartDate;LocationId;PlaceOfWork;OnboardingDate;OnboardingLocationId;WelcomeAnnounceEmailInformation" />
}
</Actions>