﻿<div ng-controller="loginController as ctrl">
    <h1>{{message}}</h1>
    <div class="alert alert-danger" ng-show="loginFailed">
        <strong>{{LoginMessage}}</strong>
        <ul ng-repeat="msg in errorDetails">
            <li>{{msg}}</li>
        </ul>
    </div>
    <div class="alert alert-success" ng-show="loginSucceeded">
        <strong>{{LoginMessage}}</strong>
    </div>
    <form ng-submit="ctrl.login(ctrl.credentials)">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="Login" ng-model="ctrl.credentials.Login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="ctrl.credentials.Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="ctrl.credentials.RememberMe"> Remember Me
            </label>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>