﻿.common-dialog {
    .dialog-icon {
        position: absolute;
        top: 0;
        bottom: 0;

        .glyphicon {
            font-size: 30px;
            line-height: 30px;
            display: inline-block;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            color: #666;
        }

        .glyphicon.glyphicon-ban-circle {
            color: #c00;
        }
    }

    .html-message {
        form {
            margin-left: 15px;
            margin-right: 15px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        ul.selected-items {
            margin-top: 10px;
        }

        .please-wait-message {
            h4 {
                margin-top: 0;
            }

            .progress {
                margin-bottom: 0;

                .progress-bar {
                    width: 100%;
                }
            }
        }
    }

    .modal-inputs {
        margin-top: 15px;
        height: auto;

        .dialog-input {
            margin-top: 10px;
            height: 30px;
        }

        .input-label {
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            text-align: right;
        }
    }

    .modal-body {
        overflow-y: auto;

        form {
            min-height: 100px;
        }
    }

    .modal-footer {
        .btn {
            -moz-min-width: 80px;
            -ms-min-width: 80px;
            -o-min-width: 80px;
            -webkit-min-width: 80px;
            min-width: 80px;
        }
    }

    .form-group .control-label, .row .control-label {
        text-align: left;
    }
}

.common-dialog.has-icon {
    .modal-body {
        min-height: 55px;
    }

    .html-message {
        margin-left: 45px;
    }
}

#common-dialog-please-wait {
    .modal-dialog {
        margin: 0 auto;
        height: 100%;
        width: 400px;
    }

    .modal-content {
        top: 50%;
        margin-top: -40px;
    }
}
