﻿.error-actions {
    margin-top: 50px;
    padding-left: 0;

    button {
        font-size: 125%;
        margin-right: 20px;
        padding-left: 15px;
        padding-right: 15px;

        i {
            margin-right: 15px;
        }
    }
}

.error-details-section {
    margin-top: 40px;

    #error-details {
        position: relative;
        padding-top: 0;
    }

    h4 {
        cursor: pointer;
    }

    h4:after {
        content: "\f077";
        display: inline-block;
        cursor: pointer;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 80%;
        -ms-text-rendering: auto;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-left: 5px;
    }

    h4.collapsed:after {
        content: "\f078";
    }

    h5 {
        font-weight: bold;
    }

    .exception-message {
        font-family: monospace;
        font-size: 12px;
        white-space: pre-wrap;
    }

    .well {
        max-height: 200px;
        overflow: auto;
    }

    .table {
        width: auto;

        tr {
            td:first-child {
                width: 130px;
            }

            td:last-child {
                padding-right: 15px;
            }
        }
    }
}
