﻿.border-radius(@radius, @color) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
    border: 1px solid Transparent;

    &:hover {
        border: 1px solid @color;
    }
}

.environment-label {
    float: right;
    color: #aaa;
    font-size: 12px;
}

.environment-label::before {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    height: 100%;
}

.brand-name {
    color: #800;

    &:after {
        color: #800;
        content: "™";
    }
}

.title-detail {
    color: #888;
}

.title-hint {
    color: #bbb;
    font-size: 70%;
    line-height: normal;
}

.alert-container {
    padding: 0 15px;
    max-height: 200px;
    overflow: auto;
    border-bottom: 1px solid #eee;

    &:empty {
        border-bottom: none;
    }

    .alert {
        margin-bottom: 5px;

        &:first-child {
            margin-top: 5px;
        }

        .alert-message {
            white-space: pre-wrap;
        }
    }
}

.pre {
    white-space: pre;
}

.pre-wrap {
    white-space: pre-wrap;
}

.ellipsis {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disable-ellipsis {
    &, .ellipsis {
        overflow: auto;
        text-overflow: initial;
        white-space: initial;
    }
}

.accelerator {
    text-decoration: underline;
}

.no-click {
    font-size: 100%;
}

.container-fluid-inline {
    display: inline-block;
    padding-right: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.page-title.container-fluid-inline {
    padding-right: 0;
}

#canvas {
    position: absolute;
    max-width: ~"calc(100% - 40px)";
    max-height: ~"calc(100% - 40px)";
    overflow: hidden;
}

.hidden-but-rendered {
    position: absolute !important;
    display: block !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.page-layout {
    width: 100%;
    height: 100%;
    display: table;

    .header-section {
        display: table-row;

        .navbar-default {
            background-color: #fff;
            margin-bottom: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #eee;

            .navbar-toggle {
                position: absolute;
                right: 0;
            }

            .navbar-brand {
                color: #444;
                height: auto;
                min-height: 50px;
                padding-bottom: 5px;

                .logo {
                    margin: -10px;
                    padding: 10px;
                    float: left;
                    margin-right: 5px;
                    margin-bottom: 0;
                    margin-left: 0;

                    img {
                        height: 40px;
                        width: 40px;
                        margin: -10px;
                    }
                }

                .page-title {
                    margin-left: 0;
                }
            }

            .authenticated-user-info {
                .glyphicon {
                    color: #888;
                }

                .menu-user-info {
                    display: block;
                    padding: 0 20px;
                    font-size: 85%;
                    line-height: 150%;
                    color: #999;

                    .company-name {
                        font-weight: bold;
                    }

                    .position-name {
                        font-size: 90%;
                    }
                }
            }

            .anonymous-user-info {
                .glyphicon {
                    color: #888;
                }
            }

            .menu-user-image {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin: -10px 0px;
            }

            .menu-user-icon {
                font-size: 20px;
            }
        }

        .page-title {
            margin-top: 5px;
            margin-left: 15px;
            margin-bottom: 5px;
            font-size: 28px;
            line-height: 40px;
            font-weight: 500;
            color: #333;
        }

        .breadcrumb {
            margin-bottom: 7px;
            padding: 0px 15px;
            font-size: 14px;
            background-color: #fafafa;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #eee;
            line-height: 28px;

            li {
                line-height: 28px;
            }

            .no-slash:before {
                content: none;
            }
        }
    }

    .content-section {
        display: table-row;
        height: 100%;

        .content-wrapper {
            height: 100%;
            position: relative;
            overflow: hidden;

            .content {
                position: absolute;
                height: 100%;
                width: 100%;
                overflow: auto;
            }
        }
    }

    .footer-section {
        display: table-row;

        .footer-oneliner {
            border-top: 1px solid #eee;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 80%;
            color: #666;
            background-color: #fafafa;
            clear: both;

            .spacer {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                color: #999;
            }
        }
    }
}

.summary-layout {
    &.container-fluid {
        display: table-cell;
        width: 100%;
    }

    .control-label {
        padding-top: 0;
    }

    .row {
        margin-bottom: 4px;

        label, div {
            line-height: 24px;
        }
    }

    .row:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .page-layout {
        .header-section {
            nav {
                font-size: 90%;
            }

            .page-title {
                font-size: 20px;
                line-height: 1;
            }
        }
    }
}

@media (max-height: 319px), (max-width: 479px) {
    .page-layout {
        display: block;

        .header-section {
            display: block;
        }

        .content-section {
            display: block;
            height: auto;

            .content-wrapper {
                height: auto;

                .content {
                    position: relative;
                    height: auto;
                    overflow: visible;

                    .login-form {
                        height: auto;
                    }
                }
            }
        }

        .footer-section {
            display: block;
        }
    }

    .grid {
        .grid-table {
            position: relative;
        }
    }
}

@media (max-width: 767px) {
    .page-layout {
        .header-section {
            nav {
                font-size: 100%;
            }

            .page-title + * {
                margin-top: 10px;
            }
        }

        .content-section {
            .content-wrapper {
                .content {
                    form {
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .number-picker {
        &.is-nullable {
            div.input-group {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .summary-layout {
        .col-vs-3 {
            clear: left;
            overflow: hidden;
            -moz-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 0px;
        }
    }
}