﻿.dropdown-header {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 75%;
    cursor: default;
}

textarea[data-ace-editor] {
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-size: 12px;
    line-height: 14px;
}

.dropdown-submenu {
    position: relative;

    & > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -ms-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        -webkit-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    & > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    &:hover, &.hover-clicked {
        & > .dropdown-menu {
            display: block;
        }

        & > a:after {
            border-left-color: #ffffff;
        }
    }

    & > .dropdown-menu-pull-right {
        left: auto;
        right: 100%
    }
}

.pull-right, .dropdown-menu-right {
    .dropdown-submenu {
        & > .dropdown-menu {
            right: 100%;
            left: auto;
            margin-left: 0px;
            margin-right: -1px;
            -ms-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0px 6px 6px;
            -webkit-border-radius: 6px 0px 6px 6px;
            border-radius: 6px 0px 6px 6px;
        }
    }
}

div.separator {
    margin-top: 15px;
}
