﻿@using Smt.Atomic.WebApp.Areas.Reports.Resources
@model Smt.Atomic.WebApp.Areas.Reports.Models.ReportPageViewModel

@if (Model.CanGenerateSeniorityLevelsReport)
{
    <div class="report-tile">
        <h3>@(ReportResources.ReportEmployeesBySeniorityLevelsText)</h3>
        @Html.Raw(ReportResources.ReportEmployeesBySeniorityLevelsDescriptionHtml)
        <button class="btn" onclick="Dialogs.showDialog({ actionUrl:'@(Url.Action("SeniorityLevelsReport"))' })">@(ReportResources.GenerateReportButtonText)</button>
    </div>
}

@if (Model.CanGenerateUtilizationStatusReport)
{
    <div class="report-tile">
        <h3>@(ReportResources.ReportEmployeesByUtilizationStatusText)</h3>
        @Html.Raw(ReportResources.ReportEmployeesByUtilizationStatusDescriptionHtml)
        <button class="btn" onclick="Dialogs.showDialog({ actionUrl:'@(Url.Action("UtilizationStatusReport"))' })">@(ReportResources.GenerateReportButtonText)</button>
    </div>
}

@if (Model.CanGenerateActiveInactiveEmployeesReport)
{
    <div class="report-tile">
        <h3>@(ReportResources.ReportActiveInactiveEmployeesText)</h3>
        @Html.Raw(ReportResources.ReportActiveInactiveEmployeesDescriptionHtml)
        <button class="btn" onclick="Dialogs.showDialog({ actionUrl:'@(Url.Action("ActiveInactiveEmployeesReport"))' })">@(ReportResources.GenerateReportButtonText)</button>
    </div>
}

@if (Model.CanGenerateNewHiredLeavingEmployeesReport)
{
    <div class="report-tile">
        <h3>@(ReportResources.ReportEmployeesByNewHiredLeavingEmployeesText)</h3>
        @Html.Raw(ReportResources.ReportEmployeesByNewHiredLeavingEmployeesDescriptionHtml)
        <button class="btn" onclick="Dialogs.showDialog({ actionUrl:'@(Url.Action("NewHiredLeavingEmployeesReport"))' })">@(ReportResources.GenerateReportButtonText)</button>
    </div>
}

@if (Model.CanGenerateAllocationPerProjectReport)
{
    <div class="report-tile">
        <h3>@(ReportResources.ReportAllocationsPerProjectsInDaysText)</h3>
        @Html.Raw(ReportResources.ReportAllocationsPerProjectsInDaysDescriptionHtml)
        <button class="btn" onclick="Dialogs.showDialog({ actionUrl:'@(Url.Action("AllocationPerProjectInDaysReport"))' })">@(ReportResources.GenerateReportButtonText)</button>
    </div>
}