﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Scheduling.Models.JobLastAttemptFailureDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
</head>
<body>
    <p>Hello,</p>
    <p>
        Job "@(Model.JobDefinition.Code)" failed after @(Model.JobDefinition.MaxTotalRunAttempts) attempts.<br />
        Please <a href="@(Model.DetailsUrl)">log on</a> to Dante to investigate the problem.
    </p>
    <p>Here are details of the last run:</p>
    <p>
        Time: @(Model.CurrentTime)<br /><br />
        Job Id: @(Model.JobDefinition.Id)<br />
        Job Code: @(Model.JobDefinition.Code)<br />
        Run attempts: @(Model.JobDefinition.MaxTotalRunAttempts)<br /><br />
        Execution Id: @(Model.JobExecutionContext.ExecutionId)<br />
        Pipeline: @(Model.JobExecutionContext.Pipeline)<br />
        Host: @(Model.JobExecutionContext.Host)
    </p>
</body>
</html>