﻿@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Models.Errors.ErrorViewModel

<p class="text-muted error-message">@Model.Exception.Message</p>

<div class="error-actions">
    <button class="btn btn-default" onclick="window.history.back(-1);"><i class="fa fa-reply"></i> @AtomicResources.ErrorViewReturnToPreviousPage</button>
    @if (Model.ReportNewIssueUrl != null)
    {
        var reportNewIssueUrl = HttpUtility.JavaScriptStringEncode(@Model.ReportNewIssueUrl);
        <button class="btn btn-default" onclick="window.location.href='@Html.Raw(reportNewIssueUrl)';"><i class="fa fa-bullhorn"></i> @AtomicResources.ErrorViewReportIssueButtonText</button>
    }
</div>

@if (Model.AreDetailsAvailable)
{
    <div class="error-details-section">
        <h4 data-toggle="collapse" href="#error-details" class="@(Model.IsBusinessException ? "collapsed" : null)">@AtomicResources.ErrorViewShowDetailsHeaderText</h4>
        <div id="error-details" class="collapse@(Model.IsBusinessException ? string.Empty : " in")">
                
            <h5>@AtomicResources.ErrorViewExceptionLabel</h5>
            <div class="well">
                <div class="exception-message">@Model.Exception</div>
            </div>
            @{
                var innerException = Model.Exception.InnerException;
                    
                while (innerException != null)
                {
                    <h5>@AtomicResources.ErrorViewInnerExceptionLabel</h5>
                    <div class="well">
                        <div class="exception-message">@innerException</div>
                    </div>
                    innerException = innerException.InnerException;
                }
            }
            <h5>@AtomicResources.ErrorViewErrorSourceLabel</h5>
            <table class="table table-striped table-condensed">
                @if (Model.IsRoutingDataAvailable)
                {
                    <tr>
                        <td>@AtomicResources.ErrorViewActionLabel</td>
                        <td>@Model.ActionName</td>
                    </tr>
                    <tr>
                        <td>@AtomicResources.ErrorViewControllerLabel</td>
                        <td>@Model.ControllerName</td>
                    </tr>
                }
                <tr>
                    <td>@AtomicResources.ErrorViewSystemVersionLabel</td>
                    <td>@Model.SystemVersion</td>
                </tr>
            </table>
            @if (Model.AreFormDetailsAvailable && Model.Form != null && Model.Form.Any())
            {
                <h5>@AtomicResources.ErrorViewFormVariablesLabel</h5>
                <table class="table table-striped table-condensed">
                    @foreach (var keyValuePair in Model.Form)
                    {
                    <tr>
                        <td>@keyValuePair.Key</td>
                        <td>@keyValuePair.Value</td>
                    </tr>
                    }
                </table>
            }
        </div>
    </div>
}


