﻿@using Smt.Atomic.WebApp.Resources
@model Smt.Atomic.WebApp.Models.Errors.PageNotFoundViewModel

<div class="error-message">@Html.Raw(AtomicResources.PageNotFoundHtmlMessage)</div>

<div class="error-actions">
    <button class="btn btn-default" onclick="window.history.back(-1);"><i class="fa fa-reply"></i> @AtomicResources.ErrorViewReturnToPreviousPage</button>
    @if (Model.ReportNewIssueUrl != null)
    {
        var reportNewIssueUrl = HttpUtility.JavaScriptStringEncode(@Model.ReportNewIssueUrl);
        <button class="btn btn-default" onclick="window.location.href='@Html.Raw(reportNewIssueUrl)';"><i class="fa fa-bullhorn"></i> @AtomicResources.ErrorViewReportIssueButtonText</button>
    }
</div>