﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Workflow request execution exception</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi<br />
        <br />
        Unfortunetely your request has failed to execute.<br />
        Request Link: <a href="@Model.RequestLink" target="_blank">@Model.RequestLink</a><br />
        Description: @Model.Description<br />
        Exception: @Model.Exception<br />
    </div>
    @if (Model.AdditionalContent != null)
    {
        <div id="inner-content">
            @(new RawString(Model.AdditionalContent))
        </div>
    }
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>