﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>An action has been forced</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi,<br />
        @(Model.ForcedByUserFullName) forced an action on behalf of @(Model.ApproverFullName).<br />
        Action was: <b>@(Model.Action.GetDescription())</b>.<br /><br />
        Requester: @(Model.RequesterFullName)<br />
        Details: @(Model.Description) <br /><br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>