﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@Model.RequesterFullName request is waiting for your approval</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi,<br /><br />
        @Model.RequesterFullName request is waiting for your approval.
        <br />
        Request details: @Model.Description
        <br />
        <br />
        Click <a href="@Model.RequestLink">here</a> to open request in Dante or <a href="@Model.AllAwaitingRequestsLink">here</a>  to open list of requests awaiting for your decision.<br /> <br />
        @if (Model.AdditionalContent != null)
        {
            <div id="inner-content">
                @(new RawString(Model.AdditionalContent))
            </div><br />
        }
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>