﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Business.Workflows.EmailModels.RequestsReminderEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Pending requests reminder</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @(Model.ApproverFullName)<br />
        you have @(Model.Requests.Count()) unsubmitted requests:<br /><br />
        <ul>
            @foreach (var request in Model.Requests)
            {
                <li>@(request.Description)</li>
            }
        </ul>
        <br />
        Click <a href="@Model.RequestsLink">here</a> to open all request list
        <br /><br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>