﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using Smt.Atomic.CrossCutting.Common.Extensions
@model Smt.Atomic.Business.Workflows.EmailModels.RequestsReminderEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Pending requests reminder</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @(Model.ApproverFullName)<br />
        you have @(Model.Requests.Count()) pending requests:<br /><br />
        @foreach (var request in Model.Requests)
        {
            @(request.RequesterFullName) <text>&lt;</text>@(request.RequesterEmail)<text>&gt;:</text> @(request.Description)<br /><br />
        }
        Click <a href="@Model.RequestsLink">here</a> to open all request list
        <br /><br />
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>