﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel
@{
    var additionalInformation = Model.RequestObject as Smt.Atomic.Business.Workflows.Interfaces.IRequestAdditionalInformation;
}

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your request was approved and successfully processed</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.RequesterFullName,<br />
        <br />
        Your request was approved and successfully processed.<br />
        Request details: @Model.Description <br />
        @if (additionalInformation != null)
        {
            <text>Additional information: @additionalInformation.AdditionalInformation</text>
        }
    </div>
    @if (Model.AdditionalContent != null)
    {
        <div id="inner-content">
            @(new RawString(Model.AdditionalContent))
        </div>
    }
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>