﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your request has been rejected</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.RequesterFullName,<br />
        <br />
        <p>Unfortunately your request has been rejected.</p>
        Rejecters: @Model.RejecterFullNames<br />
        Rejection reason: @Model.RejectionReason<br />
        Request details: @Model.Description <br />
        <p><a href="@Model.MyRequestsLink">Click here to recreate your request</a></p>
    </div>
    @if (Model.AdditionalContent != null)
    {
        <div id="inner-content">
            @(new RawString(Model.AdditionalContent))
        </div>
    }
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>