﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@using RazorEngine.Text
@model Smt.Atomic.Business.Workflows.EmailModels.RequestEmailModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Your request has been accepted</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.RequesterFullName,<br />
        <br />
        Your request has been accepted.<br />
        Request details: @Model.Description <br />
    </div>
    @if (Model.AdditionalContent != null)
    {
        <div id="inner-content">
            @(new RawString(Model.AdditionalContent))
        </div>
    }
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>