﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.Workflows.Dto.RevokedAbsenceRequestNotificationDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@Model.RequesterFullName revoked an absence request</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, <br />
        @Model.RequesterFullName revoked an absence request from: @Model.From.ToString("yyyy-MM-dd") to: @Model.To.ToString("yyyy-MM-dd") <br />
        Affected User: @Model.AffectedUserFullName <br />
        Total hours: @Model.Hours <br />
        Absence type: @Model.AbsenceName<br />
        Company: @Model.CompanyName<br />
        Contract type: @Model.ContractType<br />
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>