﻿@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.Presentation.Renderers.Enums
@using Smt.Atomic.Presentation.Renderers.Extensions
@using Smt.Atomic.WebApp.Areas.Reporting.Controllers
@using Smt.Atomic.WebApp.Areas.Reporting.Resources
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.EditDialogViewModel<Smt.Atomic.WebApp.Areas.Reporting.Models.ReportDesignViewModel>

<form method="POST" class="form-horizontal" id="main-form">
    @Html.ValidationSummaryAsAlerts(true)
    @Html.AntiForgeryToken()
    @Html.Bootstrap().EditorForModel(Model.Model, new HorizontalFormLayout(), Model.EditFormCustomization)
</form>

@section footer
{
    <div class="form-footer">
        <div class="footer-sizer">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" onclick="ReportDesign.saveDesignAndPerformReport(
                        '@Url.Action(nameof(ReportDefinitionController.Design), RoutingHelper.GetControllerName<ReportDefinitionController>())',
                        '@Url.Action(nameof(ReportExecutionController.ConfigureReportDialog), RoutingHelper.GetControllerName<ReportExecutionController>())',
                        '@Model.Model.Code');">
                    @ReportDefinitionResources.PerformReportButtonText
                </button>
                <input type="submit" class="btn btn-default" value="@ReportDefinitionResources.SaveButtonText" form="main-form" />
                <a class="btn btn-default" href="@Url.UriActionGet(nameof(ReportDefinitionController.List), RoutingHelper.GetControllerName<ReportDefinitionController>(),
                        KnownParameter.None, "area", RoutingHelper.GetAreaName(typeof(ReportDefinitionController))).Url">@ReportDefinitionResources.BackButtonText</a>
            </div>
        </div>
    </div>
}