﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ColorPicker.ColorPickerRenderingModel

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass()">
    <label class="@Model.LabelWidthClass @Model.GetRequiredMarkerCss()" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    <div class="color-picker @Model.ControlWidthClass colorpicker-component">
        <div class="input-group">
        <input @(Model.GetInputTagAttributes())/>
        <span class="input-group-addon @Model.PickerButtonClass">
                    <i></i>
            </span>
        </div>
    </div>
    <span class="@Model.GetValidationSpanClass()"
                data-valmsg-replace="true"
                data-valmsg-for="@Model.Name">
            @foreach (var error in Model.Errors)
            {
                <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
            }
        </span>            
</div>

