﻿@using RazorEngine.Text
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ColorPicker.ColorPickerRenderingModel

<div class="inline-control @Model.CssClass @Model.GetVisibilityClass()">
    <div class="color-picker">
        <div class="input-group">
            <input @(Model.GetInputTagAttributes()) />
            <span class="input-group-addon @Model.PickerButtonClass">
                <i></i>
            </span>
        </div>
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>