﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ColorPicker.ColorPickerRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (Model.Value == null)
        {
            <span class="empty-text">@RenderersResources.EmptyText</span>
        }
        else
        {
            <div>
                @Model.Value
                <span style="background-color: @Model.Value; float: left; height: 24px; width: 24px;"></span></div>
        }
    </div>
</div>