﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ColorPicker.ColorPickerRenderingModel

<div class="form-group @Model.CssClass @Model.GetVisibilityClass()">
    <label for="@Model.Id" class="@Model.LabelWidthClass control-label @Model.GetRequiredMarkerCss()" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>
    <div class="color-picker @Model.ControlWidthClass">
        <div class="input-group">
            <input @(Model.GetInputTagAttributes()) />
            <span class="input-group-addon @Model.PickerButtonClass">
                <i></i>
            </span>
        </div>
    </div>
    <span class="@Model.GetValidationSpanClass()"
          data-valmsg-replace="true"
          data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>

    @if (Model.HasHint)
    {
        <div class="control-hint @Model.LabelOffsetClass @Model.HintWidthClass">
            @Model.Hint
        </div>
    }
</div>