﻿.control-hint {
    clear: both;
    color: #aaa;
    margin-top: 5px;
    font-size: 12px;
}

.control-hint-simple {
    .control-hint;
    margin-left: 15px;
}

.control-label-hint-simple {
    clear: both;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 15px;
}

.date .input-group-addon, .time .input-group-addon, .value-picker .input-group-addon, .number-picker .input-group-addon, .type-ahead .input-group-addon, .search-button-addon, .areas-search-addon {
    cursor: pointer;

    &:not(:last-child) {
        border-left: none;
    }

    &:hover {
        background: #ddd;
    }

    &.disabled:hover {
        background: #eee;
    }
}

.number-increment, .number-decrement, .number-set-null {
    font-size: 100%;
}

.inline-checkbox {
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

.date, .number-picker, .time {
    -moz-min-width: 180px;
    -ms-min-width: 180px;
    -o-min-width: 180px;
    -webkit-min-width: 180px;
    min-width: 180px;
}

.ace-editor-wrapper {
    min-height: 34px;
    height: auto;
    padding-left: 6px;
    padding-right: 6px;
}

.preview-image-center {
    margin: 0px auto;
}

.image-crop-edit {
    display: none;
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 100;
}

.preview-image {
    position: relative;

    &:hover .image-crop-edit {
        display: block;
    }
}

.preview-image-label {
    text-align: center;
    white-space: nowrap;
    line-height: normal;
}

.optional-value-control-radio {
    margin-bottom: 7px;
}

.options-aligned(@width) {
    .align-options-@{width} {
        .checkbox-inline, .radio-inline {
            margin-left: 0;
            margin-right: 10px;
            min-width: unit(@width, px);
        }
    }
}

.options-aligned(125);
.options-aligned(200);
.options-aligned(300);

.localized-item {
    padding-bottom: 10px;

    .input-group {
        width: 100%;

        .input-group-addon {
            width: 45px;
            color: #999;
        }
    }

    .summary-item {
        padding-top: 6px;
        padding-left: 3px;
    }
}

.dropdown-group {
    min-height: 34px;
}

.disabled-icon {
    color: lightgray;
}

.toogle-on {
    i {
        .toogle-hover('\f068', red);
    }
}

.toogle-off {
    i {
        opacity: 0.4;
        .toogle-hover('\f067', green);
    }
}

.toogle-hover(@icon, @color) {
    &:hover {
        opacity: 1;
        color: @color;

        &:after {
            content: @icon;
            color: @color;
            margin-left: 2px;
            position: absolute;
            top: 6px;
            font-size: 8px;
        }
    }
}