﻿@tableBorderStyle: 1px solid #ddd;

.document-picker {
    font-size: 100%;

    .input-group .form-control[readonly] {
        cursor: default;
        background-color: #fff;
    }

    .item-container {
        border: 1px solid #ccc;
        -ms-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        background-color: #fff;
        padding: 3px;
        padding-top: 0;
        min-height: 36px;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }

    .two-buttons {
        margin-right: 77px;
    }

    .single-button {
        margin-right: 39px;
    }

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .document-picker-button {
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        display: table-cell;
        height: 36px;
        border-right: none;
        cursor: pointer;
    }

    .document-picker-button:last-child {
        -ms-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #ccc;
    }

    .document-upload {
        display: none;
    }
}

.document-picker.is-multivalue {
    .input-group {
        display: block;
    }
}

.document-picker-item {
    border: @tableBorderStyle;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    padding: 3px 6px;
    padding-right: 25px;
    position: relative;
    background: #f7f7f7;
    cursor: default;
    margin-top: 3px;

    span.aborted {
        color: #c00;
    }

    i {
        margin: -4px;
        padding: 4px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 80%;
        color: #999;
        border: 1px solid transparent;
        position: absolute;
        right: 6px;
        top: 7px;
    }
}

.document-picker-item:hover {
    i {
        color: #c00;
        background: #fff;
        border: @tableBorderStyle;
    }
}

.document-picker-add-button, .document-picker-remove-button, .document-picker-remove-item-button, .document-picker-failed-remove-item-button {
    font-size: 100%;
}

.document-picker-upload-error {
    color: pink;
}

.document-picker-upload-progressbar {
    height: 18px;
    background: lightslategrey;
    overflow: hidden;
    text-align: center;
}
