﻿.map-picker {
    .input-group .form-control[readonly] {
        cursor: default;
        background-color: #fff;
    }

    .map-picker-button {
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        display: table-cell;
        height: 36px;
        border-right: none;
        cursor: pointer;
    }

    .map-picker-standalone-button {
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        display: table-cell;
        height: 36px;
        cursor: pointer;
    }

    .map-picker-button:last-child {
        -ms-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #ccc;
    }

    .map-picker-popup-button, .map-picker-remove-button {
        font-size: 100%;
    }

    .map-picker-editor-map {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .map-picker-popup-map {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .input-panel {
        padding: 3px;
        margin-bottom: 0;
    }

    .input-group .input-group-addon:first-child {
        border: 1px solid #ccc;
    }

    .input-group .input-group-addon:not(:last-child) {
        border-right: none;
    }

    .input-group-addon + .input-group-addon {
        border-left: 1px solid #ccc;
    }

    .map-picker-remove-button:hover {
        cursor: pointer;
    }

    .map-picker-popup-button:hover {
        cursor: pointer;
    }
}

.map-picker-dialog {
    height: 200px;
    width: 100%;
}
