﻿.pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 300px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-input:focus {
    border-color: #4d90fe;
}

.pac-button {
    background-color: #fff;
    font-family: Roboto;
    font-size: 11px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0 11px 0 13px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 38px;
    min-width: 38px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

.pac-button > i {
    margin-top: 8px;
}
