﻿.repeater {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #ddd;

    > legend {
        margin-bottom: 0;
        border: none;
        color: #555;
    }

    .repeater-item {
        position: relative;
        animation: animateAddElement linear .5s;
        animation-iteration-count: 1;

        &::before {
            position: absolute;
            top: 0;
            content: "";
            width: 100%;
            border-top: 1px solid #eee;
        }

        .item-header {
            legend {
                margin-bottom: 0;
                border-bottom: none;
                font-size: 18px;
                line-height: 34px;
                color: #333;
                display: inline-block;
                width: auto;
            }
        }

        .form-group {
            margin-right: 0px;
            margin-left: 0px;
            margin-bottom: 7px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .repeater-toolbar {
        text-align: right;

        .btn {
            padding-left: 20px;
        }
    }

    &.repeater-horizontal {
        .repeater-item {
            padding: 5px;
        }
    }
}

@keyframes animateAddElement {
    0% {
        opacity: 0;
        transform: translate(0px, 20px);
        background-color: #ececec;
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}