﻿@tableBorderStyle: 1px solid #ddd;
@checkIndicatorContent: '\f00c';
.type-ahead {
    font-size: 100%;

    .input-group .form-control[readonly] {
        cursor: default;
        background-color: #fff;
    }

    .select2-container .select2-selection {
        height: 36px;
    }

    .item-container {
        [class^='select2'] {
            padding: 0px !important;
            margin: 0px !important;
            min-height: 20px;
            height: 20px;
        }

        border: 1px solid #ccc;
        -ms-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        background-color: #fff;
        padding: 3px;
        padding-top: 0;
        min-height: 36px;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        }
    }

    .item-container-with-button {
        margin-right: 39px;
    }

    .item-container-without-button {
        -ms-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
    }

    .input-group [class^='select2'] {
        -ms-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0px 0px 4px;
    }

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .type-ahead-button {
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        display: table-cell;
        height: 36px;
        border-right: none;
        cursor: pointer;
    }

    .type-ahead-button:last-child {
        -ms-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #ccc;
    }
}

.type-ahead.is-multivalue {
    .input-group {
        display: block;
    }
}

.type-ahead-item {
    border: @tableBorderStyle;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    padding: 3px 6px;
    padding-right: 25px;
    position: relative;
    background: #f7f7f7;
    cursor: default;
    margin-top: 3px;

    i {
        margin: -4px;
        padding: 4px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 80%;
        color: #999;
        border: 1px solid transparent;
        position: absolute;
        right: 6px;
        top: 7px;
    }
}

.type-ahead-input-item {
    display: inline-block;
    margin-right: 3px;
    padding: 3px;
    position: relative;
    background: #f7f7f7;
    cursor: default;
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    max-width: 100%;
    outline: medium none;
    width: auto;
    resize: horizontal;

    .select2-selection {
        border: medium none !important;
    }
}

.type-ahead-item:hover {
    i {
        color: #c00;
        background: #fff;
        border: @tableBorderStyle;
    }
}

.type-ahead-remove-button, .type-ahead-remove-item-button {
    font-size: 100%;
}
