﻿@tableBorderStyle: 1px solid #ddd;
.value-picker {
    font-size: 100%;

    .input-group .form-control[readonly] {
        cursor: default;
        background-color: #fff;
    }

    .item-container {
        border: 1px solid #ccc;
        -ms-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        background-color: #fff;
        padding: 3px;
        padding-top: 0;
        margin-right: 78px;
        min-height: 36px;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        }
    }

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .value-picker-button {
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        display: table-cell;
        height: 36px;
        border-right: none;
        cursor: pointer;
    }

    .value-picker-button:last-child {
        -ms-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #ccc;
    }

    /* single element value picker fake ellipsis */
    .form-control {
        overflow: hidden;
        line-height: 1.5em;
    }
}

.value-picker.is-multivalue {
    .input-group {
        display: block;
    }
}

.value-picker-item {
    border: @tableBorderStyle;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    padding: 3px 6px;
    padding-right: 25px;
    position: relative;
    background: #f7f7f7;
    cursor: default;
    margin-top: 3px;

    i {
        margin: -4px;
        padding: 4px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 80%;
        color: #999;
        border: 1px solid transparent;
        position: absolute;
        right: 6px;
        top: 7px;
    }
}

.value-picker-item:hover {
    i {
        color: #c00;
        background: #fff;
        border: @tableBorderStyle;
    }
}

.value-picker-add-button, .value-picker-remove-button, .value-picker-remove-item-button {
    font-size: 100%;
}

.common-dialog-value-picker {
    .modal-dialog {
        max-width: 90%;
        max-height: 90%;
    }

    .modal-title {
        display: inline-block;
    }

    .selection-hint {
        color: #ccc;
        white-space: nowrap;
    }

    .html-message {
        .grid {
            padding: 0;

            .container-fluid {
                padding-left: 0;
                padding-right: 0;
            }

            .pagination {
                display: none;
            }

            .grid-table {
                position: relative;

                .table {
                    margin-bottom: 0;
                }
            }
        }
    }

    .modal-footer {
        .pagination {
            margin: 0;
        }
    }
}
