﻿@using System.Globalization
@using Smt.Atomic.Presentation.Common.Helpers
@using Smt.Atomic.Presentation.Common.Models
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.MapPicker
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.MapPicker.MapPickerRenderingModel

<div class="form-group row @Model.CssClass @Model.GetVisibilityClass()"
     data-component="MapPicker.GoogleMaps"
     data-dialog-title="@Model.Label"
     data-in-place-editor="@Model.IsInPlaceMapPicker"
     data-property-name="@Model.Name"
     data-option-latlng-hidden="@(Model.IsInPlaceMapPicker ? Model.EditorOptions.IsLatLngHidden : Model.PopupEditorOptions.IsLatLngHidden)"
     data-option-location-hidden="@(Model.IsInPlaceMapPicker ? Model.EditorOptions.IsLocationNameHidden : Model.PopupEditorOptions.IsLocationNameHidden)"
     data-option-radius-hidden="@(Model.IsInPlaceMapPicker ? Model.EditorOptions.IsRadiusHidden : Model.PopupEditorOptions.IsRadiusHidden)"
     data-option-search-hidden="@(Model.IsInPlaceMapPicker ? Model.EditorOptions.IsSearchHidden : Model.PopupEditorOptions.IsSearchHidden)"
     data-option-is-nullable="@Model.IsNullable"
    >
    <label class="@Model.LabelWidthClass" for="@Model.Id" @(Model.GetLabelTagAttributes())>@Model.GetLabelTextMarkup()</label>

    @if (Model.HasHint)
    {
        <div class="control-label-hint-simple">
            @Model.Hint
        </div>
    }

    @if (@Model.IsInPlaceMapPicker)
    {
        <div class="map-picker @Model.ControlWidthClass">
            <div class="panel panel-default input-panel">
                <div class="hidden"><input type="text" class="pac-input"/><div class="pac-button"><i class="glyphicon glyphicon-remove"></i></div></div>
                @if (!Model.EditorOptions.IsLocationNameHidden)
                {
                    <input class="form-control" type="text" placeholder="@MapPickerResources.LocationPlaceholder" readonly="readonly" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name"/>
                }
                else
                {
                    <input type="hidden" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name" />
                }
                <div class="map-picker-editor-map" style="height: @(Model.EditorOptions.Height)px"></div>
                @if (!Model.EditorOptions.IsLatLngHidden)
                {
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LatitudePlaceHolder" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l=>l.Latitude)" data-input-name="latitude" data-val="true" data-val-rangedecimal="@MapPickerResources.LatitudeValueOutOfRange" data-val-rangedecimal-min="-90.0" data-val-rangedecimal-max="90.0" />
                        <span class="input-group-addon">,</span>
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LongitudePlaceHolder" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l=>l.Longitude)" data-input-name="longitude" data-val="true" data-val-rangedecimal="@MapPickerResources.LongitudeValueOutOfRange" data-val-rangedecimal-min="-180.0" data-val-rangedecimal-max="180.0" />
                        @if (!Model.EditorOptions.IsRadiusHidden)
                        {
                            <span class="input-group-addon">@MapPickerResources.RadiusPlaceHolder</span>
                            <input class="form-control" type="text" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l=>l.Radius)" data-input-name="radius" data-val-range="@Model.GetRadiusValidationMessage()" data-val-range-min="@Model.RadiusMinValue" data-val-range-max="@Model.RadiusMaxValue" />
                        }
                    </div>
                }
                else
                {
                    <input type="hidden" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l=>l.Latitude)" data-input-name="latitude" />
                    <input type="hidden" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l=>l.Longitude)" data-input-name="longitude" />
                    <input type="hidden" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l=>l.Radius)" data-input-name="radius" />
                }
            </div>
        </div>
        <span class="field-validation-valid"
              data-valmsg-replace="true"
              data-valmsg-for="@(Model.Name)">
        </span>
        <span class="@Model.GetValidationSpanClass()"
              data-valmsg-replace="true"
              data-valmsg-for="@Model.Name">
            @foreach (var error in Model.Errors)
            {
                <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
                if (error != Model.Errors.Last())
                {
                    <br />
                }
            }
        </span>
    }
    else
    {
        <div class="map-picker @Model.ControlWidthClass">
            <div class='@(!Model.EditorOptions.IsLocationNameHidden && !Model.EditorOptions.IsLatLngHidden ? "panel panel-default input-panel" : null)'>
                @if (!Model.EditorOptions.IsLocationNameHidden)
                {
                    if (Model.EditorOptions.IsLatLngHidden)
                    {
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="@MapPickerResources.LocationPlaceholder" readonly="readonly" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name"/>
                            <span class="input-group-addon map-picker-popup-button">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            @if (Model.IsNullable)
                            {
                                <span class="input-group-addon map-picker-remove-button">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                            }
                        </div>
                        <input type="hidden" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l => l.Latitude)" data-input-name="latitude" />
                        <input type="hidden" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l => l.Longitude)" data-input-name="longitude" />
                        <input type="hidden" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l => l.Radius)" data-input-name="radius" />
                    }
                    else
                    {
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LocationPlaceholder" readonly="readonly" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name"/>
                    }
                }
                else
                {
                    <input type="hidden" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name" />
                }
                @if (!Model.EditorOptions.IsLatLngHidden)
                {
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LatitudePlaceHolder" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l => l.Latitude)" readonly="readonly" data-input-name="latitude" />
                        <span class="input-group-addon">,</span>
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LongitudePlaceHolder" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l => l.Longitude)" readonly="readonly" data-input-name="longitude" />
                        @if (!Model.EditorOptions.IsRadiusHidden)
                        {
                            <span class="input-group-addon">@MapPickerResources.RadiusPlaceHolder</span>
                            <input class="form-control" type="text" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l => l.Radius)" readonly="readonly" data-input-name="radius" />
                        }
                        <span class="input-group-addon map-picker-popup-button">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </span>

                        @if (Model.IsNullable)
                        {
                            <span class="input-group-addon map-picker-remove-button">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        }
                    </div>
                    if (Model.EditorOptions.IsRadiusHidden)
                    {
                        <input type="hidden" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l => l.Radius)" data-input-name="radius" />
                    }
                }
                else
                {
                    <input type="hidden" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l => l.Latitude)" data-input-name="latitude" />
                    <input type="hidden" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l => l.Longitude)" data-input-name="longitude" />
                    <input type="hidden" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l => l.Radius)" data-input-name="radius" />
                }

                @if (Model.EditorOptions.IsLatLngHidden && Model.EditorOptions.IsLocationNameHidden)
                {
                    <div class="input-group">
                        <span class="btn btn-secondary map-picker-standalone-button map-picker-popup-button">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                    </div>
                }
            </div>
        </div>
        <span class="field-validation-valid"
              data-valmsg-replace="true"
              data-valmsg-for="@(Model.Name)">
        </span>
        <span class="@Model.GetValidationSpanClass()"
              data-valmsg-replace="true"
              data-valmsg-for="@Model.Name">
            @foreach (var error in Model.Errors)
            {
                <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
                if (error != Model.Errors.Last())
                {
                    <br />
                }
            }
        </span>
    }
    @if (!Model.IsInPlaceMapPicker)
    {
        <div class="hidden map-picker-popup">
            <div class="map-picker">
                <span class="hidden"><input type="text" class="pac-input" /></span>
                @if (!Model.PopupEditorOptions.IsLocationNameHidden)
                {
                    <input class="form-control" type="text" placeholder="@MapPickerResources.LocationPlaceholder" readonly="readonly" data-input-name="location" />
                }
                else
                {
                    <input type="hidden" data-input-name="location" name="@(Model.Name).Name" value="@Model.Name" />
                }
                <div class="map-picker-popup-map" style="height: @(Model.PopupEditorOptions.Height)px"></div>
                @if (!Model.PopupEditorOptions.IsLatLngHidden)
                {
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LatitudePlaceHolder" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l=>l.Latitude)" data-input-name="latitude" data-val="true" data-val-rangedecimal="@MapPickerResources.LatitudeValueOutOfRange" data-val-rangedecimal-min="-90.0" data-val-rangedecimal-max="90.0" />
                        <span class="input-group-addon">,</span>
                        <input class="form-control" type="text" placeholder="@MapPickerResources.LongitudePlaceHolder" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l=>l.Longitude)" data-input-name="longitude" data-val="true" data-val-rangedecimal="@MapPickerResources.LongitudeValueOutOfRange" data-val-rangedecimal-min="-180.0" data-val-rangedecimal-max="180.0" />
                        @if (!Model.PopupEditorOptions.IsRadiusHidden)
                        {
                            <span class="input-group-addon">@MapPickerResources.RadiusPlaceHolder</span>
                            <input class="form-control" type="text" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l=>l.Radius)" data-input-name="radius" data-val="true" data-val-rangeint="@Model.GetRadiusValidationMessage()" data-val-rangeint-min="@Model.RadiusMinValue" data-val-rangeint-max="@Model.RadiusMaxValue" />
                        }
                    </div>
                }
                else
                {
                    <input type="hidden" name="@(Model.Name).Latitude" value="@GetValue(Model.Location, l=>l.Latitude)" data-input-name="latitude" />
                    <input type="hidden" name="@(Model.Name).Longitude" value="@GetValue(Model.Location, l=>l.Longitude)" data-input-name="longitude" />
                    <input type="hidden" name="@(Model.Name).Radius" value="@GetValue(Model.Location, l=>l.Radius)" data-input-name="radius" />
                }
            </div>
        </div>
    }
</div>
@helper GetValue(GeographicLocationViewModel? location, Func<GeographicLocationViewModel, decimal> selector)
{
    if (location.HasValue)
    {
        @selector(location.Value).ToString(CultureInfo.InvariantCulture)
    }
}
