﻿@using System.Globalization
@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.MapPicker.MapPickerRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (Model.Location.HasValue)
        {
            <span>@(string.IsNullOrEmpty(Model.Location.Value.Name) ? $"{Model.Location.Value.Latitude.ToString("0.00000", CultureInfo.InvariantCulture)}, {Model.Location.Value.Longitude.ToString("0.00000", CultureInfo.InvariantCulture)}" : Model.Location.Value.Name)</span>
        }
        else
        {
            <span class="empty-text">@RenderersResources.NoValueSelectedText</span>
        }
    </div>
</div>
