﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Helpers
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models
@using Smt.Atomic.Presentation.Renderers.CardIndex
@model Smt.Atomic.Presentation.Renderers.CardIndex.IContextModel

@{
    var businessTrip = (BusinessTripViewModel)Model.ContextViewModel;
    var query = $"?{GridParameterModelBinder.ContextParentIdParameterUrlName}={businessTrip.Id}";
}

<div class="list-view-context">
    <div class="summary-heading">
        <a id="summary-collapse-button" class="accordion-toggle" data-toggle="collapse" href="#summary-content-long" aria-expanded="true"></a>
    </div>
    <div class="summary-layout">
        <div id="summary-content-long" class="panel-collapse out collapse in" aria-expanded="true">
            <div>@Html.Bootstrap().DisplayForModel(Model.ContextViewModel, new SummaryLayout())</div>
        </div>
        <div id="summary-content-short" class="short-description" style="display: @(Model.IsContextViewCollapsed ? "block" : "none")">
            <div>@businessTrip.ToString()</div>
        </div>
    </div>   
</div>

<ul class="nav nav-tabs business-trip-tabs">
    @{
        var currentUserRoles = ViewBag.CurrentUserRoles as HashSet<string> ?? new HashSet<string>();
        var tabs = BusinessTripNavigationHelper.GetTabs().Where(t => currentUserRoles.Contains(t.RequiredRole.ToString()));

        foreach (var businessTripTab in tabs)
        {
            <li class="@(businessTripTab.IsActive(ViewContext.Controller) ? "active" : null)">
                <a href="@businessTripTab.GetUrl(Url, query)">
                    <span>@businessTripTab.Name</span>
                </a>
            </li>
        }
    }
</ul>
