﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models
@using Smt.Atomic.WebApp.Areas.Workflows.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var declaredLuggageViewModels = (List<DeclaredLuggageViewModel>)Model.ControlModel;
}

<div class="luggage-control readonly @Model.GetVisibilityClass()">
    <label class="col-sm-2 control-label">@RequestResource.LuggageLabel</label>
    <div class="col-sm-10">
        <table class="table table-bordered table-condensed table-hover small luggage-table">
            <thead>
                <tr>
                    <td>@RequestResource.LuggageControlEmloyeeColumnName</td>
                    <td>@RequestResource.LuggageControlHandLuggageColumnName</td>
                    <td>@RequestResource.LuggageControlRegisteredLuggageColumnName</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var luggage in declaredLuggageViewModels)
            {
                    <tr data-id="@luggage.EmployeeId">
                        <td>@luggage.EmployeeFullName</td>
                        <td>@luggage.HandLuggageItems</td>
                        <td>@luggage.RegisteredLuggageItems</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

