﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models
@using Smt.Atomic.WebApp.Areas.Workflows.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var declaredLuggageViewModels = (List<DeclaredLuggageViewModel>)Model.ControlModel;
}

<script language="javascript" src="/Areas/BusinessTrips/Scripts/Luggage.js"></script>

<div class="form-group">
    <div class="luggage-control editable @Model.GetVisibilityClass()" id="@Model.Id">
        <label class="col-sm-2 control-label">@RequestResource.LuggageLabel</label>
        <div class="col-sm-10">
            <table class="table table-bordered table-condensed table-hover small luggage-table" data-model="@Model.Name">
                <thead>
                    <tr>
                        <td>@RequestResource.LuggageControlEmloyeeColumnName</td>
                        <td>@RequestResource.LuggageControlHandLuggageColumnName</td>
                        <td>@RequestResource.LuggageControlRegisteredLuggageColumnName</td>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < declaredLuggageViewModels.Count; index++)
                    {
                        var luggage = declaredLuggageViewModels[index];
                        <tr data-id="@luggage.EmployeeId" data-index="@index">
                            <td>
                                @luggage.EmployeeFullName
                                <input type="hidden" name="@(Model.Name)[@index].Id" value="@luggage.Id" />
                                <input type="hidden" name="@(Model.Name)[@index].EmployeeId" value="@luggage.EmployeeId" />
                                <input type="hidden" name="@(Model.Name)[@index].EmployeeFullName" value="@luggage.EmployeeFullName" />
                            </td>
                            <td>
                                <input type="number" name="@(Model.Name)[@index].HandLuggageItems" value="@luggage.HandLuggageItems" data-val="true" min="0" max="5" />
                            </td>
                            <td>
                                <input type="number" name="@(Model.Name)[@index].RegisteredLuggageItems" value="@luggage.RegisteredLuggageItems" data-val="true" min="0" max="5" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>