﻿@using Smt.Atomic.WebApp.Areas.BusinessTrips.Models
@using Smt.Atomic.CrossCutting.Common.Enums
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.BusinessTrips.Resources
@using Smt.Atomic.CrossCutting.Common.Helpers
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel
@{ var innerModel = (BusinessTripSettlementViewModel[])Model.ControlModel; }

<ul class="settlements @Model.GetVisibilityClass()">
    @foreach (var settlement in innerModel)
    {
        var statusTitle = settlement.RequestStatus?.GetDescription() ?? BusinessTripResources.NoSettlements;
        statusTitle = !settlement.IsOnControllingPhase ? statusTitle : settlement.ControllingStatus?.GetDescription();

        var statusClass = settlement.RequestStatus.HasValue ? settlement.RequestStatus.Value.ToString().ToLower() : "null";
        statusClass = !settlement.ControllingStatus.HasValue || !settlement.IsOnControllingPhase ? statusClass
            : "controlling-" + NamingConventionHelper.ConvertPascalCaseToHyphenated(settlement.ControllingStatus.Value.ToString());

        <li title="@(statusTitle)">
            <div class="settlement @statusClass">@settlement.ToString()</div>
        </li>
    }
</ul>