﻿@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ValuePicker.ValuePickerRenderingModel

<div class="inline-control @Model.CssClass @Model.GetVisibilityClass()">
    <div class="value-picker @Model.GetMultiValueClass()"
            data-field-name="@Model.Name"
            data-field-id="@Model.Id"
            data-list-id="@Model.ValuePickerTypeIdentifier"
            data-storage-key="@Model.ClientStorageKey"
            data-dialog-width="@Model.DialogWidth"
            data-on-resolve-url="@Model.OnResolveUrlJavaScript"
            data-on-selection-changed="@Model.OnSelectionChangedJavaScript"
            data-is-readonly="@(Model.IsReadOnly ? "true" : "false")"
            data-is-no-value-allowed="@(Model.IsNoValueAllowed ? "true" : "false")"
            data-is-multivalue="@(Model.IsMultiValue ? "true" : "false")"
            data-has-hub="@(Model.HasHub ? "true" : "false")">
        @if (Model.IsReadOnly)
        {
            <span tabindex="0" id="@Model.Id" class="form-control" readonly="readonly">
                @{
                    var isFirst = true;

                    foreach (var item in Model.Items)
                    {
                        if (!isFirst)
                        {
                            <text>, </text>
                        }

                        if (Model.HasHub)
                        {
                            <span
                                data-hub-recordid="@item.Id"
                                data-hub-identifier="@Model.ValuePickerTypeIdentifier">@item.DisplayName</span>
                        }
                        else
                        {
                            <span>@item.DisplayName</span>
                        }

                        isFirst = false;
                    }
                }
            </span>
        }
        else
        {
            <div class="input-group">
                @if (Model.IsMultiValue)
                {
                    <input type="hidden" id="@Model.Id" value="@Model.GetDisplayName()" />
                    <div class="item-container" tabindex="0">@{
                        foreach (var item in Model.Items)
                        {
                            <div data-id="@item.Id" class="value-picker-item">
                                @if (Model.HasHub)
                                {
                                    <span
                                        data-hub-recordid="@item.Id"
                                        data-hub-identifier="@Model.ValuePickerTypeIdentifier">@item.DisplayName</span>
                                }
                                else
                                {
                                    <span>@item.DisplayName</span>
                                }

                                <i class="glyphicon glyphicon-remove value-picker-remove-item-button @Model.PickerButtonClass"></i>
                            </div>
                        }
                    }</div>
                    <div class="button-container">
                        <span class="value-picker-button value-picker-remove-button @Model.PickerButtonClass">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                        <span class="value-picker-button value-picker-add-button @Model.PickerButtonClass">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                }
                else
                {
                    <span tabindex="0" id="@Model.Id" class="form-control">
                        @{
                            var isFirst = true;

                            foreach (var item in Model.Items)
                            {
                                if (!isFirst)
                                {
                                    <text>, </text>
                                }

                                if (Model.HasHub)
                                {
                                    <span
                                        data-hub-recordid="@item.Id"
                                        data-hub-identifier="@Model.ValuePickerTypeIdentifier">@item.DisplayName</span>
                                }
                                else
                                {
                                    <span>@item.DisplayName</span>
                                }

                                isFirst = false;
                            }
                        }
                    </span>

                    if (Model.IsClearButtonAvailable)
                    {
                        <span class="input-group-addon value-picker-remove-button @Model.PickerButtonClass">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    }

                    <span class="input-group-addon value-picker-add-button @Model.PickerButtonClass">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                }
            </div>
        }
        <input @(Model.GetInputTagAttributes()) />
    </div>
    <span class="@Model.GetValidationSpanClass()"
            data-valmsg-replace="true"
            data-valmsg-for="@Model.Name">
        @foreach (var error in Model.Errors)
        {
            <span class="text-danger" for="@Model.Id">@error.ErrorMessage</span>
        }
    </span>
</div>