﻿@using Smt.Atomic.Presentation.Renderers.Resources
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.ValuePicker.ValuePickerRenderingModel

<label class="@Model.LabelWidthClass control-label @Model.CssClass  @Model.GetVisibilityClass()">@Model.GetLabelPlainText()</label>
<div id="@Model.Id" class="@Model.ControlWidthClass @Model.CssClass @Model.GetVisibilityClass()">
    <div class="ellipsis take-full-width" title="@Model.Tooltip">
        @if (string.IsNullOrWhiteSpace(Model.GetDisplayName()))
        {
            <span class="empty-text">@RenderersResources.NoValueSelectedText</span>
        }
        else
        {
            var isFirst = true;

            foreach (var item in Model.Items)
            {
                if (!isFirst)
                {
                    <text>, </text>
                }

                if (Model.HasHub)
                {
                    <span
                        data-hub-recordid="@item.Id"
                        data-hub-identifier="@Model.ValuePickerTypeIdentifier">@item.DisplayName</span>
                }
                else
                {
                    <span>@item.DisplayName</span>
                }

                isFirst = false;
            }
        }
    </div>
</div>
