﻿@using Smt.Atomic.Business.Scheduling.Enums
@using Smt.Atomic.WebApp.Areas.Scheduling.Resources
@model IList<Smt.Atomic.WebApp.Areas.Scheduling.Models.JobDefinitionViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@JobDefinitionResources.JobStatusPageTitle</title>
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <table class="table table-hover table-bordered">
        <tr>
            <th>@JobDefinitionResources.JobCodeHeader</th>
            <th>@JobDefinitionResources.JobStatusHeader</th>
        </tr>
        @foreach (var job in @Model)
        {
            <tr class="job @(job.Status == JobStatusType.Healthy || job.Status == JobStatusType.Running ? "success" : job.Status == JobStatusType.NoData ? "warning" : "danger" )">
                <td class="jobTitle">
                    @job.Code
                </td>
                <td class="jobStatus">
                    @(job.StatusDescription)
                </td>
            </tr>
        }
    </table>
</body>
</html>