﻿.grid {
    .grid-table {
        tbody {
            td {
                .tile {
                    @line-height: 20px;

                    display: inline-block;
                    height: 242px;
                    max-width: 367px;
                    overflow: hidden;
                    width: 40%;

                    .group-theme {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        line-height: @line-height;

                        >p, >div {
                            flex-basis: @line-height;
                            flex-grow: 0;
                        }

                        .group-description {
                            flex-grow: 1;
                            font-style: italic;
                            margin-bottom: 10px;
                            overflow: hidden;
                        }

                        .group-members, .group-description p {
                            margin-bottom: 0;
                        }

                        .group-name {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.visualization {
    .list-group-item {
        max-width: 700px;
        margin: 0 auto;
    }

    .user {
        display: flex;
        justify-content: space-between;

        .badge {
            margin-left: 5px;
        }

        &-image {
            display: inline-block;
            height: 20px; 
            margin-right: 5px;
            width: 20px;
        }

        &-name {
            align-items: center;
            display: flex;
        }
    }
}