﻿@border-color: #DDD;
@border: 1px solid @border-color;
@column-width: 30px;
@row-min-height: 50px;
@max-block-size: 25px;

@default-block-color: #A1A6A1;
@certain-block-color: #4EA64B;
@select-color: #337ab7;

@dayOff-color: #c00;
@dayOff-backgroundColor: #eee;

@default-background-color: #FFF;

@absence-background-color: #333;
@absence-color: #ececec;

@open-part-block-color: #FFF;
@full-part-block-color: #92d050;
@inactive-part-block-color: #A1A6A1;
@holiday-part-block-color: #90eefe;
@vacations-part-block-color: #ffa7e2;
@partopen-part-block-color: #e2efd9;
@partoverallocated-part-block-color: #ffc000;
@overallocated-part-block-color: @partoverallocated-part-block-color;
@planned-part-color: #1daeec;
@certain-part-color: #59D159;

.layer(@number) {
    z-index: 100 + @number;
}

.ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.bottom-border(@color) {
    & {
        position: relative;
    }

    &::after {
        content: "";
        border-bottom: 1px solid @color;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.summary-blocks() {
    &-full {
        background-color: @full-part-block-color;
    }

    &-inactive {
        background-color: @inactive-part-block-color;
    }

    &-holiday {
        background-color: @holiday-part-block-color;
    }

    &-vacations {
        background-color: @vacations-part-block-color;
    }

    &-partopen {
        background-color: @partopen-part-block-color;
    }

    &-partoverallocated {
        background-color: @partoverallocated-part-block-color;
    }

    &-overallocated {
        background-color: @overallocated-part-block-color;
    }

    &-empty {
        background-color: @default-background-color;
    }
}

.page-layout {
    @padding-size: 12px;

    .footer-section {
        .footer-item {
            display: inline;
        }

        .legend-part {
            display: inline-block;
            border: 1px solid #333;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            .summary-blocks();
        }

        .footer-items-legend {
            font-size: 11px;
            padding-right: 8px;
        }

        .legend-part-container {
            padding-right: 5px;
        }

        .footer-items {
            position: relative;
            display: inline-block;


            &:hover {
                .footer-items-content {
                    display: flex;
                    bottom: 38px;
                    right: 0;
                }
            }

            &-content {
                position: absolute;
                z-index: 1000;
                background-color: @default-background-color;
                min-width: 300px;
                padding: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                display: none;
                transition: bottom 1s linear;
                bottom: 0;
                right: 0;

                label {
                    float: right;
                }

                fieldset {
                    margin-bottom: 5px;

                    legend {
                        font-size: 11px;
                        margin: 0;
                        text-transform: uppercase;
                        color: #A1A6A1;
                        border: none;
                    }

                    .fieldset-section {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            &-toggle {
                line-height: 38px;
                cursor: pointer;

                i {
                    margin-right: 5px;
                }
            }
        }

        #footer-items {
            float: right;

            .toggle {
                margin-top: 6px;
                float: left;

                > span {
                    display: inline-block;
                    float: left;
                    padding-right: 30px;
                }
            }
        }

        .form-footer {
            background-color: @default-background-color;

            .record-count-footer {
                float: left;
                font-size: @padding-size;
            }
        }

        .pagination {
            margin-top: 4px;

            li, a {
                font-size: @padding-size;
                line-height: @padding-size + 2px;
            }
        }

        .footer-oneliner {
            display: none;
        }
    }

    .block-part {
        position: relative;

        &-container {
            background-color: @inactive-part-block-color;
            cursor: default;
        }

        .projects-collection {
            .project-allocation {
                &-block {
                    cursor: pointer;
                    .bottom-border(#333);

                    &-planned {
                        color: #333;
                        background-color: @planned-part-color;
                    }

                    &-certain {
                        color: #333;
                        background-color: @certain-part-color;
                    }

                    &-empty {
                        background-color: @default-background-color;
                    }
                }
            }
        }

        .projects-collection {
            .project-allocation-block {
                .static-height(25px);
                line-height: 25px;
            }

            &-overtime {
                .project-allocation-block {
                    background-color: @partoverallocated-part-block-color;
                }
            }

            &-icons {
                @small-block-size: 4px;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                padding-left: @small-block-size / 2;

                .project-allocation-block {
                    .static-height(@small-block-size);
                    .static-width(@small-block-size);
                    margin-right: @small-block-size / 2;
                    margin-bottom: @small-block-size / 2;
                    float: left;

                    &:after {
                        display: none;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .marker {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;

            &-planned {
                border-color: @planned-part-color transparent transparent transparent;
            }
        }
    }
}

.stripes(@color1, @color2) {
    background-image: linear-gradient(122deg, @color1 25%, @color2 25%, @color2 50%, @color1 50%, @color1 75%, @color2 75%, @color2 100%);
    background-size: 10.00px 16.00px;
}

.static-width(@width) {
    min-width: @width;
    max-width: @width;
    width: @width;
}

.static-height(@height) {
    min-height: @height;
    max-height: @height;
    height: @height;
    line-height: @height;
}

.allocation-group {
    border-bottom: none;
    display: inline-block;
    border-left: @border;

    .sort-component {
        height: 100%;
        padding: 0 5px;
        font-size: 13px;
        display: flex;
        align-items: flex-end;
        position: relative;
        justify-content: space-between;

        .dropdown-menu {
            width: 100%;
        }

        &-value {
            font-weight: bold;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 12px;
        }

        .sort-indicator {
            margin-bottom: 2px;
            cursor: pointer;
            color: @border-color;
        }

        &-switch { /* bootstrap override */
            display: block;
            padding: 3px 5px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            white-space: nowrap;
            cursor: pointer;

            &:hover { /* bootstrap override */
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }

            .fa {
                float: right;
                margin-top: 4px;
            }
        }
    }

    .block-tooltip {
        position: relative;

        &-body {
            min-width: 350px;
            background-color: @default-background-color;
            border: @border;
            box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 5px;
            position: absolute;
            .layer(6);
            outline: none;
            padding: 10px;
            color: #333;
            line-height: 14px;
            cursor: default;
            bottom: @row-min-height;

            &.on {
                &-bottom {
                    top: 0;
                    bottom: auto;
                }

                &-top {
                    bottom: @row-min-height;
                }
            }


            label {
                display: block;
            }

            .form-group {
                margin-bottom: 5px;
                margin-right: 70px;
            }

            .icons {
                position: relative;
                width: 100%;

                .fa {
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                }
            }

            .project-picture {
                position: relative;
                width: 100%;

                &-body {
                    position: absolute;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    .static-width(70px);
                    .static-height(70px);
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    * {
        box-sizing: border-box;
    }

    .dailies {
        display: flex;
    }

    .week {
        &, &-block {
            .static-width(7 * @column-width);

            &.no-weekends {
                .static-width(5 * @column-width);
            }

            @overlay-size: 4px;

            .overlay-block {
                .static-width(@column-width);
                background-color: #FFF;
                height: @overlay-size;

                &-planned {
                    background-color: @planned-part-color;
                }

                &-absence {
                    position: relative;

                    &::after {
                        content: "";
                        width: @overlay-size;
                        display: block;
                        background-color: @vacations-part-block-color;
                        position: absolute;
                        height: 60px + @overlay-size;
                        z-index: 10;
                        bottom: 0;
                    }
                }
            }

            &.compact-size {
                .block-part {
                    line-height: 20px;
                    height: 20px;

                    &.block-part-full {
                        span {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }

    .month, .week {
        border-bottom: @border;
    }

    .month, .week, .day {
        border-right: @border;
        text-align: center;
        padding: 2px;
        font-size: 12px;
        font-weight: normal;
    }

    .allocation-group-header {
        .layer(6);
        position: relative;
        background-color: @default-background-color;
        border-top: @border;

        .column-header {
            background-color: @default-background-color;
            border-left: @border;
            border-right: @border;
        }

        &-days {
            .dailies {
                border-bottom: @border;
            }
        }
    }

    .allocation-group-body {
        display: flex;
        flex-direction: column;
        position: relative;
        @indicatorColor: rgba(0, 0, 0, 0.19);

        .employee-vertical-indicator {
            position: absolute;
            height: 100%;
            left: -30px;
            pointer-events: none;

            &::before {
                content: " ";
                height: 100%;
                width: 30px;
                display: block;
                background-color: @indicatorColor;
                pointer-events: none;
                border-left: 1px solid @indicatorColor;
                border-right: 1px solid @indicatorColor;
            }
        }
    }

    .day {
        width: @column-width;
        min-width: @column-width;
        max-width: @column-width;
        display: flex;
        flex-direction: column;

        &.weekend {
            color: @dayOff-color;
            background-color: @dayOff-backgroundColor;
        }

        .daynumber {
            font-size: 12px;
            font-weight: normal;
            text-align: center;
        }

        .dayname {
            font-size: 10px;
            font-weight: normal;
            text-align: center;
        }
    }
}

.allocation-group {
    &-container {
        display: flex;
        flex-direction: column;
    }

    &-normal-blocks-row {
        @block-height: 60px;
        display: flex;
        flex-direction: row;

        .week-block {
            display: flex;
            flex-direction: row;

            .block {
                &-group {
                    display: flex;
                    flex-direction: column;

                    > div {
                        text-align: left;
                        cursor: default;
                    }

                    .project-block {
                        &-name, &-hours {
                            padding-left: 10px;
                            display: inline;
                        }
                    }

                    .modal-dialog {
                        .modal-footer {
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }

                    .multiple-projects {
                        background-color: #B6C6D8;
                        color: #333;
                        padding: 5px;
                        line-height: normal;
                        .bottom-border(#333);

                        > span {
                            overflow: hidden;
                            width: 100%;
                            float: left;
                        }

                        .part-overallocated {
                            color: #ed7d31;
                        }

                        &:hover {
                            .small-project-icons {
                                > .fa {
                                    display: block;
                                }
                            }
                        }

                        .small-project-icons {
                            @small-block-size: 5px;
                            width: 100%;

                            > .fa {
                                float: right;
                                display: none;
                            }
                        }
                    }
                }

                &-part {
                    line-height: @block-height;
                    box-sizing: border-box;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 10px;
                    border-right: 1px dashed @border-color;
                    background-color: @inactive-part-block-color;

                    &-open {
                        background-color: @open-part-block-color;
                    }

                    &-regular, &-inactive {
                        .static-height(@block-height);
                    }

                    &-overtime {
                        border-top: 1px solid @inactive-part-block-color;
                        box-sizing: content-box;
                    }

                    &-inactive {
                        box-sizing: content-box;
                        display: flex;
                    }

                    .summary-blocks();
                }
            }
        }
    }

    &-row {
        display: flex;
        min-height: @row-min-height;
        cursor: pointer;
        .bottom-border(#333);

        .employee {
            &-info {
                min-height: @max-block-size;
                line-height: @max-block-size;
                white-space: nowrap;
                background-color: @default-background-color;
                position: relative;
                .layer(5);
                padding: 0 5px;
                border-left: @border;
                border-right: @border;
                .bottom-border(#333);

                .processing-indicator {
                    @indicator-size: 12px;
                    width: @indicator-size;
                    height: @indicator-size;
                    font-size: @indicator-size;
                    position: absolute;
                    .layer(0);
                    background-color: @default-background-color;
                    right: 0;
                    top: 3px;
                }

                &:before {
                    content: " ";
                    width: 5px;
                    height: 100%;
                    background-color: transparent;
                    position: absolute;
                    left: 0;
                    transition: background-color 0.2s ease-in;
                }

                &.selected {
                    &:before {
                        background-color: @select-color;
                    }
                }

                &:hover {
                    .fa {
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0s linear 0s, opacity 300ms;
                    }
                }

                &-block {
                    display: flex;
                    flex-direction: column;


                    .fa {
                        @toggle-size: 12px;
                        position: absolute;
                        top: 1px;
                        right: 5px;
                        font-size: @toggle-size;
                        color: #888;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s linear 300ms, opacity 300ms;

                        &:hover {
                            color: #333;
                        }
                    }
                }
            }

            &-name {
                font-size: 13px;
                padding-right: 10px;
            }

            &-profile, &-level {
                display: none;
            }

            &-data {
                color: #888;
                font-size: 12px;
                padding-right: 5px;
                display: block;
                float: left;
                width: 100%;

                span.separator {
                    padding-right: 5px;
                }
            }
        }
    }

    &-blocks-row {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: @max-block-size;

        .block {
            max-height: @max-block-size;
            line-height: @max-block-size;
            position: absolute;
            padding: 0 5px;
            font-size: 12px;
            color: @default-background-color;
            background-color: @default-block-color;
            border: 1px solid @default-background-color;
            border-radius: 3px;
            display: flex;
            transition: width 0.3s ease, top 0.3s ease, left 0.3s ease;

            &-name {
                .ellipsis();
            }

            &-level {
                padding-left: 5px;
            }

            &.certain {
                background-color: @certain-block-color;
            }

            &.absence {
                background-color: @absence-background-color;
                color: @absence-color;
                max-height: 15px;
                font-size: 9px;
                padding: 0 5px;
                line-height: 12px;
                height: 15px;
                margin-top: 5px;

                .block-name {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

.allocation-status-key {
    .key-color {
        &.allocation {
            &-planned {
                background-color: @default-block-color;
            }

            &-certain {
                background-color: @certain-block-color;
            }
        }
    }
}

.tooltip {
    @tooltip-color: #FFEAB9;
    @tooltip-text-color: #333;

    &-row {
        white-space: nowrap;
        text-align: left;
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;

        &-summary {
            border-top: 1px solid @tooltip-text-color;
        }

        &-description {
        }

        &-value {
            padding-left: 5px;
            font-weight: bold;
        }
    }

    &-inner {
        min-width: 300px;
        background-color: @tooltip-color;
        color: @tooltip-text-color;
        border: 1px solid @tooltip-text-color;
        max-width: none;
    }

    &-arrow {
        border-top-color: @tooltip-text-color;
    }
}

#allocation-table {

    .detached-scroll {
        &-content {
            overflow: hidden;
            .layer(0);
            position: absolute;
            border-bottom: @border;

            &-shadow {
                position: relative;
                width: 22px;
                .layer(2);
                box-shadow: none;
                transition: box-shadow 0.3s ease-in-out;
            }

            &.vertical-scroll {
                .detached-scroll-content-shadow {
                    display: block;
                    box-shadow: 8px 3px 17px -9px rgba(0, 0, 0, 0.75);
                }

                .employee-info {
                    border-right-color: transparent;
                }
            }
        }

        &-handler {
            position: absolute;
            bottom: 0;
            right: 0;
            .layer(-1);
            overflow: auto;
        }
    }
}

.inline-dialog {
    .layer(7);
    background-color: #fff;
    position: fixed;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;

    &-open {
        display: block;
    }

    &-content {
        position: relative;
        padding-right: 16px;

        &-header {
            padding: 2px;
        }

        &-form {
            position: relative;
            float: left;
            width: 100%;
            padding: 5px;
        }

        .fa-times-circle-o {
            position: absolute;
            right: 2px;
            cursor: pointer;
        }
    }
}

.request-inline-form {
    &-row {
        @font-size: 10px;
        @line-height: 20px;
        padding-left: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;

        &-toggle {
            .input-group {
                padding-left: @line-height;
            }

            .toggle-button {
                min-width: 40px;
                height: @line-height;
                right: @line-height;
                font-size: @font-size;
                line-height: @line-height;
            }
        }

        &-employee {
            margin-bottom: 0;
        }

        .alert {
            font-size: @font-size;
            padding: 5px;
            width: 100%;
            margin: 0;
        }

        &-employee, &-project {
            > span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                font-size: 14px;
            }
        }

        &-project {
            margin-top: 5px;
            margin-bottom: 15px;

            > span {
                line-height: 18px;
                font-size: 12px;
            }
        }

        > label {
            font-size: @font-size;
            line-height: @line-height;
            margin: 0;
            padding-right: 10px;
            font-weight: normal;
            min-width: 60px;
        }

        .form-datepicker {
            max-width: 70px;
            padding: 4px;
        }

        .input-group {
            margin-right: 10px;

            input {
                float: left;
            }

            .input-group-addon {
                font-size: @font-size;
                line-height: @line-height;
                padding: 0 6px;
                .static-height(@line-height);
                .static-width(@line-height + 6);
                float: left;
            }
        }

        .date-action {
            font-size: @font-size;
            cursor: pointer;
            color: #0067b0;
            padding: 0;

            &:after {
                content: " · ";
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }

        &-actions {
            justify-content: flex-end;
            margin-bottom: 5px;

            .btn-group-sm {
                .btn {
                    font-size: @font-size;
                    line-height: @line-height;
                    padding: 2px 5px;
                }
            }
        }

        table {
            label {
                font-size: @font-size;
                font-weight: normal;
            }

            td, th {
                .static-height(@line-height);
                text-align: left;
                padding: 0;
                padding: 0 2px;
            }

            td {
                input {
                    width: 100%;
                }
            }
        }

        input {
            font-size: @font-size;
            line-height: @line-height;
            height: @line-height;
            text-align: right;
            width: 100%;
            padding: 6px 3px;
        }
    }

    .dropdown {
        padding-left: 5px;

        button {
            width: 100%;
            color: #333;
            padding: 0;
            text-align: left;
        }

        .dropdown-menu {
            .dropdown-item {
                width: 100%;
                float: left;
                padding: 0 5px;
                border-bottom: 1px solid #ddd;
            }
        }

        .fa {
            span {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
