﻿@profileTitleFontColor: #666;
@tdLabelFontColor: #bbb;

.profileTitle {
    color: @profileTitleFontColor;
}

.tdLabel {
    font-size: 12px;
    color: @tdLabelFontColor;
    padding-right: 10px;
    vertical-align: bottom;
    margin-top: 2px;
}

.tdDisplay {
    font-size: 12px;
    margin-top: 2px;
}

.employee-tile {
    margin: 15px !important;
}

.no-padding {
    padding: 0px !important;
    margin: 0px !important;
}

.employee-unit-align {
    text-align: right;
}

p.wrap {
    white-space: normal;
    margin: 0px;
    padding: 0px;
}

h4.employee-name {
    margin-top: 2px;
}

.data-container{
    padding-bottom: 15px;
}