﻿@baseZIndex: 100;
@border-color: #DDD;

@color-planned: #61A0D9;
@color-free: #FFEA00;
@color-almostfree: #FFF368;
@color-underallocated: #FFBE40;
@color-underplanned: #B6D3EE;
@color-inactive: #DDD;
@color-allocated: #f9f9f9;
@color-no-available-hours: #c0c0c0;
@color-unavailable: #ececec;
@color-over-allocated: #e51323;
@color-selected-marker: #0072c6;
@color-planed-project: orange;

@utilization-width: 26px;
@absence-icon-width: 6px;

@cell-padding: 5px;
@small-cell-padding: @cell-padding;
@border-size: 1px;
@border-color: #ddd;

@-webkit-keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 27px 0;
    }
}

@-moz-keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 27px;
    }
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 140px 0;
    }

    100% {
        background-position: 0 0;
    }
}

.background-mixed(@baseColor, @alterColor, @size) {
    background: repeating-linear-gradient(45deg, @baseColor, @baseColor @size, @alterColor @size, @alterColor 20px );
}

.toggleAllocationSummary(@summary, @details) {
    .allocation-summary {
        display: @summary;
        border-bottom: none;
    }

    .allocation-details {
        display: @details;
    }
}

.allocations() {
    &.allocation {
        &-planned {
            background-color: @color-planned;
        }

        &-free, &.allocation-almostfree {
            background-color: @color-almostfree;
        }

        &-underallocated {
            background-color: @color-underallocated;
        }

        &-underplanned {
            background-color: @color-underplanned;
        }

        &-mixed {
            .background-mixed(#CCC, #DDD, 10px);

            &.key-color-small {
                .background-mixed(#CCC, #f9f9f9, 6px);
            }
        }

        &-inactive {
            background-color: @color-inactive;
            color: #ccc;
        }

        &-allocated {
            background-color: @color-allocated;
        }

        &-unavailable {
            background-color: @color-unavailable;
        }
        
        &-no-available-hours {
            background-image: repeating-linear-gradient(45deg, @color-no-available-hours, @color-no-available-hours 5px, @color-unavailable 5px, @color-unavailable 20px);
        }

        &-processing {
            @time: 3.5s;

            .background-mixed(#CCC, #DDD, 10px);
            background-position: 0;
            -webkit-animation: slide @time infinite linear;
            -moz-animation: slide @time infinite linear;
            animation: slide @time infinite linear;
            
            i.fa {
                margin: auto;
                display: block;
                width: 20px;
                padding: @cell-padding;
            }

            &.key-color-small {
                .background-mixed(#CCC, #DDD, 5px);
                -webkit-animation: slide @time * 4 infinite linear forwards;
                -moz-animation: slide @time * 4 infinite linear forwards;
                animation: slide @time * 4 infinite linear forwards;
            }
        }
    }
}

.week {
    .allocation-row {
        .toggleAllocationSummary(none, block);

        &.multiple-allocations {
            .toggleAllocationSummary(block, none);
        }
    }

    .allocation-selected {
        .allocation-row {
            &.multiple-allocations {
                .toggleAllocationSummary(none, block);
            }
        }
    }
}

.day {
    .allocation-row {
        .toggleAllocationSummary(none, block);

        &.multiple-allocations {
            .toggleAllocationSummary(none, block);
        }
    }
}

.day-column {
    .part {
        &-day {
            float: left;
            display: block;
            color: #AAA;
        }

        &-date {
            float: right;
            display: block;
        }
    }
}

.table.allocation-table {
    @column-width: 130px;
    border-collapse: separate;
    border: @border-size solid @border-color;
    border-top: none;

    th {
        text-align: right;
    }

    > thead:first-child {
        tr:first-child {
            td, th {
                border-top: @border-size solid @border-color;
                padding: @cell-padding;
            }
        }
    }

    thead,
    tbody {
        tr {
            @select-border-width: 3px;

            & {
                .employee-column.full-name {
                    border-left: @select-border-width solid Transparent;
                    padding-left: @cell-padding - @select-border-width + @border-size;
                }
            }

            &.allocation-selected {
                td.employee-column.full-name {
                    border-left: @select-border-width solid @color-selected-marker;
                    padding-left: @cell-padding - @select-border-width + @border-size;
                    background-color: #FFF;
                }
            }

            td,
            th {
                border-top: none;
                border-right: @border-size solid @border-color;
                border-bottom: @border-size solid @border-color;
            }
        }
    }

    td, th {
        max-width: @column-width;
        min-width: @column-width;
        width: @column-width;
        text-align: left;
        padding: 0;

        .sortable {
            z-index: 102;
        }

        .fa-sort-desc {
            float: right;
        }

        &.week-column {
            text-align: right;
            position: relative;

            .week-number {
                position: absolute;
                top: 2px;
                left: 2px;
                color: #ddd;
                font-size: 10px;
            }
        }

        &.employee-column {
            padding: @cell-padding;

            &.name {
                white-space: nowrap;
                max-width: 250px;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        &.fix-horizontal, &.fix-vertical {
            position: relative;
            left: 0;
            z-index: 100;
            background-color: #FFF;
        }

        &.current-date-header,
        &.current-date-header .part-day {
            background-color: #337ab7;
            color: #fff;
        }

        &.fix-horizontal.fix-vertical {
            z-index: 101;
        }
    }

    > tbody {
        > tr {
            td {
                position: relative;
                padding: 0;

                i.over-allocated {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 8px 0;
                    border-color: transparent #e51323 transparent transparent;
                    z-index: 2;
                }

                i.planned-project {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 0 0;
                    border-color: @color-planed-project transparent transparent transparent;
                    z-index: 2;
                }

                .allocation-project {
                    float: left;
                    width: 100%;
                    position: relative;
                }

                &.weekly-projects {
                    .allocations();

                    a, span {
                        color: #333;
                        font-size: 12px;
                        line-height: 20px;
                        font-family: "arial narrow", "arial";
                        font-stretch: condensed;
                        text-decoration: none;
                    }

                    .allocation-project-row {
                        & {
                            overflow: hidden;
                            @opacity: 0.2;
                            @opacityValue: @opacity * 100;

                            .ripple {
                                position: absolute;
                                top: 100px;
                                width: 105%;
                                height: 105%;
                                left: 0;
                                background-color: #333;
                                opacity: @opacity;
                                filter: alpha(opacity=@opacityValue);
                                pointer-events: none;
                            }

                            &:hover {
                                .ripple {
                                    top: 0;
                                }
                            }
                        }

                        & {
                            .message {
                                display: block;

                                &-hover {
                                    display: none;
                                }
                            }

                            &:hover {
                                .message {
                                    display: none;

                                    &-hover {
                                        display: block;
                                    }
                                }
                            }
                        }

                        display: block;
                        float: left;
                        width: 100%;
                        padding: @small-cell-padding;
                        position: relative;

                        .project-info {
                            display: block;
                            float: left;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            padding-right: @utilization-width + @absence-icon-width;
                        }

                        .utilization-info {
                            position: absolute;
                            right: @small-cell-padding;
                            display: block;
                            float: left;
                            width: @utilization-width;
                            text-align: right;

                            &.utilization-over-allocated {
                                background-color: @color-over-allocated;
                                color: yellow;
                                border-radius: 5px;
                                font-size: 11px;
                                text-align: center;
                            }
                        }

                        .absence-info {
                            position: absolute;
                            right: @utilization-width + @absence-icon-width;
                            float: left;
                            display: block;
                        }
                    }
                }
            }
        }

        .allocation-project-row:not(:last-child) {
            border-bottom: @border-size solid @border-color;
        }
    }
}

.grid-allocation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    &.day {
        .last-working-day-of-the-week {
            border-right: 3px double @border-color;
        }
    }

    &.week {
        .last-working-week-of-the-month {
            border-right: 3px double @border-color;
        }
    }
}

.grid .grid-table {
    overflow-y: hidden;
}

.allocation-status-key {
    float: right;
    font-size: 11px;
    padding: 10px 0;

    .key-color {
        display: inline-block;
        border: 1px solid #333;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        .allocations();
    }

    .key-label {
        color: #777;
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}