﻿@changePictureFontColor: #FFF;
@imageHoverBackgroundColor: rgba(29, 106, 154, 0.72);
@profileTitleFontColor: #666;
@profileDetailsFontColor: #aaa;
@tdLabelFontColor: #bbb;

.imgWrap {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
}

.imgHover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    background-color: @imageHoverBackgroundColor;
    margin-bottom: 15%;
    margin-top: 15%;
}

.imgWrap:hover .imgHover {
    visibility: visible;
    opacity: 1;
}

.imgContent {
    vertical-align: top;
}

.changePicture {
    color: @changePictureFontColor;
}

.profile {
    margin-top: 15px;
    margin-left: 20px;
}

.profileHeader {
    margin-bottom: 0;
    margin-top: 0;
}

.profileTitle {
    margin-top: 1px;
    color: @profileTitleFontColor;
    margin-left: 2px;
}

.profileDetails {
    color: @profileDetailsFontColor;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}

.tdLabel {
    font-size: 12px;
    color: @tdLabelFontColor;
    padding-right: 10px;
    vertical-align: bottom;
}

.tdDisplay {
    font-size: 12px;
}
