﻿@projectTitleFontColor: #666;
@projectDetailsFontColor: #aaa;
@tdLabelFontColor: #bbb;

.project {
    margin-top: 15px;
    margin-left: 20px;
}

.projectHeader {
    margin-bottom: 0;
    margin-top: 0;
}

.projectTitle {
    margin-top: 1px;
    color: @projectTitleFontColor;
    margin-left: 2px;
}

.tdLabel {
    font-size: 12px;
    color: @tdLabelFontColor;
    padding-right: 10px;
    vertical-align: bottom;
    margin-top: 2px;
}

.tdDisplay {
    font-size: 12px;
    margin-top: 2px;
}

.detailsRow {
    margin-top: 15px;
}
