﻿@model Smt.Atomic.WebApp.Areas.Reporting.Models.ChartViewModel
@using Smt.Atomic.WebApp.Areas.Reporting.Resources

@section scripts {
    <script>
        var reportParameters = @(Html.Raw(Model.ParametersJson));
        var reportData = @(Html.Raw(Model.DataJson));
        var graph;

        @(Html.Raw(Model.ConfigurationJavascript))

        $(document).ready(function () {
            var context = document.getElementById("chart-canvas").getContext("2d");
                graph = new Chart(context, configurations[0].config);
                ChartReport.populateConfigurations(configurations);
            });
    </script>
}

<div class="btn-group">
    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-availability-mode="always" aria-expanded="false">
        <i class="fa fa-table before-text" aria-hidden="true"></i> @(ChartResources.ConfigurationsButton) <span class="caret"></span>
    </button>
    <ul id="predefined-config-menu" class="dropdown-menu filter-menu" role="menu"></ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default" onclick="ChartReport.showParametersModal('@(Model.ReportParametersDialogUrl)', '@(Model.ReportCode)', reportParameters)">
        <i class="fa fa-filter" aria-hidden="true"></i> @(ChartResources.ParametersButton)
    </button>
</div>
<div id="chart-container">
    <canvas id="chart-canvas"></canvas>
</div>