﻿@model Smt.Atomic.WebApp.Areas.Reporting.Models.PivotTableViewModel
@using Smt.Atomic.WebApp.Areas.Reporting.Resources

@section scripts {
    <script>
        var pivotTable;
        var reportParameters = @(Html.Raw(Model.ParametersJson));
        var reportData = @(Html.Raw(Model.DataJson));
        var pivot = { configurations: [] };

        // Custom configuration
        @(Html.Raw(Model.ConfigurationJavascript))

        $(document).ready(function () {
            pivotTable = new Reporting.PivotTable($("#PivotTable"), reportData, pivot);
            PivotTableReport.init(pivotTable, "@(Model.ReportName)");
        });
    </script>
}

<div class="btn-group">
    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-availability-mode="always" aria-expanded="false">
        <i class="fa fa-table before-text" aria-hidden="true"></i> @(PivotTableResources.ConfigurationsButton) <span class="caret"></span>
    </button>
    <ul id="predefined-config-menu" class="dropdown-menu filter-menu" role="menu">
        <li class="sudo"><a href="#" onclick="Reporting.exportConfig(pivotTable)"><i class="fa fa-download" aria-hidden="true"></i> Export</a></li>
        <li class="sudo"><a href="#" onclick="Reporting.importConfig(pivotTable)"><i class="fa fa-upload" aria-hidden="true"></i> Import</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default" onclick="pivotTable.toggleUI()">
        <i class="fa fa-pencil" aria-hidden="true"></i> @(PivotTableResources.CustomizeButton)
    </button>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default" onclick="Reporting.showParametersModal('@(Model.ReportParametersDialogUrl)', '@(Model.ReportCode)', reportParameters)">
        <i class="fa fa-filter" aria-hidden="true"></i> @(PivotTableResources.ParametersButton)
    </button>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-default" onclick="pivotTable.copyToClipboard()">
        <i class="fa fa-copy" aria-hidden="true"></i> @(PivotTableResources.CopyToClipboardButton)
    </button>
</div>

<div class="btn-group">
    <button id="download-excel" type="button" class="btn btn-default" disabled>
        <i class="fa fa-download" aria-hidden="true"></i> @(PivotTableResources.DownloadAsExcelButton)
    </button>
</div>

<br />
<br />

<div id="PivotTable" class="pivotTable"></div>
