﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.WebApp.Areas.TimeTracking.Models.AbsenceRequestNotificationModel

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>@Model.EmployeeFullName requested an absence</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi, @Model.ReceiverName,<br />
        <br />
        @Model.EmployeeFullName has requested an absence. We think that you could be interested in. <br />
        Request details: @Model.Description
    </div>
    <br />
    Click <a href="@Model.RequestsWatchedByMeLink">here</a> to see requests watched by me
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>