﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.TimeTracking.Dto.ContractChangeDescription

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    <div id="content">
        Hi there, <br />
        Contract type(s): <span class="bold">@string.Join(", ", Model.ModifiedContractType.Select(c => c.NameEn))</span> has been <span class="bold">@Model.ChangeDescription</span> <br /> <br />
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>