﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.TimeTracking.Dto.TimeReportReopenedEmailDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Report for @Model.TimeReportCode for @Model.TimeReportUserDisplayName has been reopened by @Model.RequestApproverDisplayName</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        Hi,<br />
        <br />
        Report for @Model.TimeReportCode for @Model.TimeReportUserDisplayName has been reopened by @Model.RequestApproverDisplayName
    </div>
    @(Raw(EmailTemplateHelper.SharedSignature))
</body>
</html>