﻿@using Smt.Atomic.Presentation.EmailTemplates.Helpers
@model Smt.Atomic.Business.TimeTracking.Dto.TimeReportReminderDto

<html>
<head>
    @(Raw(EmailTemplateHelper.SharedHead))
    <title>Contract type notification</title>
</head>
<body>
    @(Raw(EmailTemplateHelper.SharedLogo))
    <div id="content">
        <p>Hi, @Model.EmployeeFirstName,</p>
        <p>Please remember to fill in your <a href="@(Model.ServerAddress)TimeTracking/MyTimeReport/MyTimeReport">Time Report</a> for <span class="bold">@Model.ReportDate.ToString("MMMM yyyy")</span>.</p>
        @(Raw(EmailTemplateHelper.SharedSignature))
    </div>
</body>
</html>