﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.WebApp.Extensions
@model Smt.Atomic.Presentation.Renderers.Models.Dialogs.ModelBasedDialogViewModel<Smt.Atomic.WebApp.Models.DocumentUpload.CropImageModel>

@using (Html.BeginCommonDialog(Model))
{
    using (Html.BeginForm("CropImage", "DocumentUpload", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group"
             data-component="DocumentUpload.CropImage"
             data-id="@Model.Model.TemporaryDocumentId"
             data-min-height="@Model.Model.Settings.MinHeight"
             data-max-height="@Model.Model.Settings.MaxHeight"
             data-min-width="@Model.Model.Settings.MinWidth"
             data-max-width="@Model.Model.Settings.MaxWidth"
             data-should-preserve-aspect-ratio="@Model.Model.Settings.ShouldPreserveAspectRatio">
            @Html.Bootstrap().HiddenForModel(Model.Model)
            <div class="center-block preview-image preview-image-center">
            </div>
        </div>

        @Html.ValidationSummaryAsAlerts(true)
    }
}
