﻿@inherits System.Web.Mvc.WebViewPage<Smt.Atomic.WebApp.Areas.Survey.Models.SurveyViewModel>
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Survey.Resources
@using Smt.Atomic.WebApp.Areas.Survey.Layout

@{
    var renderer = new JavascriptQuestionVisibilityRenderer();
    var modelBuilder = new SurveyRenderingModelBuilder(renderer);
}

<div class="summary-layout">
    <form method="POST" class="form-horizontal" id="main-form">
        @Html.Bootstrap().DisplayForModel(modelBuilder.BuildRenderingModels(Model, ViewData.ModelState), new SimpleLayout())
    </form>
</div>

@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            <a class="btn btn-link" href="@Request.UrlReferrer">@SurveyResources.BackButtonText</a>
        </div>
    </div>
}

@section scripts
{
    <script>@Html.Raw(Model.VisibilityFunctions)</script>
}
