﻿@inherits System.Web.Mvc.WebViewPage<Smt.Atomic.WebApp.Areas.Survey.Models.SurveyViewModel>
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Areas.Survey.Layout
@using Smt.Atomic.WebApp.Areas.Survey.Resources
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.WebApp.Areas.Survey.Controllers
@using Smt.Atomic.Presentation.Common.Helpers

@{
    var renderer = new JavascriptQuestionVisibilityRenderer();
    var modelBuilder = new SurveyRenderingModelBuilder(renderer);
}

@if (Model.ShouldDisplayWelcomeInstruction)
{
    <button id="instruction-btn" class="btn btn-primary">@Html.Bootstrap().Icon(FontAwesome.QuestionCircle) @SurveyResources.SurveyInstruction</button>
}

<div class="summary-layout">
    <form action="@Url.Action(nameof(MySurveysController.FillSurvey), RoutingHelper.GetControllerName<MySurveysController>())" method="POST" class="form-horizontal" id="main-form">
        @Html.ValidationSummaryAsAlerts(true)
        @Html.Bootstrap().EditorForModel(modelBuilder.BuildRenderingModels(Model, ViewData.ModelState), new SimpleLayout(), i => { })
    </form>
</div>

@section footer
{
    <div class="form-footer">
        <div class="pull-right">
            @if (@Model.ShouldAutoClose)
            {
                <input type="button" class="btn btn-primary" value="@SurveyResources.SaveSurveyButtonText" onclick="showConfirmationAndSubmit();" />
            }
            else
            {
                <input type="submit" class="btn btn-primary" value="@SurveyResources.SaveSurveyButtonText" onclick="Forms.submitRecordForm(this);" form="main-form" />
            }
            
            <a class="btn btn-link" href="@Url.Action("List", "MySurveys")">@SurveyResources.CancelSurveyButtonText</a>
        </div>
    </div>
}

@section scripts
{
    <script>@Html.Raw(Model.VisibilityFunctions)</script>

    @if (@Model.ShouldAutoClose)
    {
        <script>
            function showConfirmationAndSubmit() {
                    CommonDialogs.confirm(
                        '@(SurveyResources.SurveyAutoCloseSubmitConfirmation)', null,
                        function (eventArgs) {
                            if (eventArgs.isOk) {
                                $("#main-form").submit();
                            }
                        })
            }
        </script>
    }

    @if (Model.ShouldDisplayWelcomeInstruction)
    {
        <script>
            function showInstructionPopup() {
                CommonDialogs.alert('@Html.ConvertNewLinesToBrTag(Model.WelcomeInstruction)', '@SurveyResources.SurveyInstruction');
            }

            $("#instruction-btn").click(function () {
                showInstructionPopup();
            });

            if ('@Model.ShouldDisplayWelcomeInstructionPopup') {
                showInstructionPopup();
            }
        </script>
    }

    @if (Model.ShouldDisplayThankYouPopup)
    {
        <script>
            CommonDialogs.alert(
                '@Html.ConvertNewLinesToBrTag(Model.ThankYouMessage)',
                '@SurveyResources.SurveyThankYou',
                function () { window.location.href = '@Url.Action("List", "MySurveys")'; });
        </script>
    }
}