﻿
.page-layout .header-section .page-title {
    font-size: 35px;
    font-weight: 800;
}

div.questionText > label {
    font-size: medium;
}

div.questionText div label {
    font-size: small;
}

.summary-layout div.row.questionText {
    margin: 25px;
    margin-right: 0px;
    margin-left: 16px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group {
    .value-picker {
        &.is-multivalue {
            float: none;
            display: inline-block;
            margin-left: 0;
        }
    }

    .value-picker + .field-validation-error {
        margin-left: 15px;
    }
}
