﻿.content {
    &.container-fluid {
        margin: 10px 0;
    }
}

.grid-column {
    && {
        &-arrangement-status {
            @arrangement-width: 200px;

            min-width: @arrangement-width;
            max-width: @arrangement-width;
            width: @arrangement-width;

            .fa {
                padding-right: 5px;
                &.fa-check {
                    color: #0C0;
                }
            }
        }
    }
}
