﻿.section {
    &-header {
        text-align: left;
        margin: 10px 0;

        .btn-group {
            margin-right: 10px;
        }
    }

    &-grid {
        overflow-x: auto;

        &.disabled {
            color: #808080;

            div, span {
                cursor: default;
            }

            .fa-search {
                visibility: hidden;
            }
        }
    }
}

.grid-column {
    .btn {
        width: 100%;
        margin: 0 auto;

        i {
            margin: 0;
        }
    }

    && {
        &-select {
            padding: 0;
            line-height: 40px;
        }

        &-details {
            min-width: 200px;
        }

        &-documents {
            width: 54px;
            max-width: 54px;
        }

        &-currency {
            max-width: 80px;
        }

        &-date {
            max-width: 100px;
            width: 100px;

            input {
                width: 100%;

                &:focus {
                    outline-width: 0;
                }
            }
        }
    }
}
