﻿@message-color: #f4f4f4;
@own-message-color: #ececec;
@message-strong-color: #808080;
@small-margin: 5px;
@big-margin: @small-margin * 2;
@image-size: 40px;

@import "../../Workflows/Content/Request.Approvers.less";

.business-trip-tabs {
    margin-left: 15px;
    margin-bottom: 10px;
}

.message-container {
    font-size: 12px;

    .message-date-separator {
        text-align: center;
        border-bottom: 1px dotted @message-color;
        margin-bottom: @small-margin;
        color: @message-strong-color;
    }

    .message-wrapper {
        margin-right: @small-margin;
        margin-bottom: @small-margin;
        display: flex;
        flex-direction: row;

        &-pointer {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: @small-margin @small-margin @small-margin 0;
            border-color: transparent @message-color transparent transparent;
            top: @small-margin;
            left: @big-margin;
            position: relative;
        }

        &-image {
            right: @small-margin;
            top: @small-margin;
            height: @image-size;
            min-width: @image-size;
            background-size: @image-size @image-size;
            margin-bottom: @small-margin;
            border-radius: @image-size / 2;
        }

        &-content {
            margin-left: @big-margin;
            border-radius: @small-margin;
            padding: @small-margin @big-margin;
            background-color: @message-color;
            width: 100%;
            position: relative;

            &-own {
                background-color: @own-message-color;
            }

            &-full-name {
                color: #333;
                font-weight: bold;
                text-decoration: none;
            }

            &-body {
                padding-top: @big-margin;
                word-break: break-all;
            }

            &-date {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: @small-margin;
                font-size: 10px;
                color: @message-strong-color;
            }
        }
    }
}

.communication-container {
    padding-bottom: 45px;

    .btn-show-comment, .btn-close-comment {
        display: none;
    }

    &-flexed {
        .add-comment-container {
            display: none;
        }

        .btn-show-comment {
            display: block;
            position: fixed;
            right: 40px;
            bottom: 30px;
            text-align: center;
            cursor: pointer;
        }

        &.open {
            display: flex;

            .message-container {
                flex: 3;
            }

            .comment-container {
                padding-left: 10px;
                flex: 2;
                width: 39%;
                position: relative;

                .add-comment-container {
                    display: block;
                    position: fixed;
                    width: inherit;
                    bottom: 41px;

                    .form-group {
                        margin-bottom: 7px;
                        position: relative;

                        .control-label {
                            border: 1px solid #b6b6b6;
                            border-radius: 5px;
                            border-bottom: none;
                            box-shadow: 0 0 3px rgba(0,0,0,.15);
                            border-radius: 5px 5px 0 0;
                            margin-bottom: 0;
                            padding: 7px 10px 5px;
                            background-color: #fff;
                            display: block;
                        }

                        .btn-close-comment {
                            cursor: pointer;
                            display: block;
                            position: absolute;
                            right: 10px;
                            top: 6px;
                        }
                    }
                }
            }

            .btn-show-comment {
                display: none;
            }
        }
    }
}

.list-view-context {
    padding: 10px;
}

.participant-name {
    white-space: nowrap;
    width: 0;
}
