﻿.settlements {
    list-style: none;
    padding: 0;
    white-space: nowrap;

    .settlement {
        &:before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            text-decoration: inherit;
            position: relative;
            bottom: 1px;
            margin-right: 4px;
        }

        &.draft:before {
            //fa-hourglass-half
            content: "\f252";
            position: relative;
            top: -1px;
        }

        &.pending:before {
            //fa-hourglass-o
            content: "\f250";
        }

        &.approved:before {
            //fa-thumbs-o-up
            content: "\f087";
        }

        &.rejected:before {
            //fa-thumbs-o-down
            content: "\f088";
        }

        &.completed:before {
            //fa-check-circle-o
            content: "\f05d";
            position: relative;
            top: -1px;
        }

        &.error:before {
            //fa-exclamation-triangle
            content: "\f071";
        }

        &.null:before {
            //fa-ellipsis-h
            content: "\f141";
            opacity: 0.5;
            position: relative;
            top: 2.5px;
        }

        &.controlling {
            &-not-sent:before {
                //fa-pause
                content: "\f04c";
            }

            &-in-accounting:before {
                //fa-share
                content: "\f064";
            }

            &-claim-back:before {
                //fa-reply
                content: "\f112";
            }

            &-paid:before {
                //fa-money
                content: "\f0d6";
            }
        }
    }
}
