﻿@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.Resources
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@model Smt.Atomic.Presentation.Renderers.Bootstrap.Controls.CustomControl.CustomControlRenderingModel

@{
    var tasksDetails = (TasksDetailsViewModel)Model.ControlModel;
    var hasAttributes = tasksDetails.Tasks.Any(d => !d.Attributes.IsNullOrEmpty());
}

<div class="time-report-task-details">
    <label>@ProjectTimeReportApprovalRequestResources.TasksDetails</label>
    <table class="table table-bordered table-condensed table-hover small">
        <thead>
            <tr>
                <td>@ProjectTimeReportApprovalRequestResources.TaskName</td>
                @if (hasAttributes)
                {
                    <td>@ProjectTimeReportApprovalRequestResources.Attributes</td>
                }
                <td>@ProjectTimeReportApprovalRequestResources.HoursType</td>
                <td>@ProjectTimeReportApprovalRequestResources.Hours</td>
                <td>@ProjectTimeReportApprovalRequestResources.From</td>
                <td>@ProjectTimeReportApprovalRequestResources.To</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var taskDetails in tasksDetails.Tasks)
            {
                <tr>
                    <td>@taskDetails.Name</td>
                    @if (hasAttributes)
                    {
                        <td>@taskDetails.Attributes</td>
                    }
                    <td>@taskDetails.OvertimeVariant.GetDescription()</td>
                    <td>@taskDetails.Hours</td>
                    <td>@taskDetails.From.ToShortDateString()</td>
                    <td>@taskDetails.To.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@tasksDetails.OriginalReportUrl">
        @ProjectTimeReportApprovalRequestResources.LinkToOriginalReport
    </a>
</div>