﻿@using Smt.Atomic.Presentation.Common.Consts
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Toolbar
@using Smt.Atomic.WebApp.Areas.Allocation.Resources
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.WebApp.Areas.TimeTracking.Resources;

@model TileViewModel
@{
    var timeReportModel = (TimeReportViewModel)Model.Row;
    var progress = decimal.Truncate(timeReportModel.Progress);
}

<div class="tile @Model.GetRowButtonClass()" tabindex="0">
    <div class="time-report-tile-content">
        @{
            var reportDate = new DateTime(timeReportModel.Year, timeReportModel.Month, 1);
        }
        <p class="employee-name">
            <span title="@timeReportModel.EmployeeFullName">@timeReportModel.EmployeeFullName</span>
            <a class="email no-click" href="mailto:@timeReportModel.EmployeeEmail" tabindex="-1" title="@EmployeeResources.Email">@Html.Bootstrap().Icon(FontAwesome.EnvelopeO)</a>
            <a class="email no-click" href="sip:@timeReportModel.EmployeeEmail" tabindex="-1" title="@EmployeeResources.ContactViaSkypeForBusiness">@Html.Bootstrap().Icon(FontAwesome.CommentO)</a>
        </p>
        <p class="report-date">@reportDate.ToString("MMMM yyyy")</p>
        <p class="report-status">@string.Format("{0}: {1}", TimeReportResources.StatusLabel, timeReportModel.Status.GetDescription())</p>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100" style="width: @progress%">
                <span>@timeReportModel.ReportedNormalHours / @timeReportModel.ContractedHours</span>
            </div>
        </div>
        <p class="properties">
            <span class="total" title="Total hours">
                <span class="total-hours">&#8721;</span> <span class="properties-text">@timeReportModel.TotalHours</span>
            </span>
            <span class="overtime" title="Overtime hours">
                <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="properties-text">@timeReportModel.OvertimeHours</span>
            </span>
        </p>
        @Html.Partial("~/Views/Grid/_TileButtons.cshtml", Model)
    </div>
</div>