﻿@using Microsoft.Security.Application;
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@using Smt.Atomic.WebApp.Extensions

@model ModelBasedDialogViewModel<RejectInvoicesViewModel>

@using (Html.BeginCommonDialog(Model))
{
    using (Html.BeginForm("PerformInvoicesRejection", "TimeReport", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <p>@Html.Raw(Sanitizer.GetSafeHtmlFragment(@Model.Model.Message))</p>
        @Html.Bootstrap().EditorForModel(Model.Model)
    }
}
