﻿@using Smt.Atomic.Presentation.Renderers.Bootstrap.Helpers
@using Smt.Atomic.Presentation.Renderers.Bootstrap.Layouts
@using Smt.Atomic.WebApp.Extensions
@using Smt.Atomic.CrossCutting.Common.Extensions
@using Smt.Atomic.Presentation.Renderers.Models.Dialogs
@using Smt.Atomic.WebApp.Areas.TimeTracking.Models
@model ModelBasedDialogViewModel<TimeReportStatisticsViewModel>

@using (Html.BeginCommonDialog(Model))
{
    @Html.Bootstrap().DisplayForModel(Model.Model, new SummaryLayout(1, 4))

    <table class="table">
        @foreach (var overtime in Model.Model.HoursPerOvertimeType)
        {
            <tr>
                <td>@overtime.Key.GetDescription()</td>
                <td>@overtime.Value</td>
            </tr>
        }
    </table>
}